<!-- <ion-content fullscreen class="ion-padding" scroll-y="false" style="--background:#FFFFFF">
    <ion-slides style="height: 100%;" #mySlider>
        <ion-slide (click)="swipeNext()" style="width: 100%;">
            <div class="slide" style="width: 100%;">
                <img src="../../../assets/images/intro/sl1.png" style="width: 100%;" />
            </div>
        </ion-slide>
        <ion-slide (click)="swipeNext()" style="width: 100%;">
            <img src="../../../assets/images/intro/sl2.png" style="width: 100%;" />
        </ion-slide>
        <ion-slide (click)="NavNumber()" style="width: 100%;">
            <img src="../../../assets/images/intro/sl3.png" style="width: 100%;" />
        </ion-slide>
    </ion-slides>
</ion-content> -->

<ion-content class="launch" style=" background: #ffffff;">
    <div class="container" style="
    border-radius: 0px; padding-top: 64px !important;
    box-shadow: none; 
    padding: 22px; background-color: transparent;
    padding-top: 40px;">
        <img src="../../../assets/images/welcome.png">
        <div style="    font-size: 24px;
        margin-bottom: 6px;
        font-weight: 500;">Welcome <span style="color: #ad1a82; font-weight:500">{{VerificationDetails.User.FirstName}}
            </span> to
        </div>
        <div style="    font-size: 24px;
        margin-bottom: 20px;
        font-weight: 500;">ThankUCash
        </div>
        <div style="color: #7987A1; font-size: 14px;">
            Enjoy rewards earning, exciting deals
        </div>
        <div style="color: #7987A1; font-size: 14px;">
            and many more
        </div>
    </div>


</ion-content>
<div class="tuc-footer">
    <button type="button" (click)="GetTUCBalance()" class="approve full-width">Continue</button>
</div>