<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" page-white-titlebar">
    <ion-toolbar class="page-white-titlebar">
        <img src="../../../assets/icon/tucwhite.png" class="page-white-header-logo">
    </ion-toolbar>
</ion-header>
<ion-content class="page-white" forceOverscroll="false">
    <div class="page-white-header">
        <div class="page-white-header-content">
            <i class="las la-coins page-white-header-icon "></i>
            <div class="page-white-header-title">Buy TUC Points</div>
            <div class="page-white-header-subtitle">Buy points and earn extra </div>
        </div>
    </div>
    <div class="page-white-body">
        <div *ngIf="Stage == 0">
            <div text-center>
                <ion-label class="input-label">Enter topup amount
                </ion-label>
                <ion-input class=" input  input-lg" autofocus [(ngModel)]="PaymentConfiguration.Amount" type="tel"
                    placeholder="0" max-length="10">
                </ion-input>
            </div>
            <ion-grid no-padding>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding text-center>
                        <div class="quickamount"
                            [ngClass]="{ 'quickamount-active': PaymentConfiguration.Amount == 1000 }"
                            (click)="QuickAmountClick(1000)">
                            1000
                        </div>
                        <div class="quickamount"
                            [ngClass]="{ 'quickamount-active': PaymentConfiguration.Amount == 2000 }"
                            (click)="QuickAmountClick(2000)">
                            2000
                        </div>
                        <div class="quickamount"
                            [ngClass]="{ 'quickamount-active': PaymentConfiguration.Amount == 5000 }"
                            (click)="QuickAmountClick(5000)">
                            5000
                        </div>
                        <div class="quickamount"
                            [ngClass]="{ 'quickamount-active': PaymentConfiguration.Amount == 10000 }"
                            (click)="QuickAmountClick(10000)">
                            10000
                        </div>
                        <div class="quickamount"
                            [ngClass]="{ 'quickamount-active': PaymentConfiguration.Amount == 20000 }"
                            (click)="QuickAmountClick(20000)">
                            20000
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <div class="btn-group" *ngIf="!_HelperService.AppConfig.IsProcessing">

                <button class="btn-group-item btn-group-item-left bg-primary" (click)="InitializeTransaction('ussd')"
                    *ngIf="_HelperService._ActiveFeatures.payments_ussd">
                    <div class="btn-group-item-title">Pay with</div>
                    <div class="btn-group-item-subtitle">USSD</div>
                </button>
                <button class="btn-group-item btn-group-item-right bg-primary"
                    *ngIf="_HelperService._ActiveFeatures.payments_paystack"
                    (click)="InitializeTransaction('paystack')">
                    <div class="btn-group-item-title">Pay with</div>
                    <div class="btn-group-item-subtitle">Card/ Bank</div>
                </button>
            </div>
            <div class="btn-light" (click)="_HelperService.NavDashboard()">
                Cancel
            </div>
            <!-- <div style="    margin-top: 24px;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            color: #4a4a4a;    padding-bottom: 8px;"> Select payment method</div>
            <ion-row>
                <ion-col>
                    <div padding-bottom *ngIf="!_HelperService.AppConfig.IsProcessing">
                        <ion-button expand="full" color="primary" shape="round" size="medium"
                            class="r-2x f-s-n no-shadow" (click)="InitializeTransaction('ussd')">
                            <div> USSD</div>
                        </ion-button>
                    </div>
                    <div padding-bottom *ngIf="_HelperService.AppConfig.IsProcessing">
                        <ion-button expand="full" disabled readonly color="primary" shape="round" size="medium"
                            class="r-2x f-s-n no-shadow">
                            Please wait...
                        </ion-button>
                    </div>
                </ion-col>
                <ion-col>
                    <div padding-bottom *ngIf="!_HelperService.AppConfig.IsProcessing">
                        <ion-button expand="full" color="primary" shape="round" size="medium"
                            class="r-2x f-s-n no-shadow" (click)="InitializeTransaction('paystack')">
                            <div>Card / Bank</div>
                        </ion-button>
                    </div>
                    <div padding-bottom *ngIf="_HelperService.AppConfig.IsProcessing">
                        <ion-button expand="full" disabled readonly color="primary" shape="round" size="medium"
                            class="r-2x f-s-n no-shadow">
                            Please wait...
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row> -->
        </div>
        <div *ngIf="Stage == 1">
            <div *ngIf="DialCodeDetails.IsSelected" style="    padding: 16px;
            margin: 16px;">
                <div style=" text-align: center;
                font-size: 14px;
                font-weight: 500;
                color: #4a4a4a;
                padding-bottom: 8px;
                padding-left: 8px;
                padding-right: 8px;
                line-height: 24px;"> Dial the code below to complete this transaction with
                    {{DialCodeDetails.Name}}</div>
                <div (click)="CallNumber()" style="text-align: center;
                font-weight: 700;
                font-size: 28px;
                padding-top: 16px;
                padding-bottom: 8px;">
                    {{DialCodeDetails.DialCode}}
                </div>
                <div style="    text-align: center;
                color: #7b7979;
                font-size: 11px;">
                    Tab (or Long Press) to call
                </div>
                <div (click)="ProcessUssd_Confirm()" style="    text-align: center;
                padding: 16px 16px;
                border: 1px solid #efefef;
                border-radius: 3px;
                margin-top: 16px;
                margin-bottom: 32px;">
                    I've completed the payment
                </div>

                <div style="    text-align: center;
                color: #464646;
                margin-bottom: 16px;">
                    <span (click)="ProcessOnline_Cancel()">
                        Cancel
                    </span>
                </div>

            </div>
            <div class="line-height" style="line-height: 36px;
            margin-bottom: 16px;
            padding: 8px;
            border: 1px solid #efefef;
            border-radius: 8px;" (click)="BankItemClick(LItem)"
                *ngFor="let LItem of PaymentConfiguration.Banks; let index=index; let odd=odd; let even=even;">
                <img [src]="LItem.IconUrl" style="    width: 36px;
                float: left;
                border: 1px solid #efefef;
                border-radius: 4px;
                background-color: #efefef;">
                <span style="color: #5f5d5d; font-size: 12px;    font-size: 12px;
                padding-left: 16px;">
                    {{LItem.Name}}
                </span>
                <span style="float: right;
                font-size: 11px;
                background-color: #efefef;
                padding: 4px;
                line-height: normal;
                border-radius: 8px;
                font-weight: 500;
                margin-top: 8px;">
                    {{LItem.BankCode}}
                </span>
            </div>
            <div *ngIf="!DialCodeDetails.IsSelected" style="    text-align: center;
            color: #464646;
            margin-bottom: 16px;">
                <span (click)="ProcessOnline_Cancel()">
                    Cancel
                </span>
            </div>
        </div>
        <div *ngIf="Stage == 2">
            <div style=" text-align: center;
                font-size: 14px;
                font-weight: 500;
                color: #4a4a4a;
                padding-bottom: 8px;
                padding-left: 8px;
                padding-right: 8px;
                line-height: 24px;"> You can use stored cards below or try new card</div>
            <div class="line-height" style="line-height: 36px;
            margin-bottom: 16px;
            padding: 8px;
            border: 1px solid #efefef;
            border-radius: 8px;" (click)="BuyPointCharge(LItem)"
                *ngFor="let LItem of PaymentConfiguration.UserCards; let index=index; let odd=odd; let even=even;">
                <span style="color: #5f5d5d; font-size: 12px;    font-size: 12px;
                padding-left: 16px;">
                    {{LItem.CardBrand}}
                </span>
                <span style="float: right;
                font-size: 11px;
                background-color: #efefef;
                padding: 4px;
                line-height: normal;
                border-radius: 8px;
                font-weight: 500;
                margin-top: 8px;">
                    {{LItem.CardBin}} xxxx {{LItem.CardLast4}}
                </span>
            </div>
            <div (click)="OpenPayStack()" style="    text-align: center;
            padding: 16px 16px;
            border: 1px solid #efefef;
            border-radius: 3px;
            margin-top: 16px;
            margin-bottom: 32px;">
                Try other card / bank
            </div>

            <div style="    text-align: center;
            color: #464646;
            margin-bottom: 16px;">
                <span (click)="ProcessOnline_Cancel()">
                    Cancel
                </span>
            </div>
        </div>
        <div style="display: none;">
            <ion-button id="paymentbutton" angular4-paystack [key]="PaymentConfiguration.PayStackKey"
                [currency]="CurrencyNotation" [email]="_HelperService.AccountInfo.User.EmailAddress"
                [amount]="PaymentConfiguration.Amount * 100" [ref]="PaymentConfiguration.PaymentReference"
                (onClose)="ProcessOnline_Cancel()" (callback)="ProcessOnline_Confirm($event)">
            </ion-button>
        </div>
    </div>
</ion-content>