<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>



<ion-header class="hcx-page-titlebar hcx-page-titlebar-transparent">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text=""> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page" *ngIf="IsLoaded">
    <div class="hcx-page-header dealdetailsheader" [style.background-image]="'url(' + _PurchaseDetails.ImageUrl + ')'">
        <div class="gradient dd-overlay">


            <div class="dpl-header" style="    background-color: #fff;
            color: black;
            padding: 10px 16px;
            bottom: 0;
            position: absolute;
            margin-right: 10%;
            width: 90%;
            margin-bottom: 13px;">
                <span class="dpl">
                    <i class="las la-box"></i>
                </span>
                <div class="dpl-header-status">{{_PurchaseDetails.DeliveryDetails.StatusName}}</div>
                <div class="dpl-header-status-content">
                    ORDER ID : {{_PurchaseDetails.ReferenceId}}
                </div>
            </div>
        </div>
    </div>
    <div class="hcx-page-body" style="margin-top: 0px;">
        <div class="hcx-page-item hcx-page-item-top">
            <div class="hcx-page-item-title">
                {{_PurchaseDetails.Title}}
            </div>
            <div class="hcx-page-item-body htmlp">
                <div class="hcx-split-item">
                    <span class="left">
                        <span class="name">Shipment Id : {{_PurchaseDetails.DeliveryDetails.ShipmentId || "--"}}</span>
                    </span>
                    <!-- <span class="right value" style="color: green;">
                        <span class="name">Delivery Date : {{_PurchaseDetails.DeliveryDetails.DeliveryDateT ||
                            "--"}}</span>
                    </span> -->
                </div>
                <div class="hcx-split-item">
                    <span class="left">
                        <span class="name">Delivery Date : {{_PurchaseDetails.DeliveryDetails.DeliveryDateT ||
                            "--"}}</span>
                    </span>

                </div>
            </div>
        </div>
        <div class="hcx-page-item " *ngIf="_PurchaseDetails.DeliveryDetails.ToAddress != undefined">
            <div class="hcx-page-item-title">
                Delivery Address
            </div>
            <div class="hcx-page-item-body">
                <div style="    font-weight: 500;
                margin-bottom: 8px;">
                    {{_PurchaseDetails.DeliveryDetails.ToAddress.Name}}
                </div>
                <div style="   font-size: 12px;
                margin-bottom: 2px;">
                    {{_PurchaseDetails.DeliveryDetails.ToAddress.ContactNumber}} |
                    {{_PurchaseDetails.DeliveryDetails.ToAddress.EmailAddress}}
                </div>
                <div style="    font-size: 12px;
                margin-bottom: 2px;">
                    {{_PurchaseDetails.DeliveryDetails.ToAddress.AddressLine1}}
                </div>
                <div style="    font-size: 12px;
                margin-bottom: 2px;"
                    *ngIf="_PurchaseDetails.DeliveryDetails.ToAddress.AddressLine2 != undefined && _PurchaseDetails.DeliveryDetails.ToAddress.AddressLine2 != null">
                    {{_PurchaseDetails.DeliveryDetails.ToAddress.AddressLine2}}
                </div>
                <div style="  font-size: 12px;">
                    {{_PurchaseDetails.DeliveryDetails.ToAddress.CityName}},
                    {{_PurchaseDetails.DeliveryDetails.ToAddress.StateName}},
                    {{_PurchaseDetails.DeliveryDetails.ToAddress.CountryName}}
                </div>

            </div>
        </div>
        <div class="hcx-page-item">
            <div class="hcx-page-item-title">
                Order Summary
            </div>
            <div class="hcx-page-item-body htmlp">
                <div class="hcx-split-item">
                    <span class="left">
                        <span class="name">Amount</span>
                    </span>
                    <span class="right value" style="color: green;">
                        <span class="currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                        {{_PurchaseDetails.Amount | number: "1.2-2" || "--"}}
                    </span>
                </div>
                <div class="hcx-split-item">
                    <span class="left">
                        <span class="name">Convenience Fee</span>
                    </span>
                    <span class="right value">
                        <span class="currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                        {{_PurchaseDetails.Charge | number: "1.2-2" || "--"}}
                    </span>
                </div>
                <div class="hcx-split-item">
                    <span class="left">
                        <span class="name">Delivery Charges</span>
                    </span>
                    <span class="right value">
                        <span class="currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                        {{_PurchaseDetails.DeliveryCharge | number: "1.2-2" || "--"}}
                    </span>
                </div>
                <div class="hcx-split-item" style="border-top: 1px solid #c4c4c4;    padding-top: 16px;
                margin-top: 16px;">
                    <span class="left">
                        <span class="name" style="    font-weight: 600; color:#000">Total Amount</span>
                    </span>
                    <span class="right value" style="font-size: 15px; font-weight: 600;">
                        <span class="currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                        {{_PurchaseDetails.TotalAmount | number: "1.2-2" || "--"}}
                    </span>
                </div>
            </div>
        </div>
        <div class="hcx-page-item " *ngIf="_PurchaseDetails.DeliveryDetails.FromAddress != undefined">
            <div class="hcx-page-item-title">
                Delivering From
            </div>
            <div class="hcx-page-item-body">

                <img [src]="_PurchaseDetails.MerchantIconUrl" style="width: 54px;
                height: 54px;
                border-radius: 6px;
                float: left;
                margin-right: 16px;">
                <div>
                    <div style="    font-weight: 500;
                    margin-bottom: 6px;">
                        {{_PurchaseDetails.MerchantDisplayName}}
                    </div>
                    <div style="    margin-bottom: 2px;
                    font-size: 12px;">
                        {{_PurchaseDetails.DeliveryDetails.FromAddress.ContactNumber}}
                    </div>
                    <div style="    margin-bottom: 2px;
                    font-size: 12px;">
                        {{_PurchaseDetails.DeliveryDetails.FromAddress.AddressLine1}} ,
                        {{_PurchaseDetails.DeliveryDetails.FromAddress.CityName}}
                    </div>
                </div>

            </div>
        </div>
        <div class="hcx-page-item " *ngIf="_PurchaseDetails.DeliveryDetails.Carrier != undefined">
            <div class="hcx-page-item-title">
                Delivery Partner
            </div>
            <div class="hcx-page-item-body">
                <img [src]="_PurchaseDetails.DeliveryDetails.Carrier.IconUrl" style="width: 54px;
                    height: 54px;
                    border-radius: 6px;
                    float: left;
                    margin-right: 16px;">
                <div>
                    <div style="    font-weight: 500;
                    margin-bottom: 6px;">
                        {{_PurchaseDetails.DeliveryDetails.Carrier.Name}}
                    </div>
                    <div style="    margin-bottom: 2px;
                    font-size: 12px;">
                        {{_PurchaseDetails.DeliveryDetails.Carrier.ContactNumber}}
                    </div>
                    <div style=" 
                    font-size: 12px;">
                        {{_PurchaseDetails.DeliveryDetails.Carrier.EmailAddress}}
                    </div>
                </div>
            </div>
        </div>
        <div class="hcx-page-item " *ngIf="_HelperService.AccountInfo.UserAccount.AccountId > 0">
            <div class="hcx-page-item-title">
                Post Review
            </div>
            <div class="hcx-page-item-body">
                <textarea rows="4" class="input" maxlength="128" placeholder="Comment" style="width: 100%;"
                    [(ngModel)]="_PurchaseDetails.Comment">
            </textarea>
                <button type="button" style="     background-color: #B11A80;
            color: #ffffff;
            padding: 8px 12px;
            border-radius: 4px;
            font-size: 12px;" (click)="UpdateComment()">Post Review</button>
            </div>
        </div>



    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>

    </div>
</ion-content>

<div class="tuc-card" style="box-shadow: none;
background-color: #ffffff;
margin: 0px;
padding: 0px;
padding-left: 16px;
padding-bottom: 0px;
padding-right: 16px;">
    <div class="tuc-card-body">
        <div>
            <div padding-top padding-bottom>
                <ion-button expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                    (click)="ModalDismiss('noaction')">
                    Close
                </ion-button>
            </div>
        </div>
    </div>
</div>