<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border>
    <ion-toolbar class="tucapp-titlebar">
        <ion-buttons slot="start">
            <ion-button (click)="ModalDismiss()" class="page-tuc-titlebar-button">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <div class="tucapp-titlebar-content">
            How It Works ?
        </div>
    </ion-toolbar>
</ion-header>
<ion-content class="tucapp " forceOverscroll="false">
    <div class="tucapp-body bg-white">
        <div class="tucapp-body-top bg-white" style="    padding: 16px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-bottom: 1px;">
            <div [innerHtml]="ItemDetails.HowItWorks">

            </div>
        </div>
    </div>

</ion-content>