<ion-content fullscreen scroll-y=" false" scroll-x="false" style="--background:#FFFFFF">
    <ion-slides style="height: 100vh;" #mySlider [style.width.px]="screenWidth">
        <ion-slide (click)="swipeNext()" [style.width.px]="screenWidth" *ngIf="IsShowItem">
            <img src="../../../assets/images/intro/sl1.png" style="height: 100vh;" [style.width.px]="screenWidth" />
        </ion-slide>
        <ion-slide (click)="swipeNext()" [style.width.px]="screenWidth" *ngIf="IsShowItem">
            <img src="../../../assets/images/intro/sl2.png" style="height: 100vh;" [style.width.px]="screenWidth" />
        </ion-slide>
        <ion-slide (click)="NavNumber()" [style.width.px]="screenWidth" *ngIf="IsShowItem">
            <img src="../../../assets/images/intro/sl3.png" style="height: 100vh;" [style.width.px]="screenWidth" />
        </ion-slide>
    </ion-slides>
</ion-content>