<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" page-white-titlebar">
    <ion-toolbar class="page-white-titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="page-white-titlebar-button"> </ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button class="page-white-titlebar-button" (click)="OpenModalAddBank()">
                Transfer
            </ion-button>
            <ion-button class="page-white-titlebar-button" (click)="LoadData()">
                <i class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="page-white" forceOverscroll="false">
    <div class="page-white-header">
        <div class="page-white-header-content">
            <i class="las la-university page-white-header-icon "></i>
            <div class="page-white-header-title"> Cashouts</div>
            <div class="page-white-header-subtitle">Transfer your reward points to bank account</div>
        </div>
    </div>
    <div class="page-white-body">
        <div *ngIf="TranList_Data.TotalRecords > 0">
            <div class="item-list" (click)="TranList_DetailsModal(Item)"
                *ngFor="let Item of TranList_Data.Data; let index=index; let odd=odd; let even=even;">
                <div>
                    <div class="item-list-title">
                        {{Item.BankAccountName || "--"}}
                    </div>
                    <div class="item-list-amount">
                        <span
                            [ngClass]="{ 
                            'text-success': Item.StatusCode == 'paymentstatus.success', 
                            'text-warning': Item.StatusCode == 'paymentstatus.initialized', 
                            'text-danger': Item.StatusCode != 'paymentstatus.success' &&  Item.StatusCode != 'paymentstatus.initialized'}">
                            <span><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{Item.TotalAmount
                            | number: "1.2-2"}}
                        </span>
                    </div>
                    <div class="item-list-subtitle">
                        {{Item.BankAccountNumber || "--"}}
                    </div>
                    <div class="item-list-subtitle">
                        {{Item.BankName || "--"}}
                    </div>

                    <div class="item-list-subtitle p-0">
                        <i class=" las la-clock"></i> {{Item.StartDate}}
                        <span class="float-right item-list-status"
                            [ngClass]="{ 
                            'text-success': Item.StatusCode == 'paymentstatus.success', 
                            'text-warning': Item.StatusCode == 'paymentstatus.initialized', 
                            'text-danger': Item.StatusCode != 'paymentstatus.success' &&  Item.StatusCode != 'paymentstatus.initialized'}">
                            {{Item.StatusName}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="TranList_Data.TotalRecords == -1" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-spinner color="primary" name="dots"></ion-spinner>
            </div>
            <div class="nolist-subtitle">
                Loading Cashouts
            </div>
        </div>
        <div *ngIf="TranList_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                No cashout transactions yet
            </div>
        </div>
    </div>
</ion-content>