<ion-content class="launch">
    <div class="page-header" style=" border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 230px !important;">
        <div>
            <img src="../../../assets/icon/tucwhite.png" style="width: 130px;
    margin-top: 32px;
    margin-bottom: 32px;">
        </div>
        <div class="c-white " style=" font-size: 22px;
    line-height: 32px;
    font-weight: 200;">Let's setup your </div>
        <div class="c-white   " style="    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
    font-weight: 300;">Profile</div>
    </div>
    <div class="container" style="    box-shadow: none;
    padding: 22px;
    background-color: #ffffff;
    padding-top: 40px;
    height: calc(100% - 230px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -12px;">


        <ion-label class="input-label">First name <span class="text-danger">*</span>
        </ion-label>
        <ion-input class=" input" maxlength="128" type="text" [(ngModel)]="VerificationDetails.FirstName">
        </ion-input>

        <ion-label class="input-label">Last name <span class="text-danger">*</span>
        </ion-label>
        <ion-input class=" input" maxlength="128" type="text" [(ngModel)]="VerificationDetails.LastName">
        </ion-input>


        <ion-label class="input-label">Email address <span class="text-danger">*</span>
        </ion-label>
        <ion-input class=" input" maxlength="512" type="email" [(ngModel)]="VerificationDetails.EmailAddress">
        </ion-input>


        <ion-label class="input-label">Date of Birth <span class="text-danger">*</span>
        </ion-label>
        <ion-datetime class="input-ion-datetime" displayFormat="DD-MM-YYYY" trim placeholder="Your date of birth"
            [(ngModel)]="VerificationDetails.DateOfBirth">
        </ion-datetime>
        <div style="margin-bottom: 22px;">
            <ion-label class="input-label">Gender <span class="text-danger">*</span>
            </ion-label>
        </div>
        <div class="margin">
            <div style="margin-bottom: 32px;">
                <span class="gender"
                    [ngClass]="{'gender gender-active'  : VerificationDetails.GenderCode == 'gender.male','gender'  : VerificationDetails.GenderCode != 'gender.male'}"
                    (click)="ToggleGender('gender.male')">
                    Male
                </span>
                <span class="gender"
                    [ngClass]="{'gender gender-active'  : VerificationDetails.GenderCode == 'gender.female','gender'  : VerificationDetails.GenderCode != 'gender.female'}"
                    (click)="ToggleGender('gender.female')">
                    Female
                </span>
            </div>
        </div>
        <ion-label class="input-label"> State/ Region<span class="text-danger">*</span>
        </ion-label>
        <ion-input class="input" maxlength="128" type="text" readonly [(ngModel)]="SelectedState.Name"
            (click)="GetStates()">
        </ion-input>
        <ion-label class="input-label"> City <span class="text-danger">*</span>
        </ion-label>
        <ion-input class="input" maxlength="128" type="text" readonly [(ngModel)]="SelectedCity.Name"
            (click)="GetCities()">
        </ion-input>
        <div>
            <ion-label class="input-label"> Address Line
            </ion-label>
            <ion-input class=" input" type="text" maxlength="40" [(ngModel)]="_AccountActiveAddress.AddressLine1">
            </ion-input>
        </div>
        <div class="m=b">
            <ion-label class="input-label">Referral / Promo Code (optional)
            </ion-label>
            <ion-input class=" input" maxlength="128" type="text" [(ngModel)]="VerificationDetails.ReferralCode">
            </ion-input>
        </div>
    </div>
</ion-content>
<div class="tuc-footer">
    <button type="button" (click)="ValidateAccountDetails()" *ngIf="!_HelperService.IsFormProcessing"
        class="approve full-width"> Set profile</button>

    <button type="button" disabled readonly *ngIf="_HelperService.IsFormProcessing" class="approve full-width">Please
        wait
        ...</button>
</div>