<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="ModalDismiss()" class="hcx-page-titlebar-btn">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header">
        <div class="hcx-page-header-title">
            Faq
        </div>
        <div class="hcx-page-header-body">
            {{ItemDetails.Name || "--"}}
        </div>
    </div>
    <div class="hcx-page-body bg-white">
        <div class="hcx-page-item hcx-page-item-top">
            <div class="hcx-page-item-body">
                <div [innerHtml]="ItemDetails.Description">
                </div>
            </div>
        </div>
    </div>
</ion-content>