<ion-content >

<div class="page-header " style="padding:0px !important ;  margin : 0px !important ;padding-bottom: 0px !important; height: 210px !important; " >
    <div>
        <div  class="tuc-balancecard"   [ngClass]="{ 
        'tuc-balancecard-purple': MileStoneItem.SystemName == 'purple', 
        'tuc-balancecard-bronze': MileStoneItem.SystemName == 'bronze',
        'tuc-balancecard-silver': MileStoneItem.SystemName == 'silver',
        'tuc-balancecard-gold': MileStoneItem.SystemName == 'gold',
        'tuc-balancecard-diamond': MileStoneItem.SystemName == 'diamond',
        'tuc-balancecard-platinum': MileStoneItem.SystemName == 'platinum',
        'tuc-balancecard-platinumplus': MileStoneItem.SystemName == 'platinumplus' }"   style="width: auto;">
            <div>
                <div style="margin-bottom: 20px; font-weight: 500;">
                    <div>
                        <div>
                            <span>{{MileStoneItem.Title}} Class</span>
                            <img class="tuc-balancecard-logo" src="../../../assets/icon/thankulogo.svg">
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 16px;">
                    <div style="font-weight: 500; font-size: 32px;">
                        <span class="db-currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                        {{MileStoneItem.Limit| number: "1.2-2" || "--" }}
                    </div>
                    <div style="margin-bottom: 12px;"> Class Milestone
                    </div>
                </div>
                <div style="font-size: 13px;
                            padding-right: 3px;
                            font-weight: 700;
                            margin-right: 6px;">CARD ID</div>
                <div>
                    <span>
                        <span style=" font-size: 18px;
            padding-right: 3px;
            letter-spacing: 4px;
            font-weight: 700;">{{tItem}}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    </div>
<div  class="container " style="overflow: auto;padding-bottom:30px;  ">
    <div padding>
        <div style="font-size: 16px;font-weight:500; margin-bottom: 16px;">
            {{ MileStoneItem.Title }}
        </div>
        <div [innerHtml]="MileStoneItem.Description" style="text-align: justify;margin-bottom: 16px;">
        </div>
        <ion-button expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
        (click)="ModalDismiss('noaction')">
        Close
    </ion-button>
    </div> 
</div>
</ion-content>