<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>

<ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Payment
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ngOnInit()">
                <i slot="start" class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-app">
    <div class="page-header " text-center>
        <!-- <img src="../../../assets/images/paymentoptions/electricity.png" class="page-header-img"> -->
        <div>
            <div class="page-header-title">Make Payment</div>
            <div class="page-header-subtitle">Make payment to biller </div>
        </div>
    </div>
    <div class="container p-t-0">
        <div margin>
            <ion-grid no-padding>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Account Number
                        </ion-label>
                        <ion-input class="f-s-content input" placeholder="Enter account number " type="number"
                            max-length="10" [(ngModel)]="PaymentConfiguration.AccountNumber">
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div *ngIf="IsAccountPresent == false">
                <div padding-top padding-bottom *ngIf="!_HelperService.AppConfig.IsProcessing">
                    <ion-button expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                        (click)="InitializeTransaction()">
                        Check Account
                    </ion-button>
                </div>
            </div>
            <div
                *ngIf="IsAccountPresent == true  && AccountDetails != undefined && AccountDetails != null && AccountDetails.responseData != undefined && AccountDetails.responseData != null ">
                <div class="list-item">
                    <div class="list-item-content">
                        Operator
                        <span class="float-right">{{AccountDetails.responseData.billerName}}</span>
                    </div>
                </div>
                <div
                    *ngIf="AccountDetails.responseData.customer != undefined && AccountDetails.responseData.customer != null">
                    <!-- <div  class="list-item" *ngIf="AccountDetails.responseData.customer.firstName != undefined && AccountDetails.responseData.customer.firstName != null && AccountDetails.responseData.customer.firstName != ''" >
                    <div class="list-item-content">
                        First name 
                        <span class="float-right">{{AccountDetails.responseData.customer.firstName}}</span>
                    </div>
                </div>
                <div  class="list-item" *ngIf="AccountDetails.responseData.customer.firstName != undefined && AccountDetails.responseData.customer.firstName != null && AccountDetails.responseData.customer.firstName != ''" >
                    <div class="list-item-content">
                        Last name 
                        <span class="float-right">{{AccountDetails.responseData.customer.lastName}}</span>
                    </div>
                </div> -->
                    <div class="list-item"
                        *ngIf="AccountDetails.responseData.customer.customerName != undefined && AccountDetails.responseData.customer.customerName != null && AccountDetails.responseData.customer.customerName != ''">
                        <div class="list-item-content">
                            Name
                            <span class="float-right">{{AccountDetails.responseData.customer.customerName}}</span>
                        </div>
                    </div>
                    <div class="list-item"
                        *ngIf="AccountDetails.responseData.customer.accountNumber != undefined && AccountDetails.responseData.customer.accountNumber != null && AccountDetails.responseData.customer.accountNumber != ''">
                        <div class="list-item-content">
                            Account Number
                            <span class="float-right">{{AccountDetails.responseData.customer.accountNumber}}</span>
                        </div>
                    </div>
                    <div class="list-item"
                        *ngIf="AccountDetails.responseData.customer.meterNumber != undefined && AccountDetails.responseData.customer.meterNumber != null && AccountDetails.responseData.customer.meterNumber != ''">
                        <div class="list-item-content">
                            Meter Number
                            <span class="float-right">{{AccountDetails.responseData.customer.meterNumber}}</span>
                        </div>
                    </div>

                </div>
                <div class="list-item">
                    <div class="list-item-content">
                        Amount
                        <span class="float-right">{{AccountDetails.responseData.amount}}</span>
                    </div>
                </div>
            </div>


            <ion-grid *ngIf="IsAccountPresent == true" no-padding>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Enter Amount
                        </ion-label>
                        <ion-input class="f-s-content input" placeholder="Enter topup amount " type="text"
                            max-length="10" [(ngModel)]="PaymentConfiguration.PaymentAmount">
                        </ion-input>


                        <div class="quickamount"
                            [ngClass]="{ 'quickamount-active': PaymentConfiguration.PaymentAmount == 1000 }"
                            (click)="QuickAmountClick(1000)">
                            1000
                        </div>

                        <div class="quickamount"
                            [ngClass]="{ 'quickamount-active': PaymentConfiguration.PaymentAmount == 2000 }"
                            (click)="QuickAmountClick(2000)">
                            2000
                        </div>
                        <div class="quickamount"
                            [ngClass]="{ 'quickamount-active': PaymentConfiguration.PaymentAmount == 5000 }"
                            (click)="QuickAmountClick(5000)">
                            5000
                        </div>
                        <div class="quickamount"
                            [ngClass]="{ 'quickamount-active': PaymentConfiguration.PaymentAmount == 10000 }"
                            (click)="QuickAmountClick(10000)">
                            10000
                        </div>
                        <div class="quickamount"
                            [ngClass]="{ 'quickamount-active': PaymentConfiguration.PaymentAmount == 20000 }"
                            (click)="QuickAmountClick(20000)">
                            20000
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row margin-bottom *ngIf="_DataService._OBalance.Balance > 0"
                    style="    padding: 16px;    background-color: #f2ecf0;  border-radius: 8px;">
                    <ion-col no-margin no-padding>
                        <div style="color: #a43181; font-weight: 500;">
                            <input type="checkbox" [(ngModel)]="IsUseTucBalance">
                            Use your ThankUCash Balance worth
                            {{ _DataService._OBalance.Balance| number: "1.2-2" || "--" }} ?
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <!-- <div class="tuc-paymentscard">
                <div class="tuc-paymentscard-icon">
                    <i class="las la-gifts"></i>
                </div>
                <div class="tuc-paymentscard-content">
                    <div class="tuc-paymentscard-item">
                        Amount
                        <span class="float-right">
                            <span class="list-amount-currency"><span  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span> <span class="tuc-paymentcard-amount">
                                {{PaymentConfiguration.PaymentAmount}}</span>
                        </span>
                    </div>
                    <div class="tuc-paymentscard-item">
                        Cashback
                        <span class="float-right">
                            <span class="list-amount-currency"><span  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span> <span class="tuc-paymentcard-amount">
                                {{PaymentConfiguration.RewardAmount}}</span>
                        </span>
                    </div>
                    <div text-right>
                        <div class="tuc-paymentcard-megaamt">
                            <span class="list-amount-currency"><span  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span> {{PaymentConfiguration.TotalAmount}}
                        </div>
                        <div>
                            Total points will be Credited
                        </div>
                    </div>
                </div>
            </div> -->
            <div *ngIf="IsAccountPresent == true">
                <div padding-top padding-bottom *ngIf="!_HelperService.AppConfig.IsProcessing">
                    <ion-button expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                        (click)="OpenConfirmDialog()">
                        Topup
                    </ion-button>
                </div>
                <div padding-top padding-bottom *ngIf="_HelperService.AppConfig.IsProcessing">
                    <ion-button expand="full" disabled readonly color="primary" shape="round" size="medium"
                        class="r-2x f-s-n no-shadow">
                        Please wait...
                    </ion-button>
                </div>
            </div>

        </div>
    </div>
    <div style="display: none;">
        <ion-button id="paymentbutton" angular4-paystack [key]="_HelperService.AppConfig.PayStackKey"
            [email]="_HelperService.AccountInfo.User.EmailAddress" [amount]="PaymentConfiguration.PaymentAmount * 100"
            [ref]="PaymentConfiguration.PaymentReference" (onClose)="ProcessOnline_Cancel()"
            (callback)="ProcessOnline_Confirm($event)">
        </ion-button>
    </div>

</ion-content>