<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" page-tuc-titlebar">
    <ion-toolbar class="page-tuc-titlebar">
        <img [src]="_HelperService.AccountInfo.UserAccount.IconUrl" (click)="NavProfile()" class="hm-prdofile-icon">
        <div (click)="OpenLocationSelector()" class="hm-t-loc">
            <i class="las la-map-marker"></i> Your Location
        </div>
        <div (click)="OpenLocationSelector()"
            *ngIf="UserCustomAddress != undefined && UserCustomAddress != null  && UserCustomAddress.CityName != undefined && UserCustomAddress.CityName != null && UserCustomAddress.CityName != ''"
            style="    font-size: 14px;
           font-weight: 600;
           color: #ffffff;">
            {{ (UserCustomAddress.CityName.length>16)? (UserCustomAddress.CityName |
            slice:0:16)+'..':(UserCustomAddress.CityName) || "Set address" }}
        </div>
        <div (click)="OpenLocationSelector()"
            *ngIf="UserCustomAddress == undefined || UserCustomAddress == null  || UserCustomAddress.CityName == undefined || UserCustomAddress.CityName == null || UserCustomAddress.CityName == ''"
            style="    font-size: 14px;
           font-weight: 600;
           color: #ffffff;">
            Set address
        </div>
        <ion-buttons slot="end">
            <ion-button class="page-tuc-titlebar-button" (click)="ShowMyCode()">
                <i class=" las la-qrcode f-s-22"></i>
            </ion-button>
            <ion-button class="page-tuc-titlebar-button" (click)="NavNotification()">
                <i class=" las la-bell f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="page-tuc bg-white">
    <div style="padding-top:8px; padding-bottom :8px; padding-left: 20px; padding-right: 20px;">
        <ion-searchbar [(ngModel)]="DealsSearchCondition" class="input" (ionChange)="SearchDeal()">
        </ion-searchbar>
    </div>
    <div class="container" style="    padding-bottom: 80px;">
        <div class="scrolling-wrapper">
            <div class="scrolling-item" style="border-right: 1px solid #f7f7f7;">
                <div class="item-box item-shadow" text-center (click)="CategoryClickAll()" style="    padding: 8px 8px;
                        width: 80px;
                        color: #a93b87;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;">
                    <div>
                        <div>
                            <img src="../../../assets/icon/tucicon.png" style="    width: 28px;height: 28px;">
                        </div>
                        <div style="    font-weight: 500;
                        font-size: 10px;">All</div>
                    </div>
                </div>
            </div>
            <div class="scrolling-item"
                *ngFor="let LItem of _CategoriesSorted; let index=index; let odd=odd; let even=even;">
                <div class="item-box item-shadow" text-center (click)="CategorySelected(LItem)" style="    padding: 8px 8px;
            width: 80px;
            color: #a93b87;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;">
                    <div>
                        <div>
                            <img src="{{LItem.IconUrl}}" style="    width: 28px; height: 28px;">
                        </div>
                        <div style="    font-weight: 500;
            font-size: 10px;">{{LItem.Name}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div margin *ngIf="_Deals.length > 0">
            <div *ngFor="let Item of _Deals; let index=index; let odd=odd; let even=even;">
                <div (click)="NavDealDetails(Item)" style="    text-align: left;
                border-radius: 4px;
                min-height: 150px;    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.1);
                background-size: cover;   
              margin-bottom: 16px;
              margin-right: 0px;
                width: 100%;">
                    <div [style.background-image]="'url(' + Item.ImageUrl + ')'" style="border-radius: 6px;
                min-height: 150px;
                background-size: cover;     border-radius: 6px;    border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px; ">
                        <div class="gradient" style="min-height: 150px;
                                position: relative;
                                padding: 16px;
                                border-radius: 6px;    border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;">
                            <div>
                                <div style="text-align: right;">
                                    <span class="" style="font-size:11px;color:#32353E;">
                                        <span style="    color: #ffffff;
                                                    font-weight: 500;">Ends in</span> <span style="
            background-color: rgb(0 ,0 ,0 ,0.6);
            color: #ffffff;
            padding: 4px 6px;
            border-radius: 6px;
            margin-left: 4px;
            font-weight: 500;
            font-size: 11px;">
                                            <i class="lni lni-timer" style="padding-right: 2px;"></i>
                                            <countdown [config]="Item"></countdown>
                                        </span>

                                    </span>
                                </div>


                            </div>


                            <div style=" 
                            position: absolute;
                            color: #ffffff;
                            font-size: 18px;
                            bottom: 0px;    width: 90%;
                            padding-bottom: 8px;
                            ">
                                <div style="text-align: right;">
                                    <span style="
                            background-color: rgb(0 ,0 ,0 ,0.6);
                            color: #ffffff;
                            padding: 4px 6px;
                            border-radius: 4px;
                            margin-right: 8px;
                            font-weight: 500;font-size: 12px;
                            font-size: 12px;" *ngIf="Item.TotalSaving > 0">
                                        <i class="las la-wallet"></i> You Save <span
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{Item.TotalSaving}}
                                    </span>
                                    <span style="
                            background-color: rgb(0 ,0 ,0 ,0.6);
                            color: #ffffff;
                            padding: 4px 6px;
                            border-radius: 4px;
                            margin-right: 8px;
                            font-weight: 500;font-size: 12px;
                            font-size: 12px;">
                                        <i class="las la-eye"></i> {{Item.Views || "0"}}
                                    </span>
                                    <span style="
                                                                    background-color: rgb(0 ,0 ,0 ,0.6);
                                                                    color: #ffffff;
                                                                    padding: 4px 6px;
                                                                    border-radius: 4px;
                                                                    font-weight: 500;
                                                                    font-size: 12px;">
                                        <i class="las la-fire" style="color: orange;"></i>
                                        {{Item.Purchase ||
                                        "0"}}
                                        <span style="color: #ffffff;">sold</span>
                                    </span>
                                </div>
                            </div>
                            <div style="float: right;
                                position: absolute;
                                right: 0;
                                margin-right: 16px;
                                bottom: 0;
                                margin-bottom: 16px;
                                color: #ffffff;
                                font-weight: 800;">


                            </div>
                        </div>
                    </div>
                    <div style="    bottom: 0;padding-bottom: 16px;
                     padding: 12px 12px;
                    white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
                    ">
                        <div style="font-weight: 500; padding-bottom: 8px; color: #32353E;
                        font-size: 14px;">
                            {{ (Item.Title.length>36)? (Item.Title | slice:0:36)+'..':(Item.Title) }}
                        </div>
                        <div
                            style="font-size: 16px; color: #000; padding-bottom: 6px; font-weight: 500; border-bottom: 1px solid #E7E9F0;margin-bottom: 4px; ">
                            <span style="font-size: 12px;"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{Item.SellingPrice}}
                            <span style="    text-decoration: line-through;
                                                    color: #7987A1;
                                                    font-size: 12px;
                                                    font-weight: 500;">
                                <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{Item.ActualPrice}}
                            </span>
                        </div>
                        <div>
                            <span style="    font-size: 13px; color: #32353E;">
                                {{Item.MerchantName}}
                                <span style="color: orange; float:right;
                                                    font-size: 13px;">
                                    <i class="lni lni-star-filled"></i> {{Item.Rating || "0"}}
                                </span>
                            </span>
                        </div>


                    </div>
                </div>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="GetDeals_NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more deals ...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
        <!-- <div *ngIf="_Deals.length == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-spinner color="primary" name="dots"></ion-spinner>
            </div>
            <div class="nolist-subtitle">
                Loading deals
            </div>
            <div class="nolist-content">
                Loading new deals for you ...
            </div>
        </div> -->
        <div *ngIf="_Deals.length == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                Check back this section later
            </div>
        </div>
    </div>
</ion-content>
<div class="footer-container">
    <div class="footer-item " (click)="NavDashboard()">
        <div class="footer-item-icon">
            <i class="lni lni-home"></i>
        </div>
        <div class="footer-item-text">Home</div>
    </div>
    <div class="footer-item " (click)="NavStores()">
        <div class="footer-item-icon">
            <i class="lni lni-cart"></i>
        </div>
        <div class="footer-item-text">Stores</div>
    </div>
    <div class="footer-item " (click)="NavTucPay()">
        <div class="footer-item-icon">
            <div class="footer-scanner">
                <i class=" las la-qrcode"></i>
            </div>
        </div>
        <div class="footer-item-text">Scan To Pay</div>
    </div>
    <div class="footer-item text-primary" (click)="NavDeals()">
        <div class="footer-item-icon">
            <i class="lni lni-shopping-basket"></i>
        </div>
        <div class="footer-item-text">Deals</div>
    </div>
    <div class="footer-item" (click)="NavMore()">
        <div class="footer-item-icon">
            <i class="las la-user-circle"></i>
        </div>
        <div class="footer-item-text">Account</div>
    </div>
</div>
<!-- <div class="footer-container">
    <div class="footer-item " (click)="NavDashboard()">
        <div class="footer-item-icon">
            <i class="las la-home"></i>
        </div>
        <div class="footer-item-text">Home</div>
    </div>
    <div class="footer-item " (click)="NavStores()">
        <div class="footer-item-icon">
            <i class="las la-street-view"></i>
        </div>
        <div class="footer-item-text">Nearby</div>
    </div>
    <div class="footer-item " (click)="NavDealerLocations()">
        <div class="footer-item-icon">
            <i class="las la-shopping-bag"></i>
        </div>
        <div class="footer-item-text">Buy Online</div>
    </div>
    <div class="footer-item " (click)="NavPoints()">
        <div class="footer-item-icon">
            <i class="las la-gift"></i>
        </div>
        <div class="footer-item-text">Rewards</div>
    </div>
    <div class="footer-item" (click)="NavMore()">
        <div class="footer-item-icon">
            <i class="las la-ellipsis-v"></i>
        </div>
        <div class="footer-item-text">Account</div>
    </div>
</div> -->