<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text=""> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header">
        <div class="hcx-page-header-title">
            Purchase History
        </div>
        <div class="hcx-page-header-body">
            Your product purchase history
        </div>
    </div>
    <div class="hcx-page-body">
        <div style="padding-top: 20px;
        padding-bottom: 20px;">
            <div (click)="TranList_DetailsModal(Item)" *ngFor="let Item of TranList_Data.Data" class="dpl-list">
                <div class="dpl-header">
                    <span class="dpl">
                        <i class="las la-box"></i>
                    </span>
                    <div class="dpl-header-status">{{Item.StatusName}}</div>
                    <div class="dpl-header-status-content" [innerHTML]="Item.StatusContent"></div>
                </div>
                <div style="padding: 12px;
                display: inline-block;
                background: #f7f7f7;
                border-radius: 6px;
                width: 100%;
                margin-bottom: 12px;">
                    <div style="    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: 500;
                    margin-bottom: 12px;
                    font-size: 13px;">
                        {{Item.Title}}
                    </div>
                    <img [src]="Item.ImageUrl" style="width: 100px;
                    float: left;
                    margin-right: 12px;
                    border-radius: 6px;
                    border: 1px solid #d7d7d7;">
                    <div style="    margin-bottom: 4px;
                    font-weight: 700;
                    font-size: 14px;
                    margin-top: 20px;">
                        <span class="list-amount-currency"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{Item.TotalAmount |
                        number: "1.2-2"}}
                    </div>
                    <div style="font-size: 12px;">
                        Placed On : {{Item.CreateDateD}} {{Item.CreateDateT}}
                    </div>
                </div>
                <!-- <div style="font-size: 12px;">
                    <bar-rating  [max]="5"></bar-rating>
                </div> -->
            </div>
        </div>

        <div *ngIf="TranList_Data.TotalRecords == -1" class="hcx-list-empty">
            <div class="hcx-list-empty-icon">
                <ion-spinner color="primary" name="dots"></ion-spinner>
            </div>
        </div>
        <div *ngIf="TranList_Data.TotalRecords == 0" class="hcx-list-empty">
            <div class="hcx-list-empty-icon">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="hcx-list-empty-title">
                Its Empty Here
            </div>
            <div class="hcx-list-empty-subtitle" (click)="this._HelperService.NavDashboardDeals()">
                Browse deals
            </div>
        </div>
    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>

    </div>
</ion-content>