<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border>
    <ion-toolbar class="tucapp-titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="page-tuc-titlebar-button"> </ion-back-button>
        </ion-buttons>
        <div class="tucapp-titlebar-content">
            Repayments & Loans
        </div>
    </ion-toolbar>
</ion-header>
<!-- 
<ion-content class="tucapp " forceOverscroll="false">
    <div class="tucapp-body bg-white">
        <div class="tucapp-body-top bg-white" style="padding: 16px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-bottom: 1px;">
            <div>
                <div class="scrolling-wrapper" style="margin-bottom: 16px;">
                    <div class="scrolling-item"
                        style="border-bottom: 1px solid #E6E9F1;   color: #32353E;     width: calc(100% /2);"
                        (click)="TabChange('repayments')" [ngClass]="{ 'tab-active': acttab == 'repayments' }">
                        <div class="item-box item-shadow" text-center style="    padding: 12px 6px;
                                
                                white-space: nowrap;
                                overflow: hidden;  font-size: 13px;
                                text-overflow: ellipsis;">
                            <div>
                                <div>Repayments</div>
                            </div>
                        </div>
                    </div>
                    <div class="scrolling-item"
                        style="border-bottom: 1px solid #E6E9F1;   color: #32353E;     width: calc(100% /2);"
                        (click)="TabChange('loanhistory')" [ngClass]="{ 'tab-active': acttab == 'loanhistory' }">
                        <div class="item-box item-shadow" text-center style="    padding: 12px 6px;
                                
                                white-space: nowrap;
                                overflow: hidden;  font-size: 13px;
                                text-overflow: ellipsis;">
                            <div>
                                <div>Loan History</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="acttab == 'repayments'">
                    <b style="text-align: center;">Pay by 4</b>

                </div>
                <div *ngIf="acttab == 'loanhistory'">
                    <b style="text-align: center;">Pay by 7</b>

                </div>
            </div>
        </div>
    </div>
</ion-content> -->


<ion-content class="tucapp " forceOverscroll="false">
    <div class="tucapp-body ">
        <div style="    padding: 16px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-bottom: 1px;">
            <div *ngIf="TranList_Data.TotalRecords == -1" text-center class="nolist-item">
                <div class="nolist-icon-item">
                    <ion-spinner color="primary" name="dots"></ion-spinner>
                </div>
                <div class="nolist-subtitle">
                    Loading History
                </div>
            </div>
            <div *ngIf="TranList_Data.TotalRecords > 0">
                <div (click)="TranList_RowSelected(TItem)" *ngFor="let TItem of TranList_Data.Data" class="item-list"
                    style="    border: 1px solid #E7E9EF;
                background-color: #ffffff;
                border-radius: 10px;">
                    <div>
                        <div style="    width: 100%;
                        height: 56px;">
                            <img [src]="TItem.MerchantIconUrl" style="    width: 38px;
                        height: 38px;
                        border-radius: 10px;
                        background-color: #ffffff;
                        border: 1px solid #E7E9EF;float : left;margin-right: 16px;
                        padding: 4px;">
                            <div>
                                <div style="color: #222222; font-weight: 500;    padding-bottom: 4px;">
                                    {{TItem.MerchantDisplayName }}</div>
                                <div style="color: #7987A1; font-size: 12px;">Loan Id : {{TItem.ReferenceId }}</div>
                            </div>
                        </div>
                        <ion-row>
                            <ion-col>
                                <div style="    font-size: 13px;
                                font-weight: 500;
                                color: #222222;
                                padding-bottom: 2px;">
                                    <span><span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                                    {{TItem.LoanAmount | number: "1.2-2"}}
                                </div>
                                <div style="font-size: 12px;  color: #7987A1;">
                                    Amount
                                </div>
                            </ion-col>
                            <ion-col>
                                <div style="  font-size: 13px;
                                font-weight: 500;
                                color: #222222;
                                padding-bottom: 2px;">
                                    <span><span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                                    {{TItem.InstallmentAmount | number: "1.2-2"}}
                                </div>
                                <div style="font-size: 12px; color: #7987A1;">
                                    Installment
                                </div>
                            </ion-col>
                            <ion-col style="text-align: right;">
                                <div style="   font-size: 14px;
                                color: #7987A1;
                                padding-bottom: 2px;"><span style="color: #10B759;">{{TItem.PaidInstallment
                                        }}</span>/{{TItem.TotalInstallment }} paid</div>
                                <div style="font-size: 12px;  color: #7987A1;"> {{TItem.StatusName }}
                                </div>
                            </ion-col>
                        </ion-row>
                    </div>
                </div>
                <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="TranList_NextLoad($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Please wait...">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </div>

            <div *ngIf="TranList_Data.TotalRecords == 0" text-center class="nolist-item">
                <div class="nolist-icon-item">
                    <ion-icon ios="md-list" md="md-list">
                    </ion-icon>
                </div>
                <div class="nolist-title">
                    Its Empty Here
                </div>
                <div class="nolist-subtitle">
                    No loan purchase yet
                </div>
                <div class="nolist-content">
                    Your loan history will appear here
                </div>
            </div>
        </div>
    </div>

</ion-content>