<ion-header no-border class=" page-tuc-titlebar">
    <ion-toolbar class="page-tuc-titlebar">
        <ion-buttons slot="start">
            <ion-button (click)="ModalDismiss()" class="page-tuc-titlebar-button">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        {{DataItem.Title}}
    </ion-toolbar>
</ion-header>
<ion-content class="page-tuc bg-white" forceOverscroll="false">
    <div>
        <div *ngFor="let LItem of DataItem.Images" style="
           padding: 8px 12px;
           padding-top: 0px;
    ">
            <img [src]="LItem.ImageUrl" style="
        width: 100%;
        border-radius: 8px;">
        </div>
    </div>
</ion-content>
<div class="tuc-footer">
    <button type="button" (click)="ModalDismiss()" class="cancel full-width">Close</button>
</div>