<ion-header no-border>
    <ion-toolbar class="page-modal-header">
        <div class="page-modal-header-container">
            <div class="title">
                Add Bank
            </div>
            <div class="subtitle">
                Enter your bank information below
            </div>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content class="page-modal" forceOverscroll="false">
    <div class="page-modal-container">
        <div class="form-group">
            <div class="label">
                Account Holder Name
            </div>
            <input class=" input" [(ngModel)]="_BankDetails.Name" maxlength="128" type="text">
        </div>
        <div class="form-group">
            <div class="label">
                Account Number
            </div>
            <input class=" input" [(ngModel)]="_BankDetails.AccountNumber" maxlength="128" type="tel">
        </div>
        <div class="form-group">
            <div class="label">
                Select your bank from below list
            </div>
            <div class="item-list-mini" (click)="BankSelected(LItem)"
                *ngFor="let LItem of BankCodes; let index=index; let odd=odd; let even=even;">
                <span class="item-list-mini-title" *ngIf="LItem.Name != _BankDetails.BankName">
                    {{LItem.Name}}
                </span>
                <span class="item-list-mini-active" *ngIf="LItem.Name == _BankDetails.BankName">
                    {{LItem.Name}}
                </span>
            </div>
        </div>


    </div>
</ion-content>
<div class="page-modal-footer">
    <ion-row>
        <ion-col>
            <button class="btn-cancel full-width" (click)="_HelperService.ModalDismiss('noaction')">
                Close
            </button>
        </ion-col>
        <ion-col>
            <button class="btn-primary full-width" (click)="SaveBank()">
                Add Bank
            </button>
        </ion-col>
    </ion-row>
</div>