<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text=""> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header">
        <img class="hcx-page-header-image" src="{{ActiveStore.IconUrl}}">
        <div class="hcx-page-header-title">
            {{ActiveStore.DisplayName}}
        </div>
        <div class="hcx-page-header-body">
            {{ActiveStore.Locations}} locations
        </div>
    </div>
    <div class="hcx-page-body">
        <div class="hcx-page-item hcx-page-item-top">
            <div class="hcx-page-item-title text-center">
                How much do you want?
            </div>
            <div class="hcx-page-item-body text-center">
                <input placeholder="0" class="input-lg text-center" autofocus type="tel" placeholder="0" max-length="10"
                    [(ngModel)]="tAmount" (keyup)="OnAmountChange()">
                <div class="m-b">
                    Loan Amount
                </div>

                <div class="margin text-center ">
                    <span class="bg-light b-light border-radius" style="
                    padding: 12px 24px; "> Your Standard limit <span
                            style="color: #222222;font-weight: 500;"><span><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span> {{
                            AccountConfig.MaximumLoanAmount | number: "1.2-2"}}</span></span>
                </div>
            </div>
        </div>
        <div class="hcx-page-item" *ngIf="AccountConfig != undefined   && AccountConfig.Plans.length > 0">
            <div class="hcx-page-item-title">
                Select payment plan
                <div class="hcx-page-item-title-help" (click)="ModalBnplPlan()">
                    Know more
                </div>
            </div>
            <div class="hcx-page-item-body">
                <ion-row>
                    <ion-col (click)="PlanSelected(LItem)"
                        *ngFor="let LItem of AccountConfig.Plans; let index=index; let odd=odd; let even=even;">
                        <div
                            [ngClass]="{'bnpl-plan bnpl-plan-active'  : _Loan.Plan.ReferenceId == LItem.ReferenceId ,'bnpl-plan'  : _Loan.Plan.ReferenceId != LItem.ReferenceId}">
                            <div class="bnpl-plan-title"> {{LItem.Name}} </div>
                            <div class="bnpl-plan-subtitle">
                                <span><span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span> {{
                                ((_Loan.Amount /
                                LItem.Tenture) + ((_Loan.Amount / LItem.Tenture ) *
                                this._Loan.Plan.CustomerInterestRate) / 100)
                                | number: "1.2-2"}}/ Month
                            </div>
                            <div class="bnpl-plan-interestrate"> Pay just <span><span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span> {{
                                (_Loan.Amount
                                /
                                LItem.Tenture ) |
                                number: "1.2-2"}} now </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="hcx-page-item" *ngIf="_HelperService._AppConfigurations.Contacts != undefined ">
            <div class="hcx-page-item-title">
                How it Works?
                <div class="hcx-page-item-title-help" (click)="ModalBnplInfo()">
                    Terms & Conditions ?
                </div>
            </div>
            <div class="hcx-page-item-body">
                <ion-row>
                    <ion-col>
                        <div style="    width: 100%;
                        background-image: linear-gradient( 
                    135deg, #90F7EC 10%, #32CCBC 100%);
                        text-align: center;
                        border-radius: 6px;
                        padding: 23px 8px;
                        font-weight: 500;
                        color: #335f53;">
                            <div>
                                Get
                            </div>
                            <div>
                                Credit
                            </div>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div style="    width: 100%;
                        background-image: linear-gradient( 
                    135deg, #90F7EC 10%, #32CCBC 100%);
                        text-align: center;
                        border-radius: 6px;
                        padding: 23px 8px;
                        font-weight: 500;
                        color: #335f53;">
                            <div>
                                Spend Credit
                            </div>
                            <div>
                                at Merchant
                            </div>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div style="    width: 100%;
                        background-image: linear-gradient( 
                    135deg, #90F7EC 10%, #32CCBC 100%);
                        text-align: center;
                        border-radius: 6px;
                        padding: 23px 8px;
                        font-weight: 500;
                        color: #335f53;">
                            <div>
                                Pay easy
                            </div>
                            <div>
                                EMIs
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>

    </div>
</ion-content>
<div class="tuc-footer">
    <button class="next" [disabled]="!tAmount" (click)="Next()">
        Next >
    </button>
    <div class="content">
        <div class="title">
            Taking <span class="list-amount-currency"><span
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span> {{ (_Loan.MonthlyAmount ) |
            number: "1.2-2"}} for
        </div>
        <div class="subtitle">
            {{ActiveStore.DisplayName}}
        </div>
    </div>
</div>
<!-- 
<div style="
background-color: #ffffff;    border-top: 1px solid #ccc;
padding: 16px;">
    <div class="tuc-card-body">
        <div>
            <div>
                <button class="next-button" [disabled]="!tAmount" (click)="Next()">
                    Next >
                </button>
                <div style="padding-bottom: 8px;">
                    <span style="    font-weight: 500;
                    color: #5d5d5d;">Taking </span>
                    <span style="    font-weight: 500;
                    padding-left: 3px;
                    font-size: 16px;">
                        <span class="list-amount-currency"><span  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span> {{ (_Loan.MonthlyAmount ) | number: "1.2-2"}}
                    </span>
                    <span style="    font-weight: 500;
                    color: #5d5d5d;"> for </span>
                </div>
                <div>
                    <span style="font-size: 12px;
                    text-transform: uppercase;
                    font-weight: 500;">{{ActiveStore.DisplayName}} </span>
                </div>
            </div>
        </div>
    </div>
</div> -->