<ion-header no-border class="titlebar">
    <ion-toolbar class="titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="text-primary"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Select Package - {{Items.length}}</span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ModalDismiss('noaction')">
                <i slot="end" class=" las la-times-circle " style="font-size: 36px;"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="page-header ">
        <div>
            <div class="page-header-title">Package / Plan</div>
            <div class="page-header-subtitle">Select operator package / plan</div>
        </div>
    </div>
    <div class="container " padding style="padding-top: 16px;">
        <div (click)="ModalDismiss(TItem)" *ngFor="let TItem of Items" class="list-item">
            <div>
                <div class="list-item-title">
                    {{TItem.name}}
                </div>
            </div>
        </div>
        <div margin-left margin-right padding-top padding-bottom>
            <ion-row>
                <ion-col size="12">
                    <ion-button expand="full" color="danger" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                        (click)="ModalDismiss('noaction')">
                        Cancel
                    </ion-button>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>