<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text=""> </ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="Refresh()" class="hcx-page-titlebar-btn">
                <ion-icon name="refresh"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header">
        <div class="hcx-page-header-title">
            <div class="text-center">
                <h1 class="flashtext" style="margin: 0px;"> Flash Deals</h1>
                <div class="flashtext" style="font-size: 13px;">Deals at Incredible Price! </div>
            </div>
            <div class="fireworks" style="left: 15%; top: 0.6%;"></div>
            <div class="fireworks" style="right: 30%; top: 0.4%; animation-delay: -0.4s;"></div>
            <div class="fireworks" style="left: 5%; top: 0.5%; animation-delay: -1.7s;"></div>
            <div class="fireworks" style="right: 45%; top: 1.2%; animation-delay: -3.1s;"></div>
        </div>
    </div>
    <div class="hcx-page-body">
        <div class="hcx-page-item  hcx-page-item-top">
            <div class="hcx-page-item-body">
                <div>
                    <input class="hcx-searchbar" [(ngModel)]="DealsSearchCondition" placeholder="Search flash deals"
                        (keyup)="SearchDeal()">
                </div>
                <ion-slides class="animated fadeIn " autoplay="5000" loop="true" speed="500" pager
                    [options]="_HelperService.TopSlideOptions"
                    *ngIf="_HomeSl1 != undefined && _HomeSl1 != null && _HomeSl1.length > 0">
                    <ion-slide *ngFor="let TItem of _HomeSl1; let index=index; let odd=odd; let even=even;">
                        <div class="slidercontainer" (click)="SliderClick(TItem)"
                            [style.background-image]="'url('+TItem.ImageUrl+')'">
                            <div *ngIf="TItem.Title != undefined && TItem.Title != null && TItem.Title != ''" style="    height: 160px;
                        width: 100%;
                        transition-duration: 0.6s;
                        border-radius: 12px;
                        background: linear-gradient( 
                    180deg, rgb(255 255 255 / 0%) 0%, rgb(0 0 0 / 25%) 64%, rgb(0 0 0 / 86%) 100%);
                        padding: 8px;font-weight: 500;">
                                <div style="    color: #ffffff;
                        position: absolute;
                        bottom: 0;
                        padding-bottom: 12px;
                        text-align: left;
                        width: 90%;
                        font-size: 13px;">
                                    {{TItem.Title }}
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slides>
            </div>
        </div>

        <div *ngIf="IsFirstLoad" class="hcx-list-empty m-t m-b">
            <div class="hcx-list-empty-icon">
                <ion-spinner color="primary" name="dots"></ion-spinner>
            </div>
            <div class="hcx-list-empty-subtitle">
                Loading Flash Deals
            </div>
        </div>
        <div *ngIf="!IsFirstLoad && _Deals.length < 1 " class="hcx-list-empty m-t m-b">
            <div class="hcx-list-empty-icon">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="hcx-list-empty-title">
                Its Empty Here
            </div>
            <div class="hcx-list-empty-subtitle">
                Flash deals will be back soon
            </div>
        </div>
        <div class="deals-list" *ngIf="_Deals.length > 0 && !IsFirstLoad">
            <div class="deal-item" *ngFor="let TItem of _Deals; let index=index; let odd=odd; let even=even;"
                (click)="DealClick(TItem)">
                <div class="header" [style.background-image]="'url('+TItem.ImageUrl+')'">
                    <div class="container">
                        <span class="timer">
                            <span class="counter">
                                <i class="lni lni-timer"></i>
                                <countdown [config]="TItem.CountdownConfig"></countdown>
                            </span>
                        </span>
                        <div class="category">
                            <span>
                                {{TItem.CategoryName}}
                            </span>
                        </div>
                        <div class="merchant">
                            <img [src]="TItem.MerchantIconUrl" *ngIf="TItem.MerchantIconUrl != null">
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="title" [innerHtml]="TItem.Title">
                    </div>
                    <div class="pricing">
                        <span class="sellingprice">
                            <span class="currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.SellingPrice |
                            number: "1.0-1" || "--"}}
                        </span>
                        <span class="actualprice">
                            <span class="currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.ActualPrice
                            | number: "1.0-1" || "--"}}
                        </span>

                        <!-- <span class="discount">
                            {{TItem.DiscountPercentage || "0"}}% off
                        </span> -->
                    </div>
                    <div class="merchant">
                        <span class="merchantname">
                            at
                            {{TItem.MerchantName}}
                        </span>

                        <span class="dealtype">
                            <span *ngIf="TItem.DealTypeCode == _HelperService.AppConfig.DealTypeCode.ServiceDeal">
                                <i class="las la-store-alt"></i>
                            </span>
                            <span *ngIf="TItem.DealTypeCode == _HelperService.AppConfig.DealTypeCode.ProductDeal">
                                <span
                                    *ngIf="TItem.DeliveryTypeCode == _HelperService.AppConfig.DeliveryTypeCode.InStorePickUp || TItem.DeliveryTypeCode == _HelperService.AppConfig.DeliveryTypeCode.InStoreAndDelivery">
                                    <i class="las la-store-alt"></i>
                                </span>
                                <span
                                    *ngIf="TItem.DeliveryTypeCode == _HelperService.AppConfig.DeliveryTypeCode.InStorePickUp || TItem.DeliveryTypeCode == _HelperService.AppConfig.DeliveryTypeCode.InStoreAndDelivery">
                                    <i class="las la-shipping-fast"></i>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="GetDeals_NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more deals ...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>

    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>

    </div>
</ion-content>