<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
            <ion-button (click)="ModalDismiss('noaction')" class="hcx-page-titlebar-btn">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
  <div class="hcx-page-header text-center">
    <div class="hcx-page-header-title text-center">
      Debit Mandate Setup
    </div>
    <div class="hcx-page-header-body text-center">
      By setting this, you will automatically pay your repayment on due date
    </div>
  </div>
  <div class="hcx-page-body  bg-white">
    <div class="hcx-page-item hcx-page-item-top">
      <div class="hcx-page-item-title">
        Please enter information below ( from your email / phone number )
      </div>
      <div class="hcx-page-item-body">

        <div class="form-group"
          *ngIf="DebitMandateRequest.Data.AuthParams[0].Description1 != undefined && DebitMandateRequest.Data.AuthParams[0].Description1 != null && DebitMandateRequest.Data.AuthParams[0].Description1 != ''">
          <div class="label">
            {{DebitMandateRequest.Data.AuthParams[0].Description1}}
          </div>
          <input class=" input" maxlength="30" type="text" [(ngModel)]="DebitMandateRequest.Data.AuthParams[0].Value1">
        </div>
        <div class="form-group"
          *ngIf="DebitMandateRequest.Data.AuthParams[0].Description2 != undefined && DebitMandateRequest.Data.AuthParams[0].Description2 != null && DebitMandateRequest.Data.AuthParams[0].Description2 != ''">
          <div class="label">
            {{DebitMandateRequest.Data.AuthParams[0].Description2}}
          </div>
          <input class=" input" maxlength="30" type="text" [(ngModel)]="DebitMandateRequest.Data.AuthParams[0].Value2">
        </div>
        <div class="form-group"
          *ngIf="DebitMandateRequest.Data.AuthParams[0].Description3 != undefined && DebitMandateRequest.Data.AuthParams[0].Description3 != null && DebitMandateRequest.Data.AuthParams[0].Description3 != ''">
          <div class="label">
            {{DebitMandateRequest.Data.AuthParams[0].Description3}}
          </div>
          <input class=" input" maxlength="30" type="text" [(ngModel)]="DebitMandateRequest.Data.AuthParams[0].Value3">
        </div>
        <div class="form-group"
          *ngIf="DebitMandateRequest.Data.AuthParams[0].Description4 != undefined && DebitMandateRequest.Data.AuthParams[0].Description4 != null && DebitMandateRequest.Data.AuthParams[0].Description4 != ''">
          <div class="label">
            {{DebitMandateRequest.Data.AuthParams[0].Description4}}
          </div>
          <input class=" input" maxlength="30" type="text" [(ngModel)]="DebitMandateRequest.Data.AuthParams[0].Value4">
        </div>
      </div>
    </div>
  </div>
  <div class="hcx-page-footer">
    Made with love
    <i class="lni lni-heart-filled hcx-page-footer-i"></i>

  </div>
</ion-content>

<div class="tuc-footer">

  <button type="button" (click)="Cancel()" *ngIf="!_HelperService.IsFormProcessing" class="cancel ">Cancel</button>
  <button type="button" (click)="SubmitRequest()" *ngIf="!_HelperService.IsFormProcessing"
    class="approve ">Submit</button>

  <button type="button" disabled readonly *ngIf="_HelperService.IsFormProcessing" class="approve ">Please
    wait
    ...</button>
</div>