<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>

<ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="text-primary"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Profile</span>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-app">
    <div class="page-header " text-center>
        <i class="las la-address-card  page-header-icon"></i>
        <div>
            <div class="page-header-title">Profile</div>
            <div class="page-header-subtitle" style="font-weight: 700;
            color: #86888f;"> {{_Profile.MobileNumber}} </div>
        </div>
    </div>
    <div class="container">
        <div margin>
            <div class="subheader" padding-bottom>
                <ion-row text-center>
                    <ion-col col-12>
                        <div *ngIf="_Profile.IconUrl != undefined" (click)="ChangePhoto()" class="item-shadow" style="        width: 90px;
                        height: 90px;
                        background-color: rgb(255, 255, 255);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border: 3px solid rgb(248, 248, 248);
                        border-radius: 100%;
                        margin-left: auto;
                        margin-right: auto;" [ngStyle]="{'background-image': 'url(' + _Profile.IconUrl + ')'}">
                            <i class="las la-camera-retro" style="    background-color: #a32f7f;
                            position: absolute;
                            bottom: 0;
                            color: #fff;
                            font-size: 18px;
                            padding: 4px;
                            border-radius: 100%;"></i>
                        </div>
                        <div *ngIf="_Profile.IconUrl == undefined" (click)="ChangePhoto()" class="item-shadow" style=" 
                        width: 90px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid rgb(248, 248, 248);
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../../../assets/content/background.jpg');
">
                            <i class="las la-camera-retro" style="    background-color: #a32f7f;
                            position: absolute;
                            bottom: 0;
                            color: #fff;
                            font-size: 18px;
                            padding: 4px;
                            border-radius: 100%;"></i>
                        </div>
                    </ion-col>
                </ion-row>
            </div>

            <div class="input-container">
                <span>
                    <i class="lar la-eye"></i>
                </span>
                <input placeholder="First name" [(ngModel)]="_Profile.DisplayName">
            </div>
            <div class="input-container">
                <span>
                    <i class="las la-user-circle"></i>
                </span>
                <input placeholder="First name" [(ngModel)]="_Profile.FirstName">
            </div>
            <div class="input-container">
                <span>
                    <i class="las la-user-circle"></i>
                </span>
                <input placeholder="Last name" [(ngModel)]="_Profile.LastName">
            </div>
            <div class="input-container">
                <span>
                    <i class="las la-address-card "></i>
                </span>
                <input placeholder="Enter email address" [(ngModel)]="_Profile.EmailAddress">
            </div>
            <div class="input-container" style="margin-bottom: 32px;">
                <span>
                    <i class="las la-birthday-cake"></i>
                </span>
                <ion-datetime displayFormat="DD-MM-YYYY" placeholder="Your date of birth"
                    [(ngModel)]="_Profile.DateOfBirth">
                </ion-datetime>
            </div>
            <div style="margin-bottom: 32px;">
                <span class="gender"
                    [ngClass]="{'gender gender-active'  : _Profile.GenderCode == 'gender.male','gender'  : _Profile.GenderCode != 'gender.male'}"
                    (click)="ToggleGender('gender.male')">
                    Male
                </span>
                <span class="gender"
                    [ngClass]="{'gender gender-active'  : _Profile.GenderCode == 'gender.female','gender'  : _Profile.GenderCode != 'gender.female'}"
                    (click)="ToggleGender('gender.female')">
                    Female
                </span>
            </div>
            <button type="button" margin-top margin-bottom (click)="UpdateProfile()" class="btn-primary-lg"> Update
                profile</button>
        </div>
    </div>
</ion-content>