<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class="appdb-titlebar">
    <ion-toolbar class="appdb-titlebar appdb-titlebar-container">
        <span class="btn" (click)="NavOpenQR()">
            <i class=" las la-qrcode"></i>
        </span>
        <span class="btn" (click)="_HelperService.NavNotification()">
            <i class=" las la-bell"></i>
        </span>
        <img [src]="_HelperService.AccountInfo.UserAccount.IconUrl" (click)="NavProfile()" class="profileimg">
        <div class="loctitle" (click)="_HelperService.NavLocationManager()">
            Your Location
        </div>
        <div class="loc" (click)="_HelperService.NavLocationManager()">
            <span>{{ UserCustomAddress.CityName || "Set Address" }}</span>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-body">
        <div class="hcx-page-item hcx-page-item-top">
            <div class="hcx-page-item-body">
                <div class="hcx-home-acc-container">
                    <span class="hcx-home-acc-container-title" (click)="NavProfile()">
                        Hey {{_HelperService.AccountInfo.UserAccount.DisplayName}},
                    </span>
                    <span class="float-right">
                        <img [src]="_HelperService.AccountInfo.UserAccount.IconUrl" (click)="NavProfile()"
                            class="hcx-home-acc-container-img">
                    </span>
                    <div class="hcx-home-acc-balance">
                        <span (click)="NavPoints()">

                            <span *ngIf="_HelperService.AccountInfo.UserAccount.AccountId > 0" class="db-currency"
                                style="font-size: 15px;
                                        font-weight: 900;"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{_DataService._OBalance.Balance| number: "1.2-2" || "--" }}
                        </span>
                    </div>
                    <div class="hcx-home-acc-balance-title">Your Available Balance
                    </div>
                </div>
            </div>
            <div *ngIf="SliderImages != undefined && SliderImages != null && SliderImages.length > 0">
                <ion-slides class="animated fadeIn " autoplay="5000" loop="true" speed="500" pager
                    [options]="_HelperService.AnaSlideOptions"
                    *ngIf="SliderImages != undefined && SliderImages != null && SliderImages.length > 0">
                    <ion-slide *ngFor="let TItem of SliderImages; let index=index; let odd=odd; let even=even;">
                        <div class="hcx-promoslider-container" (click)="SliderClick(TItem)"
                            [style.background-image]="'url('+TItem.ImageUrl+')'">
                            <div *ngIf="TItem.SliderContent != undefined && TItem.SliderContent != null ">
                                <div class="hcx-promoslider-icon"
                                    *ngIf="TItem.SliderContent.IconUrl != undefined || TItem.SliderContent.IconUrl != null || TItem.SliderContent.IconUrl != undefined ">
                                    <img [src]="TItem.SliderContent.IconUrl">
                                </div>
                                <div class="hcx-promoslider-title"
                                    *ngIf="TItem.SliderContent.Title != undefined || TItem.SliderContent.Title != null || TItem.SliderContent.Title != undefined ">
                                    {{TItem.SliderContent.Title}}
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slides>
            </div>
        </div>
        <div class="hcx-page-item">
            <div class="hcx-page-item-title">
                You can do a lot of things here
            </div>
            <div class="hcx-page-item-body">
                <ion-row>
                    <ion-col>
                        <div class="ribbon" *ngIf="_HelperService._ActiveFeatures.service_deals == false"><span>COMING
                                SOON</span></div>
                        <div (click)="_HelperService.NavDashboardDeals()">
                            <div class=" service service-l" style="
                            background-color: #C6B6F2;">
                                <div class="service-bg">
                                    <div class="service-img"><img src="../../../assets/images/service_deal.png">
                                    </div>
                                </div>
                                <div class="service-content">
                                    <div class="service-title" style="color: #220C5F;"> Hot Deals
                                    </div>
                                    <div class="service-subtitle" style="color: #220C5FA5;">Get upto 90% discount
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="ribbon" *ngIf="_HelperService._ActiveFeatures.service_bnpl == false"><span>Coming
                                Soon</span></div>
                        <div (click)="NavBnpl()">
                            <div class=" service service-r" style="background-color: #A5B1FF;">
                                <div class="service-bg">
                                    <div class="service-img"><img src="../../../assets/images/service_bnp.png">
                                    </div>
                                </div>
                                <div class="service-content">
                                    <div class="service-title" style="color: #031062;"> Buy now, Pay later
                                    </div>
                                    <div class="service-subtitle" style="color: #031062A6;"> Get instant loans
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div class="ribbon" *ngIf="_HelperService._ActiveFeatures.service_nearby == false"><span>COMING
                                SOON</span></div>
                        <div (click)="NavStores()">
                            <div class=" service service-l" style="
                                            background-color: #BDDBA6;">
                                <div class="service-bg">
                                    <div class="service-img"><img src="../../../assets/images/service_stores.png">
                                    </div>
                                </div>
                                <div class="service-content">
                                    <div class="service-title" style="color: #2B5809;"> Cashback stores
                                    </div>
                                    <div class="service-subtitle" style="color: #2B5809A6;">Get rewards here
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="ribbon" *ngIf="_HelperService._ActiveFeatures.service_vas_airtime == false">
                            <span>COMING SOON</span>
                        </div>
                        <div (click)="SelectBiller('airtime')" class=" service service-r"
                            style="background-color: #A2C6FC;">
                            <div class="service-bg">
                                <div class="service-img"><img src="../../../assets/images/service_airtime.png">
                                </div>
                            </div>
                            <div class="service-content">
                                <div class="service-title" style="color: #0B2E62;"> Buy Airtime
                                </div>
                                <div class="service-subtitle" style="color: #0B2E62A6;"> Get upto 5% cashback
                                </div>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div class="ribbon" *ngIf="_HelperService._ActiveFeatures.service_vas_utilities == false">
                            <span>COMING SOON</span>
                        </div>
                        <div (click)="SelectBiller('tv')">
                            <div>
                                <div class=" service service-l" style="
                                background-color: #FACCA2;">
                                    <div class="service-bg">
                                        <div class="service-img"><img src="../../../assets/images/paybills.png">
                                        </div>
                                    </div>
                                    <div class="service-content">
                                        <div class="service-title" style="color: #4B0807;">Pay Utility Bills
                                        </div>
                                        <div class="service-subtitle" style="color: rgb(75 8 7 / 65%);">Get upto 5%
                                            cashback
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="ribbon" *ngIf="_HelperService._ActiveFeatures.service_booking == false"><span>COMING
                                SOON</span></div>
                        <div>
                            <div class=" service service-r">
                                <div class="service-bg">
                                    <div class="service-img"><img
                                            src="../../../assets/images/service_glightbooking.png">
                                    </div>
                                </div>
                                <div class="service-content">
                                    <div class="service-title" style="color : rgb(9 75 87 / 65%)"> Buy Airline Tickets
                                    </div>
                                    <div class="service-subtitle" style="color : #094B57"> Coming soon….
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="hcx-page-item hcx-home-referral-container">
            <div class="hcx-page-item-title">
                Invite your friends to ThankUCash
            </div>
            <div class="hcx-page-item-body">
                Invite your friends to ThankUCash to earn extra cashback when they spend at ThankUCash merchant
                locations
                <div class="p-t">
                    <button class="hcx-btn-primary " type="button" (click)="NavReferral()">Invite</button>
                </div>
            </div>
        </div>
    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>

    </div>
</ion-content>




<div class="footer-container">
    <div class="footer-item" (click)="_HelperService.NavDashboard()">
        <div class="footer-item-icon">
            <i class="lni lni-home"></i>
        </div>
        <div class="footer-item-text">Home</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavDashboardStores()">
        <div class="footer-item-icon">
            <i class="lni lni-cart"></i>
        </div>
        <div class="footer-item-text">Stores</div>
    </div>
    <div class="footer-item  " (click)="_HelperService.NavDashboardTucPay()">
        <div class="footer-item-icon">
            <div class="footer-scanner">
                <i class=" las la-qrcode"></i>
            </div>
        </div>
        <div class="footer-item-text">Scan To Pay</div>
    </div>
    <div class="footer-item text-primary" (click)="_HelperService.NavDashboardDeals()">
        <div class="footer-item-icon">
            <i class="lni lni-shopping-basket"></i>
        </div>
        <div class="footer-item-text">Deals</div>
    </div>
    <div class="footer-item" (click)="_HelperService.NavDashboardMore()">
        <div class="footer-item-icon">
            <i class="las la-user-circle"></i>
        </div>
        <div class="footer-item-text">Account</div>
    </div>
</div>


<!-- 
<div class="tucmodal" *ngIf="_HelperService.AppConfig.TucConfirmModal">
    <div class="tucmodal-container">
        <div class="tucmodal-header">
            <div class="tucmodal-header-title">
                Confirm Payment
            </div>
            <div class="tucmodal-header-subtitle">
                Please confirm your payment of N2,000
            </div>
        </div>
        <div class="tucmodal-content">

        </div>
        <div class="tucmodal-footer">
            <ion-row>
                <ion-col>
                    <button class="tucmodal-footer-button tucmodal-footer-button-cancel"
                        (click)="_HelperService.HideTucConfirmModal()">
                        Cancel
                    </button>
                </ion-col>
                <ion-col>
                    <button class="tucmodal-footer-button" (click)="ConfirmAddress()">
                        Confirm
                    </button>
                </ion-col>
            </ion-row>
        </div>
    </div>
</div> -->

<div class="footer-container">
    <div class="footer-item text-primary" (click)="_HelperService.NavDashboard()">
        <div class="footer-item-icon">
            <i class="lni lni-home"></i>
        </div>
        <div class="footer-item-text">Home</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavDashboardStores()">
        <div class="footer-item-icon">
            <i class="lni lni-cart"></i>
        </div>
        <div class="footer-item-text">Stores</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavDashboardTucPay()">
        <div class="footer-item-icon">
            <div class="footer-scanner">
                <i class=" las la-qrcode"></i>
            </div>
        </div>
        <div class="footer-item-text">Scan To Pay</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavDashboardDeals()">
        <div class="footer-item-icon">
            <i class="lni lni-shopping-basket"></i>
        </div>
        <div class="footer-item-text">Deals</div>
    </div>
    <div class="footer-item" (click)="_HelperService.NavDashboardMore()">
        <div class="footer-item-icon">
            <i class="las la-user-circle"></i>
        </div>
        <div class="footer-item-text">Account</div>
    </div>
</div>