<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title"> <span class="statusbar-title">
                    <span *ngIf="_PageConfig.Type == 'airtime'">
                        Airtime
                    </span>
                    <span *ngIf="_PageConfig.Type == 'tv'">
                        Paid Tv
                    </span>
                    <span *ngIf="_PageConfig.Type == 'electricity'">
                        Electricity
                    </span>
                </span>
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ngOnInit()">
                <i slot="start" class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-app">
    <div class="page-header " text-center>
        <img src="{{_PageConfig.SelectedProvider.IconUrl}}" class="page-header-img">
        <div >
            <div class="page-header-title" *ngIf="_PageConfig.SelectedProvider != undefined && _PageConfig.SelectedProvider != null">{{_PageConfig.SelectedProvider.Name}}</div>
            <div class="page-header-subtitle" *ngIf="_PageConfig.SelectedProviderPackage != undefined && _PageConfig.SelectedProviderPackage != null">{{_PageConfig.SelectedProviderPackage.Name}}</div>
        </div>
        
    </div>
    <div class="container p-t-0" style="    min-height: 87%;">
        <div margin>
            <div style="font-size: 38px;
            text-align: center;
            padding-top: 16px;
            padding-bottom: 8px;
            font-weight: 600;">
                <span class="list-amount-currency" style="font-size: 20px;"><span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{_PageConfig.Amount |
                number:
                "1.2-2"}}
            </div>
            <div style="margin-bottom: 16px;text-align:center;font-weight: 500;font-size: 14px;">
                Topup Amount
            </div>
            <div style="    padding: 16px; margin-bottom: 16px;border-radius: 8px;;
        background-color: #f7f7f7;">
                <div class="tuc-card-i-header" style="font-size: 12px !important; color: #9D9D9D;">Payment Details</div>
                <div style="    font-weight: 500;">
                    <div class="line-height">
                        <span style="color: #4c4c4c; font-size: 12px;">
                            Account / Mobile Number
                        </span>
                        <span style="float: right;">
                            {{_PageConfig.AccountNumber || "--"}}
                        </span>
                    </div>
                    <div class="line-height">
                        <span style="color: #4c4c4c; font-size: 12px;">
                            Service
                        </span>
                        <span style="float: right;">
                            {{_PageConfig.InitializeResponse.VasProduct || "--"}}
                        </span>
                    </div>
                    <div class="line-height">
                        <span style="color: #4c4c4c; font-size: 12px;">
                            Package
                        </span>
                        <span style="float: right;">
                            {{_PageConfig.InitializeResponse.VasProductItem || "--"}}
                        </span>
                    </div>

                    <div class="line-height" style="    line-height: 34px;
                    border-bottom: 1px dotted #ccc;
                    padding-bottom: 8px;
                    margin-bottom: 8px;">
                        <span style="color: #4c4c4c; font-size: 12px;">
                            Ref
                        </span>
                        <span style="float: right;">
                            # {{_PageConfig.InitializeResponse.ReferenceId || "--"}}
                        </span>
                    </div>
                    <div *ngIf="_PageConfig.InitializeResponse.Data != undefined">

                    <div
                        *ngIf="_PageConfig.InitializeResponse.Data != undefined && _PageConfig.InitializeResponse.Data != null  ">
                        <div class="tuc-card-i-header" style="font-size: 12px !important; color: #9D9D9D;">Account
                            Details</div>

                        <div
                            *ngIf="_PageConfig.InitializeResponse.Data.Customer != undefined && _PageConfig.InitializeResponse.Data.Customer != null   ">
                            <div class="line-height" style="line-height: 34px;">
                                <span style="color: #4c4c4c; font-size: 12px;">
                                    Customer
                                </span>
                                <span style="float: right;">
                                    {{_PageConfig.InitializeResponse.Data.Customer.CustomerName || "--"}}
                                </span>
                            </div>
                            <div class="line-height" style="line-height: 34px;"
                                *ngIf="_PageConfig.InitializeResponse.Data.Customer.MeterNumber != undefined && _PageConfig.InitializeResponse.Data.Customer.MeterNumber !=  null">
                                <span style="color: #4c4c4c; font-size: 12px;">
                                    Meter Number
                                </span>
                                <span style="float: right;">
                                    {{_PageConfig.InitializeResponse.Data.Customer.MeterNumber || "--"}}
                                </span>
                            </div>
                            <div class="line-height" style="line-height: 34px;"
                                *ngIf="_PageConfig.InitializeResponse.Data.Customer.ArrearsBalance != undefined && _PageConfig.InitializeResponse.Data.Customer.ArrearsBalance != null">
                                <span style="color: #4c4c4c; font-size: 12px;">
                                    Arrears Balance
                                </span>
                                <span style="float: right;">
                                    {{_PageConfig.InitializeResponse.Data.Customer.ArrearsBalance || "--"}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="line-height" style="line-height: 34px;"
                        *ngIf="_PageConfig.InitializeResponse.Data.OrderId != undefined && _PageConfig.InitializeResponse.Data.OrderId != null">
                        <span style="color: #4c4c4c; font-size: 12px;">
                            Order Id
                        </span>
                        <span style="float: right;">
                            {{_PageConfig.InitializeResponse.Data.OrderId || "--"}}
                        </span>
                    </div>
                    <div class="line-height" style="line-height: 34px;"
                        *ngIf="_PageConfig.InitializeResponse.Data.MinimumAmount != undefined && _PageConfig.InitializeResponse.Data.MinimumAmount != null">
                        <span style="color: #4c4c4c; font-size: 12px;">
                            Minimum Payment Amount
                        </span>
                        <span style="float: right;">
                            {{_PageConfig.InitializeResponse.Data.MinimumAmount || "--"}}
                        </span>
                    </div>

                </div>

                    <div class="line-height"
                        *ngIf="_PageConfig.ConfirmResponse != undefined && _PageConfig.ConfirmResponse.Token  != undefined && _PageConfig.ConfirmResponse.Token  != null"
                        style="line-height: 34px;">
                        <span style="color: #4c4c4c; font-size: 12px;">
                            Token
                        </span>
                        <span style="float: right;">
                            {{_PageConfig.ConfirmResponse.Token || "--"}}
                        </span>
                    </div>
                    <div class="line-height" style="line-height: 34px;">
                        <span style="color: #C5C8CE; font-size: 12px;">
                            Status
                        </span>
                        <span style="float: right;">
                            <span style="     float: right;
                            font-size: 10px;
                            text-transform: uppercase;
                            margin-bottom: 8px;
                            background-color: black;
                            color: #ffffff;
                            font-weight: 700;line-height: normal;
                            padding: 4px 8px;
                            border-radius: 8px;" [ngClass]="{ 
                                'bg-success': _PageConfig.ConfirmResponse.StatusCode == 'paymentstatus.success',
                                'bg-danger': _PageConfig.ConfirmResponse.StatusCode != 'paymentstatus.success' }">
                                {{_PageConfig.ConfirmResponse.StatusName || "--"}}
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            <ion-row>
                <ion-col>
                    <button (click)="CloseBox()" style="text-align: center;
                    padding: 14px 8px;
                    border-radius: 4px;
                    background-color: #efefef; width: 100%;
                    font-weight: 500;" *ngIf="!_HelperService.AppConfig.IsProcessing">
                        Close
                    </button>
                    <button disabled readonly style="text-align: center;
                    padding: 14px 8px;
                    border-radius: 4px;
                    background-color: #efefef; width: 100%;
                    " *ngIf="_HelperService.AppConfig.IsProcessing">
                        Please wait...
                    </button>

                </ion-col>
            </ion-row>


        </div>

    </div>

</ion-content>