<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text=""> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
  <div class="hcx-page-header">
    <div class="hcx-page-header-title text-center">
      Buy Now, Pay Later
    </div>
  </div>
  <div class="hcx-page-body hcx-page-body-white">
    <div class="hcx-page-item hcx-page-item-top">
      <div class="hcx-page-item-body">
        <div class="hcx-bnpl-promo">
          <div class="hcx-bnpl-promo-header">
            <div class="img">
              <img src="../../../../../assets/images/bnpl/shoppingbag.png">
            </div>
            <div class="title">
              Shop with us and
            </div>
            <div class="subtitle">
              Split your next purchase in 4
            </div>
          </div>
          <div class="hcx-bnpl-promo-body">
            <div>
              <div class="hcx-bnpl-promo-body-item">
                <div class="hcx-bnpl-promo-body-image">
                  <img src="../../../../../assets/images/bnpl/merchant.png">
                </div>
                <div class="hcx-bnpl-promo-body-title">
                  Explore and select merchant
                </div>
              </div>
              <div class="hcx-bnpl-promo-body-border"></div>
              <div class="hcx-bnpl-promo-body-item">
                <div class="hcx-bnpl-promo-body-image">
                  <img src="../../../../../assets/images/bnpl/creditlimit.png">
                </div>
                <div class="hcx-bnpl-promo-body-title">
                  Know your Pre-approved Credit Limit
                </div>
              </div>
              <div class="hcx-bnpl-promo-body-border"></div>
              <div class="hcx-bnpl-promo-body-item">
                <div class="hcx-bnpl-promo-body-image">
                  <img src="../../../../../assets/images/bnpl/bag.png">
                </div>
                <div class="hcx-bnpl-promo-body-title">
                  Shop with Pre-approved credit
                </div>
              </div>
              <div class="hcx-bnpl-promo-body-border"></div>

              <div class="hcx-bnpl-promo-body-item">
                <div class="hcx-bnpl-promo-body-image">
                  <img src="../../../../../assets/images/bnpl/repay.png">
                </div>
                <div class="hcx-bnpl-promo-body-title">
                  Pay in easy auto-repayments
                </div>
              </div>
            </div>
          </div>
          <div class="m-t">
            <button type="button" (click)="NavBnpl()" class="m-b hcx-bnpl-promo-explore">Explore available
              Merchants</button>
          </div>
          <div>
            <button type="button" (click)="monoInstance.open()" class="m-b  hcx-bnpl-promo-crcheck">Check my credit
              limit</button>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hcx-page-footer">
    Made with love
    <i class="lni lni-heart-filled hcx-page-footer-i"></i>

  </div>
</ion-content>