<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" page-white-titlebar">
    <ion-toolbar class="page-white-titlebar">
        <img src="../../../assets/icon/tucwhite.png" class="page-white-header-logo">
    </ion-toolbar>
</ion-header>
<ion-content class="page-white" forceOverscroll="false">
    <div class="page-white-header">
        <div class="page-white-header-content">
            <i class="las la-qrcode page-white-header-icon "></i>
            <div class="page-white-header-title">TUC Pay</div>
            <div class="page-white-header-subtitle">Pay your merchant bill </div>
        </div>
    </div>
    <div class="page-white-body">
        <div text-center>
            <img src="{{_MerchantDetails.IconUrl}}" style="    background-color: #f6f6f6;
            border-radius: 100%;
            border: 2px solid rgba(164, 47, 128, 0.5);
            width: 90px;
            height: 90px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 16px;
            margin-bottom: 16px;">

        </div>
        <div style="    text-align: center;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 24px;">
            {{_MerchantDetails.DisplayName}}
        </div>
        <div class="text-center">
            <ion-label class="input-label">Enter Payment Amount
            </ion-label>
            <ion-input class=" input input-lg" autofocus="true" [(ngModel)]="_MerchantDetails.RedeemAmount"
                placeholder="0" maxlength="10" type="tel">
            </ion-input>
        </div>
    </div>
</ion-content>
<div class="tuc-footer">
    <button class="cancel " (click)="ProcessOnline_Cancel()">
        Cancel
    </button>
    <button class="approve" (click)="OpenPaymentModal()">
        Pay <span *ngIf="_MerchantDetails.RedeemAmount != undefined && _MerchantDetails.RedeemAmount > 0"><span
                class="list-amount-currency"><span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
            {{_MerchantDetails.RedeemAmount}}</span>
    </button>
</div>

<!-- <ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Redeem Points
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ngOnInit()">
                <i slot="start" class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-app">
    <div class="page-header " text-center>
        <img src="{{_MerchantDetails.IconUrl}}" class="page-header-img">
        <div>
            <div class="page-header-subtitle">Payment to </div>
            <div class="page-header-title">{{_MerchantDetails.DisplayName}}</div>
        </div>
    </div>
    <div class="container p-t-0">
        <div margin>
            <ion-grid no-padding>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <div style="    padding: 8px 10px;
                        background-color: #f7f7f7;
                        border-radius: 6px;">
                            <span style="    padding: 8px 10px;
                            background-color: #f7f7f7;
                            border-radius: 6px;">
                                Your ThankUCash wallet balance : <span style="font-weight: 700;"> <span
                                        class="list-amount-currency"><span  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                                    {{_MerchantDetails.AccountBalance | number: "1.2-2"}}</span>
                            </span>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Enter Payment Amount
                        </ion-label>
                        <ion-input class="f-s-content input" placeholder="Enter amount " type="tel" max-length="10"
                            [(ngModel)]="_MerchantDetails.RedeemAmount">
                        </ion-input>
                        
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Enter Redeem Pin
                        </ion-label>
                        <ion-input class="f-s-content input" placeholder="Enter redeem pin " type="tel" max-length="4"
                            [(ngModel)]="_MerchantDetails.Pin">
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>


            <div padding-top padding-bottom *ngIf="!_HelperService.AppConfig.IsProcessing">
                <ion-button expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                    (click)="ConfirmRedeem()">
                    Pay
                </ion-button>
            </div>
            <div padding-top padding-bottom *ngIf="_HelperService.AppConfig.IsProcessing">
                <ion-button expand="full" disabled readonly color="primary" shape="round" size="medium"
                    class="r-2x f-s-n no-shadow">
                    Please wait...
                </ion-button>
            </div>

            <div padding-top padding-bottom *ngIf="!_HelperService.AppConfig.IsProcessing"
                style="    text-align: center;">
                <button type="button" (click)="ProcessOnline_Cancel()" style="    padding: 8px 10px;
                border-radius: 4px;">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</ion-content> -->