<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text=""> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header">
        <div class="hcx-page-header-title">
            {{ _HelperService._AppConfigurations.Referral.Title || "Refer Your Friends & Earn"}}
        </div>
        <!-- <div class="hcx-page-header-body">
            About the thankucash application for the app.
        </div> -->
    </div>
    <div class="hcx-page-body bg-white text-center">
        <div style=" margin-top: 30px;  ">
            <img src="../../../assets/images/giphy.gif" width="280">
        </div>
        <div style="margin-left: 20px; margin-right: 20px;
        font-size: 18px;
        font-weight: 500;    margin-bottom: 28px; ">
            {{ _HelperService._AppConfigurations.Referral.Description || "Earn upto 5% when your friend earns each
            time with
            ThankUCash"}}

        </div>

        <div style="position: relative;
            border: 2px solid #ffe8fa;
            padding: 16px;
            margin-bottom: 8px;
            margin-left: 10%;
            margin-right: 10%;
            background-color: #fef6ff;
            border-radius: 4px;">
            <div style="margin-bottom: 8px;color: #9D9D9D;">
                Your Referral Code
            </div>
            <div style="
        font-size: 24px;    
        font-weight: 500;">
                {{_HelperService.AccountInfo.UserAccount.ReferralCode}}
            </div>
        </div>
        <div style="margin-bottom: 4px;color: #9D9D9D; text-align: center;margin-bottom: 26px;"
            (click)="OpenEditModal()">
            <i class="lab la-edit"></i> edit referral code
        </div>
        <div style="margin-bottom: 4px;color: #9D9D9D; text-align: center;">
            Share your referral code
        </div>
        <div style="font-size:34px;text-align: center;">
            <a style="padding-right: 8px;" (click)="Share('wa')"><i class="lab la-whatsapp"
                    style="color:#2BB826 "></i></a>
            <a style="padding-right: 8px;" (click)="Share('fb')">
                <i class="lab la-facebook-messenger" style="color:#0084FF "></i>
            </a>
            <a style="padding-right: 8px;" (click)="Share('sms')" style="color:#F9D450 ">
                <i class="las la-sms"></i>
            </a>
            <a style="padding-right: 8px;" (click)="Share('other')">
                <i class="las la-braille"></i>
            </a>
        </div>
    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>

    </div>
</ion-content>

<!-- <ion-content style="    --background: #ffffff;">
    <div class="page-header " style=" background-color: #ffffff; padding:0px !important ; height: 200px !important; background-image: url('../../../assets/images/bggrad.png');    background-size: contain;
    background-repeat: repeat-x;min-height: 200px !important;   padding-top: 8px !important;  " text-center>
        <div>
            <h1 class="page-header-title-lg-b" style="    font-size: 28px;
            font-weight: 700;
            margin-bottom: 8px;
            text-align: center;
            margin-top: 60px;
            color: #ffffff;
            margin-right: 18%;
            margin-left: 18%;">
                {{ _HelperService._AppConfigurations.Referral.Title || "Refer Your Friends & Earn"}}
            </h1>

        </div>
    </div>
    <div class="container " style="overflow: auto;
    padding-bottom: 30px;
    margin-top: -28px;padding-top: 0px;
    box-shadow: none;">
        <div style="text-align: center;
        font-size: 140px;
        color: #9a1c7d;">
            <img src="../../../assets/images/giphy.gif" width="300">
        </div>
        <div style="     margin-left: 10%;
        margin-right: 10%;
        margin-top: -70px;">
            <div style="       margin-bottom: 4px;
            font-size: 18px;
            font-weight: 500;    margin-bottom: 28px;
            text-align: center;">
                {{ _HelperService._AppConfigurations.Referral.Description || "Earn upto 5% when your friend earns each
                time with
                ThankUCash"}}

            </div>
            <div style="text-align: center;">
                <div style="    position: relative;
                border: 2px dotted #fdb3ed;
                padding: 16px;
                margin-bottom: 8px;
                margin-left: 10%;
                margin-right: 10%;
                border-radius: 2px;
                background-color: #fef6ff;">
                    <div style="margin-bottom: 4px;color: #9D9D9D;">
                        Your Referral Code
                    </div>
                    <div style="
            font-size: 24px;    
            font-weight: 500;">
                        {{_HelperService.AccountInfo.UserAccount.ReferralCode}}
                    </div>
                </div>
                <div style="margin-bottom: 4px;color: #9D9D9D; text-align: center;margin-bottom: 26px;"
                    (click)="OpenEditModal()">
                    <i class="lab la-edit"></i> edit referral code
                </div>
            </div>
            <div style="margin-bottom: 4px;color: #9D9D9D; text-align: center;">
                Share your referral code
            </div>
            <div style="font-size:34px;text-align: center;">
                <a style="padding-right: 8px;" (click)="Share('wa')"><i class="lab la-whatsapp"
                        style="color:#2BB826 "></i></a>
                <a style="padding-right: 8px;" (click)="Share('fb')">
                    <i class="lab la-facebook-messenger" style="color:#0084FF "></i>
                </a>
                <a style="padding-right: 8px;" (click)="Share('sms')" style="color:#F9D450 ">
                    <i class="las la-sms"></i>
                </a>
                <a style="padding-right: 8px;" (click)="Share('other')">
                    <i class="las la-braille"></i>
                </a>
            </div>
        </div>
    </div>
</ion-content>
<div class="tuc-card" style="box-shadow: none;
background-color: #ffffff;
margin: 0px;
padding: 0px;
padding-left: 0px;
padding-bottom: 0px;
padding-right: 0px;">
    <div class="tuc-card-body">
        <div>
            <div>
                <ion-button expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                    style="--margin:0px !important; margin:0px !important; --border-radius: 0px !important;"
                    (click)="ModalDismiss()">
                    Close
                </ion-button>
            </div>
        </div>
    </div>
</div> -->