<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="ModalDismiss('noaction')" class="hcx-page-titlebar-btn-modal">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header">
        <div class="hcx-page-header-title text-center">
            Receive Payment
        </div>
        <div class="hcx-page-header-body text-center">
            Scan your unique QR code below to receive payment
        </div>
    </div>
    <div class="hcx-page-body  bg-white">
        <div style="text-align: center;"
            *ngIf="_HelperService.AccountInfo.UserAccount.AccountKey != undefined && _HelperService.AccountInfo.UserAccount.AccountKey != null  && _HelperService.AccountInfo.UserAccount.AccountKey != ''">
            <div>
                <qrcode [qrdata]="_HelperService.AccountInfo.UserAccount.AccountKey" [width]="300"
                    [errorCorrectionLevel]="'M'"></qrcode>
            </div>
        </div>
    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>

    </div>
</ion-content>