<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class="appdb-titlebar">
    <ion-toolbar class="appdb-titlebar appdb-titlebar-container">
        <span class="btn" (click)="NavOpenQR()">
            <i class=" las la-qrcode"></i>
        </span>
        <span class="btn" (click)="_HelperService.NavNotification()">
            <i class=" las la-bell"></i>
        </span>
        <img [src]="_HelperService.AccountInfo.UserAccount.IconUrl" (click)="NavProfile()" class="profileimg">
        <div class="loctitle" (click)="_HelperService.NavLocationManager()">
            Your Location
        </div>
        <div class="loc" (click)="_HelperService.NavLocationManager()">
            <span>{{ UserCustomAddress.CityName || "Set Address" }}</span>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-body ">
        <div class="hcx-page-item  hcx-page-item-top">
            <div class="hcx-page-item-body">
                <div style="background-color: #ffffff; margin-bottom: 8px;">
                    <div class="tuc-card-i-header" margin style="margin-bottom: 8px;">
                        <div style="float: right;
                                font-weight: 500;
                                font-size: 26px;     padding-bottom: 4px;">
                            <span class="list-amount-currency"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                            {{_DataService._OBalance.Credit| number: "1.2-2" || "--" }}
                        </div>
                        <div
                            style="color: #32353E;font-size: 18px;font-weight:bold ; text-transform: capitalize;padding-bottom: 6px;">
                            Hello {{_DataService._OBalance.AccountClass}} Member
                        </div>

                        <div style="color: #7987A1;font-size: 12px;">
                            Total rewards earned till now
                        </div>
                        <!-- <div style="    margin-top: 6px;font-size: 12px;color: #7987A1;
                                font-weight: 500;">
                                    Spend <span style="    font-weight: 600;
                                color: #a33080;
                                font-size: 16px;">
                                        <span class="list-amount-currency"><span  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                                        {{_DataService._OBalance.AccountClassLimit | number: "1.2-2"}}
                                    </span> more to reach next level.
                                </div> -->
                    </div>



                </div>
                <ion-slides class="animated fadeIn " autoplay="5000" loop="true" speed="500" pager>
                    <ion-slide>
                        <div class="tuc-balancecard" style="    margin-bottom: 4px;" [ngClass]="{ 
                'tuc-balancecard-purple': _DataService._OBalance.AccountClass == 'purple', 
                'tuc-balancecard-bronze': _DataService._OBalance.AccountClass == 'bronze',
                'tuc-balancecard-silver': _DataService._OBalance.AccountClass == 'silver',
                'tuc-balancecard-gold': _DataService._OBalance.AccountClass == 'gold',
                'tuc-balancecard-diamond': _DataService._OBalance.AccountClass == 'diamond',
                'tuc-balancecard-platinum': _DataService._OBalance.AccountClass == 'platinum',
                'tuc-balancecard-platinumplus': _DataService._OBalance.AccountClass == 'platinumplus' }">
                            <div>
                                <div style="margin-bottom: 14px; font-weight: 500;">
                                    <div>
                                        <div>
                                            <span
                                                style="text-transform: uppercase;font-weight: 600;">{{_DataService._OBalance.AccountClass}}
                                                Class</span>
                                            <img class="tuc-balancecard-logo" src="../../../assets/icon/thankulogo.svg">
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-bottom: 0px;">Available Balance


                                </div>
                                <div style="margin-bottom: 6px;">
                                    <div style="    font-weight: 600;
                            font-size: 28px;">
                                        <span class="db-currency"
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                        {{_DataService._OBalance.Balance| number: "1.2-2" || "--" }}
                                    </div>
                                    <div style="margin-bottom: 12px;">
                                        <span
                                            style="   font-size: 10px;  padding-right: 0px; letter-spacing: 0px; font-weight: 500;margin-top: 3px;">
                                            <span>{{_DataService.tucremainingtime}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div>Card Id
                                    <span
                                        *ngIf="_DataService._OBalance.PendingReward != undefined  && _DataService._OBalance.PendingReward != null  && _DataService._OBalance.PendingReward > 0"
                                        (click)="NavPoints()" class="float-right">Pending Rewards
                                        <i class="las la-question-circle"></i>
                                    </span>
                                </div>
                                <div style=" font-size: 18px;
                        padding-right: 3px;
                        letter-spacing: 2px;
                        font-weight: 700;">
                                    <span>{{tItem}}</span>
                                    <span
                                        *ngIf="_DataService._OBalance.PendingReward != undefined  && _DataService._OBalance.PendingReward != null  && _DataService._OBalance.PendingReward > 0"
                                        (click)="NavPoints()" class="float-right" style="    letter-spacing: normal;">
                                        <span class="db-currency" style="        font-size: 12px;
                                font-weight: 700;" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                        {{_DataService._OBalance.PendingReward | number: "1.2-2" || "--" }}</span>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide
                        *ngFor="let LItem of BalanceHistory_Data.Data; let index=index; let odd=odd; let even=even;">
                        <div class="tuc-balancecard  ">
                            <div>
                                <div style="margin-bottom: 20px; font-weight: 500;">
                                    <div>
                                        <div>
                                            <span> {{LItem.SourceName}} Balance</span>

                                            <img class="tuc-balancecard-logo" src="../../../assets/icon/thankulogo.svg">
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-bottom: 16px;">
                                    <div style="font-weight: 500; font-size: 32px;">
                                        <span class="db-currency"
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                        {{LItem.Balance| number: "1.2-2" || "--" }}
                                    </div>
                                    <div style="margin-bottom: 12px;"> Balance

                                    </div>
                                </div>
                                <div style="font-size: 13px;
                        padding-right: 3px;
                        font-weight: 700;
                        margin-bottom : 6px;
                        margin-right: 6px;">Merchant</div>

                                <div>
                                    <img *ngIf="LItem.ParentIconUrl != undefined && LItem.ParentIconUrl != null && LItem.ParentIconUrl != ''"
                                        src="{{LItem.ParentIconUrl}}" style="    width: 24px;
                                    float: left;
                                    position: absolute;
                                    height: 24px;
                                    border-radius: 4px;">
                                    <img *ngIf="LItem.ParentIconUrl == undefined || LItem.ParentIconUrl == null || LItem.ParentIconUrl == ''"
                                        src="../../../assets/icon/tucicon.png" style="    width: 24px;
                                       float: left;
                                       position: absolute;
                                       height: 24px;
                                       border-radius: 4px;">
                                    <div style="margin-left: 33px;">
                                        <div>{{LItem.ParentDisplayName}}</div>
                                    </div>
                                </div>
                                <!-- <div style="font-size: 13px;
                                    padding-right: 3px;
                                    font-weight: 700;
                                    margin-right: 6px;">Account ID</div> -->
                                <!-- <div>
                            <span>
                                <span style=" font-size: 18px;
                    padding-right: 3px;
                    letter-spacing: 4px;
                    font-weight: 700;">{{BuildCardNumber(LItem.UserAccountMobileNumber)}}</span>
                            </span>
                        </div> -->
                            </div>
                        </div>
                    </ion-slide>
                </ion-slides>
            </div>
        </div>
        <!-- <ion-progress-bar [value]="_DataService._OBalance.AccountClassPercentageBar"
                    [buffer]="_DataService._OBalance.AccountClassPercentageBar"></ion-progress-bar> -->
        <!-- <div class="tuc-card">
            <div class="tuc-card-header text-primary">
                TUC Milestones
            </div>
            <div class="scrolling-wrapper">
                <div class="scrolling-item" (click)="OpenClassDetails(TItem)"
                    *ngFor="let TItem of _AppConfigurations.TucMileStones" text-center>
                    <div class="item-payments item-shadow item-cat">
                        <div *ngIf="TItem.SystemName == 'purple'" style="font-size: 40px;color: #8C1BAB;;">
                            <i class="las la-certificate"></i>
                        </div>
                        <div *ngIf="TItem.SystemName == 'bronze'" style="font-size: 40px;color: #b08d57;;">
                            <i class="las la-certificate"></i>
                        </div>
                        <div *ngIf="TItem.SystemName == 'silver'" style="font-size: 40px;color: #C0C0C0;">
                            <i class="las la-certificate"></i>
                        </div>
                        <div *ngIf="TItem.SystemName == 'gold'" style="font-size: 40px;color: #FFD700;">
                            <i class="las la-certificate"></i>
                        </div>
                        <div *ngIf="TItem.SystemName == 'diamond'" style="font-size: 40px;color: #b9f2ff;">
                            <i class="las la-certificate"></i>
                        </div>
                        <div *ngIf="TItem.SystemName == 'platinum'" style="font-size: 40px;color: #e5e4e2;">
                            <i class="las la-certificate"></i>
                        </div>
                        <div *ngIf="TItem.SystemName == 'platinumplus'" style="font-size: 40px;color: #dad8d5;">
                            <i class="las la-certificate"></i>
                        </div>
                        <div style="font-weight: 500;font-size:12px;"> {{TItem.Title}} </div>
                    </div>
                </div>
            </div>
            <div class="tuc-card-footer text-primary">
                tap on class to know more <i class="las la-chevron-circle-right tuc-card-footer-icon"></i>
            </div>
        </div> -->


        <div class="scrolling-wrapper" style="    margin: 16px;
        border-radius: 8px;
        margin-left: 0px;
        margin-right: 0px;
        background-color: #ffffff;
        ">
            <div class="tuc-card-i-header" margin style="margin-bottom: 4px;">Your Earning History
            </div>
            <!-- <div class="scrolling-item" text-center style="width: 25%;" >
            <div class="item-payments item-shadow item-cat" text-center style="width: 100%;background-color: #ffffff;"
                (click)="SourceChange('loyalty')">
                <div>
                    <div style="font-size: 28px;color: #B11A83;;">
                        <i class="las la-wallet"></i>
                    </div>
                    <div style="font-weight: 500;font-size:11px;">Purchase</div>
                </div>
            </div>
        </div> -->
            <div class="scrolling-item" text-center style="width: 33%;">
                <div class="item-payments item-shadow item-cat" text-center
                    style="width: 100%;background-color: #ffffff;" (click)="SourceChange('reward')">
                    <div>
                        <!-- <div style="font-size: 28px;color: #4caf50;;">
                            <i class="las la-arrow-alt-circle-up"></i>
                        </div> -->
                        <div style="font-weight: 500;font-size:13px;">Rewards</div>
                    </div>
                </div>
            </div>
            <div class="scrolling-item" text-center style="width: 33%;">
                <div class="item-payments item-shadow item-cat" text-center
                    style="width: 100%;background-color: #ffffff;" (click)="SourceChange('redeem')">
                    <div>
                        <!-- <div style="font-size: 28px;color: #e91e63;">
                            <i class="las la-arrow-alt-circle-down"></i>
                        </div> -->
                        <div style="font-weight: 500;font-size:13px;">Redeem</div>
                    </div>
                </div>
            </div>
            <div class="scrolling-item" text-center style="width: 33%;">
                <div class="item-payments item-shadow item-cat" text-center
                    style="width: 100%;background-color: #ffffff;" (click)="SourceChange('pending')">
                    <div>
                        <!-- <div style="font-size: 28px;color: #ff9800;;">
                            <i class="las la-info-circle"></i>
                        </div> -->
                        <div style="font-weight: 500;font-size:13px;">Pending Rewards</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div *ngIf="TranList_Data.TotalRecords == -1" text-center class="nolist-item">
                <div class="nolist-icon-item">
                    <ion-spinner color="primary" name="dots"></ion-spinner>
                </div>
                <div class="nolist-subtitle">
                    Loading your rewards history
                </div>
                <div class="nolist-content">
                    Your rewards history will appear hear
                </div>
            </div>
            <div *ngIf="TranList_Data.TotalRecords == 0" text-center class="nolist-item">
                <div class="nolist-icon-item">
                    <ion-icon ios="md-list" md="md-list">
                    </ion-icon>
                </div>
                <div class="nolist-title">
                    Its Empty Here
                </div>
                <div class="nolist-subtitle">
                    No rewards yet
                </div>
                <div class="nolist-content">
                    Your rewards and redeem history will appear here
                </div>
            </div>
            <div>
                <div (click)="TranList_RowSelected(Item)" style="    background-color: #ffffff;
                    border-radius: 8px;
                    margin-bottom: 16px;
                    margin-left: 16px;
                    margin-right: 16px;
                    padding: 12px;"
                    *ngFor="let Item of TranList_Data.Data; let index=index; let odd=odd; let even=even;">
                    <!-- <img class="box-container-img-left" [src]="Item.MerchantIconUrl"> -->

                    <!-- <div *ngIf="Item.ModeCode == 'transaction.mode.credit'">
                             

                            </div> -->
                    <!-- <div  *ngIf="Item.ModeCode == 'transaction.mode.debit'">
                           <div class=" text-success text-capitalize " style="     font-size: 10px;">
                                {{Item.TypeCategoryName}}
                            </div>
                            <div> <span class="list-amount-currency"><span  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                                {{Item.TotalAmount | number: "1.2-2"}}
                            </div>
                          <div>
                                <span class="text-danger " *ngIf="Item.ModeCode == 'transaction.mode.debit'"
                                    style="   font-size: 10px;">
                                    {{Item.TypeCategoryName }}
                                </span>
                            </div> 
                        </div> -->
                    <div>
                        <div *ngIf="TranList_Data.Source == 'reward'" style="margin-bottom:6px">
                            <span style="color: #5A6780;">
                                <i class="lar la-circle" style="color: green;"></i> Rewarded at
                            </span>
                            <div class="" style="color: #32353E;font-size: 14px;font-weight: 500; float: right;">
                                <i class="lni lni-gift" style="color :#B11A83;padding-right: 2px;"></i>
                                <span class="list-amount-currency" style="font-size: 14px;"><span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                                {{Item.TotalAmount | number: "1.2-2"}}
                            </div>
                        </div>
                        <div *ngIf="TranList_Data.Source == 'redeem'" style="margin-bottom:6px">
                            <span style="color: #5A6780;">
                                <i class="lar la-circle" style="color: green;"></i> Redeemed at
                            </span>
                            <div class="" style="color: #32353E;font-size: 14px;font-weight: 500; float: right;">
                                <span class="list-amount-currency" style="font-size: 14px;"><span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                                {{Item.TotalAmount | number: "1.2-2"}}
                            </div>
                        </div>
                        <div *ngIf="TranList_Data.Source == 'pending'" style="margin-bottom:6px">
                            <span style="color: #5A6780;">
                                <i class="lar la-circle" style="color: red;"></i> Reward pending at
                            </span>
                            <div class=""
                                style="color: #32353E;font-size: 14px;font-weight: 500; float: right; color: #7987A1; ">
                                <span class="list-amount-currency" style="font-size: 14px;"><span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                                {{Item.TotalAmount | number: "1.2-2"}}
                            </div>
                        </div>
                        <div style="color: #32353E; font-weight: 500;padding-bottom: 6px; font-size: 14px;">
                            {{Item.MerchantName}}
                        </div>
                        <!-- <div >
                        {{Item.TypeName}}
                    </div> -->
                        <div style="color: #7987A1; font-size: 12px;">
                            <i class=" las la-clock"></i> {{Item.TransactionDate}}
                        </div>
                    </div>
                </div>
                <!-- <div class="box-container" (click)="TranList_RowSelected(Item)"
                    *ngFor="let Item of TranList_Data.Data; let index=index; let odd=odd; let even=even;">
                    <img class="box-container-img-left" [src]="Item.MerchantIconUrl">
                    <div>
                        <div class="box-container-right">
                            <div class=" text-success" *ngIf="Item.ModeCode == 'transaction.mode.credit'">
                                <div class="">
                                    <span class="list-amount-currency"><span  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                                    {{Item.TotalAmount | number: "1.2-2"}}
                                </div>
                                <div class=" text-success text-capitalize " style="     font-size: 10px;">
                                    {{Item.TypeCategoryName}}
                                </div>
                            </div>
                            <div class=" text-danger" *ngIf="Item.ModeCode == 'transaction.mode.debit'">
                                <div> <span class="list-amount-currency"><span  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                                    {{Item.TotalAmount | number: "1.2-2"}}
                                </div>
                                <div>
                                    <span class="text-danger " *ngIf="Item.ModeCode == 'transaction.mode.debit'"
                                        style="   font-size: 10px;">
                                        {{Item.TypeCategoryName }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="box-container-title">
                            {{Item.MerchantName}}
                        </div>
                        <div class="box-container-subtitle ">
                            {{Item.TypeName}}
                        </div>
                        <div class="box-container-subtitle">
                            <i class=" las la-clock"></i> {{Item.TransactionDate}}
                        </div>
                    </div>
                </div> -->
                <!-- <div (click)="TranList_DetailsModal(TItem)" *ngFor="let TItem of TranList_Data.Data" class="list-item">
                    <div
                    *ngIf="TItem.MerchantIconUrl == undefined || TItem.MerchantIconUrl == null || TItem.MerchantIconUrl == ''">
                    <img src="../../../assets/images/upurple.png" class="list-item-image">
                </div>
                <div
                    *ngIf="TItem.MerchantIconUrl != undefined && TItem.MerchantIconUrl != null &&  TItem.MerchantIconUrl != ''">
                    <img src="{{TItem.MerchantIconUrl}}" class="list-item-image">
                </div>
                    <div>
                        <div class="list-item-title">
                            {{TItem.MerchantName}}
                        </div>
                        <div class="list-amount">
                            <span class=" text-success" *ngIf="TItem.ModeCode == 'transaction.mode.credit'">
                                <span class="list-amount-currency"><span  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{TItem.TotalAmount | number: "1.2-2"}}
                                <span  style="font-size: 10px;
                                color: #989898;">
                                    {{TItem.TypeName}}
                                </span>
                            </span>
                            <span class="text-danger" *ngIf="TItem.ModeCode == 'transaction.mode.debit'">
                                <span class="list-amount-currency"><span  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{TItem.TotalAmount | number: "1.2-2"}}
                                <span  style="font-size: 10px;
                                color: #989898;">
                                    {{TItem.TypeName}}
                                </span>
                            </span>
                          
                            <span class=" text-success float-right" *ngIf="TItem.ModeCode == 'transaction.mode.credit'" style="    text-transform: lowercase;
                            font-size: 10px;
                            border-radius: 10px;
                            border: 1px solid #008c48;
                            line-height: normal;
                            padding: 2px 6px;">
                                <i class="las la-chevron-circle-up"></i>
                                {{TItem.TypeCategoryName }}
                            </span>
                            <span class="text-danger float-right" *ngIf="TItem.ModeCode == 'transaction.mode.debit'" style="    text-transform: lowercase;
                            font-size: 10px;
                            border-radius: 10px;
                            border: 1px solid #e9223f;
                            line-height: normal;
                            padding: 2px 6px;">
                                <i class="las la-chevron-circle-down"></i>
                                {{TItem.TypeCategoryName }}
                            </span>
                        </div>
                        <div class="list-item-content">
                            <i class=" las la-clock"></i> {{TItem.TransactionDate}}
                           
                        </div> 
                    </div>
                </div> -->
                <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="TranList_NextLoad($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Please wait...">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </div>
        </div>
    </div>

</ion-content>
<div class="footer-container">
    <div class="footer-item text-primary" (click)="_HelperService.NavDashboard()">
        <div class="footer-item-icon">
            <i class="lni lni-home"></i>
        </div>
        <div class="footer-item-text">Home</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavDashboardStores()">
        <div class="footer-item-icon">
            <i class="lni lni-cart"></i>
        </div>
        <div class="footer-item-text">Stores</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavDashboardTucPay()">
        <div class="footer-item-icon">
            <div class="footer-scanner">
                <i class=" las la-qrcode"></i>
            </div>
        </div>
        <div class="footer-item-text">Scan To Pay</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavDashboardDeals()">
        <div class="footer-item-icon">
            <i class="lni lni-shopping-basket"></i>
        </div>
        <div class="footer-item-text">Deals</div>
    </div>
    <div class="footer-item" (click)="_HelperService.NavDashboardMore()">
        <div class="footer-item-icon">
            <i class="las la-user-circle"></i>
        </div>
        <div class="footer-item-text">Account</div>
    </div>
</div>
<!-- 
<div class="footer-container">
    <div class="footer-item " (click)="NavDashboard()">
        <div class="footer-item-icon">
            <i class="lni lni-home"></i>
        </div>
        <div class="footer-item-text">Home</div>
    </div>
    <div class="footer-item " (click)="NavStores()">
        <div class="footer-item-icon">
            <i class="lni lni-map-marker"></i>
        </div>
        <div class="footer-item-text">Nearby</div>
    </div>
    <div class="footer-item  " (click)="NavDealerLocations()">
        <div class="footer-item-icon">
            <i class="lni lni-shopping-basket"></i>
        </div>
        <div class="footer-item-text">Buy Online</div>
    </div>
    <div class="footer-item text-primary" (click)="NavPoints()">
        <div class="footer-item-icon">
            <i class="lni lni-gift"></i>
        </div>
        <div class="footer-item-text ">Rewards</div>
    </div>
    <div class="footer-item" (click)="NavMore()">
        <div class="footer-item-icon">
            <i class="las la-user-circle"></i>
        </div>
        <div class="footer-item-text">Account</div>
    </div>
</div> -->