<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar hcx-page-titlebar-transparent">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text=""> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header dealdetailsheader" [style.background-image]="'url(' + StoreInfo.ImageUrl + ')'">
        <div class="gradient dd-overlay">
            <div style="text-align: center;
            font-weight: 600;
            font-size: 34px;"> Checkout</div>
        </div>
    </div>
    <div class="hcx-page-body dealdetailsbody">
        <div class="hcx-page-item hcx-page-item-top">
            <div class="hcx-page-item-title" [innerHtml]="StoreInfo.Title" style="font-size: 16px">
            </div>
            <div class="hcx-page-item-body" style="padding-top: 8px;">
                <div class="dd-pricing" style="margin-bottom: 16px;">
                    <span class="sellingprice"><span class="currency"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{StoreInfo.SellingPrice |
                        number: "1.0-1" || "--"}} </span>
                    <span *ngIf="StoreInfo.SellingPrice < StoreInfo.ActualPrice">
                        <span class="actualprice"><span class="currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{StoreInfo.ActualPrice |
                            number: "1.0-1" || "--"}} </span>
                        <span class="discount"
                            *ngIf="StoreInfo.DiscountPercentage != undefined && StoreInfo.DiscountPercentage != null   && StoreInfo.DiscountPercentage > 0 ">{{StoreInfo.DiscountPercentage}}
                            % off</span>
                    </span>
                </div>
                <div class="hcx-page-item-body dd-storedeetails">
                    <img [src]="StoreInfo.AccountIconUrl" class="storeimage page-header-img">
                    <div>
                        <div class="storename">
                            {{StoreInfo.AccountDisplayName}}
                        </div>
                        <div class="storerating">
                            <span>
                                <i class="lni lni-star-filled" style="color: orange;"></i> {{StoreInfo.AccountRating}}
                            </span>
                            ( {{StoreInfo.AccountRatingCount}} ratings)
                        </div>
                        <div class="storelife">
                            <span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="StoreInfo.DealTypeCode  == _HelperService.AppConfig.DealTypeCode.ServiceDeal  ">
            <div class="hcx-page-item">
                <div class="hcx-page-item-title">
                    Redeem Location
                </div>
                <div class="hcx-page-item-body">
                    <div class="dd-storelocations"
                        *ngFor="let LItem of StoreInfo.Locations; let index=index; let odd=odd; let even=even;">
                        <div class="storename">
                            {{LItem.DisplayName}}
                        </div>
                        <div class="address">
                            {{LItem.Address}}
                        </div>
                        <div class="phone">
                            {{LItem.ContactNumber}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="hcx-page-item" *ngIf="!_HelperService.CheckIsLogin()">
                <div class="hcx-page-item-title">
                    Purchase Details
                </div>
                <div class="hcx-page-item-body">
                    <div>
                        <ion-label class="input-label"> Name <span class="text-danger">*</span>
                        </ion-label>
                        <ion-input class=" input" type="email" maxlength="128" [(ngModel)]="_ActiveAddress.Name">
                        </ion-input>
                    </div>
                    <div>
                        <ion-label class="input-label">Mobile Number <span class="text-danger">*</span>
                        </ion-label>
                        <ion-input class=" input" type="tel" maxlength="16" [(ngModel)]="_ActiveAddress.ContactNumber">
                        </ion-input>
                    </div>
                    <div>
                        <ion-label class="input-label">Email Address <span class="text-danger">*</span>
                        </ion-label>
                        <ion-input class=" input" type="email" maxlength="128"
                            [(ngModel)]="_ActiveAddress.EmailAddress">
                        </ion-input>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="StoreInfo.DealTypeCode  == _HelperService.AppConfig.DealTypeCode.ProductDeal">
            <div class="hcx-page-item">
                <div class="hcx-page-item-title">
                    Delivery Type
                </div>
                <div class="hcx-page-item-body">
                    <div style="    margin-bottom: 24px;">
                        <span class="dd-deltype"
                            *ngIf="(StoreInfo.DeliveryTypeCode  == _HelperService.AppConfig.DeliveryTypeCode.InStorePickUp
                        || StoreInfo.DeliveryTypeCode  == _HelperService.AppConfig.DeliveryTypeCode.InStoreAndDelivery) "
                            [ngClass]="{'dd-deltype dd-deltype-active'  : DealPurchaseType == 'instore','dd-deltype'  : DealPurchaseType != 'instore'}"
                            (click)="PurchaseTypeChange('instore')">Store Pickup </span>
                        <span class="dd-deltype"
                            *ngIf="(StoreInfo.DeliveryTypeCode  == _HelperService.AppConfig.DeliveryTypeCode.Delivery
                        || StoreInfo.DeliveryTypeCode  == _HelperService.AppConfig.DeliveryTypeCode.InStoreAndDelivery) "
                            [ngClass]="{'dd-deltype dd-deltype-active'  : DealPurchaseType == 'delivery','dd-deltype'  : DealPurchaseType != 'delivery'}"
                            (click)="PurchaseTypeChange('delivery')">Delivery</span>
                    </div>
                    <div *ngIf="DealPurchaseType == 'instore'">
                        <div class="m-b">
                            Pick up your order from merchant store at no cost
                        </div>
                        <div *ngIf="_HelperService.CheckIsLogin() == false">
                            <div>
                                <ion-label class="input-label"> Name <span class="text-danger">*</span>
                                </ion-label>
                                <ion-input class=" input" type="text" maxlength="128" [(ngModel)]="_ActiveAddress.Name">
                                </ion-input>
                            </div>
                            <div>
                                <ion-label class="input-label">Mobile Number <span class="text-danger">*</span>
                                </ion-label>
                                <ion-input class=" input" type="tel" maxlength="16"
                                    [(ngModel)]="_ActiveAddress.ContactNumber">
                                </ion-input>
                            </div>
                            <div>
                                <ion-label class="input-label">Email Address <span class="text-danger">*</span>
                                </ion-label>
                                <ion-input class=" input" type="email" maxlength="128"
                                    [(ngModel)]="_ActiveAddress.EmailAddress">
                                </ion-input>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="DealPurchaseType == 'delivery'">
                        <div *ngIf="_HelperService.CheckIsLogin() == true">
                            <div style="padding: 16px 12px;
                            background-color: #f7f7f7;
                            border-radius: 6px;
                            margin-bottom: 16px;">
                                <div style="margin-bottom: 4px;">
                                    Delivery at
                                </div>
                                <div class="hcx-list-title">
                                    {{_ActiveAddress.Name}}
                                </div>
                                <div class="hcx-list-subtitle">
                                    {{_ActiveAddress.ContactNumber}}
                                </div>
                                <div class="hcx-list-subtitle">
                                    {{_ActiveAddress.AddressLine1}}, {{_ActiveAddress.CityName}} ,
                                    {{_ActiveAddress.StateName}}
                                </div>
                            </div>

                            <button type="button" (click)="_HelperService.NavLocationManager();restrict_getpricing()" style="    border: 1px solid #c4c4c4;
                            background: #ffffff;
                            padding: 10px 8px;
                            border-radius: 4px;
                            font-size: 12px;">
                                Change / Add Address
                            </button>
                        </div>
                        <div *ngIf="_HelperService.CheckIsLogin() == false">
                            <div *ngIf="PricingStatus.ShowEditBox">
                                <div>
                                    <ion-label class="input-label"> Name <span class="text-danger">*</span>
                                    </ion-label>
                                    <ion-input class=" input" type="email" maxlength="128"
                                        [(ngModel)]="_ActiveAddress.Name">
                                    </ion-input>
                                </div>
                                <div>
                                    <ion-label class="input-label">Mobile Number <span class="text-danger">*</span>
                                    </ion-label>
                                    <ion-input class=" input" type="tel" maxlength="16"
                                        [(ngModel)]="_ActiveAddress.ContactNumber">
                                    </ion-input>
                                </div>
                                <div>
                                    <ion-label class="input-label">Email Address <span class="text-danger">*</span>
                                    </ion-label>
                                    <ion-input class=" input" type="email" maxlength="128"
                                        [(ngModel)]="_ActiveAddress.EmailAddress">
                                    </ion-input>
                                </div>
                                <div>
                                    <ion-label class="input-label">Address <span class="text-danger">*</span>
                                    </ion-label>
                                    <ion-input class=" input" type="email" maxlength="44"
                                        [(ngModel)]="_ActiveAddress.AddressLine1">
                                    </ion-input>
                                </div>
                                <ion-row>
                                    <ion-col>
                                        <ion-label class="input-label"> State <span class="text-danger">*</span>
                                        </ion-label>
                                        <ion-input class=" input" maxlength="128" type="text" readonly
                                            [(ngModel)]="_ActiveAddress.StateName" (click)="GetStates()">
                                        </ion-input>
                                    </ion-col>
                                    <ion-col>
                                        <ion-label class="input-label"> City <span class="text-danger">*</span>
                                        </ion-label>
                                        <ion-input class=" input" maxlength="128" type="text" readonly
                                            [(ngModel)]="_ActiveAddress.CityName" (click)="GetCities()">
                                        </ion-input>
                                    </ion-col>
                                </ion-row>
                                <button type="button" (click)="GetDeliveryPricing()" class="hcx-btn-primary "
                                    *ngIf="!_HelperService.IsFormProcessing">Save</button>
                                <button type="button" class="hcx-btn-light " *ngIf="_HelperService.IsFormProcessing">
                                    Please wait </button>
                            </div>
                            <div *ngIf="!PricingStatus.ShowEditBox">
                                <div style="padding: 16px 12px;
                                background-color: #f7f7f7;
                                border-radius: 6px;
                                margin-bottom: 16px;">
                                    <div style="margin-bottom: 4px;">
                                        Delivery at
                                    </div>
                                    <div class="hcx-list-title">
                                        {{_ActiveAddress.Name}}
                                    </div>
                                    <div class="hcx-list-subtitle">
                                        {{_ActiveAddress.ContactNumber}}
                                    </div>
                                    <div class="hcx-list-subtitle">
                                        {{_ActiveAddress.AddressLine1}}, {{_ActiveAddress.CityName}} ,
                                        {{_ActiveAddress.StateName}}
                                    </div>
                                </div>
                                <button type="button" (click)="ChangeCustomAddress()" style="    border: 1px solid #c4c4c4;
                                background: #ffffff;
                                padding: 10px 8px;
                                border-radius: 4px;
                                font-size: 12px;">
                                    Change / Add Address
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hcx-page-item" *ngIf="DealPurchaseType == 'instore'">
                <div class="hcx-page-item-title">
                    Pickup Locations
                </div>
                <div class="hcx-page-item-body">
                    <div class="dd-storelocations"
                        *ngFor="let LItem of StoreInfo.Locations; let index=index; let odd=odd; let even=even;">
                        <div class="storename">
                            {{LItem.DisplayName}}
                        </div>
                        <div class="address">
                            {{LItem.Address}}
                        </div>
                        <div class="phone">
                            {{LItem.ContactNumber}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="hcx-page-item"
                *ngIf="DealPurchaseType == 'delivery'   && (StoreInfo.DeliveryTypeCode  == _HelperService.AppConfig.DeliveryTypeCode.Delivery || StoreInfo.DeliveryTypeCode  == _HelperService.AppConfig.DeliveryTypeCode.InStoreAndDelivery) ">
                <div class="hcx-page-item-title">
                    Delivery Partner
                </div>
                <div class="hcx-page-item-body">
                    <div *ngIf="_Shipment.DeliveryPartners.length > 0">
                        <div (click)="ProviderChange(LItem)"
                            *ngFor="let LItem of _Shipment.DeliveryPartners; let index=index; let odd=odd; let even=even;"
                            style="margin-bottom: 20px;">
                            <img [src]="LItem.IconUrl" style="    float: left;
                            width: 50px;
                            height: 50px;
                            margin-right: 16px;
                            border-radius: 10px;">
                            <span class="hcx-listactivecheckbox"
                                *ngIf="_Shipment.DeliveryPartner !=undefined &&  LItem.ReferenceKey == _Shipment.DeliveryPartner.ReferenceKey">
                                <i class="lni lni-checkmark-circle"></i>
                            </span>
                            <div style="    font-size: 12px;
                            font-weight: 500;"> {{LItem.Name}}</div>
                            <div style="    font-size: 11px;
                            margin-bottom: 2px;">
                                Charges : <span class="currency"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                {{LItem.DeliveryCharge}}
                            </div>
                            <div style="    font-size: 11px;">
                                {{LItem.DeliveryTime}}
                            </div>
                        </div>
                    </div>
                    <div *ngIf="PricingStatus.IsPricingLoading ">
                        <div style="margin-bottom: 4px; text-align: center;">
                            Loading delivery partners
                        </div>
                        <div>
                            <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
                        </div>
                    </div>
                    <div *ngIf="!PricingStatus.IsPricingLoading && PricingStatus.PricingMessage != null    " style="text-align: center;font-weight: 500;
                    color: #d73008;
                    text-align: center;">
                        <div [innerHtml]="PricingStatus.PricingMessage"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hcx-page-item">
            <div class="hcx-page-item-title">
                Order Summary
            </div>
            <div class="hcx-page-item-body htmlp">
                <div class="hcx-split-item">
                    <span class="left">
                        <span class="name">Amount</span>
                    </span>
                    <span class="right value" style="color: green;">
                        <span class="currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                        {{PaymentInfo.PaymentDetails.Amount | number: "1.2-2" || "--"}}
                    </span>
                </div>
                <!-- <div class="hcx-split-item">
                    <span class="left">
                        <span class="name">Convenience Fee</span>
                    </span>
                    <span class="right value">
                        <span class="currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                        {{PaymentInfo.PaymentDetails.Fee | number: "1.2-2" || "--"}}
                    </span>
                </div> -->
                <div *ngIf="StoreInfo.DealTypeCode == _HelperService.AppConfig.DealTypeCode.ProductDeal &&  DealPurchaseType == 'delivery'"
                    class="hcx-split-item">
                    <span class="left">
                        <span class="name">Delivery Charges</span>
                    </span>
                    <span class="right value">
                        <span class="currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                        {{PaymentInfo.PaymentDetails.DeliveryFee | number: "1.2-2" || "--"}}
                    </span>
                </div>
                <div class="hcx-split-item" style="border-top: 1px solid #c4c4c4;    padding-top: 16px;
                margin-top: 16px;">
                    <span class="left">
                        <span class="name" style="    font-weight: 600; color:#000">Total Amount</span>
                    </span>
                    <span class="right value" style="font-size: 15px; font-weight: 600;">
                        <span class="currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                        {{PaymentInfo.PaymentDetails.TotalAmount | number: "1.2-2" || "--"}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<div class="tuc-footer dd-footer" *ngIf="StoreInfo.Amount == 0">
    <button type="button" (click)="BuyConfirm()" *ngIf="!_HelperService.IsFormProcessing"
        class="approve dd-footerconfirm  full-width" style="width: 100% !important;">
        Get it For Free</button>
    <button type="button" disabled readonly *ngIf="_HelperService.IsFormProcessing"
        class="approve dd-footerconfirm">Please
        wait
        ...</button>
</div>
<div class="tuc-footer dd-footer" *ngIf="StoreInfo.Amount > 0 && StoreInfo.TotalPurchaseRemaining > 0">
    <span *ngIf="StoreInfo.DealTypeCode == _HelperService.AppConfig.DealTypeCode.ServiceDeal ">
        <button type="button" (click)="BuyConfirm()" *ngIf="!_HelperService.IsFormProcessing"
            class="approve dd-footerconfirm  full-width" style="width: 100% !important;">Buy
            Now @ <span class="currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
            {{PaymentInfo.PaymentDetails.TotalAmount | number: "1.2-2" || "--"}}
        </button>
    </span>
    <span *ngIf="StoreInfo.DealTypeCode == _HelperService.AppConfig.DealTypeCode.ProductDeal ">
        <span *ngIf="DealPurchaseType == 'instore' ">
            <button type="button" (click)="BuyConfirm()" *ngIf="!_HelperService.IsFormProcessing"
                class="approve dd-footerconfirm  full-width" style="width: 100% !important;">Buy
                Now @ <span class="currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                {{PaymentInfo.PaymentDetails.TotalAmount | number: "1.2-2" || "--"}}
            </button>
        </span>
        <span *ngIf="DealPurchaseType == 'delivery' && _Shipment.DeliveryPartners.length > 0 ">
            <button type="button" (click)="BuyConfirm()" *ngIf="!_HelperService.IsFormProcessing"
                class="approve dd-footerconfirm  full-width" style="width: 100% !important;">Buy
                Now @ <span class="currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                {{PaymentInfo.PaymentDetails.TotalAmount | number: "1.2-2" || "--"}}
            </button>
        </span>
    </span>



    <button type="button" disabled readonly *ngIf="_HelperService.IsFormProcessing"
        class="approve dd-footerconfirm full-width" style="width: 100% !important;">Please
        wait
        ...</button>
</div>
<div class="tuc-footer dd-footer" *ngIf="StoreInfo.Amount > 0 && StoreInfo.TotalPurchaseRemaining  <  1">
    <button type="button" disabled class="approve dd-footerconfirm  full-width" style="width: 100% !important;">
        Deal Sold Out
    </button>
</div>
<!-- <div style="display: none;">
    <ion-button id="paymentbutton" angular4-paystack [key]="_HelperService.AppConfig.PayStackKey"
        [email]="_HelperService.AccountInfo.User.EmailAddress" [amount]="PaymentInfo.PaymentDetails.TotalAmount * 100"
        [ref]="PaymentInfo.PaymentDetails.ReferenceKey" (onClose)="ProcessOnline_Cancel()"
        (callback)="ProcessOnline_Confirm($event)">
    </ion-button>
</div> -->