<ion-header no-border class="titlebar">
    <ion-toolbar class="titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="text-primary"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Select Card</span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ModalDismiss('noaction')">
                <i slot="end" class=" las la-times-circle " style="font-size: 36px;"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

    <div class="page-header " style="    min-height: 120px !important;
    padding-top: 30px !important;
    background: none !important;" text-center>
        <div>
            <h1 class="page-header-title-lg-b"
                style="font-size: 34px;font-weight:400;margin-bottom: 8px;text-align: center;color: #a42e80;">
                <span class="list-amount-currency" style="    font-size: 20px;"><span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                {{PaymentConfiguration.PaymentAmount | number: "1.2-2"}}
            </h1>
            <h1 class="page-header-title-lg" style="    font-size: 13px;
    margin-top: 0px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 12px;
    text-transform: uppercase;
    color: #a42e80;">
                Amount
            </h1>
        </div>
    </div>
    <div class="container " style="overflow: auto;padding-bottom:30px;">
        <div text-center margin-bottom>Select payment card or click on new to select new payment option</div>

        <div class="box-container" (click)="ModalDismiss(Item.ReferenceId)"
            *ngFor="let Item of PaymentConfiguration.UserCards; let index=index; let odd=odd; let even=even;">
            <img *ngIf="Item.Brand=='visa'" class="box-container-img-left"
                src="../../../../assets/images/cards/visa.png">
            <img *ngIf="Item.Brand=='mastercard'" class="box-container-img-left"
                src="../../../../assets/images/cards/mastercard.png">
            <img *ngIf="Item.Brand=='verve'" class="box-container-img-left"
                src="../../../../assets/images/cards/verve.png">
            <div>
                <div class="box-container-title">
                    XXXX XXXX XXXX {{Item.End}}
                </div>
                <div class="box-container-subtitle">
                    {{Item.ExpMonth}}/{{Item.ExpYear}}
                </div>
                <div class="box-container-subtitle">
                    {{Item.Brand}} {{Item.Channel}}
                </div>
            </div>
        </div>



        <!-- <div (click)="ModalDismiss(TItem.ReferenceId)" *ngFor="let TItem of PaymentConfiguration.UserCards"
        class="list-item">
        <div *ngIf="TItem.Brand=='visa'">
            <img src="../../../../assets/images/cards/visa.png" class="list-item-image" style="    padding: 0px;
    width: 42px;
    height: 42px;">
        </div>
        <div *ngIf="TItem.Brand=='mastercard'">
            <img src="../../../../assets/images/cards/mastercard.png" class="list-item-image" style="    padding: 0px;
    width: 42px;
    height: 42px;">
        </div>
        <div *ngIf="TItem.Brand=='verve'">
            <img src="../../../../assets/images/cards/verve.png" class="list-item-image" style="    padding: 0px;
    width: 42px;
    height: 42px;">
        </div>
        <div>
            <div class="list-item-title">
                xxxx xxxx xxxx {{TItem.End}}
            </div>
            <div class="list-item-content">
                {{TItem.ExpMonth}}/{{TItem.ExpYear}}
            </div>
        </div>
    </div> -->
        <!-- <div (click)="ModalDismiss('new')" class="list-item" style="    border: 1px solid #ccc;
    padding: 4px 0px;
    border-radius: 4px;
    text-align: center;">
            <div>
                <div class="list-item-title">
                    New Payment Method
                </div>
            </div>
        </div> -->

        <div margin-left margin-right padding-top padding-bottom>
            <ion-row>

                <ion-col size="6">
                    <ion-button expand="full" color="danger" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                        (click)="ModalDismiss('noaction')">
                        Cancel
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button expand="full" color="medium" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                        (click)="ModalDismiss('new')">
                        Other Card
                    </ion-button>
                </ion-col>
            </ion-row>

        </div>
        <!-- <div class="tuc-card">
        <div class="tuc-card-header text-primary">
            <i class="las la-map-marker tuc-card-header-icon"></i> Purchase Location
        </div>
        <div class="tuc-card-body">
            <div>
                <div class="line-height">
                    {{_TransactionDetails.ParentDisplayName  || "--"}}
                </div>
                <div class="line-height">
                    {{_TransactionDetails.SubParentDisplayName  || "--"}}
                </div>

                <div class="line-height">
                    {{_TransactionDetails.SubParentAddress  || "--"}}
                </div>
            </div>
        </div>
    </div>
    <div class="tuc-card">
        <div class="tuc-card-header text-primary">
            <i class="las la-info-circle tuc-card-header-icon"></i> Reference
        </div>
        <div class="tuc-card-body">
            <div>
                <div class="line-height">
                    <div class="card-item-left">
                        Ref Id
                        <div class="card-item-right">
                            {{_TransactionDetails.ReferenceId  || "--"}}
                        </div>
                    </div>
                </div>
                <div class="line-height">
                    <div class="card-item-left">
                        <div>Reference Number</div>
                        <div class="card-item-right" style="float: none;">
                            <div>{{_TransactionDetails.ReferenceNumber  || "--"}}</div>
                        </div>
                    </div>
                </div>
                <div padding-top padding-bottom>
                    <ion-button expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                        (click)="ModalDismiss('noaction')">
                        Close
                    </ion-button>
                </div>
            </div>
        </div>
    </div> -->
    </div>
</ion-content>