<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text=""> </ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button class="hcx-page-titlebar-btn" (click)="ngOnInit()">
                <ion-icon name="refresh"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header">
        <div class="hcx-page-header-title">
            <span *ngIf="_PageConfig.Type == 'airtime'">
                Airtime
            </span>
            <span *ngIf="_PageConfig.Type == 'tv'">
                Paid Tv
            </span>
            <span *ngIf="_PageConfig.Type == 'electricity'">
                Electricity
            </span>
            <span *ngIf="_PageConfig.Type == 'utilities'">
                Utilities
            </span>
        </div>
        <div class="hcx-page-header-body">
            Select your provider
        </div>
    </div>
    <div class="hcx-page-body">
        <div class="hcx-tab" *ngIf="_PageConfig.Type != 'airtime'">
            <ion-row>
                <ion-col *ngIf="_HelperService._ActiveFeatures.service_vas_tvrecharge">
                    <div class="hcx-tab-item hcx-tab-item-active" (click)="ChangeReference('tv')"
                        [ngClass]="{  'hcx-tab-item ': _PageConfig.Type != 'tv', 'hcx-tab-item-active':  _PageConfig.Type == 'tv' }">
                        <div class="hcx-tab-image">
                            <span *ngIf="_PageConfig.Type == 'tv'">
                                <img src="../../../../assets/images/tvactive.png" alt="">
                            </span>
                            <span *ngIf="_PageConfig.Type != 'tv'">
                                <img src="../../../../assets/images/tv.png" alt="">
                            </span>
                        </div>
                        <div class="hcx-tab-title">
                            TV Recharge
                        </div>
                    </div>
                </ion-col>
                <ion-col *ngIf="_HelperService._ActiveFeatures.service_vas_electricity">
                    <div class="hcx-tab-item" (click)="ChangeReference('electricity')"
                        [ngClass]="{  'hcx-tab-item ': _PageConfig.Type != 'electricity', 'hcx-tab-item-active':  _PageConfig.Type == 'electricity' }">
                        <div class="hcx-tab-image">
                            <span *ngIf="_PageConfig.Type == 'electricity'">
                                <img src="../../../../assets/images/electricityactive.png" alt="">
                            </span>
                            <span *ngIf="_PageConfig.Type != 'electricity'">
                                <img src="../../../../assets/images/electricity.png" alt="">
                            </span>
                        </div>
                        <div class="hcx-tab-title">
                            Electricity
                        </div>
                    </div>
                </ion-col>
                <ion-col *ngIf="_HelperService._ActiveFeatures.service_vas_lcctopup">
                    <div class="hcx-tab-item " (click)="LccTopup()"
                        [ngClass]="{  'hcx-tab-item ': _PageConfig.Type != 'tollgate', 'hcx-tab-item-active':  _PageConfig.Type == 'tollgate' }">
                        <div class="hcx-tab-image">
                            <span *ngIf="_PageConfig.Type == 'tollgate'">
                                <img src="../../../../assets/images/tollgateactive.png" alt="">
                            </span>
                            <span *ngIf="_PageConfig.Type != 'tollgate'">
                                <img src="../../../../assets/images/tollgate.png" alt="">
                            </span>
                        </div>
                        <div class="hcx-tab-title">
                            Toll Gate
                        </div>
                    </div>
                </ion-col>
                <ion-col *ngIf="_HelperService._ActiveFeatures.service_vas_utilities">
                    <div class="hcx-tab-item" (click)="ChangeReference('utilities')"
                        [ngClass]="{  'hcx-tab-item ': _PageConfig.Type != 'utilities', 'hcx-tab-item-active':  _PageConfig.Type == 'utilities' }">
                        <div class="hcx-tab-image">
                            <span *ngIf="_PageConfig.Type == 'utilities'">
                                <i class="las la-water teraw"></i>
                            </span>
                            <span *ngIf="_PageConfig.Type != 'utilities'">
                                <i class="las la-water"></i>
                            </span>
                        </div>
                        <div class="hcx-tab-title">
                            Utilities
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </div>
        <div class="hcx-page-item hcx-page-item-space" *ngIf="TranList_Data.TotalRecords > 0"
            [ngClass]="{  'hcx-page-item hcx-page-item-space hcx-page-item-space ': _PageConfig.Type != 'airtime', 'hcx-page-item  hcx-page-item-top ':  _PageConfig.Type == 'airtime' }">
            <div class="hcx-page-item-title">
                Recent Payments
            </div>
            <div class="hcx-page-item-body">
                <div class="hcx-vas-rp-item" (click)="TranList_DetailsModal(TItem)"
                    *ngFor="let TItem of TranList_Data.Data ; let i = index"
                    [ngClass]="{  'hcx-vas-rp-item-first': i == 0, 'hcx-vas-rp-item':  i != 0 }">
                    <div class="hcx-vas-rp-header">
                        <img class="item-image" *ngIf="TItem.IconUrl != undefined" [src]="TItem.IconUrl">
                        <div>
                            <div class="item-repeat">
                                <i class="las la-redo-alt"></i> Repeat
                            </div>
                            <div class="item-number"> {{TItem.AccountNumber || "--"}}</div>
                            <div class="item-provider">{{TItem.ProductName || "--"}}</div>
                        </div>
                    </div>
                    <div class="hcx-vas-rp-content">
                        Last Paid <span class="item-amount"><span class="currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.Amount | number:
                            "1.2-2"}}</span>
                        <i class="las la-calendar"></i> <span class="item-time">{{TItem.StartDate || "--"}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="hcx-vas-list-container"
            *ngIf="_PageConfig.Provider != undefined && _PageConfig.Provider.Products != undefined && _PageConfig.Provider != null &&   _PageConfig.Provider.Products.length > 0">
            <ion-row>
                <ion-col size="6" *ngFor="let TItem of _PageConfig.Provider.Products">
                    <div class="hcx-vas-list-item" (click)="ProviderClick(TItem)">
                        <div class="hcx-vas-list-item-image">
                            <img src="{{TItem.IconUrl}}">
                        </div>
                        <div class="hcx-vas-list-item-title">
                            {{TItem.Name}}
                        </div>
                        <div class="hcx-vas-list-item-title-reward">
                            <img src="../../../../assets/images/tucpoint.png">
                            Earn upto
                            {{TItem.MaximumRewardPercentage}}%
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </div>
        <div *ngIf="_PageConfig.Provider == undefined " class="hcx-list-empty">
            <div class="hcx-list-empty-icon">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="hcx-list-empty-title">
                Its Empty Here
            </div>
            <div class="hcx-list-empty-subtitle">
                Service providers not available
            </div>
        </div>
    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>

    </div>
</ion-content>