<!-- <ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" page-tuc-titlebar">
    <ion-toolbar class="page-tuc-titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="page-tuc-titlebar-button"> </ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Store</span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="page-tuc-titlebar-button" (click)="ngOnInit()">
                <i slot="start" class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
 -->
<ion-header no-border class=" titlebar" style="position: fixed;
 --background: transparent;
 background: #f6f6f6;
 color: #ffffff !important;
 --color: #ffffff !important;">
    <ion-toolbar class="titlebar" style="    position: fixed;
     --background: transparent;
     background: transparent;
     color: #ffffff !important; 
     --color: #ffffff !important;">
        <ion-buttons slot="start">
            <ion-back-button text="" class="text-white"></ion-back-button>
        </ion-buttons>
        <!-- <ion-title class="statusbar-title">
             <span class="statusbar-title" style="    color: #ffffff;
             --color: #ffffff;"></span>
         </ion-title> -->
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ngOnInit()">
                <i slot="start" class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- <ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Store</span>
        </ion-title>
     
    </ion-toolbar>
</ion-header> -->
<ion-content class="page-tuc" forceOverscroll="false">
    <div class="page-tuc-header"
        style="  padding: 0px;    background-size: cover;height: 200px; padding: 0px !important;"
        [style.background-image]="'url(' + StoreInfo.PosterUrl + ')'">
        <div class="gradient" style="height: 200px;">

            <div *ngIf="StoreInfo.Images != undefined && StoreInfo.Images != null && StoreInfo.Images.length > 0"
                (click)="ShowGallery()" style="  padding-top: 170px;
    text-align: center;
    color: #ffffff;"> {{StoreInfo.Images.length || "0"}}
                Photos</div>




        </div>
    </div>
    <div class="page-tuc-body p-0">
        <div class="tuccard bg-white text-justify no-border-radius">
            <div class="tuccard-body">
                <div>
                    <img [src]="StoreInfo.MerchantIconUrl" style="        background-color: #f6f6f6;
                    font-size: 32px;
                    color: #B11A80;
                    border-radius: 8px;
                    padding: 4px;
                    border: 1px solid #C6C8CD;
                    float: left;
                    width: 54px;
                    height: 54px;
                    margin-right: 12px;">
                    <div class="page-header-title" style="margin-bottom:0px; font-size: 16px; font-weight: 600;">
                        {{StoreInfo.MerchantName}}</div>
                    <div style="margin-bottom:24px">
                        <span style="color : #FEC003">
                            <span *ngIf="StoreInfo.AverageRating == undefined">
                                <i class="lni lni-star" style="padding-right: 2px;"></i><i class="lni lni-star"
                                    style="padding-right: 2px;"></i><i class="lni lni-star"
                                    style="padding-right: 2px;"></i><i class="lni lni-star"
                                    style="padding-right: 2px;"></i><i class="lni lni-star"
                                    style="padding-right: 2px;"></i>

                                <span style="color: #7987A1; font-size: 14px;"> ({{StoreInfo.AverageRating ||
                                    "0"}})
                                </span>
                            </span>

                            <span *ngIf="StoreInfo.AverageRating != undefined && StoreInfo.AverageRating > 0">
                                <span *ngIf="StoreInfo.AverageRating == 0">
                                    <i class="lni lni-star" style="padding-right: 2px;"></i><i class="lni lni-star"
                                        style="padding-right: 2px;"></i><i class="lni lni-star"
                                        style="padding-right: 2px;"></i><i class="lni lni-star"
                                        style="padding-right: 2px;"></i><i class="lni lni-star"
                                        style="padding-right: 2px;"></i>
                                </span>
                                <span *ngIf="StoreInfo.AverageRating == 1">
                                    <i class="lni lni-star-filled" style="padding-right: 2px;"></i><i
                                        class="las la-star" style="padding-right: 2px;"></i><i class="las la-star"
                                        style="padding-right: 2px;"></i><i class="las la-star"
                                        style="padding-right: 2px;"></i><i class="las la-star"
                                        style="padding-right: 2px;"></i>
                                </span>
                                <span *ngIf="StoreInfo.AverageRating == 2">
                                    <i class="lni lni-star-filled" style="padding-right: 2px;"></i><i
                                        class="lni lni-star-filled" style="padding-right: 2px;"></i><i
                                        class="las la-star" style="padding-right: 2px;"></i><i class="las la-star"
                                        style="padding-right: 2px;"></i><i class="las la-star"
                                        style="padding-right: 2px;"></i>
                                </span>
                                <span *ngIf="StoreInfo.AverageRating == 3">
                                    <i class="lni lni-star-filled" style="padding-right: 2px;"></i><i
                                        class="lni lni-star-filled" style="padding-right: 2px;"></i><i
                                        class="las la-star-filled" style="padding-right: 2px;"></i><i
                                        class="las la-star"></i><i class="las la-star" style="padding-right: 2px;"></i>
                                </span>
                                <span *ngIf="StoreInfo.AverageRating == 3">
                                    <i class="lni lni-star-filled" style="padding-right: 2px;"></i><i
                                        class="lni lni-star-filled" style="padding-right: 2px;"></i><i
                                        class="las la-star-filled" style="padding-right: 2px;"></i><i
                                        class="las la-star-filled" style="padding-right: 2px;"></i><i
                                        class="las la-star" style="padding-right: 2px;"></i>
                                </span>
                                <span *ngIf="StoreInfo.AverageRating == 3">
                                    <i class="lni lni-star-filled" style="padding-right: 2px;"></i><i
                                        class="lni lni-star-filled" style="padding-right: 2px;"></i><i
                                        class="las la-star-filled" style="padding-right: 2px;"></i><i
                                        class="las la-star-filled" style="padding-right: 2px;"></i><i
                                        class="las la-star-filled" style="padding-right: 2px;"></i>
                                </span>
                                <span style="color: #7987A1; font-size: 14px;"> ({{StoreInfo.AverageRating ||
                                    "0"}})
                                </span>
                            </span>

                        </span>
                        <span style="   color: #7987A1;   
                        padding: 2px 8px;
                        border-radius: 4px;
                        font-size: 12px;
                         float: right;
                      
                        margin-right: 8px;">
                            <span>earn </span>
                            <span
                                style="    padding-left: 4px;   font-weight: 500; color: #222222;">{{StoreInfo.RewardPercentage}}%
                            </span>
                            <span> cashback</span>

                        </span>
                    </div>
                </div>
                <div style="    white-space: nowrap; color: #7987A1; font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
            ">
                    {{StoreInfo.StoreAddress}}
                </div>
                <div (click)="LocateStore()" style="  font-size: 12px;
                color: #B11A80;
                padding-top: 8px;">
                    <i class="las la-directions" style="
                            font-size: 16px;
                            padding-right: 4px;"></i>
                    <span style="padding-top: 2px;">Show on map</span>
                </div>
            </div>
        </div>

        <div class="tuccard bg-white text-justify no-border-radius">
            <div class="tuccard-header">
                About
            </div>
            <div class="tuccard-body">
                {{StoreInfo.Description || "not available"}}
            </div>
        </div>


        <div *ngIf="NearByDeals_Data != undefined && NearByDeals_Data != null && NearByDeals_Data.TotalRecords > 0"
            style="background-color: #ffffff;
        padding-top: 8px;
        margin-bottom: 8px;">
            <div class="tuc-card-i-header" margin style="margin-bottom: 0px;"
                *ngIf="NearByDeals_Data != undefined && NearByDeals_Data != null && NearByDeals_Data.TotalRecords > 0">
                Deals available here
                <!-- <span style="float:right;"> <a (click)="_HelperService.NavDeals()" style=" float: right;
    font-size: 12px;
    font-weight: 600;">More Deals > </a> </span> -->
            </div>
            <div class="light padding animate__animated animate__pulse"
                *ngIf="NearByDeals_Data != undefined && NearByDeals_Data != null && NearByDeals_Data.TotalRecords > 0">
                <ion-slides pager="true" [options]="slideOpts_Deals">
                    <ion-slide *ngFor="let Item of NearByDeals_Data.Data" class="slider">
                        <div (click)="NavDealDetails(Item)" style="    text-align: left;
    border-radius: 4px;
    min-height: 150px;    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.1);
    background-size: cover;   
  margin: 16px;
  margin-right: 0px;
    width: 100%;">
                            <div [style.background-image]="'url(' + Item.ImageUrl + ')'" style="border-radius: 6px;
    min-height: 150px;
    background-size: cover;     border-radius: 6px;    border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px; ">
                                <div class="gradient" style="min-height: 150px;
                    position: relative;
                    padding: 16px;
                    border-radius: 6px;    border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;">
                                    <div>
                                        <!-- <img src="{{Item.MerchantIconUrl}}" style="
                            width: 44px;
                            height: 44px;
                            float: left;
                            border-radius: 6px;
                            border: 1px solid #fff;
                            padding: 2px;"> -->
                                        <div style="text-align: right;">
                                            <span class="" style="font-size:11px;color:#32353E;">
                                                <span style="    color: #ffffff;
                                        font-weight: 500;">Ends in</span> <span style="
background-color: rgb(0 ,0 ,0 ,0.6);
color: #ffffff;
padding: 4px 6px;
border-radius: 6px;
margin-left: 4px;
font-weight: 500;
font-size: 11px;">
                                                    <i class="lni lni-timer" style="padding-right: 2px;"></i>
                                                    <countdown [config]="Item"></countdown>
                                                </span>

                                            </span>
                                        </div>
                                    </div>
                                    <div style=" 
                position: absolute;
                color: #ffffff;
                font-size: 18px;
                bottom: 0px;    width: 90%;
                padding-bottom: 8px;
                ">
                                        <div style="text-align: right;">
                                            <span style="
                background-color: rgb(0 ,0 ,0 ,0.6);
                color: #ffffff;
                padding: 4px 6px;
                border-radius: 4px;
                margin-right: 8px;
                font-weight: 500;font-size: 12px;
                font-size: 12px;" *ngIf="Item.TotalSaving > 0">
                                                <i class="las la-wallet"></i> You Save <span
                                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{Item.TotalSaving}}
                                            </span>
                                            <span style="
                background-color: rgb(0 ,0 ,0 ,0.6);
                color: #ffffff;
                padding: 4px 6px;
                border-radius: 4px;
                margin-right: 8px;
                font-weight: 500;font-size: 12px;
                font-size: 12px;">
                                                <i class="las la-eye"></i> {{Item.Views || "0"}}
                                            </span>
                                            <span style="
                                                        background-color: rgb(0 ,0 ,0 ,0.6);
                                                        color: #ffffff;
                                                        padding: 4px 6px;
                                                        border-radius: 4px;
                                                        font-weight: 500;
                                                        font-size: 12px;">
                                                <i class="las la-fire" style="color: orange;"></i>
                                                {{Item.Purchase ||
                                                "0"}}
                                                <span style="color: #ffffff;">sold</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div style="float: right;
                    position: absolute;
                    right: 0;
                    margin-right: 16px;
                    bottom: 0;
                    margin-bottom: 16px;
                    color: #ffffff;
                    font-weight: 800;">


                                    </div>
                                </div>
                            </div>
                            <div style="    bottom: 0;padding-bottom: 16px;
         padding: 12px 12px;
        white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
        ">
                                <div style="font-weight: 500; padding-bottom: 8px; color: #32353E;
            font-size: 14px;">
                                    {{ (Item.Title.length>36)? (Item.Title | slice:0:36)+'..':(Item.Title) }}
                                </div>
                                <div
                                    style="font-size: 16px; color: #000; padding-bottom: 6px; font-weight: 500; margin-bottom: 4px; ">
                                    <span style="font-size: 12px;"
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{Item.Amount}}
                                    <span style="    text-decoration: line-through;
                                        color: #7987A1;
                                        font-size: 12px;
                                        font-weight: 500;">
                                        <span
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{Item.ActualPrice}}
                                    </span>
                                </div>

                            </div>
                        </div>
                    </ion-slide>
                </ion-slides>
            </div>
        </div>



        <div class="tuccard bg-white text-justify no-border-radius">
            <div *ngIf="_HelperService.AccountInfo.UserAccount.AccountId > 0" class="tuccard-header">
                Rate your Experience
            </div>
            <div *ngIf="_HelperService.AccountInfo.UserAccount.AccountId > 0" class="tuccard-body">
                <div class="tuc-card-body" style="margin-bottom: 30px;">
                    <div *ngIf="UserRating == 0 || UserRating  == null || UserRating == undefined">
                        <div (click)="onRatingChange(1)" class="page-header-details-rating"><i class=" las la-star"></i>
                        </div>
                        <div (click)="onRatingChange(2)" class="page-header-details-rating"><i class=" las la-star"></i>
                        </div>
                        <div (click)="onRatingChange(3)" class="page-header-details-rating"><i class=" las la-star"></i>
                        </div>
                        <div (click)="onRatingChange(4)" class="page-header-details-rating"><i class=" las la-star"></i>
                        </div>
                        <div (click)="onRatingChange(5)" class="page-header-details-rating"><i class=" las la-star"></i>
                        </div>
                    </div>
                    <div *ngIf="UserRating == 1">
                        <div (click)="onRatingChange(1)"
                            class="page-header-details-rating page-header-details-rating-selected"><i
                                class=" las la-star"></i></div>
                        <div (click)="onRatingChange(2)" class="page-header-details-rating"><i class=" las la-star"></i>
                        </div>
                        <div (click)="onRatingChange(3)" class="page-header-details-rating"><i class=" las la-star"></i>
                        </div>
                        <div (click)="onRatingChange(4)" class="page-header-details-rating"><i class=" las la-star"></i>
                        </div>
                        <div (click)="onRatingChange(5)" class="page-header-details-rating"><i class=" las la-star"></i>
                        </div>
                    </div>
                    <div *ngIf="UserRating == 2">
                        <div (click)="onRatingChange(1)"
                            class="page-header-details-rating page-header-details-rating-selected"><i
                                class=" las la-star"></i></div>
                        <div (click)="onRatingChange(2)"
                            class="page-header-details-rating  page-header-details-rating-selected"><i
                                class=" las la-star"></i></div>
                        <div (click)="onRatingChange(3)" class="page-header-details-rating"><i class=" las la-star"></i>
                        </div>
                        <div (click)="onRatingChange(4)" class="page-header-details-rating"><i class=" las la-star"></i>
                        </div>
                        <div (click)="onRatingChange(5)" class="page-header-details-rating"><i class=" las la-star"></i>
                        </div>
                    </div>
                    <div *ngIf="UserRating == 3">
                        <div (click)="onRatingChange(1)"
                            class="page-header-details-rating page-header-details-rating-selected"><i
                                class=" las la-star"></i></div>
                        <div (click)="onRatingChange(2)"
                            class="page-header-details-rating  page-header-details-rating-selected"><i
                                class=" las la-star"></i></div>
                        <div (click)="onRatingChange(3)"
                            class="page-header-details-rating  page-header-details-rating-selected"><i
                                class=" las la-star"></i></div>
                        <div (click)="onRatingChange(4)" class="page-header-details-rating"><i class=" las la-star"></i>
                        </div>
                        <div (click)="onRatingChange(5)" class="page-header-details-rating"><i class=" las la-star"></i>
                        </div>
                    </div>
                    <div *ngIf="UserRating == 4">
                        <div (click)="onRatingChange(1)"
                            class="page-header-details-rating page-header-details-rating-selected"><i
                                class=" las la-star"></i></div>
                        <div (click)="onRatingChange(2)"
                            class="page-header-details-rating  page-header-details-rating-selected"><i
                                class=" las la-star"></i></div>
                        <div (click)="onRatingChange(3)"
                            class="page-header-details-rating  page-header-details-rating-selected"><i
                                class=" las la-star"></i></div>
                        <div (click)="onRatingChange(4)"
                            class="page-header-details-rating page-header-details-rating-selected"><i
                                class=" las la-star"></i></div>
                        <div (click)="onRatingChange(5)" class="page-header-details-rating"><i class=" las la-star"></i>
                        </div>
                    </div>
                    <div *ngIf="UserRating == 5">
                        <div (click)="onRatingChange(1)"
                            class="page-header-details-rating page-header-details-rating-selected"><i
                                class=" las la-star"></i></div>
                        <div (click)="onRatingChange(2)"
                            class="page-header-details-rating  page-header-details-rating-selected"><i
                                class=" las la-star"></i></div>
                        <div (click)="onRatingChange(3)"
                            class="page-header-details-rating  page-header-details-rating-selected"><i
                                class=" las la-star"></i></div>
                        <div (click)="onRatingChange(4)"
                            class="page-header-details-rating page-header-details-rating-selected"><i
                                class=" las la-star"></i></div>
                        <div (click)="onRatingChange(5)"
                            class="page-header-details-rating  page-header-details-rating-selected"><i
                                class=" las la-star"></i></div>
                    </div>
                    <!-- <div>
                        <div (click)="onRatingChange(1)" class="page-header-details-rating"
                            [ngClass]="UserRating === 1 ? 'page-header-details-rating-selected' : 'page-header-details-rating'"
                            style="    margin-right: 8px;"><i class=" las la-star"></i></div>
                        <div (click)="onRatingChange(2)" class="page-header-details-rating"
                            [ngClass]="UserRating === 2 ? 'page-header-details-rating-selected' : 'page-header-details-rating'"
                            style="  margin-right: 8px;"><i class=" las la-star"></i></div>

                        <div (click)="onRatingChange(3)" class="page-header-details-rating"
                            [ngClass]="UserRating === 3 ? 'page-header-details-rating-selected' : 'page-header-details-rating'"
                            style="      margin-right: 8px;"><i class=" las la-star"></i></div>
                        <div (click)="onRatingChange(4)" class="page-header-details-rating"
                            [ngClass]="UserRating === 4 ? 'page-header-details-rating-selected' : 'page-header-details-rating'"
                            style="      margin-right: 8px;"><i class=" las la-star"></i></div>
                        <div (click)="onRatingChange(5)" class="page-header-details-rating"
                            [ngClass]="UserRating === 5 ? 'page-header-details-rating-selected' : 'page-header-details-rating'"
                            style="    margin-right: 8px;"><i class=" las la-star"></i></div>
                    </div> -->

                    <textarea type="text" rows="4" max-length="256" [(ngModel)]="UserComment" style="    width: 100%;
                    margin-bottom: 8px; 
                    border-radius: 4px;box-shadow: none;
                    border: 1px solid #ccc;"></textarea>
                    <div>

                        <button type="button" style="    
                    color: #B11A80;
                    border: 1px solid #B11A80;
                    background-color: #ffffff;
                    padding: 8px 12px;
                    border-radius: 8px;" (click)="PostReview()">
                            Post Review
                        </button>
                    </div>
                </div>
            </div>
            <div class="tuccard-header">
                Ratings & Reviews
            </div>
            <div class="tuccard-body">
                <div *ngIf="Table_Reviews_Config.TotalRecords > 0">
                    <ion-list class="bg-white">
                        <ion-row style="    margin-bottom: 8px;" class=" tr-list bg-white"
                            *ngFor="let LItem of Table_Reviews_Config.Data; let index=index; let odd=odd; let even=even;"
                            [ngClass]="{ 'tr-list-odd': odd, 'tr-list-even': even }">
                            <ion-col>
                                <div style="    display: inline-block;
                                width: 100%;
                                margin-bottom: 8px;">
                                    <div class="item-shadow tr-list-image" style="    float: left;
            margin-right: 16px;">
                                        <span *ngIf="LItem.CreatedByIconUrl != undefined">
                                            <img src="{{LItem.CreatedByIconUrl}}" style="     width: 36px;    height: 36px;
            border-radius: 100%;
            border: 1px solid #b5b5b5;">
                                        </span>
                                        <span *ngIf="LItem.CreatedByIconUrl == undefined">
                                            <img src="../../../../assets/icon/tucicon.png" style="     width: 36px;    height: 36px;
            border-radius: 100%;
            border: 1px solid #b5b5b5;">
                                        </span>
                                    </div>
                                    <div class="text-ellipsis"
                                        style="    margin-bottom: 3px; color: #585858;   font-weight: 500; font-size: 13px;">
                                        {{LItem.CreatedByDisplayName}}
                                    </div>
                                    <div class="item-distance" style="color: #ffc107;">
                                        <span style="font-size: 11px;  padding-right: 10px;">
                                            <span *ngIf="LItem.CountValue== 0 || LItem.CountValue== undefined">
                                                <ion-icon ios="ios-star-outline" md="ios-star-outline" class="c-rating">
                                                </ion-icon>
                                                <ion-icon ios="ios-star-outline" md="ios-star-outline" class="c-rating">
                                                </ion-icon>
                                                <ion-icon ios="ios-star-outline" md="ios-star-outline" class="c-rating">
                                                </ion-icon>
                                                <ion-icon ios="ios-star-outline" md="ios-star-outline" class="c-rating">
                                                </ion-icon>
                                                <ion-icon ios="ios-star-outline" md="ios-star-outline" class="c-rating">
                                                </ion-icon>
                                            </span>
                                            <span *ngIf="LItem.CountValue== 1">
                                                <ion-icon ios="ios-star" md="ios-star" class="c-rating"></ion-icon>
                                                <ion-icon ios="ios-star-outline" md="ios-star-outline" class="c-rating">
                                                </ion-icon>
                                                <ion-icon ios="ios-star-outline" md="ios-star-outline" class="c-rating">
                                                </ion-icon>
                                                <ion-icon ios="ios-star-outline" md="ios-star-outline" class="c-rating">
                                                </ion-icon>
                                                <ion-icon ios="ios-star-outline" md="ios-star-outline" class="c-rating">
                                                </ion-icon>
                                            </span>
                                            <span *ngIf="LItem.CountValue== 2">
                                                <ion-icon ios="ios-star" md="ios-star" class="c-rating"></ion-icon>
                                                <ion-icon ios="ios-star" md="ios-star" class="c-rating"></ion-icon>
                                                <ion-icon ios="ios-star-outline" md="ios-star-outline" class="c-rating">
                                                </ion-icon>
                                                <ion-icon ios="ios-star-outline" md="ios-star-outline" class="c-rating">
                                                </ion-icon>
                                                <ion-icon ios="ios-star-outline" md="ios-star-outline" class="c-rating">
                                                </ion-icon>
                                            </span>
                                            <span *ngIf="LItem.CountValue== 3">
                                                <ion-icon ios="ios-star" md="ios-star" class="c-rating"></ion-icon>
                                                <ion-icon ios="ios-star" md="ios-star" class="c-rating"></ion-icon>
                                                <ion-icon ios="ios-star" md="ios-star" class="c-rating"></ion-icon>
                                                <ion-icon ios="ios-star-outline" md="ios-star-outline" class="c-rating">
                                                </ion-icon>
                                                <ion-icon ios="ios-star-outline" md="ios-star-outline" class="c-rating">
                                                </ion-icon>
                                            </span>
                                            <span *ngIf="LItem.CountValue== 4">
                                                <ion-icon ios="ios-star" md="ios-star" class="c-rating "></ion-icon>
                                                <ion-icon ios="ios-star" md="ios-star" class="c-rating"></ion-icon>
                                                <ion-icon ios="ios-star" md="ios-star" class="c-rating"></ion-icon>
                                                <ion-icon ios="ios-star" md="ios-star" class="c-rating"></ion-icon>
                                                <ion-icon ios="ios-star-outline" md="ios-star-outline" class="c-rating">
                                                </ion-icon>
                                            </span>
                                            <span *ngIf="LItem.CountValue== 5">
                                                <ion-icon ios="ios-star" md="ios-star" class="c-rating"></ion-icon>
                                                <ion-icon ios="ios-star" md="ios-star" class="c-rating"></ion-icon>
                                                <ion-icon ios="ios-star" md="ios-star" class="c-rating"></ion-icon>
                                                <ion-icon ios="ios-star" md="ios-star" class="c-rating"></ion-icon>
                                                <ion-icon ios="ios-star" md="ios-star" class="c-rating"></ion-icon>
                                            </span>
                                        </span>
                                        <span
                                            *ngIf="LItem.Distance != undefined && LItem.Distance != null">{{LItem.Distance}}
                                            km</span>
                                    </div>
                                </div>
                                <div class="text-ellipsis"
                                    style="    margin-bottom: 8px; color: #7987A1;   font-size: 13px;">
                                    {{LItem.Name}}
                                </div>
                                <!-- <div class="text-ellipsis" style="margin-bottom:5px;">
                                    <span class="" *ngIf="LItem.Address != undefined"
                                        style="font-size:11px;color:#8D8D8D;">
                                        {{LItem.Name}}
                                    </span>
                                </div> -->

                            </ion-col>
                        </ion-row>
                    </ion-list>
                    <ion-infinite-scroll (ionInfinite)="Table_Reviews_NextLoad($event)">
                        <ion-infinite-scroll-content></ion-infinite-scroll-content>
                    </ion-infinite-scroll>
                </div>
                <div text-center *ngIf="Table_Reviews_Config.TotalRecords == 0"
                    style="margin-bottom: 35px;  margin-top:20px ; font-size: 20px;font-weight: 300;">
                    <h5 class="c-app"> Be the first to review !!!</h5>
                </div>
                <div text-center *ngIf="Table_Reviews_Config.TotalRecords == 0"
                    style="margin-bottom: 35px;  margin-top:20px ; font-size: 20px;font-weight: 300;">
                    <span class="c-orange">
                        Getting reviews ...
                    </span>
                </div>
            </div>
        </div>





    </div>
</ion-content>