<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class="  page-white-titlebar">
    <ion-toolbar class="titlebar ">
        <ion-buttons slot="start">
            <ion-back-button text="" class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title"> Scratch Cards
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="LoadData()">
                <i slot="start" class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="page-white">
    <div class="page-white-header "
        style="padding:0px !important ;  margin : 0px !important ;padding-bottom: 16px !important; height: 220px !important; ">
        <div>
            <div style="text-align: center;">
                <div style="    position: relative;
                border: 2px dotted #837580;
                padding: 16px;
                margin-bottom: 8px;margin-top: 26px;
                margin-left: 10%;
                margin-right: 10%;
                border-radius: 2px;
                background-color: #fef6ff;">
                    <div style="margin-bottom: 4px;color: #302a2a;">
                        Your Referral Code
                    </div>
                    <div style="
                    color: #B11A83;
            font-size: 24px;    
            font-weight: 500;">
                        {{_HelperService.AccountInfo.UserAccount.ReferralCode}}
                    </div>
                </div>
                <div style="margin-bottom: 4px;color: #9D9D9D; text-align: center;margin-bottom: 26px;"
                    (click)="OpenEditModal()">
                    <i class="lab la-edit"></i> edit referral code
                </div>
                <div style="margin-bottom: 4px;color: #9D9D9D; text-align: center;">
                    Share your referral code
                </div>
                <div style="font-size:34px;text-align: center;">
                    <a style="padding-right: 8px;" (click)="Share('wa')"><i class="lab la-whatsapp"
                            style="color:#2BB826 "></i></a>
                    <a style="padding-right: 8px;" (click)="Share('fb')">
                        <i class="lab la-facebook-messenger" style="color:#0084FF "></i>
                    </a>
                    <a style="padding-right: 8px;" (click)="Share('sms')" style="color:#F9D450 ">
                        <i class="las la-sms"></i>
                    </a>
                    <a style="padding-right: 8px;" (click)="Share('other')">
                        <i class="las la-braille"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>
    <div class="page-white-body">
        <div>
            <div *ngIf="TranList_Data.TotalRecords == -1" text-center class="nolist-item">
                <div class="nolist-icon-item">
                    <ion-spinner color="primary" name="dots"></ion-spinner>
                </div>
                <div class="nolist-subtitle">
                    Loading your Scratch card history
                </div>
                <div class="nolist-content">
                    Your Scratch card history will appear hear
                </div>
            </div>
            <div *ngIf="TranList_Data.TotalRecords == 0" text-center class="nolist-item">
                <div class="nolist-icon-item">
                    <ion-icon ios="md-list" md="md-list">
                    </ion-icon>
                </div>
                <div class="nolist-title">
                    Its Empty Here
                </div>
                <div class="nolist-subtitle">
                    No scratch cards yet
                </div>
                <div class="nolist-content">
                    Your scratch card history will appear here
                </div>
            </div>
            <div>
                <div *ngFor="let Item of TranList_Data.Data; let index=index; let odd=odd; let even=even;" style="   text-align: center;
                width: 50%;
                float: left;
                ">
                    <div (click)="TranList_RowSelected(Item)"
                        *ngIf="Item.leftTime > 0 && Item.StatusCode == 'transaction.pending'" style="    height: 160px; width: 160px;
                background-image: url(../../../../assets/images/sc.png);
                    border: 1px solid #d4d4d4;
                    background-color: #ffffff;
                    margin: 8px;
                    background-size: cover;
                    padding-top: 16px;margin-left: auto;
    margin-right: auto;
                    padding-bottom: 16px;
                    border-radius: 8px;">
                        <div style="padding-top: 0px;
                        padding-top: 100px;
                    padding-bottom: 8px;
                    font-size: 11px;
                    color: #ffffff;">
                            Expiring in
                        </div>
                        <div style="padding-top: 0px;
                    font-size: 11px;
                    color: #ffffff;">
                            <span style="
                    background-color: rgb(0 ,0 ,0 ,0.6);
                    color: #ffffff;
                    padding: 4px 6px;
                    border-radius: 6px;
                    margin-left: 4px;
                    font-weight: 500;
                    font-size: 11px;">
                                <countdown [config]="Item"></countdown>
                            </span>

                        </div>
                    </div>

                    <div *ngIf="Item.StatusCode == 'transaction.success'" style="    height: 160px; width: 160px;
                    background-image: url(../../../../assets/images/sco.png);
                        border: 1px solid #d4d4d4;
                        background-color: #ffffff;
                        margin: 8px;
                        background-size: cover;
                        padding-top: 16px;margin-left: auto;
    margin-right: auto;
                        padding-bottom: 16px;
                        border-radius: 8px;">
                        <div style="font-weight: 500;
                        font-size: 24px;
                        padding-top: 70px;
                        padding-bottom: 8px;">
                            <span class="list-amount-currency"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{Item.TotalAmount
                            | number: "1.2-2"}}
                        </div>
                        <div style="padding-top: 0px;
                        font-size: 11px;
                        color: #86888f;">
                            {{Item.TransactionDate}}
                        </div>
                    </div>
                    <div *ngIf=" Item.StatusCode == 'transaction.failed'" style="    height: 160px; width: 160px;
                    background-image: url(../../../../assets/images/sce.png);
                        border: 1px solid #d4d4d4;
                        background-color: #ffffff;
                        margin: 8px;
                        background-size: cover;
                        padding-top: 16px;margin-left: auto;
    margin-right: auto;
                        padding-bottom: 16px;
                        border-radius: 8px;">
                        <div style="font-weight: 500;
                        font-size: 24px;
                        padding-top: 70px;
                        padding-bottom: 8px;">
                            <span class="list-amount-currency"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{Item.TotalAmount
                            | number: "1.2-2"}}
                        </div>
                        <div style="padding-top: 0px;
                        font-size: 11px;
                        color: #86888f;">
                            {{Item.TransactionDate}}
                        </div>
                    </div>
                </div>
                <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="TranList_NextLoad($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Please wait...">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </div>
        </div>
    </div>
</ion-content>



<!-- <ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title"> Scratch Cards
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="LoadData()">
                <i slot="start" class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-app">
    <div class="page-header "
        style="padding:0px !important ;  margin : 0px !important ;padding-bottom: 16px !important; height: 220px !important; ">
        <div>
            <div style="text-align: center;">
                <div style="    position: relative;
                border: 2px dotted #fdb3ed;
                padding: 16px;
                margin-bottom: 8px;margin-top: 26px;
                margin-left: 10%;
                margin-right: 10%;
                border-radius: 2px;
                background-color: #fef6ff;">
                    <div style="margin-bottom: 4px;color: #9D9D9D;">
                        Your Referral Code
                    </div>
                    <div style="
            font-size: 24px;    
            font-weight: 500;">
                        {{_HelperService.AccountInfo.UserAccount.ReferralCode}}
                    </div>
                </div>
                <div style="margin-bottom: 4px;color: #9D9D9D; text-align: center;margin-bottom: 26px;"
                    (click)="OpenEditModal()">
                    <i class="lab la-edit"></i> edit referral code
                </div>
                <div style="margin-bottom: 4px;color: #9D9D9D; text-align: center;">
                    Share your referral code
                </div>
                <div style="font-size:34px;text-align: center;">
                    <a style="padding-right: 8px;" (click)="Share('wa')"><i class="lab la-whatsapp"
                            style="color:#2BB826 "></i></a>
                    <a style="padding-right: 8px;" (click)="Share('fb')">
                        <i class="lab la-facebook-messenger" style="color:#0084FF "></i>
                    </a>
                    <a style="padding-right: 8px;" (click)="Share('sms')" style="color:#F9D450 ">
                        <i class="las la-sms"></i>
                    </a>
                    <a style="padding-right: 8px;" (click)="Share('other')">
                        <i class="las la-braille"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>
    <div class="container" style="    padding-bottom: 80px;">
        <div>
            <div *ngIf="TranList_Data.TotalRecords == -1" text-center class="nolist-item">
                <div class="nolist-icon-item">
                    <ion-spinner color="primary" name="dots"></ion-spinner>
                </div>
                <div class="nolist-subtitle">
                    Loading your Scratch card history
                </div>
                <div class="nolist-content">
                    Your Scratch card history will appear hear
                </div>
            </div>
            <div *ngIf="TranList_Data.TotalRecords == 0" text-center class="nolist-item">
                <div class="nolist-icon-item">
                    <ion-icon ios="md-list" md="md-list">
                    </ion-icon>
                </div>
                <div class="nolist-title">
                    Its Empty Here
                </div>
                <div class="nolist-subtitle">
                    No scratch cards yet
                </div>
                <div class="nolist-content">
                    Your scratch card history will appear here
                </div>
            </div>
            <div>
                <div *ngFor="let Item of TranList_Data.Data; let index=index; let odd=odd; let even=even;" style="   text-align: center;
                width: 50%;
                float: left;
                ">
                    <div (click)="TranList_RowSelected(Item)"
                        *ngIf="Item.leftTime > 0 && Item.StatusCode == 'transaction.pending'" style="    height: 160px; width: 160px;
                background-image: url(../../../../assets/images/sc.png);
                    border: 1px solid #d4d4d4;
                    background-color: #ffffff;
                    margin: 8px;
                    background-size: cover;
                    padding-top: 16px;margin-left: auto;
    margin-right: auto;
                    padding-bottom: 16px;
                    border-radius: 8px;">
                        <div style="padding-top: 0px;
                        padding-top: 100px;
                    padding-bottom: 8px;
                    font-size: 11px;
                    color: #ffffff;">
                            Expiring in
                        </div>
                        <div style="padding-top: 0px;
                    font-size: 11px;
                    color: #ffffff;">
                            <span style="
                    background-color: rgb(0 ,0 ,0 ,0.6);
                    color: #ffffff;
                    padding: 4px 6px;
                    border-radius: 6px;
                    margin-left: 4px;
                    font-weight: 500;
                    font-size: 11px;">
                                <countdown [config]="Item"></countdown>
                            </span>

                        </div>
                    </div>

                    <div *ngIf="Item.StatusCode == 'transaction.success'" style="    height: 160px; width: 160px;
                    background-image: url(../../../../assets/images/sco.png);
                        border: 1px solid #d4d4d4;
                        background-color: #ffffff;
                        margin: 8px;
                        background-size: cover;
                        padding-top: 16px;margin-left: auto;
    margin-right: auto;
                        padding-bottom: 16px;
                        border-radius: 8px;">
                        <div style="font-weight: 500;
                        font-size: 24px;
                        padding-top: 70px;
                        padding-bottom: 8px;">
                            <span class="list-amount-currency"><span  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{Item.TotalAmount | number: "1.2-2"}}
                        </div>
                        <div style="padding-top: 0px;
                        font-size: 11px;
                        color: #86888f;">
                            {{Item.TransactionDate}}
                        </div>
                    </div>
                    <div *ngIf=" Item.StatusCode == 'transaction.failed'" style="    height: 160px; width: 160px;
                    background-image: url(../../../../assets/images/sce.png);
                        border: 1px solid #d4d4d4;
                        background-color: #ffffff;
                        margin: 8px;
                        background-size: cover;
                        padding-top: 16px;margin-left: auto;
    margin-right: auto;
                        padding-bottom: 16px;
                        border-radius: 8px;">
                        <div style="font-weight: 500;
                        font-size: 24px;
                        padding-top: 70px;
                        padding-bottom: 8px;">
                            <span class="list-amount-currency"><span  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{Item.TotalAmount | number: "1.2-2"}}
                        </div>
                        <div style="padding-top: 0px;
                        font-size: 11px;
                        color: #86888f;">
                            {{Item.TransactionDate}}
                        </div>
                    </div>
                </div>
                <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="TranList_NextLoad($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Please wait...">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </div>
        </div>
    </div>
</ion-content>
<div class="footer-container">
    <div class="footer-item" (click)="NavDashboard()">
        <div class="footer-item-icon">
            <i class="las la-home"></i>
        </div>
        <div class="footer-item-text">Home</div>
    </div>
    <div class="footer-item " (click)="NavStores()">
        <div class="footer-item-icon">
            <i class="las la-street-view"></i>
        </div>
        <div class="footer-item-text">Nearby</div>
    </div>
    <div class="footer-item " (click)="NavDealerLocations()">
        <div class="footer-item-icon">
            <i class="las la-shopping-bag"></i>
        </div>
        <div class="footer-item-text">Buy Online</div>
    </div>
    <div class="footer-item  text-primary" (click)="NavPoints()">
        <div class="footer-item-icon">
            <i class="las la-gift"></i>
        </div>
        <div class="footer-item-text">Rewards</div>
    </div>
    <div class="footer-item " (click)="NavMore()">
        <div class="footer-item-icon">
            <i class="las la-ellipsis-v"></i>
        </div>
        <div class="footer-item-text">Account</div>
    </div>
</div> -->