<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar hcx-page-titlebar-transparent">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text=""> </ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">

            <ion-button (click)="Share()" fill="clear">
                <ion-icon class="text-white" slot="icon-only" ios="ios-share" md="md-share"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header dealdetailsheader" [style.background-image]="'url(' + StoreInfo.ImageUrl + ')'">
        <div class="gradient dd-overlay">
            <div class="text-ellipsis dd-overlay-footer">
                <span class="dealdetailstimer" *ngIf=" TimerConfig.leftTime  > 0 && TimerConfig.leftTime < 86401">
                    <i class="lni lni-timer"></i>&nbsp;
                    <countdown #cd [config]="TimerConfig"></countdown>
                </span>
                <span *ngIf="StoreInfo.Images != undefined && StoreInfo.Images != null && StoreInfo.Images.length > 0"
                    (click)="ShowGallery()" style="    margin-right: 16px;"> {{StoreInfo.Images.length || "0"}}
                    Photos</span>
                <i class="las la-eye"></i> {{StoreInfo.Views || "0"}} &nbsp;<span
                    style="color: rgb(255 ,255 ,255 , 0.50) ;">|</span>&nbsp;
                <i class="las la-fire" style="color: #F3705A;"></i> {{StoreInfo.TotalPurchase || "0"}} sold
                &nbsp;
            </div>
        </div>
    </div>
    <div class="hcx-page-body dealdetailsbody">
        <div class="hcx-page-item hcx-page-item-top">
            <div class="hcx-page-item-title" [innerHtml]="StoreInfo.Title" style="font-size: 16px">
            </div>
            <div class="hcx-page-item-body" style="padding-top: 8px;">
                <div class="dd-pricing m-b">
                    <span class="sellingprice"><span class="currency"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{StoreInfo.SellingPrice |
                        number: "1.0-1" || "--"}} </span>
                    <span *ngIf="StoreInfo.SellingPrice < StoreInfo.ActualPrice">
                        <span class="actualprice"><span class="currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{StoreInfo.ActualPrice |
                            number: "1.0-1" || "--"}} </span>
                        <span class="discount"
                            *ngIf="StoreInfo.DiscountPercentage != undefined && StoreInfo.DiscountPercentage != null   && StoreInfo.DiscountPercentage > 0 ">{{StoreInfo.DiscountPercentage
                            | number: "1.0-1" }}
                            % off</span>
                    </span>
                    <span class="dd-storedeetailscategory">
                        {{StoreInfo.CategoryName}}
                    </span>
                </div>
                <div class="m-b" *ngIf="StoreInfo.DealTypeCode != undefined">
                    <span *ngIf="StoreInfo.DealTypeCode  == _HelperService.AppConfig.DealTypeCode.ServiceDeal"
                        class=" dd-servicebadge"> <i class="las la-store-alt"></i> Redeem at store</span>
                    <span *ngIf="StoreInfo.DealTypeCode  == _HelperService.AppConfig.DealTypeCode.ProductDeal">
                        <span class=" dd-servicebadge"
                            *ngIf="StoreInfo.DeliveryTypeCode == _HelperService.AppConfig.DeliveryTypeCode.InStorePickUp || StoreInfo.DeliveryTypeCode == _HelperService.AppConfig.DeliveryTypeCode.InStoreAndDelivery">
                            <i class="las la-store-alt"></i> Store pickup
                        </span>
                        <span class=" dd-servicebadge"
                            *ngIf="StoreInfo.DeliveryTypeCode == _HelperService.AppConfig.DeliveryTypeCode.InStorePickUp || StoreInfo.DeliveryTypeCode == _HelperService.AppConfig.DeliveryTypeCode.InStoreAndDelivery">
                            <i class="las la-shipping-fast"></i> Delivery
                        </span>
                    </span>
                </div>
                <div class="hcx-page-item-body dd-storedeetails">
                    <img [src]="StoreInfo.AccountIconUrl" class="storeimage page-header-img">
                    <div>
                        <div class="storename">
                            {{StoreInfo.AccountDisplayName}}
                        </div>
                        <div class="storerating">
                            <span>
                                <i class="lni lni-star-filled" style="color: orange;"></i> {{StoreInfo.AccountRating}}
                            </span>
                            ( {{StoreInfo.AccountRatingCount}} ratings)
                        </div>
                        <div class="storelife">
                            <span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="hcx-page-item">
            <div class="hcx-page-item-body dd-storedeetails">
                <img [src]="StoreInfo.AccountIconUrl" class="storeimage page-header-img" style="">
                <div>
                    <div class="storename">
                        {{StoreInfo.AccountDisplayName}}
                    </div>
                    <div class="storerating">
                        <span>
                            <i class="lni lni-star-filled" style="color: orange;"></i> {{StoreInfo.AccountRating}}
                        </span>
                        ( {{StoreInfo.AccountRatingCount}} ratings)
                    </div>
                    <div class="storelife">
                        <span>
                        </span>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div style="    margin-bottom: 24px;">
                    <span class="dd-deltype"
                        [ngClass]="{'dd-deltype dd-deltype-active'  : DealPurchaseType == 'instore','dd-deltype'  : DealPurchaseType != 'instore'}"
                        (click)="PurchaseTypeChange('instore')">Store Pickup </span>
                    <span class="dd-deltype"
                        [ngClass]="{'dd-deltype dd-deltype-active'  : DealPurchaseType == 'delivery','dd-deltype'  : DealPurchaseType != 'delivery'}"
                        (click)="PurchaseTypeChange('delivery')">Delivery</span>
                </div> -->
        <!-- <div *ngIf="DealPurchaseType == 'delivery'">
                    <div style="margin-bottom: 4px;">
                        Delivery Location
                    </div>
                    <div>
                        <button type="button" (click)="OpenLocationSelector()" style="    border: 1px solid #c4c4c4;
                        background: #ffffff;
                        padding: 10px 8px;
                        border-radius: 4px;
                        float: right;
                        font-size: 12px;">
                            Change
                        </button>
                        <div class="hcx-list-title">
                            {{_ActiveAddress.Name}}
                        </div>
                        <div class="hcx-list-subtitle">
                            {{_ActiveAddress.AddressLine1}}, {{_ActiveAddress.CityName}}
                        </div>
                    </div>
                </div> -->
        <!-- <div class="hcx-page-item">
            <div class="hcx-page-item-title">
                Details
            </div>
            <div class="hcx-page-item-body htmlp" [innerHtml]="StoreInfo.Description">
            </div>
        </div> -->
        <div class="hcx-page-item">
            <div class="hcx-page-item-body">
                <div class="scrolling-wrapper" style="margin-bottom: 16px;">
                    <div class="scrolling-item"
                        style="border-bottom: 1px solid #E6E9F1;   color: #32353E;     width:  33.3333%;"
                        (click)="TabChange('about')" [ngClass]="{ 'tab-active': acttab == 'about' }">
                        <div class="item-box item-shadow" text-center style="    padding: 12px 6px;
                    white-space: nowrap;
                    overflow: hidden;  font-size: 13px;
                    text-overflow: ellipsis;">
                            <div>
                                <div>About</div>
                            </div>
                        </div>
                    </div>
                    <div class="scrolling-item"
                        style="border-bottom: 1px solid #E6E9F1;   color: #32353E;     width:  33.3333%;"
                        (click)="TabChange('loc')" [ngClass]="{ 'tab-active': acttab == 'loc' }">
                        <div class="item-box item-shadow" text-center style="    padding: 12px 6px;
                        white-space: nowrap;
                        overflow: hidden;  font-size: 13px;
                        text-overflow: ellipsis;">
                            <div>
                                <div
                                    *ngIf="StoreInfo.DealTypeCode == _HelperService.AppConfig.DealTypeCode.ServiceDeal">
                                    Redeem Locations</div>
                                <div
                                    *ngIf="StoreInfo.DealTypeCode == _HelperService.AppConfig.DealTypeCode.ProductDeal">
                                    Pickup Locations</div>
                            </div>
                        </div>
                    </div>
                    <div class="scrolling-item"
                        style="border-bottom: 1px solid #E6E9F1;   color: #32353E;     width: 33.3333%;"
                        (click)="TabChange('terms')" [ngClass]="{ 'tab-active': acttab == 'terms' }">
                        <div class="item-box item-shadow" text-center style="    padding: 12px 6px;
                        
                        white-space: nowrap;
                        overflow: hidden;    font-size: 13px;
                        text-overflow: ellipsis;">
                            <div>
                                <div>Terms</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="acttab == 'about'">
                    <div [innerHtml]="StoreInfo.Description">
                    </div>
                </div>
                <div *ngIf="acttab == 'loc'">
                    <div *ngFor="let LItem of StoreInfo.Locations; let index=index; let odd=odd; let even=even;"
                        (click)="LocateStore(LItem)">
                        <div style=" color: #222222;   font-weight: 500;
            padding-bottom: 6px;">
                            <i class="las la-directions" style="     color: #8f9aaf;
                    padding-top: 0px;
                    float: right;"></i> {{LItem.DisplayName}}
                        </div>
                        <div style="    padding-bottom: 16px; color: #7987A1;">
                            {{LItem.Address}}
                        </div>
                    </div>
                </div>
                <div *ngIf="acttab == 'terms'">
                    <div [innerHtml]="StoreInfo.Terms">
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<div class="tuc-footer dd-footer" *ngIf="StoreInfo.Amount == 0">
    <!-- <button type="button" (click)="SaveBookmark()" *ngIf="!_HelperService.IsFormProcessing"
        class="cancel dd-footerbookmark">
        <i class="lni lni-heart"></i> Wishlist
    </button> -->
    <button type="button" (click)="BuyConfirm()" *ngIf="!_HelperService.IsFormProcessing"
        class="approve dd-footerconfirm" style="width: 100% !important;">
        Get it For Free</button>

    <button type="button" disabled readonly *ngIf="_HelperService.IsFormProcessing" class="approve dd-footerconfirm"
        style="width: 100% !important;">Please
        wait
        ...</button>
</div>
<div class="tuc-footer dd-footer" *ngIf="StoreInfo.Amount > 0 && StoreInfo.TotalPurchaseRemaining > 0">
    <!-- <button type="button" (click)="SaveBookmark()" *ngIf="!_HelperService.IsFormProcessing"
        class="cancel dd-footerbookmark">
        <i class="lni lni-heart"></i> Wishlist
    </button> -->
    <button type="button" (click)="BuyConfirm()" *ngIf="!_HelperService.IsFormProcessing"
        class="approve dd-footerconfirm" style="width: 100% !important;">Buy
        Now
    </button>

    <button type="button" disabled readonly *ngIf="_HelperService.IsFormProcessing" class="approve dd-footerconfirm"
        style="width: 100% !important;">Please
        wait
        ...</button>
</div>
<div class="tuc-footer dd-footer" *ngIf="StoreInfo.Amount > 0 && StoreInfo.TotalPurchaseRemaining  <  1">
    <!-- <button type="button" (click)="SaveBookmark()" *ngIf="!_HelperService.IsFormProcessing"
        class="cancel dd-footerbookmark">
        <i class="lni lni-heart"></i> Wishlist
    </button> -->
    <button type="button" disabled class="approve dd-footerconfirm" style="width: 100% !important;">
        Deal Sold Out
    </button>
</div>



<div style="display: none;">
    <ion-button id="paymentbutton" angular4-paystack [key]="_HelperService.AppConfig.PayStackKey"
        [email]="_HelperService.AccountInfo.User.EmailAddress" [amount]="PurchaseDetails.Amount * 100"
        [ref]="PurchaseDetails.ReferenceKey" (onClose)="ProcessOnline_Cancel()"
        (callback)="ProcessOnline_Confirm($event)">
    </ion-button>
</div>



<!-- 
<div class="page-header " style="  padding: 0px;    background-size: cover;height: 256px; padding: 0px !important;"
[style.background-image]="'url(' + StoreInfo.ImageUrl + ')'">
<div class="gradient" style="        padding: 10px 16px; 
        width: 100%;position: relative;
        height: 100%;     padding: 16px 20px !important;    padding-top: 90px !important;">
    <div class="text-ellipsis" style="    position: absolute;
    padding-bottom: 8px;
    bottom: 0;
    margin-bottom: 16px;
    margin-top: 16px;
    width: 100%;
    text-align: right;
    padding-right: 40px;">

        <span class="" style="font-size:14px; font-weight: 500; color:#ffffff;">

            <span
                *ngIf="StoreInfo.Images != undefined && StoreInfo.Images != null && StoreInfo.Images.length > 0"
                (click)="ShowGallery()" style="    margin-right: 16px;"> {{StoreInfo.Images.length || "0"}}
                Photos</span>


            <i class="las la-eye"></i> {{StoreInfo.Views || "0"}} &nbsp;<span
                style="color: rgb(255 ,255 ,255 , 0.50) ;">|</span>&nbsp;
            <i class="las la-fire" style="color: #F3705A;"></i> {{StoreInfo.TotalPurchase || "0"}} sold &nbsp;
        </span>

    </div>
</div>
</div> -->