<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text=""> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header">
        <img src="{{_PageConfig.SelectedProvider.IconUrl}}" class="hcx-page-header-image">
        <div class="hcx-page-header-title">
            <span *ngIf="_PageConfig.Type == 'airtime'">
                Airtime
            </span>
            <span *ngIf="_PageConfig.Type == 'tv'">
                Paid Tv
            </span>
            <span *ngIf="_PageConfig.Type == 'electricity'">
                Electricity
            </span>
        </div>
        <div class="hcx-page-header-body" *ngIf="_PageConfig.Type == 'airtime'">
            Enter the recipient's details
        </div>
    </div>
    <div class="hcx-page-body hcx-page-body-white hcx-page-body-padding">
        <div *ngIf="Stage == 0">
            <!-- <div class="form-group">
                <div class="label">
                    Mobile Number
                </div>
                <input class="input" type="tel" max-length="15" [(ngModel)]="_PageConfig.AccountNumber">
            </div>
            <div class="form-group">
                <div class="label">
                    Account Number
                </div>
                <input class="input" type="tel" max-length="15" [(ngModel)]="_PageConfig.AccountNumber">
            </div> -->
            <ion-grid no-padding>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label" *ngIf="_PageConfig.Type == 'airtime'">Mobile Number
                        </ion-label>
                        <ion-label class="input-label" *ngIf="_PageConfig.Type != 'airtime'">Account Number
                        </ion-label>
                        <ion-input class="f-s-content input" type="tel" max-length="10"
                            [(ngModel)]="_PageConfig.AccountNumber">
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label"> Amount
                        </ion-label>
                        <ion-input class="f-s-content input" type="number" max-length="10"
                            [(ngModel)]="_PageConfig.Amount">
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div margin-bottom *ngIf="!_HelperService.AppConfig.IsProcessing">
                <ion-button expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                    (click)="InitializePayment()">
                    Continue
                </ion-button>
            </div>
            <div margin-bottom *ngIf="_HelperService.AppConfig.IsProcessing">
                <ion-button expand="full" disabled readonly color="primary" shape="round" size="medium"
                    class="r-2x f-s-n no-shadow">
                    Please wait ...
                </ion-button>
            </div>
        </div>
        <div *ngIf="Stage == 1">
            <div style="font-size: 38px;
            text-align: center;
            padding-top: 16px;
            padding-bottom: 8px;
            font-weight: 600;">
                <span class="list-amount-currency" style="font-size: 20px;"><span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{_PageConfig.Amount |
                number:
                "1.2-2"}}
            </div>
            <div style="margin-bottom: 16px;text-align:center;font-weight: 500;font-size: 14px;">
                Topup Amount
            </div>
            <div style="    padding: 16px; margin-bottom: 16px;border-radius: 8px;;
        background-color: #f7f7f7;">
                <div class="tuc-card-i-header" style="font-size: 12px !important; color: #9D9D9D;">Payment Details</div>
                <div style="    font-weight: 500;">
                    <div class="line-height">
                        <span style="color: #4c4c4c; font-size: 12px;">
                            Account / Mobile Number
                        </span>
                        <span style="float: right;">
                            {{_PageConfig.AccountNumber || "--"}}
                        </span>
                    </div>
                    <div class="line-height">
                        <span style="color: #4c4c4c; font-size: 12px;">
                            Service
                        </span>
                        <span style="float: right;">
                            {{_PageConfig.InitializeResponse.VasProduct || "--"}}
                        </span>
                    </div>
                    <div class="line-height">
                        <span style="color: #4c4c4c; font-size: 12px;">
                            Package
                        </span>
                        <span style="float: right;">
                            {{_PageConfig.InitializeResponse.VasProductItem || "--"}}
                        </span>
                    </div>

                    <div class="line-height" style="    line-height: 34px;
                    border-bottom: 1px dotted #ccc;
                    padding-bottom: 8px;
                    margin-bottom: 8px;">
                        <span style="color: #4c4c4c; font-size: 12px;">
                            Ref
                        </span>
                        <span style="float: right;">
                            # {{_PageConfig.InitializeResponse.ReferenceId || "--"}}
                        </span>
                    </div>
                    <div *ngIf="_PageConfig.InitializeResponse.Data != undefined">

                        <div
                            *ngIf="_PageConfig.InitializeResponse.Data != undefined && _PageConfig.InitializeResponse.Data != null  ">
                            <div class="tuc-card-i-header" style="font-size: 12px !important; color: #9D9D9D;">Account
                                Details</div>

                            <div
                                *ngIf="_PageConfig.InitializeResponse.Data.Customer != undefined && _PageConfig.InitializeResponse.Data.Customer != null   ">
                                <div class="line-height" style="line-height: 34px;">
                                    <span style="color: #4c4c4c; font-size: 12px;">
                                        Customer
                                    </span>
                                    <span style="float: right;">
                                        {{_PageConfig.InitializeResponse.Data.Customer.CustomerName || "--"}}
                                    </span>
                                </div>
                                <div class="line-height" style="line-height: 34px;"
                                    *ngIf="_PageConfig.InitializeResponse.Data.Customer.MeterNumber != undefined && _PageConfig.InitializeResponse.Data.Customer.MeterNumber != null">
                                    <span style="color: #4c4c4c; font-size: 12px;">
                                        Meter Number
                                    </span>
                                    <span style="float: right;">
                                        {{_PageConfig.InitializeResponse.Data.Customer.MeterNumber || "--"}}
                                    </span>
                                </div>
                                <div class="line-height" style="line-height: 34px;"
                                    *ngIf="_PageConfig.InitializeResponse.Data.Customer.ArrearsBalance != undefined && _PageConfig.InitializeResponse.Data.Customer.ArrearsBalance != null">
                                    <span style="color: #4c4c4c; font-size: 12px;">
                                        Arrears Balance
                                    </span>
                                    <span style="float: right;">
                                        {{_PageConfig.InitializeResponse.Data.Customer.ArrearsBalance || "--"}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="line-height" style="line-height: 34px;"
                            *ngIf="_PageConfig.InitializeResponse.Data.OrderId != undefined && _PageConfig.InitializeResponse.Data.OrderId != null">
                            <span style="color: #4c4c4c; font-size: 12px;">
                                Order Id
                            </span>
                            <span style="float: right;">
                                {{_PageConfig.InitializeResponse.Data.OrderId || "--"}}
                            </span>
                        </div>
                        <div class="line-height" style="line-height: 34px;"
                            *ngIf="_PageConfig.InitializeResponse.Data.MinimumAmount != undefined && _PageConfig.InitializeResponse.Data.MinimumAmount != null">
                            <span style="color: #4c4c4c; font-size: 12px;">
                                Minimum Payment Amount
                            </span>
                            <span style="float: right;">
                                {{_PageConfig.InitializeResponse.Data.MinimumAmount || "--"}}
                            </span>
                        </div>
                    </div>



                </div>
            </div>
            <ion-row>
                <ion-col>
                    <button (click)="CancelPayment()" style="text-align: center;
                    padding: 14px 8px;
                    border-radius: 4px;
                    background-color: #efefef; width: 100%;
                    font-weight: 500;" *ngIf="!_HelperService.AppConfig.IsProcessing">
                        Cancel
                    </button>
                    <button disabled readonly style="text-align: center;
                    padding: 14px 8px;
                    border-radius: 4px;
                    background-color: #efefef; width: 100%;
                    " *ngIf="_HelperService.AppConfig.IsProcessing">
                        Please wait...
                    </button>

                </ion-col>
                <ion-col>
                    <button (click)="OpenPaymentModal()" style="text-align: center;
                    padding: 12px 8px;
                    border-radius: 4px;
                    background-color: #B11A83; font-weight: 500; width: 100%;
                    color: #ffffff;" *ngIf="!_HelperService.AppConfig.IsProcessing">
                        Make payment
                    </button>
                    <button disabled readonly style="text-align: center;
                    padding: 12px 8px;
                    border-radius: 4px;
                    background-color: #B11A83;  width: 100%;
                    color: #ffffff;" *ngIf="_HelperService.AppConfig.IsProcessing">
                        Please wait...
                    </button>
                </ion-col>
            </ion-row>
        </div>
    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>

    </div>
</ion-content>
<!-- 
 <ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title"> <span class="statusbar-title">
                    <span *ngIf="_PageConfig.Type == 'airtime'">
                        Airtime
                    </span>
                    <span *ngIf="_PageConfig.Type == 'tv'">
                        Paid Tv
                    </span>
                    <span *ngIf="_PageConfig.Type == 'electricity'">
                        Electricity
                    </span>
                </span>
            </span>
        </ion-title> 
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ngOnInit()">
                <i slot="start" class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-app">
    <div class="page-header " text-center>
        <img src="{{_PageConfig.SelectedProvider.IconUrl}}" class="page-header-img">
        <div>
            <div class="page-header-title">{{_PageConfig.SelectedProvider.Name}}</div>
            <div class="page-header-subtitle">{{_PageConfig.SelectedProviderPackage.Name}}</div>
        </div>
    </div>
    <div class="container p-t-0" style="    min-height: 87%;">
        <div margin *ngIf="Stage == 0">
            <ion-grid no-padding>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label" *ngIf="_PageConfig.Type == 'airtime'">Mobile Number
                        </ion-label>
                        <ion-label class="input-label" *ngIf="_PageConfig.Type != 'airtime'">Account Number
                        </ion-label>
                        <ion-input class="f-s-content input" type="tel" max-length="10"
                            [(ngModel)]="_PageConfig.AccountNumber">
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Enter Amount
                        </ion-label>
                        <ion-input class="f-s-content input" type="number" max-length="10"
                            [(ngModel)]="_PageConfig.Amount">
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div margin-bottom *ngIf="!_HelperService.AppConfig.IsProcessing">
                <ion-button expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                    (click)="InitializePayment()">
                    Continue
                </ion-button>
            </div>
            <div margin-bottom *ngIf="_HelperService.AppConfig.IsProcessing">
                <ion-button expand="full" disabled readonly color="primary" shape="round" size="medium"
                    class="r-2x f-s-n no-shadow">
                    Please wait ...
                </ion-button>
            </div>
        </div>
        <div margin *ngIf="Stage == 1">
            <div style="font-size: 38px;
            text-align: center;
            padding-top: 16px;
            padding-bottom: 8px;
            font-weight: 600;">
                <span class="list-amount-currency" style="font-size: 20px;"><span  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{_PageConfig.Amount | number:
                "1.2-2"}}
            </div>
            <div style="margin-bottom: 16px;text-align:center;font-weight: 500;font-size: 14px;">
                Topup Amount
            </div>
            <div style="    padding: 16px; margin-bottom: 16px;border-radius: 8px;;
        background-color: #f7f7f7;">
                <div class="tuc-card-i-header" style="font-size: 12px !important; color: #9D9D9D;">Payment Details</div>
                <div style="    font-weight: 500;">
                    <div class="line-height">
                        <span style="color: #4c4c4c; font-size: 12px;">
                            Account / Mobile Number
                        </span>
                        <span style="float: right;">
                            {{_PageConfig.AccountNumber || "--"}}
                        </span>
                    </div>
                    <div class="line-height">
                        <span style="color: #4c4c4c; font-size: 12px;">
                            Service
                        </span>
                        <span style="float: right;">
                            {{_PageConfig.InitializeResponse.VasProduct || "--"}}
                        </span>
                    </div>
                    <div class="line-height">
                        <span style="color: #4c4c4c; font-size: 12px;">
                            Package
                        </span>
                        <span style="float: right;">
                            {{_PageConfig.InitializeResponse.VasProductItem || "--"}}
                        </span>
                    </div>

                    <div class="line-height" style="    line-height: 34px;
                    border-bottom: 1px dotted #ccc;
                    padding-bottom: 8px;
                    margin-bottom: 8px;">
                        <span style="color: #4c4c4c; font-size: 12px;">
                            Ref
                        </span>
                        <span style="float: right;">
                            # {{_PageConfig.InitializeResponse.ReferenceId || "--"}}
                        </span>
                    </div>

                    <div
                        *ngIf="_PageConfig.InitializeResponse.Data != undefined && _PageConfig.InitializeResponse.Data != null  ">

                        <div class="tuc-card-i-header" style="font-size: 12px !important; color: #9D9D9D;">Account
                            Details</div>

                        <div
                            *ngIf="_PageConfig.InitializeResponse.Data.Customer != undefined && _PageConfig.InitializeResponse.Data.Customer != null   ">
                            <div class="line-height" style="line-height: 34px;">
                                <span style="color: #4c4c4c; font-size: 12px;">
                                    Customer
                                </span>
                                <span style="float: right;">
                                    {{_PageConfig.InitializeResponse.Data.Customer.CustomerName || "--"}}
                                </span>
                            </div>
                            <div class="line-height" style="line-height: 34px;"
                                *ngIf="_PageConfig.InitializeResponse.Data.Customer.MeterNumber != undefined && _PageConfig.InitializeResponse.Data.Customer.MeterNumber != null">
                                <span style="color: #4c4c4c; font-size: 12px;">
                                    Meter Number
                                </span>
                                <span style="float: right;">
                                    {{_PageConfig.InitializeResponse.Data.Customer.MeterNumber || "--"}}
                                </span>
                            </div>
                            <div class="line-height" style="line-height: 34px;"
                                *ngIf="_PageConfig.InitializeResponse.Data.Customer.ArrearsBalance != undefined && _PageConfig.InitializeResponse.Data.Customer.ArrearsBalance != null">
                                <span style="color: #4c4c4c; font-size: 12px;">
                                    Arrears Balance
                                </span>
                                <span style="float: right;">
                                    {{_PageConfig.InitializeResponse.Data.Customer.ArrearsBalance || "--"}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="line-height" style="line-height: 34px;"
                        *ngIf="_PageConfig.InitializeResponse.Data.OrderId != undefined && _PageConfig.InitializeResponse.Data.OrderId != null">
                        <span style="color: #4c4c4c; font-size: 12px;">
                            Order Id
                        </span>
                        <span style="float: right;">
                            {{_PageConfig.InitializeResponse.Data.OrderId || "--"}}
                        </span>
                    </div>
                    <div class="line-height" style="line-height: 34px;"
                        *ngIf="_PageConfig.InitializeResponse.Data.MinimumAmount != undefined && _PageConfig.InitializeResponse.Data.MinimumAmount != null">
                        <span style="color: #4c4c4c; font-size: 12px;">
                            Minimum Payment Amount
                        </span>
                        <span style="float: right;">
                            {{_PageConfig.InitializeResponse.Data.MinimumAmount || "--"}}
                        </span>
                    </div>
                </div>
            </div>
            <ion-row>
                <ion-col>
                    <button (click)="CancelPayment()" style="text-align: center;
                    padding: 14px 8px;
                    border-radius: 4px;
                    background-color: #efefef; width: 100%;
                    font-weight: 500;" *ngIf="!_HelperService.AppConfig.IsProcessing">
                        Cancel
                    </button>
                    <button disabled readonly style="text-align: center;
                    padding: 14px 8px;
                    border-radius: 4px;
                    background-color: #efefef; width: 100%;
                    " *ngIf="_HelperService.AppConfig.IsProcessing">
                        Please wait...
                    </button>

                </ion-col>
                <ion-col>
                    <button (click)="OpenPaymentModal()" style="text-align: center;
                    padding: 12px 8px;
                    border-radius: 4px;
                    background-color: #B11A83; font-weight: 500; width: 100%;
                    color: #ffffff;" *ngIf="!_HelperService.AppConfig.IsProcessing">
                        Make payment
                    </button>
                    <button disabled readonly style="text-align: center;
                    padding: 12px 8px;
                    border-radius: 4px;
                    background-color: #B11A83;  width: 100%;
                    color: #ffffff;" *ngIf="_HelperService.AppConfig.IsProcessing">
                        Please wait...
                    </button>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>  -->