<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text=""> </ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button class="hcx-page-titlebar-btn" (click)="ngOnInit()">
                <ion-icon name="refresh"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header">
        <img src="{{_PageConfig.SelectedProvider.IconUrl}}" class="hcx-page-header-image">
        <div class="hcx-page-header-title">
            {{_PageConfig.SelectedProvider.Name}}
        </div>
        <div class="hcx-page-header-body">
            Select your package
        </div>
    </div>
    <div class="hcx-page-body hcx-page-padding">
        <div class="hcx-vas-pkg-list-container">
            <div class="hcx-vas-pkg-list-item" (click)="PackageSelected(TItem)"
                *ngFor="let TItem of _PageConfig.SelectedProvider.ProductItems">
                <div class="hcx-vas-pkg-list-title">
                    {{TItem.Name}}
                </div>
                <div class="hcx-vas-pkg-list-details">
                    <div class="hcx-vas-pkg-list-price">
                        <span class="currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                        {{TItem.Amount| number: "1.0-1" || "--"}}
                    </div>
                    <div class="hcx-vas-pkg-list-validity">
                        <div class="title">
                            Validity
                        </div>
                        <div class="value">
                            {{TItem.Validity || "0"}}
                        </div>
                    </div>
                </div>
                <div class="hcx-vas-pkg-list-rewards"
                    *ngIf="TItem.RewardAmountText != undefined && TItem.RewardAmountText != null && TItem.RewardAmountText != ''">
                    <span [innerHtml]="TItem.RewardAmountText"></span>
                    <!-- EARN <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span> {{TItem.RewardAmount
                    || "0"}} ON THIS TOPUP -->
                </div>
            </div>
        </div>

        <!-- <div class="hcx-page-item hcx-page-item-top text-center">
            <div class="hcx-page-item-title" *ngIf="_PageConfig.SelectedProvider.MaximumRewardPercentage > 0">
                Select one of the package below to earn upto
                {{_PageConfig.SelectedProvider.MaximumRewardPercentage}}%
                cashback on successful topup
            </div>
            <div class="hcx-page-item-body">
                <div
                    *ngIf="_PageConfig.SelectedProvider.ProductItems != undefined && _PageConfig.SelectedProvider.ProductItems.length > 0">
                    <div (click)="PackageSelected(TItem)" class="line-height"
                        *ngFor="let TItem of _PageConfig.SelectedProvider.ProductItems" style="line-height: 36px;
        margin-bottom: 16px;
        padding: 8px;
        border: 1px solid #efefef;
        border-radius: 8px;"><span style="color: #5f5d5d; font-size: 13px;    font-size: 12px;
            padding-left: 16px;    font-weight: 500;"> {{TItem.Name}} </span><span style="float: right;
            font-size: 12px;
            background-color: #efefef;
            padding: 4px;
            line-height: normal;
            border-radius: 8px;
            font-weight: 500;color: #B11A83;
            margin-top: 8px;" *ngIf="TItem.Amount > 0"> <span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{TItem.Amount}}
                        </span>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>

    </div>
</ion-content>