<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class="appdb-titlebar">
    <ion-toolbar class="appdb-titlebar appdb-titlebar-container">
        <span class="btn close" (click)="_HelperService.NavBack()">
            <i class="lni lni-close"></i>
        </span>
        <img [src]="_HelperService.AccountInfo.UserAccount.IconUrl" (click)="NavProfile()" class="profileimg">
        <div class="loctitle" (click)="_HelperService.NavLocationManager()">
            Your Location
        </div>
        <div class="loc" (click)="_HelperService.NavLocationManager()">
            <span>{{ UserCustomAddress.CityName || "Set Address" }}</span>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content class="appdb" forceOverscroll="false">
    <div class="appdb-body">
        <div class="appdb-item appdb-item-first" style="margin-bottom: 0px;    padding-top: 16px;">
            <div class="divsearch" style="    background-color: #f5f6fa;
            margin-left: 16px;
            margin-right: 16px;
            border-radius: 12px;
            font-size: 14px;
            margin-bottom: 16px;">
                <ion-searchbar [(ngModel)]="DealsSearchCondition" class="input" (ionChange)="SearchDeal()" style="background-color: #f5f6fa;
                border-radius: 6px;">
                </ion-searchbar>
            </div>
            <div class="appdb-item-body" style="padding-bottom: 0px;">
                <div class="dealcat-slider">
                    <div class="dealcat-slider-item" *ngFor="let TItem of _Categories ; let i = index"
                        (click)="CategorySelected(TItem)">
                        <div class="dealcat-slider-item-image">
                            <img [src]="TItem.IconUrl">
                        </div>
                        <div class="title">
                            {{TItem.Name}}
                        </div>
                    </div>
                </div>
            </div>

            <div style="    margin-bottom: 16px;
            padding-bottom: 8px;
            margin-left: 16px;
            margin-right: 16px;"
                *ngIf="_CategoriesSelected != undefined && _CategoriesSelected != null &&  _CategoriesSelected.length > 0">
                <span (click)="CategoryUnSelected(TItem)" *ngFor="let TItem of _CategoriesSelected ; let i = index"
                    style="    color: #B11A83;
                background-color: #B11A831F;
                border-radius: 6px;
                padding-left: 6px;
                padding-right: 6px;
                font-size: 12px;
                line-height: 24px;
                padding-top: 4px;
                padding-bottom: 4px;">
                    {{TItem.Name}}
                </span>
            </div>
        </div>
        <div class="deals-list">
            <div class="deal-item" *ngFor="let TItem of _Deals; let index=index; let odd=odd; let even=even;"
                (click)="DealClick(TItem)">
                <div class="header" [style.background-image]="'url('+TItem.ImageUrl+')'">
                    <div class="container">
                        <span class="timer">
                            <span class="counter">
                                <i class="lni lni-timer"></i>
                                <countdown [config]="TItem.CountdownConfig"></countdown>
                            </span>
                        </span>
                        <div class="category">
                            <span>
                                {{TItem.CategoryName}}
                            </span>
                        </div>
                        <div class="merchant">
                            <img [src]="TItem.MerchantIconUrl">
                            <!-- <span class="merchantname">
                                {{TItem.MerchantName}}
                            </span> -->
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="title" [innerHtml]="TItem.Title">
                    </div>
                    <div class="pricing">
                        <span class="sellingprice">
                            <span class="currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.SellingPrice |
                            number: "1.0-1" || "--"}}
                        </span>
                        <span class="actualprice">
                            <span class="currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.ActualPrice
                            | number: "1.0-1" || "--"}}
                        </span>

                        <span class="discount">
                            {{TItem.DiscountPercentage || "0"}}% off
                        </span>
                    </div>
                    <div class="merchant">
                        <span class="merchantname">
                            at
                            {{TItem.MerchantName}}
                        </span>
                        <span class="distance" *ngIf="TItem.Distance != undefined && TItem.Distance != null">
                            <i class=" las la-walking"></i> {{TItem.Distance}} km away
                        </span>
                    </div>
                </div>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="GetDeals_NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more deals ...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
</ion-content>