<ion-header no-border>
    <ion-toolbar class="page-modal-header">
        <div class="page-modal-header-container-amount">
            <div class="amount">
                <span class="currency"><span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                {{_TransactionDetails.TotalAmount | number: "1.2-2"}}
            </div>
            <div class="amount-title">
                Topup Amount
            </div>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content class="page-modal" forceOverscroll="false">
    <div class="page-modal-container">
        <div class="inv">
            <div class="inv-header">
                Payment Details
            </div>
            <div class="inv-body">
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Payment Mode
                    </span>
                    <span class="inv-body-item-right">
                        {{_TransactionDetails.PaymentMethodName || "--"}}
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Amount
                    </span>
                    <span class="inv-body-item-right">
                        <span class="currency"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{_TransactionDetails.Amount
                        | number: "1.2-2"}}
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Processing Charges
                    </span>
                    <span class="inv-body-item-right">
                        <span class="currency"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{_TransactionDetails.Charge
                        | number: "1.2-2"}}
                    </span>
                </div>
                <div class="inv-body-item-prime">
                    <span class="inv-body-item-left">
                        Total Amount
                    </span>
                    <span class="inv-body-item-right">
                        <span class="currency"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{_TransactionDetails.TotalAmount
                        | number: "1.2-2"}}
                    </span>
                </div>

                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Date
                    </span>
                    <span class="inv-body-item-right">
                        {{_TransactionDetails.TransactionDate || "--"}}
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Status
                    </span>
                    <span class="inv-body-item-right">
                        <span [ngClass]="{ 
                            'text-success': _TransactionDetails.StatusCode == 'transaction.success',
                            'text-danger': _TransactionDetails.StatusCode != 'transaction.success' }">
                            {{_TransactionDetails.StatusName || "--"}}
                        </span>
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Reference
                    </span>
                    <span class="inv-body-item-right">
                        {{_TransactionDetails.ReferenceNumber || "--"}}
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="_TransactionDetails.StatusCode == 'transaction.initialized' " (click)="ProcessUssd_Confirm()"
            class="btn-light">
            Verify Payment
        </div>
    </div>
</ion-content>
<div class="page-modal-footer">
    <button class="btn-cancel full-width" (click)="_HelperService.ModalDismiss('noaction')">
        Close
    </button>
</div>