/* App Color  #B11A83 */



.statusbar-title {
    font-size: 16px;
    font-weight: 500;
    --color: #FFFFFF;
    color: #FFFFFF;
}

.statusbar-subtitle {
    font-size: 10px;
    --color: #FFFFFF;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 600;
}

.statusbar-title-count {
    font-size: 14px;
    font-weight: 500;
    --color: #FFFFFF;
    color: #FFFFFF;
}





.c-en-b-light {
    color: #4CAF50 !important;
}




.bg-en-b-light,
.toolbar-container {
    --background-color: #4CAF50 !important;
    background-color: #4CAF50 !important;
}

.bg-en-b-dark {
    background-color: #B11A83 !important;
    --background: #B11A83 !important;
}

.c-en-b-dark {
    color: #B11A83 !important;
}

.bg-en-b-lightgrey {
    background-color: #f7f7f7 !important;
}

.c-grey {
    color: #ccc !important;
}

.c-purple {
    color: purple;
}

.f-s-n {
    font-size: 13px;
}


button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.next-button{
    float: right;
    background-color: #a32f80;
    color: #ffffff;
    font-weight: 500;
    padding: 16px 16px;
    border-radius: 8px;
    margin-right: 16px;
}


.f-s-content {
    font-size: 13px;
}

.no-shadow {
    box-shadow: none;
    --box-shadow: none;
}

.p-container {
    color: #B11A83 !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    position: fixed;
    z-index: 9999;
    width: 100%;
    bottom: 0;
    overflow-x: auto;
    white-space: nowrap;
}

.p-item {
    width: 30%;
    min-width: 110px;
    float: left;
    /* height: 160px; */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    /* margin-right: 10px; */
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.p-title {
    font-size: 13px;
    font-weight: 900;
    text-align: left;
}

.p-subtitle {
    font-size: 10px;
    font-weight: 900;
    color: #949494;
    text-align: left;
    margin-bottom: 15px;
}

.p-icon {
    text-align: center;
    text-align: center;
    margin-bottom: 10px;
}

.p-icon img {
    width: 80px;
}

.p-price {
    font-weight: 900;
    color: #B11A83 !important;
    text-align: center;
    font-size: 13px;
}



.s-content {
    width: 110px;
    background-color: rgba(255, 255, 255, 0.7);
    float: none;
    margin: 0 0.25%;
    padding: 10px;
    display: inline-block;
    zoom: 1;
    margin-right: 8px;
    border-radius: 6px;
    border: 1px solid #cfd0ff;
}


/* New Clases */

.home-widget-card {
    border: 1px solid #f1e502;
    box-shadow: none;
    border-radius: 4px;
    background-color: rgba(30, 32, 78, 0.05);
    margin: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.home-widget-title {
    /* text-align: center;
    font-size: 12px;
    margin-top: 10px;
    color: #1e204e;
    font-weight: 600; */
    text-align: center;
    font-size: 11px;

    margin-bottom: 4px;
    margin-top: 6px;
    color: #1e204e;
    font-weight: 600;
    text-transform: capitalize;
}

.home-widget-card img {
    width: 64px;
    margin-left: auto;
    margin-right: auto;
}


ion-content {
    background-color: linear-gradient(to bottom, #f8f8f8 40%, #f8f8f8 40%, #ffffff 41%);
    --ion-background-color: linear-gradient(to bottom, #f8f8f8 40%, #f8f8f8 40%, #ffffff 41%);
    background: #f8f8f8;
    background: -moz-linear-gradient(top, #f8f8f8 40%, #f8f8f8 40%, #ffffff 41%);
    background: -webkit-linear-gradient(top, #f8f8f8 40%, #f8f8f8 40%, #ffffff 41%);
    background: linear-gradient(to bottom, #f8f8f8 40%, #f8f8f8 40%, #ffffff 41%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#ffffff', GradientType=0);
    --color: #32353E;
    color: #32353E;
}

.bg-light {
    --background: #f6f6f6;
    background: #f6f6f6;
}


.card {
    box-shadow: none;
}

.card ion-card-header {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 0px;
    color: #2f3268;
    text-transform: uppercase;
}

.card ion-card-content {
    padding-left: 6px;
    padding-right: 6px;
}

.home-widget-subtitle {
    text-align: center;
    font-size: 10px;
    margin-top: 0px;
    color: #4d4f7d;
    font-weight: 600;
}

.offlinemap,
.mofflinemapselector {
    border-top: 1px solid rgb(197, 232, 197);
    width: 100%;
    min-height: 200px;
    height: 200px;
    background-color: rgb(204, 204, 204);
    position: relative;
    margin-top: 10px !important;
}



.header-container {
    background-color: #f7f7f7;
    padding: 16px;
}

.header-container-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
}

.header-container-subtitle {
    text-transform: lowercase;
    font-size: 13px;
    color: #5f5f5f;
}

.timing-active {
    background-color: #34900e;
    font-size: 12px;
    text-align: center;
    padding: 8px 8px;
    font-weight: 500;
    border-radius: 3px;
    color: #ffffff;
}

.timing-inactive {
    background-color: #ccc;
    font-size: 12px;
    text-align: center;
    padding: 8px 8px;
    font-weight: 500;
    border-radius: 3px;
}

.en-primary {
    background-color: #2F325C !important;
    --background-color: #2F325C !important;
}

.en-primary-light {
    background-color: #575D90 !important;
    --background-color: #575D90 !important;
}


.en-secondary {
    background-color: #FFF212 !important;
    --background-color: #FFF212 !important;
}

.en-danger {
    background-color: #FF6663 !important;
    --background-color: #FF6663 !important;
}



.en-text-primary {
    color: #2F325C !important;
    --color: #2F325C !important;
}

.en-text-primary-light {
    color: #575D90 !important;
    --color: #575D90 !important;
}


.en-text-secondary {
    color: #FFF212 !important;
    --color: #FFF212 !important;
}

.en-text-danger {
    color: #FF6663 !important;
    --color: #FF6663 !important;
}

.input-xl-container {
    border-radius: 4px;
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #f5f3f3;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #f7f7f7;
}

.input-xl-content-icon {

    font-size: 30px;
    font-weight: 300;
    padding-left: 16px;
    padding-right: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #0A2F56;
    background-color: transparent;
}

.input-xl-content-input {
    font-weight: 300;
    font-size: 30px;
    color: #0A2F56;
}

.r-2x {
    --border-radius: 6px !important;
    border-radius: 6px !important;
}


.content-title {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #2f315b;
    margin-bottom: 10px;
    padding-bottom: 16px;
}




.intro-header-inverse {
    background-color: #2f3268;
    color: #ffffff;
    padding: 16px;
}

.intro-header-right {
    float: right;
    padding-top: 6px;
}

.intro-header-right-currency {
    font-size: 14px;
}

.intro-header-right-amount {
    font-size: 26px;
}

.intro-header-title-inverse {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 6px;
    color: #ffffff;
}

.intro-header-subtitle-inverse {
    text-transform: lowercase;
    font-size: 13px;
    color: #ffffff;
}

.intro-header {
    background-color: rgba(0, 12, 255, 0.04);
    padding: 16px;
    border-bottom: 1px solid rgba(47, 49, 91, 0.15);
    border-top: 1px solid rgba(47, 49, 91, 0.15);
}

.intro-header-title {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 6px;
    color: #2c2f61;
}

.intro-header-subtitle {
    text-transform: lowercase;
    font-size: 13px;
    color: #5f5f5f;
}

.productlist-h {
    padding: 10px 8px;
    background-color: #f7f7f7;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #c3c6f9;
    font-size: 13px;
    display: flex;
    /* text-align: center; */
}

.productlist-icon-h {
    float: left;
    width: 80px;
    margin-right: 16px;
}

.productlist-title-h {
    font-size: 13px;
    font-weight: 500;
    color: #2c2f61;
    text-transform: capitalize;
    margin-bottom: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productlist {
    padding: 10px 8px;
    background-color: #f7f7f7;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #c3c6f9;
    font-size: 13px;
    /* text-align: center; */
}

.productlist-icon {
    margin-bottom: 4px;
}

.productlist-title {
    font-size: 13px;
    font-weight: 500;
    color: #2c2f61;
    text-transform: capitalize;
    /* text-align: center; */
    margin-bottom: 6px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.text-lg {
    font-weight: 300;
    font-size: 26px;
    margin-top: 0px;
    text-transform: capitalize;
    padding-top: 0px;
    margin-bottom: 4px;
}


.details-item {
    margin-bottom: 6px;
}

.details-title {
    font-size: 13px;
    font-weight: 500;
    color: #404040;
}



.details-value {
    font-size: 14px;
    font-weight: 500;
    color: #404040
}

.details-separator {
    float: right
}


.statusarea {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: purple;
    padding: 3px 6px;
    border-radius: 4px;
    color: #fff;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}

.teal {
    background-color: teal;
}

.grey {
    background-color: grey;
}




.orders-container {
    background-color: #f7f7f7;
    border-radius: 6px;
    margin-bottom: 16px;
    border: 1px solid #f3f3f3;
    height: 120px;
}

.orders-area-left {
    float: left;
    width: 60px;
    padding-right: 0px;
    padding: 40px 6px;
    background-color: #ececf5;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right: 10px;
    height: 118px;
}

.orders-area-left {
    float: left;
    width: 60px;
    padding-right: 0px;
    padding: 40px 6px;
    background-color: #ececf5;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right: 10px;
    height: 118px;
}

.orders-area-right {
    padding: 8px 10px;
    border-radius: 3px;
}

.orders-title {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
}

.orders-title-mini {
    font-size: 10px;
    color: #777777;
    font-weight: 500;
}

.float-right {
    float: right;
}

.orders-price {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 16px;
}

.orders-date {
    font-weight: 500;
    margin-bottom: 12px;
    font-size: 11px;
    color: #777777;
}

.orders-status {
    float: right;
    font-weight: 600;
    font-size: 10px;
    /* color: orangered; */
    text-transform: uppercase;
}

.orders-status-title {
    font-size: 9px;
    text-align: center;
    font-weight: 500;
    color: #777777;
    margin-top: 8px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.item-title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #2f315b;
    margin-bottom: 10px;
}


.list-item {
    padding: 8px 16px;
    margin: 0px 0px 14px 0px;
    border-radius: 6px;
    background-color: rgba(247, 247, 247, 0.6)
}

.list-item-image {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 12px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 4px;
    background-color: #ffffff;
}

.list-item-title {
    color: #585858;
    font-weight: 500;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
}

.list-item-rating {
    color: #ffc107;
    background-color: #fdf3d3;
    float: right;
    padding: 0px 6px;
    border-radius: 4px;
    font-size: 11px;
}


.list-item-title-icon {
    width: 20px;
    margin-right: 8px;
    float: left;
    border-radius: 4px;
    border: 1px solid #a97cd6;
}

.list-item-subtitle {
    font-size: 11px;
    color: #989898;
    line-height: 26px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item-content {
    font-size: 11px;
    color: #989898;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-amount-currency {
    font-size: 10px;
    font-weight: 600;
}

.list-amount {
    font-size: 15px;
    font-weight: 600;
    line-height: 26px;
}

.list-item-cardicon {
    width: 22px;
    margin-top: -4px;
}

.list-amounttype {
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: green;
    color: #fff;
    padding: 2px 2px;
    border-radius: 3px;
}

.list-amounttypecard {
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #B11A83;
    color: #fff;
    padding: 2px 2px;
    border-radius: 3px;
}

.float-right {
    float: righ t;
}

.progressbar {
    position: fixed;
    z-index: 1024;
    background: transparent;
    top: 0;
    width: 100%;
    ;
}

.tuc-balancecard {
    margin: 16px 16px;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.8);
    background-color: #131c29;
    text-align: left;
    font-size: 13px;
    width: 100%;
    background-image: url('../images/bgtucicon.png');
    background-image: url(../images/bgtucicon.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 180px;
}

.tuc-balancecard .tuc-balancecard-balance {
    color: #ffffff;
}

.tuc-balancecard .db-currency {
    font-size: 18px;
}

.tuc-balancecard-purple {
    color: rgba(255, 255, 255, 0.7);
    background-color: #8C1BAB;
}

.tuc-balancecard-bronze {
    color: rgba(255, 255, 255, 0.7);
    background-color: #b08d57;
}

.tuc-balancecard-silver {
    color: rgba(0, 0, 0, 0.6);
    background-color: #C0C0C0;
}

.tuc-balancecard-gold {
    color: rgba(0, 0, 0, 0.6);
    background-color: #FFD700;
}

.tuc-balancecard-diamond {
    color: rgba(0, 0, 0, 0.6);
    background-color: #b9f2ff;
}

.tuc-balancecard-platinum {
    color: rgba(0, 0, 0, 0.6);
    background-color: #e5e4e2;
}

.tuc-balancecard-platinumplus {
    color: rgba(255, 255, 255, 0.6);
    background-color: #131c29;
}

.tuc-balancecard-platinumplus .tuc-balancecard-balance {
    color: rgba(255, 255, 255, 0.8);
}

.tuc-balancecard-logo {
    width: 110px !important;
    float: right;
}


.tuc-card-i {
    margin: 12px 16px;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    background-color: #ffeefa;
}

.tuc-card-i-icon {
    margin: 0px;
    padding: 36px 20px;
    background-color: #ffeefa;
    font-size: 37px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #B11A83;
    float: left;
}

.tuc-card-i-green {
    background-color: #dcfded;
}

.tuc-card-i-icon-green {
    background-color: #dcfded;
    color: #018e4a;
}

.tuc-card-i-content {
    padding: 16px;
    margin-left: 80px;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tuc-card-i-header {
    margin-bottom: 8px;
    color: #32353E;
    font-weight: 600;
    font-size: 14px;
}

.tuc-card-i-number {
    font-size: 22px;
    font-weight: 500;
    color: #3a3a3a;
}

.tuc-card-i-number-currency {
    font-size: 14px;
    font-weight: 600;
}

.tuc-card-i-footer {
    margin-top: 4px;
    font-size: 12px;
    color: #3a3a3a;
}


.tuc-card {
    margin: 12px 16px;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;

}

.tuc-card-header {
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 12px;
}


.tuc-card-header-icon {
    font-size: 20px;
    float: left;
    margin-right: 8px;
    margin-top: -2px;
}

.tuc-card-footer {
    font-weight: 500;
    font-size: 13px;
    margin-top: 12px;
}

.tuc-card-footer-icon {
    font-size: 18px;
    margin-left: 4px;
    position: absolute;
}

.tuc-card-body {
    font-size: 13px;
    color: #272727;
}

.text-md-currency {
    font-size: 16px;
    font-weight: 600;
}

.text-md {
    font-size: 18px;
    font-weight: 500;
    color: #3a3a3a;
}

.text-sm {
    font-weight: 500;
    /* margin-top: 8px; */
    font-size: 12px;
    color: #4c4c4c;
}

.tuc-subtitle {
    padding: 16px 16px 0px;
    font-size: 15px;
    font-weight: 600;
    color: #B11A83;
}


.text-primary {
    color: #B11A83;
}

.home-ql {
    /* background-color: #eeeef9; */
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.home-ql-margin-b {
    margin-bottom: 8px;
}

.home-ql-item {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.home-ql-icon {
    font-size: 22px;
    color: #B11A83;
}

.home-ql-number {
    font-size: 16px;
    color: #B11A83;
    font-weight: 500;
}

.home-ql-text {
    font-size: 11px;
    font-weight: 500;
    margin-top: 4px;
    color: #B11A83;
}


.text-orange {
    color: orange;
}




.terminalstatus {
    font-weight: 900;
    font-size: 8px;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 0px 4px;
    line-height: initial;
    color: #fff;
}

.terminal-active {
    border: 1px solid #008c48;
    background-color: #008c48;
}

.terminal-idle {
    border: 1px solid #ff5722;
    background-color: #ff5722;
}

.terminal-dead {
    border: 1px solid #e9223f;
    background-color: #e9223f;
}

.terminal-unused {
    border: 1px solid #607d8b;
    background-color: #607d8b;
}

.container-start-row {
    margin-left: 10px;
    margin-right: 10px;
}

.text-success,
.text-green {
    color: #008c48;
}

.text-danger {
    color: #e9223f;
}

.bg-success,
.bg-green {
    background-color: #008c48 !important;
}

.bg-danger2 {
    background-color: #ac172e !important;
}

.bg-danger3 {
    background-color: #6d1825 !important;
}

.bg-danger {
    background-color: #e9223f !important;
}

.p-t-0 {
    padding-top: 0px;
}

.search-box {
    width: calc(100% - 32px);
    margin: 16px 16px;
    background-color: #fcf9ff;
    padding: 18px 16px;
    text-decoration: none;
    color: #353535;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 500;
    border: 1px solid #f6eeff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.no-margin {
    margin: 0px;
}

.refreshbtn {
    color: #ffffff;
    border: 1px solid #bec0e4;
    border-radius: 100%;
    font-size: 16px;
    padding: 4px;
}

.modal-wrapper {
    background: #ffffff;
    --background: #ffffff;
}

.line-height {
    line-height: 26px;
}

.card-item-left {
    font-weight: normal;

}

.card-item-right {
    font-weight: 600;
    float: right;
    color: #2f2f2f;
}

.tab-sm-container {
    text-align: center;
    margin: 16px;
    display: flex;
    border-radius: 26px;
    border: 1px solid #a42f7f;
}

.tab-sm-item {
    width: 50%;
    float: left;
    padding: 8px 8px;
    color: #a42f7f;
    font-weight: 600;
    border-radius: 26px;
    margin: 3px;
}

.tab-sm-item-active {

    color: #ffffff;
    background: #a42f7f;
}

.tab-container {
    padding: 0px;
    list-style: none;
    background: #ffeefa;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
    border-radius: 50px;
    position: relative;
    margin: 16px;
    font-weight: 600;
    font-size: 12px;
    width: calc(100% - 32px);
}

.tab-item {
    text-decoration: none;
    color: #777;
    /* text-transform: uppercase; */
    padding: 10px 16px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
    border-radius: 20px;
    text-align: center;
}

.tab-item-active {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 16px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
    border-radius: 20px;
    background-color: #B11A83;
}


.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.scrolling-wrapper .scrolling-item {
    display: inline-block;
    width: auto;
    margin-right: 0px;
}

.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
}

.db-logo {
    float: right;
    width: 42px;
    height: 42px;
    border-radius: 10px;
    border: 2px solid #eddbff;
    box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.2);
}

.db-currency {
    font-size: 20px;
}

.db-mcount {
    font-weight: 500;
    font-size: 30px;
    text-align: left;
    margin-top: 0px;
}

.db-subtitle {
    font-weight: 600;
    font-size: 13px;
    text-align: left;
    margin-top: 8px;
    color: rgba(255, 255, 255, 0.80);
}


.f-s-22 {
    font-size: 22px;
}





/* Verified CSS */
ion-toolbar {
    --border-style: none;
}

html,
body {
    --ion-default-font: 'Nunito Sans' !important;
    --font-family: 'Nunito Sans' !important;
    --font-size: 13px;
    font-size: 13px;
}

.white,
icon-content,
.icon-content {
    background: #ffffff;
    --background: #ffffff;
    background-color: #ffffff;
    --background-color: #ffffff;

}

.launch {
    background: transparent;
    --background: transparent;
    background-color: transparent;
    --background-color: transparent;
}

/* .launch:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
    background-image: url('../../../assets/icon/brand.png');
    background-repeat: no-repeat;
    background-position: 13% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
} */

.text-white {
    color: #ffffff;
    --color: #ffffff;
}

.primary {
    background: #B11A83;
    --background: #B11A83;
    background-color: #B11A83;
    --background-color: #B11A83;
}

.text-primary {
    color: #B11A83 !important;
    --color: #B11A83 !important;
}

.transparent {
    --background: transparent !important;
    --background-color: transparent !important;
    background: transparent !important;
}



.number-container {
    text-align: center;
}


.number-item {
    width: 33.3333333333%;
    float: left;
}

.number-item div {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ad1a81;
    border-radius: 100%;
    font-size: 22px;
    font-weight: 300;
    line-height: 50px;
}



.menu-header {
    padding: 32px 16px;
    padding-top: 26px;
    color: #fff;
    background-color: #AF1482;
    margin-bottom: 15px;
}

.menu-header-title {
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: 600;
}

.menu-header-subtitle {
    font-size: 13px;
    margin-bottom: 4px;
}

.menu-item {
    padding: 4px 0px;
}

.menu-icon {
    font-size: 20px;
    margin-right: 16px;
    color: #9FA5AE;
    padding: 6px;
    border-radius: 100%;
    background-color: #E6E9F1;
}

.menu-text {
    font-size: 14px !important;
    /* font-weight: 500; */
    color: #263238 !important;
}



.titlebar {
    /* background-image: linear-gradient( 90deg, #B11A83 10%, #49225f 100%);
    --background-image: linear-gradient( 90deg, #B11A83 10%, #49225f 100%);
    --background: linear-gradient( 90deg, #B11A83 10%, #49225f 100%); */
    box-shadow: none;
    --box-shadow: none;
    color: #ffffff !important;
    --color: #ffffff !important;
    border: none !important;
    --border: none !important;
    --border-color: none;
    /* background: linear-gradient( 90deg, #B11A83 10%, #49225f 100%);
    --background: linear-gradient( 90deg, #B11A83 10%, #49225f 100%);
    background-color:linear-gradient( 90deg, #B11A83 10%, #49225f 100%);
    --background-color: linear-gradient( 90deg, #B11A83 10%, #49225f 100%); */
    /* background: #f6f6f6;
    --background: #f6f6f6; */
    --ion-background-color: #B11A83;
    --background-color: #B11A83;
    --background: #B11A83;
    /* box-shadow: 0px 0px 2px rgba(0,0,0,0.1); */
}


.b-b {
    border-bottom: 1px solid #f7f7f7;
}

.page-header {
    background: #B11A83;
    color: #ffffff !important;
    min-height: 120px !important;
    padding: 16px 20px !important;
    width: 100%;

    background: #B11A83;
    background: -moz-linear-gradient(180deg, rgba(177, 26, 128, 1) 0%, rgba(148, 29, 122, 1) 20%, rgba(70, 36, 99, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(177, 26, 128, 1) 0%, rgba(148, 29, 122, 1) 20%, rgba(70, 36, 99, 1) 100%);
    background: linear-gradient(180deg, rgba(177, 26, 128, 1) 0%, rgba(148, 29, 122, 1) 60%, rgba(70, 36, 99, 1) 100%);
    background-image: url(../../../assets/images/bgtucheader.png);
    background-size: cover;
}

.page-header-title-lg-b {
    font-weight: 300;
    font-size: 26px;
    text-align: left;
    margin-top: 0px;
}

.page-header-title-lg {
    font-weight: 300;
    font-size: 22px;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 6px;
}

.page-header-title {
    font-weight: 400;
    font-size: 22px;
    text-align: left;
    line-height: 32px;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.page-header-subtitle {
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    line-height: 26px;
}

.page-header-icon {
    font-size: 52px;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 4px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    float: right;
    width: 64px;
    height: 64px;
    margin-left: 16px;
}

.page-header-img {
    background-color: #f6f6f6;
    font-size: 32px;
    color: #B11A83;
    border-radius: 10px;
    padding: 4px;
    border: 2px solid rgba(164, 47, 128, 0.5);
    float: right;
    width: 64px;
    height: 64px;
    margin-left: 16px;
}



.page-header-lg-img {
    width: 100px;
    float: left;
    margin-right: 16px;
}

/* .page-header-details {
    background-color: #B11A83  !important;
    color:  #ffffff   !important;
  min-height: 130px !important;
  padding-top: 16px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-bottom: 16px !important;
} */
.page-header-details-title {
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: 500;
}

.page-header-details-subtitle {
    font-size: 12px;
    margin-bottom: 0px;
    line-height: 22px;
    text-transform: capitalize;
}

.page-header-details-rating {
    color: #ffc107;
    background-color: #fdf3d3;
    float: left;
    font-size: 18px;
    margin-bottom: 16px;
    margin-top: 16px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding-top: 4px;
    margin-right: 8px;
}

.page-header-details-rating-selected {
    color: #ffffff;
    background-color: #ff6207;
}


.page-header-details-content {
    line-height: 22px;
    font-size: 13px;
}

.page-header-details-logo {
    line-height: 22px;
    font-size: 13px;
    float: left;
    width: 64px;
    width: 54px;
    margin-right: 16px;
    border-radius: 8px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    padding: 4px;
    background-color: #ffffff;
}

.page-header-lg-icon {
    background-color: #B11A83;
    font-size: 34px;
    color: #fff;
    border-radius: 100%;
    padding: 14px;
    border: 3px solid #fff;
    margin-top: 10px;
}

.footer-container {
    /* position: fixed !important; */
    position: absolute !important;
    bottom: 0 !important;
    z-index: 1 !important;
    width: 100% !important;
    background-color: #ffffff !important;
    /* box-shadow: 0px 0px 20px rgba(0,0,0,0.1) !important; */
    /* box-shadow: 0px 0px 20px rgb(255, 223, 245) !important; */
    border-radius: 16px !important;
    /* margin: 8px 16px !important; */
    color: #7987A1 !important;
    /* margin-bottom: 22px !important; */
    padding-bottom: 14px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    box-shadow: 0px 0px 14px rgb(0, 0, 0, 10%) !important;
}

.footer-item {
    padding-top: 12px;
    padding-bottom: 8px;
    text-align: center;
    float: left;
    width: 20%;
}

.footer-item-icon {
    font-size: 20px;
}

.footer-item-text {
    font-size: 11px;
    font-weight: 500;
}


.footer-scanner {
    color: #7987A1;
    padding: 4px;
    margin-top: -37px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    margin-bottom: 3px;
    box-shadow: 0px -6px 4px 0px rgb(0 0 0 / 8%) !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-scanner i {
    font-size: 30px;
    padding-top: 8px;
}




.text-light {
    color: #9e9e9e !important;
    --color: #9e9e9e !important;
}

.alert-btn {
    font-size: 13px !important;
    --font-size: 13px !important;
    text-transform: capitalize !important;
    --text-transform: capitalize !important;
}

.item-cat {
    padding: 10px 8px;
    margin: 0px !important;
    min-width: 90px;
    width: 90px;
    border-radius: 0px;
    word-break: unset;
    word-wrap: break-word;
    color: #5c5c5c;
}

.item-payments {
    /* padding: 16px 10px;
    margin: 0px !important;
    min-width: 100px;
    width: 100px;
    border-radius: 0px;
    word-break: unset;
    word-wrap: break-word;
    color: #a93b87;
        background-color: #fdf6ff; */


    padding: 10px 8px;
    margin: 0px !important;
    min-width: 84px;
    width: 84px;
    border-radius: 0px;
    word-break: unset;
    word-wrap: break-word;
    color: #5c5c5c;
}


body {
    -webkit-user-select: text;
    user-select: text;
}


.tuc-paymentscard {
    border-radius: 6px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-color: purple;
    text-align: left;
    font-size: 13px;
    width: 100%;
    background-image: url('../images/bgtucicon.png');
    background-image: url(../images/bgtucicon.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 160px;
    padding: 0px;
    margin: 0px;
}

.tuc-paymentscard-icon {
    float: left;
    margin-right: 16px;
    background-color: #730073;
    border-radius: 6px;
    height: 160px;
    padding: 50px 12px;
}

.tuc-paymentscard-icon i {
    font-size: 64px;
}

.tuc-paymentscard-content {
    padding: 16px;
}

.tuc-paymentscard-item {
    margin-bottom: 14px;
}

.tuc-paymentcard-megaamt {
    font-weight: 500;
    font-size: 32px;
}

.tuc-paymentcard-amount {
    font-size: 14px;
}

.quickamount {
    padding: 4px 6px;
    border: 1px solid rgba(193, 54, 150, 0.5);
    margin: 4px 4px;
    border-radius: 4px;
    text-align: center;
    float: left;
    color: #B11A83;
    background-color: #fbfbfb;
}

.quickamount-active {
    padding: 4px 6px;
    border: 1px solid rgba(193, 54, 150, 0.5);
    margin: 4px 4px;
    border-radius: 4px;
    text-align: center;
    float: left;
    color: #ffffff;
    background-color: #a33080;
}

.box-container {

    /* margin: 14px 16px;
    padding: 10px 16px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 3px 16px rgb(0, 0 ,0 ,0.1); */
    padding: 12px 12px;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #D8D8D8;
    margin-bottom: 16px;
    float: left;
    width: 46%;
    margin-right: 4%;
}



.box-container-img-right {
    float: right;
    border-radius: 6px;
    margin-left: 16px;
    width: 64px;
    height: 64px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
}

.box-container-img-left {
    border-radius: 6px;
    margin-right: 16px;
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
    border: 1px solid #C6C8CD;
}


.box-container-title {
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 4px;
    color: #32353E;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-container-subtitle {
    color: #7987A1;
    font-size: 11px;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-container-right {
    font-size: 15px;
    font-weight: 600;
    float: right;
    text-align: right;
    margin-top: 16px;
}

.no-margin {
    margin: 0px;
}

.btn-more-container {
    text-align: center;
    margin: 16px;
}

.btn-more {
    padding: 8px 16px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #a42f7e;
    border-radius: 16px;
    color: #a42f7e;
    font-weight: 500;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-center {
    text-align: center;
}


.searchbar-input {
    border: 0 !important;
    box-shadow: none !important;
    background: none !important;
}


/* NEW ONE */


.slider .slider-pager {
    text-align: right;
}

.swiper-pagination {
    text-align: center;
    margin-top: 8px;
    position: relative;
}

.boffer {
    float: right;
    background-color: blue;
    font-size: 10px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 3px 4px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-top: -10px;
    margin-right: -16px;
}


.gradient {

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+0&0+0,0.65+75 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 75%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 75%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 75%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    /* IE6-9 */

}

/* 
.scratch-card-bottom{
    margin-top:20px;
    .card-bottom-text{
        font-size:1.2em;
    }
} */


.sc__inner {
    background-image: url("../../../assets/images/sco.png");
    background-size: contain;
}

/* .modal-wrapper{ background: transparent !important; } */
/* ion-content{
    --background: transparent;
} */


.swiper-pagination-bullet-active {
    background: #86888f;
    --background: #86888f;
}

.swiper-pagination-bullet {
    background: rgb(134, 136, 143, 0.50);
    --background: rgb(134, 136, 143, 0.50);
}

#dfrer,
.modal-wrapper {
    background: transparent !important;
    -background: transparent !important;
}




.vas-p {
    text-align: center;
    background-color: #E7E9F0;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 4px;
}

.vas-p-active {
    background-color: #F3DCEC;

    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 4px;
}


.modal-con {
    /* display: none; */
    position: fixed;
    /* Stay in place */
    z-index: 99999999;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content-con {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 8px;
    text-align: center;
    max-width: 350px;
}

.modal-content-con-title {
    color: #222222;
    font-size: 18px;
    margin-top: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}

.modal-content-con-subtitle {
    color: #5A6780;
    font-size: 14px;
    margin-bottom: 20px;
}

.tab-active {
    border-bottom: 1px solid #B11A83 !important;
    color: #B11A83 !important;
    font-weight: 500 !important;
}