.page-white-titlebar {
  /* --ion-background-color: #f8f8f8;
    --background-color: #f8f8f8;
    --background: #f8f8f8;

        font-size: 16px;
        font-weight: 500;
        --color: #B11A83;
        color: #B11A83; */
  --ion-background-color: #B11A83;
  --background-color: #B11A83;
  --background: #B11A83;

  font-size: 16px;
  font-weight: 500;
  --color: #ffffff;
  color: #ffffff;
}

.page-white-titlebar-button {
  /* color: #32353E;
        --color: #32353E;
        margin-left: 8px;
        text-transform: capitalize; */
  color: #ffffff;
  --color: #ffffff;
  margin-left: 8px;
  text-transform: capitalize;
}

.page-white {
  /* background-color: linear-gradient(to bottom,  #f8f8f8 40%,#f8f8f8 40%,#ffffff 41%);
    --ion-background-color:linear-gradient(to bottom,  #f8f8f8 40%,#f8f8f8 40%,#ffffff 41%);
background: #f8f8f8; 
background: -moz-linear-gradient(top,  #f8f8f8 40%, #f8f8f8 40%, #ffffff 41%); 
background: -webkit-linear-gradient(top,  #f8f8f8 40%,#f8f8f8 40%,#ffffff 41%); 
background: linear-gradient(to bottom,  #f8f8f8 40%,#f8f8f8 40%,#ffffff 41%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff',GradientType=0 ); 
--color: #32353E;
color: #32353E; */
  --color: #32353E;
  color: #32353E;


  --background: rgb(176, 26, 131);
  --background: -moz-linear-gradient(180deg, rgba(176, 26, 131, 1) 10%, rgba(242, 243, 244, 1) 10%);
  --background: -webkit-linear-gradient(180deg, rgba(176, 26, 131, 1) 10%, rgba(242, 243, 244, 1) 10%);
  --background: linear-gradient(180deg, rgba(176, 26, 131, 1) 10%, rgba(242, 243, 244, 1) 10%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#B11A83", endColorstr="#f2f3f4", GradientType=1);
}

.page-white-header {
  /* min-height: 120px;
font-size: 13px;
display: table;
width: 100%; */
  min-height: 120px;
  font-size: 13px;
  display: table;
  width: 100%;
  color: #ffffff;
  background: #B11A83;
  background: -moz-linear-gradient(180deg, rgba(177, 26, 128, 1) 0%, rgba(148, 29, 122, 1) 20%, rgba(70, 36, 99, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(177, 26, 128, 1) 0%, rgba(148, 29, 122, 1) 20%, rgba(70, 36, 99, 1) 100%);
  background: linear-gradient(180deg, rgba(177, 26, 128, 1) 0%, rgba(148, 29, 122, 1) 60%, rgba(70, 36, 99, 1) 100%);
  background-image: url(../../../assets/images/bgtucheader.png);
  background-size: cover;
}

.page-white-header-content {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
}

.page-white-header-logo {
  width: 100px;
  margin-left: 20px;
}

.page-white-body {
  min-height: 68%;
  font-size: 13px;
  border-radius: 0px;
  padding-bottom: 80px;
  box-shadow: 0px 0px 16px rgb(228 228 228 / 16%);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  background-color: #ffffff;
  margin-top: -12px;
}




/* Common */
.page-white-header-title {
  text-align: left;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  padding-bottom: 4px;
  font-size: 24px;
  font-weight: 400;
  color: #FFFFFF;
  margin-top: -20px;
}

.page-white-header-subtitle {
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
}

.page-white-header-subtitle-modal {
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.page-white-header-title-modal {
  text-align: center;
  padding-bottom: 4px;
  font-size: 38px;
  font-weight: 400;
  color: #FFFFFF;
  margin-top: 0px;
}

.page-white-header-icon {
  color: rgb(255, 255, 255, 0.30);
  font-size: 100px;
  float: right;
  position: absolute;
  right: 20px;
  margin-top: -50px;
  /* margin-top: -24px; */
}

.page-white-header-status {
  font-size: 14px;
  margin-right: 20px;
  float: right;
}

.page-white-header-title-modal-currency {
  font-size: 24px;

}


/*Modal Footer */

.tuc-footer {
  background-color: #ffffff;
  /* border-top: 1px solid #f7f7f7; */
  padding: 16px;
  padding-top: 8px;
  z-index: 1;
}

.tuc-footer .cancel {
  padding: 16px 16px;
  width: 49%;
  font-size: 14px;
  background-color: #86888f;
  border-radius: 4px;
  margin-right: 2%;
  color: #ffffff;
}

.tuc-footer .approve {
  padding: 16px 16px;
  width: 49%;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  background-color: #B11A83;
  border-radius: 6px;
}

.bg-red {
  background-color: #e9223f !important;
}

.full-width {
  width: 100% !important;
}


.input {
  /* background-color: #fff;
    margin-top: 8px;
    border-radius: 8px;
    padding: 6px 12px !important;
    font-size: 14px;
    margin-bottom: 16px;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
    border: none;
    color: #32353E; */
  background-color: #fff;
  margin-top: 8px;
  border-radius: 4px;
  padding: 4px 8px !important;
  font-size: 14px;
  margin-bottom: 16px;
  box-shadow: none;
  border: 1px solid #C0CCDA;
  color: #32353E;
}

.input-ion-datetime {
  margin-left: 0px;
  width: 100%;
  background-color: #fff;
  margin-top: 8px;
  border-radius: 4px;
  padding: 14px 8px !important;
  font-size: 14px;
  margin-bottom: 32px;
  box-shadow: none;
  border: 1px solid #E7E9EF;
  color: #32353E;
}

.input-label {
  font-size: 13px !important;
  color: #32353E;
  font-weight: 400;
}
.input-label1 {
  font-size: 13px !important;
  color: #3D455E;
  font-weight: 400;
}

.input-lg {
  background-color: transparent;
  margin-top: 16px;
  border-radius: 8px;
  padding: 0px 0px !important;
  font-size: 54px;
  margin-bottom: 16px;
  box-shadow: none;
  border: none;
  color: #32353E;
  font-weight: 400;
  width: 100%;
}

/* .btn-primary {
    padding: 16px 0px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    background-color: #B11A83;
    color: #ffffff;
    font-weight: 500;
    border-radius: 8px;
    text-transform: uppercase;
} */

.btn-primary-inverse {
  padding: 16px 0px;
  font-size: 14px;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  color: #B11A83;
  font-weight: 500;
  border-radius: 8px;
  text-transform: uppercase;
  border: 1px solid #B11A83;
}

.btn-light {
  text-align: center;
  padding: 16px 16px;
  border: 1px solid #efefef;
  border-radius: 3px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.p-b {
  padding-bottom: 16px;
}

.box {
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 16px;
}

.box-header {
  font-weight: 500;
  font-size: 13px;
  padding-bottom: 16px;
  color: #32353E;
}

.box-body {}

.box-body-item {
  padding-bottom: 12px;
}

.box-body-item-left {
  color: #9e9e9e;
  font-size: 12px;
}

.box-body-item-left i {
  font-size: 16px
}

.box-body-item-right {
  float: right;
  font-size: 13px;
  color: #32353E;
}



.text-justify {
  text-align: justify;
}


.item-list {
  padding: 16px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0px 3px 16px rgb(0 0 0 / 6%);
  margin-bottom: 16px;
}

.item-list-active {
  padding: 16px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0px 3px 16px rgb(0 0 0 / 6%);
  margin-bottom: 16px;
  font-weight: 500;
  color: #B11A83 !important;
}

.item-list-title {
  font-weight: 500;
  font-size: 13px;
  padding-bottom: 8px;
  color: #36464e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-list-subtitle {
  color: #5c5c5c;
  font-size: 12px;
  padding-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-list-amount {
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 6px;
}

.item-list-substatus {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;

}

.item-list-status {
  font-weight: 500;
  font-size: 11px;
  text-transform: lowercase;
}

.p-0 {
  padding: 0px !important;
}

.item-list-mini {

  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid #efefef;
  border-radius: 8px;
}

.item-list-mini-title {
  color: #5f5d5d;
  font-size: 12px;
  font-weight: 500;
}

.item-list-mini-active {
  color: #B11A83;
  font-size: 12px;
  font-weight: 500;
}

.searchbar {
  border: 1px solid #86888f;
  margin-bottom: 16px;
  border-radius: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 46px;
}

.searchbar input {
  background: none !important;
  font-size: 14px !important;
}


.nolist-title {
  font-size: 24px;
  color: #9e9e9e;
  margin-bottom: 8px;
  font-weight: 300;

}


.nolist-subtitle {
  font-size: 16px;
  color: #9e9e9e;
  margin-bottom: 8px;
  font-weight: 300;
}

.nolist-icon-item ion-icon {
  background-color: #ffffff;
  font-size: 34px;
  color: #9e9e9e;
  border-radius: 100%;
  padding: 14px;
  border: 3px solid #9e9e9e;
  margin-top: 10px;
  margin-bottom: 20px;
}

.nolist-icon-item i {
  background-color: #ffffff;
  font-size: 34px;
  color: #9e9e9e;
  border-radius: 100%;
  padding: 14px;
  border: 3px solid #9e9e9e;
  margin-top: 10px;
  margin-bottom: 20px;
}



.nolist-item {
  margin: 10% 8%;
}



.nolist-content {
  font-size: 14px;
  color: #7b7b7b;
  margin-bottom: 8px;
}


.loading-wrapper {
  border-radius: 4px !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.loading-wrapper .loading-content {
  font-weight: 400 !important;
}

.text-primary {
  color: #B11A83;
}

.text-success,
.text-green {
  color: #008c48;
}

.text-danger {
  color: #e9223f;
}

.text-warning {
  color: #ff5722;
}

.bg-primary {
  background-color: #B11A83 !important;
}

.bg-success,
.bg-green {
  background-color: #008c48 !important;
}

.bg-danger {
  background-color: #e9223f !important;
}

.bg-warning {
  background-color: #ff5722 !important;
}

.float-right,
.pull-right {
  float: right;
}

.currency {
  font-size: 10px;
  font-weight: 600;
}

.inv {
  border: 1px dotted #c7c7c7;
  border-radius: 8px;
  margin-top: 16px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #fbfbfb;
}

.inv-header {
  font-weight: 500;
  font-size: 13px;
  padding-bottom: 24px;
  color: #32353E;
}

.inv-body {}

.inv-body-item {
  padding-bottom: 16px;
}

.inv-body-item-left {
  color: #9e9e9e;
  font-size: 12px;
}

.inv-body-item-right {
  float: right;
  font-size: 13px;
  color: #32353E;
}

.inv-body-item-prime {
  border-top: 1px dotted #a2a4ab !important;
  padding-top: 16px !important;
  border-bottom: 1px dotted #a2a4ab !important;
  font-weight: 700 !important;
  color: #32353E;
  padding-bottom: 16px;
  margin-bottom: 24px;
}


.bdm {

  background-color: #ffffff;
  padding: 0px !important;
  height: 124px !important;
  background-image: url('../../../assets/images/bggrad.png');
  background-size: contain;
  background-repeat: repeat-x;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#af1482+0,94117a+18,7b0f74+39,4c1e68+100 */
  background: rgb(175, 20, 130);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(175, 20, 130, 1) 0%, rgba(148, 17, 122, 1) 18%, rgba(123, 15, 116, 1) 39%, rgba(76, 30, 104, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(175, 20, 130, 1) 0%, rgba(148, 17, 122, 1) 18%, rgba(123, 15, 116, 1) 39%, rgba(76, 30, 104, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(175, 20, 130, 1) 0%, rgba(148, 17, 122, 1) 18%, rgba(123, 15, 116, 1) 39%, rgba(76, 30, 104, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#af1482', endColorstr='#4c1e68', GradientType=0);
  /* IE6-9 */

}


.hm-h {
  --background-color: #AF1482;
  --background: #AF1482;
  --ion-background-color: #AF1482;
  padding: 12px 20px;
}


.hm-prdofile-icon {
  width: 36px;
  height: 36px;
  float: left;
  margin-right: 12px;
  border-radius: 100%;
  border: 2px solid #FFFFFFB2;
  margin-left: 16px;
}

.hm-t-loc {
  font-weight: 500;
  color: #FFFFFFB2;
  font-size: 12px;
  margin-top: 2px;
}

.hm-t-cartitem {
  position: absolute;
  margin-top: 0px;
  color: #ffffff;
  border-radius: 100%;
  padding: 2px 4px;
  font-size: 11px;
  margin-left: -24px;
}



.text-center {
  text-align: center;
}

ion-toolbar {
  --border-style: none;
}

.btn-group {
  margin-bottom: 20px;
}

.btn-group-item {
  padding: 16px 16px;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  background-color: #86888f;
  border-radius: 4px;
}

.btn-group-item-left {
  width: 49%;
  margin-right: 1%;
}

.btn-group-item-right {
  width: 49%;
  margin-left: 1%;
}

.btn-group-item-title {
  font-size: 11px;
  margin-bottom: 4px;
}

.btn-group-item-subtitle {
  font-weight: 500;
  font-size: 13px;
}