.page-modal {
  --background: #FFFFFF;
}

.page-modal-header {
  --background: #E7E9F0;
  color: #32353E;
}

.page-modal-header-container {
  padding: 16px;
}

.page-modal-header-container .title {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 4px;
}

.page-modal-header-container .subtitle {
  font-size: 12px;
  color: rgb(50 53 62 / 70%);
  font-weight: 400;
}

.page-modal-header-container-amount {
  padding: 24px 16px;
  text-align: center;
}

.page-modal-header-container-amount .amount {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 4px;
}

.page-modal-header-container-amount .amount .currency {
  font-size: 16px;
}

.page-modal-header-container-amount .amount .amount-title {
  font-size: 12px;
}

.page-modal-container {
  padding: 16px;
}

.page-modal-footer {
  background-color: #ffffff;
  /* border-top: 1px solid #f7f7f7; */
  padding: 8px 12px;
  padding-bottom: 12px;
}

.btn-cancel {
  padding: 12px 16px;
  font-size: 13px;
  background-color: #f5f5f5;
  border-radius: 4px;
  color: rgb(50 53 62 / 70%);
  font-weight: 500;
}

.btn-primary {
  padding: 12px 16px;
  font-size: 13px;
  background-color: #B11A83;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 500;
}

.page-tuc-titlebar {
  --ion-background-color: #B11A83;
  --background-color: #B11A83;
  --background: #B11A83;

  font-size: 16px;
  font-weight: 500;
  --color: #ffffff;
  color: #ffffff;
}

.page-tuc-titlebar-gradient {
  --ion-background-color: #B11A83;
  --background-color: #B11A83;
  --background: #B11A83;

  --background: #B11A83;
  /* --background: linear-gradient(180deg, rgba(177,26,128,1) 0%, rgba(148,29,122,1) 30%, rgba(70,36,99,1) 100%); */
  /* --background-image: url(../../../assets/images/bgtucheader.png); */
  --background-size: cover;

  font-size: 16px;
  font-weight: 500;
  --color: #ffffff;
  color: #ffffff;
}

.page-tuc-titlebar-button {
  color: #ffffff;
  --color: #ffffff;
  margin-left: 8px;
  text-transform: capitalize;
}

.page-tuc-titlebar-white {
  --ion-background-color: #ffffff;
  --background-color: #ffffff;
  --background: #ffffff;

  font-size: 16px;
  font-weight: 500;
  --color: #B11A83;
  color: #B11A83;
}

.page-tuc {
  --color: #32353E;
  color: #32353E;
  --background: rgb(176, 26, 131);
  --background: -moz-linear-gradient(180deg, rgba(176, 26, 131, 1) 10%, rgba(242, 243, 244, 1) 10%);
  --background: -webkit-linear-gradient(180deg, rgba(176, 26, 131, 1) 10%, rgba(242, 243, 244, 1) 10%);
  --background: linear-gradient(180deg, rgba(176, 26, 131, 1) 10%, rgba(242, 243, 244, 1) 10%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#B11A83", endColorstr="#f2f3f4", GradientType=1);
}

.page-tuc-light {

  --color: #32353E;
  color: #32353E;
  --background: #f2f3f4;
}

.page-tuc-header {
  min-height: 120px;
  font-size: 13px;
  display: table;
  width: 100%;

  background: #B11A83;
  background: -moz-linear-gradient(180deg, rgba(177, 26, 128, 1) 0%, rgba(148, 29, 122, 1) 20%, rgba(70, 36, 99, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(177, 26, 128, 1) 0%, rgba(148, 29, 122, 1) 20%, rgba(70, 36, 99, 1) 100%);
  background: linear-gradient(180deg, rgba(177, 26, 128, 1) 0%, rgba(148, 29, 122, 1) 60%, rgba(70, 36, 99, 1) 100%);
  background-image: url(../../../assets/images/bgtucheader.png);
  background-size: cover;
}

.page-tuc-header-content {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
}

.page-tuc-header-logo {
  width: 100px;
  margin-left: 20px;
}

.page-tuc-body {
  min-height: 68%;
  font-size: 13px;
  border-radius: 0px;
  padding-bottom: 80px;
  box-shadow: 0px 0px 16px rgb(228 228 228 / 16%);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -12px;
  width: 100%;
  /* background-color: #ffffff;
    /* background-color: #ffffff; */
}



/* Common */
.page-tuc-header-title {
  text-align: left;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  padding-bottom: 6px;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  margin-top: -20px;

}

.page-tuc-header-subtitle {
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
}

.page-tuc-header-subtitle-modal {
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  color: #6d6d6d;
  margin-bottom: 16px;
}

.page-tuc-header-title-modal {
  text-align: center;
  padding-bottom: 4px;
  font-size: 38px;
  font-weight: 400;
  color: #32353E;
  margin-top: 0px;
}

.page-tuc-header-icon {
  color: rgb(255, 255, 255, 0.30);
  font-size: 100px;
  float: right;
  position: absolute;
  right: 20px;
  margin-top: -50px;
  /* margin-top: -24px; */
}

.page-tuc-header-status {
  font-size: 14px;
  margin-right: 20px;
  float: right;
}

.page-tuc-header-title-modal-currency {
  font-size: 24px;

}



.btn-primary-lg {
  padding: 16px 0px;
  font-size: 15px;
  text-align: center;
  width: 100%;
  background-color: #B11A83;
  color: #ffffff;
  font-weight: 500;
  border-radius: 4px;
}


.toast-success {
  --background: #31c971;
  --color: #ffffff;
  --border-radius: 8px;
}

.toast-error {
  --background: #f44336;
  --color: #ffffff;
  --border-radius: 8px;
  font-size: 13px;
}


.btn-header {
  font-size: 12px !important;
  background-color: #ffffff;
  border-radius: 13px;
  color: #b11983;
  font-weight: 500 !important;
  padding: 0px 4px;
}

.tuccard {
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.tuccard-header {
  color: #32353E;
  font-weight: 500;
  padding-bottom: 16px;
}

.tuccard-body {}

.tuccard-item {
  padding-bottom: 12px;
}

.tuccard-item-label {
  color: #5A6780;
  font-size: 12px;
}

.tuccard-item-value {
  float: right;
  font-size: 13px;
  color: #222222;
}


.searchbar {
  border: 1px solid #86888f;
  margin-bottom: 16px;
  margin-top: 16px;
  border-radius: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 46px;
  background-color: #ffffff;
}

.searchbar input {
  box-shadow: none !important;
}

.item-list {
  padding: 16px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0px 3px 16px rgb(0, 0, 0, 0.06);
  margin-bottom: 12px;
}

.item-list-title {
  font-weight: 500;
  font-size: 13px;
  padding-bottom: 8px;
  color: #36464e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media only screen and (min-width: 284px) {
  .service {
  background-color: #B2F0FB;
  border-radius: 10px;
  height: 120px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
  }
}
@media only screen and (max-width: 284px) {
  .service {
  background-color: #B2F0FB;
  border-radius: 10px;
  height: 135px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
  }
}
/* .service {
  background-color: #B2F0FB;
  border-radius: 10px;
  height: 125px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
} */

.service-bnpl {
  background: transparent linear-gradient(251deg, #2E92E2 0%, #2454BA 100%) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  height: 150px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.service-l {
  margin-right: 8px;
  margin-left: 0px;
}

.service-r {
  margin-right: 0px;
  margin-left: 8px;
}

.service-bg {
  height: 70px;
  background-image: url(../../../assets/images/s2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  color: #FFFFFF;
}

.service-img {
  width: 40px;
  height: 40px;
  margin-top: 12px;
  margin-left: 12px;
  display: inline-block;
}

.bnpl-bg{
  position: relative;
  height: 150px;
  background-image: url(../../assets/images/Square.png),url(../../assets/images/Square1.png);
  background-size: 80px, 70px;
  background-repeat: no-repeat,no-repeat;
  background-position: bottom right,top left;
}

.service-content {
  padding-left: 12px;
  padding-right: 12px;
}

.service-title {
  font-weight: 500;
  color: #32353E;
  padding-bottom: 4px;
}

.service-content-bnpl {
  position: absolute;
  padding-left: 12px;
  padding-right: 12px;
}

.service-title-bnpl {
  margin-top: 30px;
  font-weight: 500;
  color: #32353E;
  padding-bottom: 4px;
}

.service-subtitle {
  font-size: 12px;
  padding-bottom: 8px;
}

.service-subtitle-bnpl {
  font-size: 12px;
  padding-bottom: 8px;
}

.service-title2-bnpl{
  color: #FFFFFF;
  margin-top: 30px;
}


.tucapp-titlebar {
  --background: #af1482;
  font-size: 16px;
  font-weight: 500;
  --color: #ffffff;
  color: #ffffff;
}

.tucapp-titlebar-button {
  color: #ffffff;
  --color: #ffffff;
  margin-left: 8px;
  text-transform: capitalize;
}

.tucapp-titlebar-content {
  color: #ffffff;
  --color: #ffffff;
  margin-left: 16px;
  text-transform: capitalize;
}

.tucapp {
  /* --background-color: #AF1482;
  --background: #AF1482;
  --ion-background-color: #AF1482; */
  --background: linear-gradient(180deg, rgba(175, 20, 130, 1) 0%, rgba(175, 20, 130, 1) 40%, rgba(255, 255, 255, 1) 60%);
  --offset-top: 0px;
  --offset-bottom: 0px;
  --color: #32353E;
  color: #32353E;
}

.transparent-bg {
  max-width:100%;
  background-color: #B11A8319;
  border: 1px solid #B11A83;
  /* color: #B11A83; */
}
:host {
  --height: 80%;
}
.tucapp-body {
  font-size: 13px;
  border-radius: 0px;
  position: absolute;
  width: 100%;
  padding-bottom: 80px;
  background-color: #f2f3f4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 0px;
  margin-top: 12px;
  box-shadow: none;
  height: calc(100% - 60px);
}

.tucapp-body-white {
  font-size: 13px;
  border-radius: 0px;
  position: absolute;
  width: 100%;
  padding-bottom: 80px;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 0px;
  margin-top: 12px;
  box-shadow: none;
  height: calc(100% - 60px);
}

.tucapp-body-top {
  background-color: #ffffff;

}


.bnpl-plan {
  width: 100%;
  border-radius: 8px;
  padding: 23px 8px;
  color: #9EA5AF;
  border: 1px solid #E7E9EF;
}

.bnpl-plan-active {
  width: 100%;
  border-radius: 8px;
  padding: 23px 8px;
  color: #9EA5AF;
  border: 1px solid #B11A8333;
  box-shadow: 0px 3px 16px #b11a8333;
}

.bnpl-plan-title {

  font-size: 16px;
  padding-bottom: 6px;
  color: #222222;
  font-weight: 500;
}

.bnpl-plan-subtitle {
  font-weight: 500;
  color: #7987A1;
  margin-bottom: 40px;
  font-size: 12px;
}

.bnpl-plan-duration-innstal {


  color: #5B47FB;
  font-weight: 500;
  padding-bottom: 8px;
}

.bnpl-plan-interestrate {


  font-size: 12px;
  color: #32353E;
}

.tucmodal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #13182c;
  opacity: .5;
}

.tucmodal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;

}

.tucmodal-container {
  position: fixed !important;
  bottom: 0 !important;
  z-index: 1 !important;
  width: 100% !important;
  background-color: #ffffff !important;
  color: #7987A1 !important;
  padding-bottom: 14px !important;
  box-shadow: 0px 0px 14px rgb(0, 0, 0, 0.1) !important;
  min-height: 10%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  max-height: 90%;
  overflow: auto;
}

.tucmodal-header {
  padding: 20px 20px;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.tucmodal-header-title {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 6px;
  color: #32353E;
}

.tucmodal-header-subtitle {
  font-size: 12px;
}

.tucmodal-content {
  padding: 16px 20px;
  padding-bottom: 60px;
  max-height: 80%;
  overflow: auto;
  padding-top: 80px;
}

.tucmodal-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #f7f7f7;
  padding: 12px 20px;
  padding-top: 8px;
  background-color: #ffffff;
  box-shadow: 0px 0px 14px rgb(0, 0, 0, 0.1) !important;
}

.tucmodal-footer ion-row {
  margin: 0px;
}

.tucmodal-footer ion-row ion-col {
  padding-top: 0px;
  padding-bottom: 0px;
}

.tucmodal-footer-button {
  padding: 12px 16px;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  background-color: #B11A83;
  border-color: #B11A83;
  border-radius: 4px;
}

.tucmodal-footer-button-cancel {
  font-weight: normal;
  color: #212529;
  background-color: #f5f5f6;
  border-color: #f5f5f6;
}



.alert-wrapper {
  border-radius: 12px !important;
}

.alert-head h2 {
  color: #B11A83 !important;
  font-size: 17px !important;
  font-weight: 500 !important;

}

.alert-message {
  font-size: 13px !important;
  line-height: 20px !important;
  color: #7987A1 !important;
}

.alert-title.sc-ion-alert-ios {
  margin-bottom: 8px;
}

.alert-button.sc-ion-alert-ios {
  font-size: 13px !important;
}

.modal-wrapper {
  /* height: 88% !important;
  position: absolute !important;
  bottom: 0 !important;
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px  !important; */
}

ion-backdrop {
  background-color: rgb(0 0 0 / 70%);
  opacity: 1 !important;
}

/* .modal-wrapper:after {
  content: "";
  background-color: #ffffff6e;
  height: 6px;
  width: 50px;
  top: 8%;
  position: absolute;
  z-index: 999;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 16px;
  right: 0;
  left: 0;
} */



.slidercontainer {
  height: 160px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.6s;
  border-radius: 12px;
  margin-left: 16px;
}

div {
  transition-duration: 0.6s;
}


.deals-container {}

@media only screen and (max-height: 600px){
  .sc-ion-modal-md-h {
    height: 80%;
  }
}