/* Deals - Start */
.dealdetailstimer {
    color: #fff;
    background-color: rgb(0 0 0 / 50%);
    font-size: 11px;
    font-weight: 500;
    padding: 4px 6px;
    border-radius: 12px;
    float: left;
}

/* .dealdetailstimer .endintext {
    border-radius: 6px;
    margin-left: 4px;
    font-weight: 500;
    font-size: 10px;
} */

/* .dealdetailstimer .endtimer {
    background-color: rgb(0, 0, 0, 0.6);
    color: #ffffff;
    padding: 2px 6px;
    border-radius: 6px;
    margin-left: 4px;
    font-weight: 600;
    font-size: 12px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
} */

.dealdetailsheader {
    padding: 0px;
    background-size: cover;
    height: 230px;
    padding: 0px !important;
}

.dealdetailsbody {
    margin-top: 0px !important;
}



.dd-pricing .sellingprice {
    font-size: 20px;
    font-weight: 700;
}

.dd-pricing .actualprice {
    font-size: 12px;
    text-decoration: line-through;
    color: #7987A1;
}

.dd-pricing .discount {
    font-size: 13px;
    color: green;
    padding-left: 4px;
    font-weight: 500;
}

.dd-pricing .category {
    float: right;
    font-size: 12px;
    font-weight: 500;
    padding-top: 6px;
}

.dd-storedeetails {
    display: inline-block;
    width: 100%;
    background: #f7f7f7;
    padding: 12px 12px;
    border-radius: 8px;
}

.dd-storedeetailscategory {
    float: right;
    font-size: 10px;
    font-weight: 500;
    background: rgb(237 14 14 / 50%);
    color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
    margin-top: 0px;
}

.dd-storedeetails .storeimage {
    float: left;
    width: 44px;
    height: 44px;
    margin-left: 0px;
    margin-right: 12px;
}

.dd-storedeetails .storename {
    font-weight: 500;
    padding-bottom: 4px;
}

.dd-storedeetails .storerating {
    font-size: 11px;
    color: #7a87a1;
}

.dd-deltype {
    border: 1px solid #C4C4C4;
    border-radius: 6px;
    padding: 6px 8px;
    margin-right: 12px;
}

.dd-deltype-active {
    border: 1px solid #b11a83;
    background-color: #b11a83;
    color: #ffffff;
    border-radius: 6px;
    padding: 6px 8px;
    margin-right: 12px;
}

.dd-footer {
    margin: 0px;
    padding: 0px;
}

.dd-footerbookmark {
    width: 35% !important;
    margin: 0px !important;
    border-radius: 0px !important;
    font-weight: 500;
}

.dd-footerconfirm {
    width: 65% !important;
    margin: 0px;
    border-radius: 0px !important;
}

.dd-servicebadge {
    color: #a43181;
    font-size: 11px;
    background-color: #a4318121;
    padding: 4px 6px;
    border-radius: 4px;
    margin-right: 8px;
    font-weight: 500;

}

/* .dd-distance {
    margin-bottom: 16px;
    color: #7987A1;
    font-size: 12px;
} */
.dd-overlay {
    width: 100%;
    position: relative;
    height: 100%;
    padding: 16px 20px !important;
    padding-top: 90px !important;
}

.dd-overlay-footer {
    position: absolute;
    padding-bottom: 8px;
    bottom: 0;
    margin-bottom: 12px;
    margin-top: 12px;
    width: 100%;
    text-align: right;
    padding-right: 40px;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
}

.dpl {
    float: left;
    background: #3a3a3a;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    font-size: 20px;
    text-align: center;
    line-height: 34px;
    margin-right: 16px;
    color: #ffffff;
}

.dpl-header {

    border-radius: 6px;
    padding-bottom: 12px;
    display: inline-block;
    width: 100%;
}

.dpl-header-status {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 2px;
}

.dpl-header-status-content {
    font-size: 12px
}

.dpl-list {
    background: #fff;
    margin: 20px 12px;
    border-radius: 6px;
    padding: 12px 12px;
}


.dpl-header-success {
    color: green;
}

.dpl-header-success .dpl {
    color: #004e01;
}

.dpl-header-danger {
    color: red;
}

.dpl-header-danger .dpl {
    color: #ad0000;
}

.dpl-header-info {
    color: teal;
}

.dpl-header-info .dpl {
    color: #004a4a;
}

/* Deals - ENd */


/* Gen */

.htmlp p {
    margin-top: 0px;
    margin-bottom: 4px;
}

.actionsheetcolor {
    font-size: 16px !important;
    color: #32353E !important;
}

.actionsheetcolor ion-icon {
    font-size: 20px !important;
}


.dd-storelocations {
    display: inline-block;
    width: 100%;
    background: #f7f7f7;
    padding: 12px 12px;
    border-radius: 8px;
    margin-bottom: 12px;
}

.dd-storelocations .storename {
    font-weight: 500;
    padding-bottom: 4px;
}

.dd-storelocations .address {
    font-size: 11px;
    color: #32353E;
}

.dd-storelocations .phone {
    font-size: 11px;
    color: #32353E;
}