/* Theme Colors - Start  */
.ion-page {
    /* background: linear-gradient(180deg, rgba(177,26,131,1) 0%, rgba(177,26,131,1) 40%, rgba(242,243,244,1) 40%) !important; */
    --color: #32353E;
    color: #32353E;
}

ion-content {
    /* --ion-background-color:linear-gradient(180deg, rgba(177,26,131,1) 0%, rgba(177,26,131,1) 40%, rgba(242,243,244,1) 40%) !important; */
    /* background: linear-gradient(180deg, rgba(177,26,131,1) 0%, rgba(177,26,131,1) 40%, rgba(242,243,244,1) 40%) !important; */
}

.appdb {
    --ion-background-color: linear-gradient(180deg, rgba(177, 26, 131, 1) 0%, rgba(177, 26, 131, 1) 40%, rgba(242, 243, 244, 1) 40%) !important;
    background: linear-gradient(180deg, rgba(177, 26, 131, 1) 0%, rgba(177, 26, 131, 1) 40%, rgba(242, 243, 244, 1) 40%) !important;
}

.appdb-titlebar {
    --ion-background-color: #b11a83;
    --background-color: #b11a83;
    --background: #b11a83;
    --color: #ffffff;
    color: #ffffff;
}

.appdb-body {
    background-color: #F5F6FA;
}

/* Theme Colors - End  */
.appdb-titlebar {
    font-size: 15px;
    font-weight: 500;
}

.appdb-titlebar-button {
    margin-left: 8px;
    text-transform: capitalize;
}

.appdb-titlebar .title {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.appdb-titlebar ion-title .title {
    padding-left: inherit;
    padding-right: inherit;
    width: 100%;
}

.appdb-body {
    min-height: 68%;
    font-size: 13px;
    border-radius: 0px;
    padding-bottom: 80px;
    box-shadow: 0px -8px 12px 0px rgb(0 0 0 / 10%);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    /* padding-top: 20px; */
    width: 100%;
    margin-top: 16px;
}

.appdb-titlebar-container {
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.appdb-titlebar-container .profileimg {
    width: 36px;
    height: 36px;
    float: left;
    margin-right: 12px;
    border-radius: 12px;
    border: 2px solid #FFFFFFB2;

}

.appdb-titlebar-container .loctitle {
    color: #FFFFFFB2;
    font-size: 12px;
    padding-top: 4px;
}

.appdb-titlebar-container .loc {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

.appdb-titlebar-container .btn {
    float: right;
    margin-left: 8px;
    padding: 4px;
}

.appdb-titlebar-container .btn i {
    font-size: 24px;
}



.appdb-body-item {
    padding-top: 16px;
    padding-bottom: 16px;
}

.p-l {
    padding-left: 16px;
}

.appdb-startitem {
    padding-top: 20px;
}

.appdb-item {
    width: 100%;
    background: #ffffff;
    margin-bottom: 16px;


}

.appdb-item-title {
    color: #32353E;
    font-weight: 600;
    font-size: 15px;
    padding: 14px 16px;
}

.appdb-item-body {
    padding-bottom: 8px;
}

.appdb-item-first {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.dealcat-slider {
    /* height: 100px;  */
    display: flex;
    overflow-x: auto;
    margin-bottom: 16px;
    /* margin-top: 12px; */
}

.dealcat-slider-item {
    width: 100px;
    flex-shrink: 0;
    /* height: 100px; */
    text-align: center;
    color: #7987A1;
    font-size: 13px;

}

.dealcat-slider-item .title {
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    padding-bottom: 6px;

}

.dealcat-slider-item-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #C0CCDA4D;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    margin-bottom: 8px;

}



.swiper-pagination {
    bottom: 0 !important;
}

.swiper-pagination-bullet {
    background: rgb(176 26 131 / 80%);
    --background: rgb(176 26 131 / 80%);
}




.deal-slider {
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.6s;
    border-radius: 12px;
    margin-left: 16px;
}

.deal-slider-item {
    height: 150px;
    width: 100%;
    transition-duration: 0.6s;
    border-radius: 12px;
    background: linear-gradient(180deg, rgba(177, 26, 131, 0.2) 0%, rgb(0 0 0 / 55%) 64%, rgb(0 0 0 / 80%) 100%);
    padding: 8px;
}

.deal-slider-item .sellingprice {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
}

.deal-slider-item .actualprice {
    font-size: 12px;
    text-decoration: line-through;
    color: #ffffff;
}

.deal-slider-item .sellingprice .currency {
    font-size: 13px;
    font-weight: 900;
    color: #fff;
}

.deal-slider-item .actualprice .currency {
    font-size: 10px;
    color: #ffffff;
}

.deal-slider-item .footer {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    padding-bottom: 8px;
    text-align: left;
    width: 90%;
    font-size: 13px;
}

.deal-slider-item .title {
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 4px;
}

.deal-slider-item .merchanticon {
    width: 36px;
    height: 36px;
    float: left;
    margin-right: 12px;
    border-radius: 12px;
    border: 2px solid #b01a8373;
}

.deal-slider-item .percentage {
    color: #B11A83;
    background-color: rgb(255 255 255 / 90%);
    border-radius: 8px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
    float: right;
    font-weight: 900;
    padding-top: 2px;
}

.deal-slider-item .merchant {
    font-size: 14px;
    font-weight: 500;
}

.deal-slider-item .pricing {
    float: right;
}






.app-tabmenu {
    padding: 0px;
    list-style: none;
    background: #B11A831F;
    display: inline-block;
    border-radius: 12px;
    position: relative;
    font-weight: 400;
    font-size: 13px;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    margin-bottom: 0 px;
    margin-left: 0px;
    border-radius: 0px;
}

.app-tabmenu-item {
    text-decoration: none;
    color: #B11A83;
    padding: 8px 16px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
    border-radius: 8px;
    text-align: center;
    min-width: 25%;
}

.app-tabmenu-item-active {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 16px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
    border-radius: 12px;
    background-color: #B11A83;
    font-weight: 500;
    min-width: 20%;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;
}

.deals-list {}

.deal-item {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 6px 0px #33282810;
}

.deal-item .header {
    height: 130px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.6s;
    border-radius: 12px;
}

.deal-item .header .container {
    height: 130px;
    width: 100%;
    transition-duration: 0.6s;
    border-radius: 12px;
    background: linear-gradient(180deg, rgb(177 26 131 / 0%) 0%, rgb(0 0 0 / 20%) 64%, rgb(0 0 0 / 75%) 100%);
    padding: 12px 12px;
    position: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 0px;
    box-shadow: none;
}

.deal-item .body {
    padding: 12px 14px;
}

.deal-item .body .title {
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 12px;
}

.deal-item .body .pricing {
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.deal-item .body .pricing .actualprice {
    font-size: 12px;
    text-decoration: line-through;
    color: #7987A1;
}

.deal-item .body .pricing .sellingprice {
    font-size: 20px;
    font-weight: 700;
}

.deal-item .body .pricing .discount {
    color: #B11A83;
    background-color: #B11A831F;
    border-radius: 6px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
    float: right;
    line-height: 24px;
}

.header .container .category span {
    color: #fff;
    background-color: rgb(0 0 0 / 50%);
    font-size: 11px;
    font-weight: 500;
    padding: 4px 6px;
    border-radius: 12px;
}

.header .container .timer {
    font-size: 11px;
    color: #ffffff;
    font-weight: 500;
    float: right;
}

.header .container .counter {

    color: #fff;
    background-color: rgb(0 0 0 / 50%);
    font-size: 11px;
    font-weight: 500;
    padding: 4px 6px;
    border-radius: 12px;
}

.header .container .counter i {

    padding-right: 2px;
}

.header .container .merchant {
    margin-top: 50px;
    display: inline-block;
}


.header .container .merchant img {

    height: 40px;
    width: 40px;
    background: rgb(0 0 0 / 50%);
    border-radius: 40px;
    padding: 2px;
    box-shadow: 0 .125rem 1.25rem rgba(0, 0, 0, .075) !important;
    object-fit: cover;
    float: left;
}

.header .container .merchant .merchantname {


    /* background: #f7e4f1;
            border-radius: 30px;
            color: #b01a83;
            font-size: 12px;
            font-weight: 500;
            border: 0px solid #fff;
            padding: 6px 12px;
            float: left;
            margin-top: 5px; */

    border: 2px solid #959595;
    float: left;
    margin-top: 6px;
    color: #fff;
    background-color: rgb(0 0 0 / 50%);
    font-size: 11px;
    font-weight: 500;
    padding: 4px 6px;
    border-radius: 12px;
}


.body .merchant {
    margin-top: 8px;
    display: inline-block;
    width: 100%;
}


.body .merchant img {
    height: 35px;
    width: 35px;
    background: #f7e4f1;
    border-radius: 50px;
    padding: 2px;
    box-shadow: 0 .125rem 1.25rem rgba(0, 0, 0, .075) !important;
    object-fit: cover;
    float: left;
}

.body .merchant .merchantname {

    border-radius: 30px;
    font-size: 12px;
    border: 0px solid #fff;
    float: left;
}

.body .merchant .distance {
    color: #7987A1;
    font-size: 11px;
    padding-left: 8px;
}

.body .merchant .dealtype {
    float: right;
}

.body .merchant .dealtype i {
    color: rgb(177 26 131 / 70%);
    font-size: 18px;
    float: right;
    margin-top: -2px;
    margin-left: 8px;
}

.otpinput {
    width: 50px !important;
    height: 50px !important;
    border-radius: 8px !important;
    border: 1px solid #E7E9EF !important;
}










.fireworks {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #FFEFAD;
    /*     padding-bottom: 100px; */
    -webkit-mask: url('https://imgservices-1252317822.image.myqcloud.com/image/081320210201435/e9951400.png') right top no-repeat;
    -webkit-mask-size: auto 60px;
    animation: fireworks 2s steps(24) infinite, random 8s steps(1) infinite, random_color 1s infinite;
}

@keyframes fireworks {
    0% {
        -webkit-mask-position: 0%;
    }

    50%,
    100% {
        -webkit-mask-position: 100% 100%;
    }
}

@keyframes random {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(200%, 50%) scale(0.8);
    }

    50% {
        transform: translate(80%, 80%) scale(1.2);
    }

    75% {
        transform: translate(20%, 60%) scale(0.65);
    }
}

@keyframes random_color {
    0% {
        background-color: #FFEFAD;
    }

    25% {
        background-color: #ffadad;
    }

    50% {
        background-color: #aeadff;
    }

    75% {
        background-color: #adffd9;
    }
}

@media screen and (prefers-reduced-motion) {
    .fireworks {
        animation: none;
    }
}




.flashtext {
    /* background-image: linear-gradient(90deg, rgba(94, 114, 235, 1) 0%, rgba(255, 145, 144, 1) 56%, rgba(254, 193, 149, 1) 100%); */
    background-image: linear-gradient(90deg, rgba(94, 114, 235, 1) 0%, rgb(202 255 158) 56%, rgba(254, 193, 149, 1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    animation: move 1s infinite;
}

@keyframes move {
    50% {
        background-image: linear-gradient(262deg, rgba(94, 114, 235, 1) 0%, rgba(255, 145, 144, 1) 56%, rgba(254, 193, 149, 1) 100%);
    }
}



.skeleton {
    --lines: 1;
    --l-h: 20px;
    --l-gap: 10px;
    --g-gap: 15px;
    --c-w: 300px;
    --c-p: 10px;
    --bg: #e2e1eb;
    --c-bg: transparent;
    --shine: rgba(255, 255, 255, 0.2);
    --t: 2s;
    --c-s: 40px;
    --c-pos: center;
    --rect-h: 80px;
    padding: var(--c-p);
    width: var(--c-w);
    position: relative;
    background: var(--c-bg);
    box-sizing: border-box !important;
    --ln: linear-gradient(#000, #000);
    --circle: radial-gradient(calc(var(--c-s) / 2) calc(var(--c-s) / 2) at 50% 50%, #000 98%, transparent 100%);
    --m: unset;
    --m-r: inherit
}

.skeleton::after,
.skeleton::before {
    content: '';
    position: absolute;
    left: var(--c-p);
    top: var(--c-p);
    width: calc(100% - calc(var(--c-p) * 2));
    height: calc(100% - calc(var(--c-p) * 2));
    -webkit-mask: var(--m);
    mask: var(--m);
    -webkit-mask-repeat: var(--m-r);
    mask-repeat: var(--m-r)
}

.skeleton::before {
    background: var(--bg)
}

.skeleton::after {
    background: linear-gradient(to right, transparent 0 20%, var(--shine), transparent 80% 100%) -300% 0/80% 100% no-repeat;
    animation: s var(--t) linear infinite
}

@keyframes s {
    to {
        background-position: 600% 0
    }
}

.skeleton.no-animate::after {
    animation: none
}

.skeleton.skeleton-line {
    height: calc((var(--l-h) * var(--lines)) + (var(--l-gap) * (var(--lines) - 1)) + var(--c-p) * 2);
    --m: linear-gradient(#000 0 var(--l-h), transparent var(--l-h) calc(var(--l-h) + var(--l-gap))) 0 0/100% calc(var(--l-h) + var(--l-gap))
}

.skeleton.skeleton-circle {
    width: calc(var(--c-s) + var(--c-p) * 2);
    height: calc(var(--c-s) + var(--c-p) * 2);
    --m: var(--circle) 0 50%/var(--c-s) var(--c-s) no-repeat
}

.skeleton.skeleton-circle-line {
    height: calc(var(--c-s) + var(--c-p) * 2);
    --m: var(--circle) 0 50%/calc(var(--c-s)) calc(var(--c-s)), var(--ln) calc(var(--c-s) + var(--g-gap)) var(--c-pos)/100% var(--l-h);
    --m-r: no-repeat
}

.skeleton.skeleton-circle-multi-line {
    height: calc((var(--l-h) * var(--lines)) + (var(--l-gap) * (var(--lines) - 1)) + var(--c-p) * 2);
    --m: var(--circle) 0 var(--c-pos)/calc(var(--c-s)) calc(var(--c-s)), linear-gradient(#000 0 var(--l-h), transparent var(--l-h) calc(var(--l-h) + var(--l-gap))) calc(var(--c-s) + var(--g-gap)) 0%/100% calc(var(--l-h) + var(--l-gap));
    --m-r: no-repeat, no-repeat repeat
}

.skeleton.skeleton-circle-multi-line.adapt-to-circle {
    height: calc(var(--c-s) + var(--c-p) * 2);
    --m-r: no-repeat, no-repeat space
}

.skeleton.skeleton-rect {
    height: calc(((var(--l-h) * var(--lines)) + (var(--l-gap) * (var(--lines) - 1)) + var(--g-gap)) * clamp(0, var(--lines), 1) + var(--rect-h) + var(--c-p) * 2);
    --m: var(--ln) 0 0/100% var(--rect-h), repeating-linear-gradient(#000 0 var(--l-h), transparent var(--l-h) calc(var(--l-h) + var(--l-gap))) 0 calc(var(--rect-h) + var(--g-gap))/100% calc(100% - (var(--rect-h) + var(--g-gap)));
    --m-r: no-repeat
}

.skeleton.skeleton-chart-line {
    --chart-btm: 40px;
    --chart-h: 200px;
    height: calc(var(--chart-h) + var(--c-p) * 2);
    --m: var(--ln) 0 100%/100% var(--chart-btm), linear-gradient(to left bottom, transparent 0 49.5%, #000 50% 100%) left 0 bottom var(--chart-btm)/calc((var(--c-w) / 10) * 2) calc(var(--chart-h) / 2), linear-gradient(to right bottom, transparent 0 49.5%, #000 50% 100%) left calc((var(--c-w) / 10) * 2) bottom var(--chart-btm)/calc((var(--c-w) / 10) * 3) calc(var(--chart-h) - var(--chart-btm)), linear-gradient(to left bottom, transparent 0 49.5%, #000 50% 100%) left calc((var(--c-w) / 10) * 5) bottom var(--chart-btm)/calc((var(--c-w) / 10) * 3) calc(var(--chart-h) - var(--chart-btm)), linear-gradient(to right bottom, transparent 0 49.5%, #000 50% 100%) left calc((var(--c-w) / 10) * 8) bottom var(--chart-btm)/calc((var(--c-w) / 10) * 2.5) calc(var(--chart-h) / 2.5);
    --m-r: no-repeat
}

.skeleton.skeleton-chart-columns {
    --cols: 5;
    --col-w: 25px;
    --col-gap: 25px;
    --o-l: calc(var(--col-w) + var(--col-gap));
    --chart-h: 200px;
    height: calc(var(--chart-h) + var(--c-p) * 2);
    width: calc(((var(--cols) - 1) * var(--o-l)) + var(--col-w) + var(--c-p) * 2);
    --m: var(--ln) 0 100%/var(--col-w) calc((var(--chart-h) / 10) * 4), var(--ln) calc(var(--o-l)) 100%/var(--col-w) calc((var(--chart-h) / 10) * 3), var(--ln) calc(var(--o-l) * 2) 100%/var(--col-w) calc((var(--chart-h) / 10) * 6), var(--ln) calc(var(--o-l) * 3) 100%/var(--col-w) calc((var(--chart-h) / 10) * 8), var(--ln) calc(var(--o-l) * 4) 100%/var(--col-w) calc((var(--chart-h) / 10) * 2), var(--ln) calc(var(--o-l) * 5) 100%/var(--col-w) calc((var(--chart-h) / 10) * 5), var(--ln) calc(var(--o-l) * 6) 100%/var(--col-w) calc((var(--chart-h) / 10) * 4), var(--ln) calc(var(--o-l) * 7) 100%/var(--col-w) calc((var(--chart-h) / 10) * 9), var(--ln) calc(var(--o-l) * 8) 100%/var(--col-w) calc((var(--chart-h) / 10) * 2), var(--ln) calc(var(--o-l) * 9) 100%/var(--col-w) calc((var(--chart-h) / 10) * 7);
    --m-r: no-repeat
}

.skeleton.skeleton-card-1 {
    --card-h: 150px;
    --g-gap: 30px;
    --c-s: 30px;
    --c-w-o: (var(--c-w) - var(--c-p) * 2);
    height: calc(var(--card-h) + var(--c-p) * 2);
    --r-x: calc((var(--c-w-o) / 4) + var(--g-gap));
    --l-x: calc((var(--c-w-o) / 4) + var(--g-gap) + var(--c-s) + var(--l-gap));
    --l-w: calc((var(--c-w-o) - (var(--c-w-o) / 4 + (var(--g-gap) * 2) + (var(--l-gap) * 2) + var(--c-s) * 2)) / 2);
    --m: var(--ln) 0 0/calc(var(--c-w-o) / 4) var(--card-h), var(--ln) calc((var(--c-w-o) / 4) + var(--g-gap)) 0/calc(var(--c-w-o) - ((var(--c-w-o) / 4) + var(--g-gap))) calc(var(--card-h) / 5), var(--ln) calc((var(--c-w-o) / 4) + var(--g-gap)) calc(var(--card-h) / 3)/calc(var(--c-w-o) - ((var(--c-w-o) / 4) + var(--g-gap))) calc(var(--card-h) / 8), var(--ln) calc((var(--c-w-o) / 4) + var(--g-gap)) calc(var(--card-h) / 1.8)/calc(var(--c-w-o) - ((var(--c-w-o) / 4) + var(--g-gap))) calc(var(--card-h) / 8), var(--circle) var(--r-x) 100%/calc(var(--c-s)) calc(var(--c-s)), var(--ln) left var(--l-x) bottom calc((var(--c-s) - (var(--card-h) / 8)) / 2)/var(--l-w) calc(var(--card-h) / 8), var(--circle) calc(var(--l-x) + var(--l-w) + var(--g-gap)) 100%/calc(var(--c-s)) calc(var(--c-s)), var(--ln) left calc(var(--l-x) + var(--l-w) + var(--c-s) + var(--g-gap) + var(--l-gap)) bottom calc((var(--c-s) - (var(--card-h) / 8)) / 2)/var(--l-w) calc(var(--card-h) / 8);
    --m-r: no-repeat
}

.skeleton.skeleton-card-2 {
    --f-l-w: 90%;
    --f-l-h: 25px;
    --f-l-c: var(--bg);
    --s-l-w: 70%;
    --s-l-h: 20px;
    --s-l-c: var(--bg);
    --s-l-m-t: 15px;
    height: calc(var(--f-l-h) + var(--s-l-m-t) + var(--s-l-h) + var(--g-gap) + ((var(--l-h) * var(--lines)) + (var(--l-gap) * (var(--lines) - 1))) + var(--c-p) * 2);
    --top: calc(var(--f-l-h) + var(--s-l-m-t) + var(--s-l-h) + var(--g-gap));
    --m: var(--ln) 0 0/var(--f-l-w) var(--f-l-h), var(--ln) 0 calc(var(--f-l-h) + var(--s-l-m-t))/var(--s-l-w) var(--s-l-h), var(--ln) 0 var(--top)/100% var(--l-h), var(--ln) 0 calc(var(--top) + (var(--l-h) + var(--l-gap)))/100% var(--l-h), var(--ln) 0 calc(var(--top) + ((var(--l-h) + var(--l-gap)) * 2))/80% var(--l-h), var(--ln) 0 calc(var(--top) + ((var(--l-h) + var(--l-gap)) * 3))/100% var(--l-h), var(--ln) 0 calc(var(--top) + ((var(--l-h) + var(--l-gap)) * 4))/100% var(--l-h), var(--ln) 0 calc(var(--top) + ((var(--l-h) + var(--l-gap)) * 5))/80% var(--l-h);
    --m-r: no-repeat
}

.skeleton.skeleton-card-2::before {
    background: linear-gradient(var(--f-l-c), var(--f-l-c)) 0 0/var(--f-l-w) var(--f-l-h) no-repeat, linear-gradient(var(--s-l-c), var(--s-l-c)) 0 calc(var(--f-l-h) + var(--s-l-m-t))/var(--s-l-w) var(--s-l-h) no-repeat, var(--bg)
}

.skeleton.skeleton-card-3 {
    --c-w: 100%;
    --c-s: 50px;
    --g-gap: 30px;
    --f-l-w: 200px;
    --f-l-h: 20px;
    --s-l-w: 130px;
    --s-l-h: 10px;
    --l-h: 10px;
    --lines: 3;
    --s-l-m-t: 10px;
    height: calc(var(--l-h) * var(--lines) + var(--l-gap) * (var(--lines) - 1) + var(--g-gap) + var(--c-s) + var(--f-l-h) + var(--s-l-h));
    --m: var(--circle) 0 0/var(--c-s) var(--c-s), var(--ln) calc(var(--c-s) + var(--g-gap)) 0/var(--f-l-w) var(--f-l-h), var(--ln) calc(var(--c-s) + var(--g-gap)) calc(var(--f-l-h) + var(--s-l-m-t))/var(--s-l-w) var(--s-l-h), repeating-linear-gradient(#000 0 var(--l-h), transparent var(--l-h) calc(var(--l-h) + var(--l-gap))) 0 calc(var(--c-s) + var(--g-gap))/100% 100%;
    --m-r: no-repeat
}

.skeleton.skeleton-list {
    --bullet-ratio: 1.4;
    --b: calc(var(--l-h) * var(--bullet-ratio));
    --p: calc((var(--b) - var(--l-h)) / 2);
    height: calc(var(--b) + ((var(--b) + var(--l-gap)) * (var(--lines) - 1)) + var(--c-p) * 2);
    --m: repeating-linear-gradient(#000 0 var(--b), transparent var(--b) calc(var(--b) + var(--l-gap))) 0 0/var(--b) 100%, repeating-linear-gradient(transparent 0 var(--p), #000 var(--p) calc(var(--p) + var(--l-h)), transparent calc(var(--p) + var(--l-h)) calc(calc(var(--p) * 2 + var(--l-gap) + var(--l-h)))) calc(var(--b) + var(--g-gap)) 0/calc(var(--c-w) - (var(--b) + var(--g-gap))) 100%;
    --m-r: no-repeat
}

.skeleton.skeleton-youtube {
    --g-gap: 10px;
    --rect-h: 150px;
    --c-s: 36px;
    height: calc(var(--rect-h) + var(--g-gap) + var(--l-gap) + (var(--l-h) * 2) + var(--c-p) * 2);
    --m: var(--ln) 0 0/100% var(--rect-h), var(--circle) 0 calc(var(--rect-h) + var(--g-gap))/var(--c-s) var(--c-s), var(--ln) calc(var(--c-s) + var(--g-gap)) calc(var(--rect-h) + var(--g-gap))/calc(((var(--c-w) - var(--c-p) * 2) - (var(--c-s) + var(--g-gap))) * 0.85) var(--l-h), var(--ln) calc(var(--c-s) + var(--g-gap)) calc(var(--rect-h) + var(--g-gap) + var(--l-h) + var(--l-gap))/calc(((var(--c-w) - var(--c-p) * 2) - (var(--c-s) + var(--g-gap))) * 0.6) var(--l-h);
    --m-r: no-repeat
}

.skeleton.skeleton-image {
    --i-w: 250px;
    height: var(--i-w);
    width: var(--i-w);
    --cw: calc((var(--i-w) - var(--c-p) * 2) / 12);
    --ch: calc(var(--i-w) / 12);
    --c-s: calc(var(--i-w) / 4);
    --m: linear-gradient(to left top, #000 50%, transparent 50.5%) 0 100%/calc(var(--cw) * 2) calc(var(--ch) * 4), linear-gradient(to right top, #000 50%, transparent 50.5%) calc(var(--cw) * 2) 100%/calc(var(--cw) * 2) calc(var(--ch) * 4), linear-gradient(to left top, #000 50%, transparent 50.5%) calc(var(--cw) * 4) 100%/calc(var(--cw) * 4) calc(var(--ch) * 6), linear-gradient(to right top, #000 50%, transparent 50.5%) calc(var(--cw) * 8) 100%/calc(var(--cw) * 4) calc(var(--ch) * 6), var(--circle) left calc(var(--i-w) / 8) top calc(var(--i-w) / 8)/var(--c-s) var(--c-s);
    --m-r: no-repeat
}