.no-border-radius {
    border-radius: 0px;
}

.border-radius {
    border-radius: 8px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}


.p {
    padding: 16px;
}

.p-b {
    padding-bottom: 16px;
}

.p-l {
    padding-left: 16px;
}

.p-r {
    padding-right: 16px;
}

.p-t {
    padding-top: 16px !important;
}


.m,
.margin {
    margin: 16px;
}

.m-l {
    margin-left: 16px;
}

.m-r {
    margin-right: 16px;
}

.m-t {
    margin-top: 16px;
}

.m-b {
    margin-bottom: 16px;
}

.m-0 {
    margin: 0px;
}

.bg-white {
    --background: #ffffff;
    --background-color: #ffffff;
    background-color: #ffffff;
}

.bg-light {
    --background: #f2f3f4;
    --background-color: #f2f3f4;
    background-color: #f2f3f4;
}

.bg-success {
    background-color: #31c971;
    color: #ffffff;
}

.bg-red {
    background-color: #f44336;
    color: #fff;
}


.text-white,
.c-white {
    color: #ffffff !important;
    --color: #ffffff !important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.c-title {
    color: var(--color-title);
}

.c-subtitle {
    color: var(--color-subtitle);
}

.bg-subtitle {
    background-color: var(--color-subtitle);
}

.bg-light {
    background-color: var(--color-light);
}

.b-light {
    border: 1px solid var(--color-light);
}