ion-header::after {
    display: none;
}

.hcx-progressbar {
    position: fixed;
    z-index: 1024;
    background: rgb(255 255 255 / 50%);
    top: 0;
    width: 100%;
    border-radius: 12px;
}

.hcx-loadingcontroller {}

.hcx-loadingcontroller-img {
    width: 60px;
    height: 60px;
    background-image: url(./../../assets/images/wave.gif);
    background-repeat: no-repeat;
    border: 3px solid #b11a83d6;
    border-radius: 100%;
    background-position: center;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    background-size: 120%;
}

.hcx-loadingcontroller-title {
    color: #ffffff;
    padding-top: 12px;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
}


.loading-wrapper {
    background-color: rgb(0 0 0 / 35%) !important;
    border-radius: 8px !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

:root {
    --font: cera-round-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --color-primary: #b11a83;
    --color-success: #10B759;
    --color-warning: #ffc409;
    --color-danger: #DC3545;
    --color-light: #E7E9F0;
    --color-text: #32353E;
    --color-title: #222222;
    --color-subtitle: #7987A1;
    --color-white: #ffffff;
    --btn-border-radius: 6px;
    --app-background: #F2F3F4;
}


.hcx-page-titlebar ion-toolbar {
    --ion-background-color: #B11A83;
    --background-color: #B11A83;
    --background: #B11A83;
    font-size: 15px;
    font-weight: 500;
    --color: #ffffff;
    color: #ffffff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.hcx-page-titlebar-transparent ion-toolbar {
    /* --ion-background-color: #B11A83;
    --background-color: #B11A83;
    --background: #B11A83;
    font-size: 15px;
    font-weight: 500;
    --color: #ffffff;
    color: #ffffff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; */
    position: fixed;
    --background: transparent;
    /* background: #f6f6f6; */
    /* color: #ffffff !important; */
    --color: #ffffff !important;
}

.hcx-page-titlebar-btn {
    color: #ffffff;
    --color: #ffffff;
    margin-left: 8px;
    text-transform: capitalize;
    border-radius: 100%;
    width: 48px;
    height: 48px !important;
    font-size: 17px !important;
}

.hcx-page-titlebar-btn-modal {
    color: #ffffff;
    --color: #ffffff;
    margin-left: 8px;
    text-transform: capitalize;
    border-radius: 100%;
    width: 48px;
    height: 48px !important;
    font-size: 24px !important;
}

.hcx-page {
    --ion-background-color: var(--color-primary);
    color: var(--color-white);
}



.hcx-page-header {
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-top: 12px;
    color: var(--color-white);
    background-image: url(../../../assets/images/tucpatern.png);
    background-size: initial;
    background-repeat: repeat;
    background-position: top;
}

.hcx-page-header-title {
    font-size: 17px;
    font-weight: 500;
}

.hcx-page-header-body {
    padding-top: 4px;
}

.hcx-page-header-image {
    background-color: #f6f6f6;
    font-size: 32px;
    color: #B11A83;
    border-radius: 12px;
    padding: 4px;
    border: 1px solid rgba(164, 47, 128, 0.5);
    float: right;
    width: 48px;
    height: 48px;
    margin-left: 16px;
}

.hcx-page-body {
    min-height: 90%;
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: 16px;
    font-size: 13px;
    background-color: var(--app-background);
    box-shadow: 0px -8px 12px 0px rgb(0 0 0 / 10%);
    padding-bottom: 40px;
}

.bg-white,
.hcx-page-body-white {
    background-color: var(--color-white);
}

.hcx-page-body-padding {
    padding: 20px;
}

.hcx-page-footer {
    margin-top: 16px;
    font-size: 13px;
    color: var(--color-white);
}

.hcx-page-footer {
    color: rgb(255 255 255 / 73%);
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 12px;
}

.hcx-page-footer-i {
    color: red;
}

.hcx-page-footer-right {
    float: right;
}

.hcx-page-footer-left {
    float: left;
}

.hcx-page-padding {
    padding: 20px;
}

.hcx-page-item-top {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding-top: 8px;
    border-radius: 12px;
}

.hcx-page-item-space {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 12px;
    background-color: var(--color-white);
    margin-bottom: 12px;
}

.hcx-page-item {
    background-color: var(--color-white);
    margin-bottom: 16px;
}

.hcx-page-item-title {
    color: #32353E;
    font-weight: 600;
    font-size: 14px;
    padding: 16px 20px;
    padding-bottom: 8px;
}

.hcx-page-item-title-help {
    display: flex;
    float: right;
    font-size: 12px;
    font-weight: 400;
    color: #B11A83;
}


.hcx-page-item-body {
    padding: 16px 20px;
}

.hcx-split-item {
    padding-bottom: 16px;
}

.hcx-split-item .left {
    color: #5A6780;
    font-size: 12px;
}

.hcx-split-item .left i {
    color: #5A6780;
    font-size: 15px;
    float: left;
    margin-right: 8px;
}

.hcx-split-item .right {
    float: right;
    font-size: 13px;
    color: #222222;
}

.hcx-page-body-container {
    padding-top: 12px;
}

.hcx-list-empty {
    text-align: center;
    width: 100%;
    top: 35%;
    padding-top: 15%;
}

.hcx-list-empty {
    text-align: center;
    width: 100%;
    top: 35%;
    padding-top: 15%;
}

.hcx-list {
    padding: 16px 20px;
    border-radius: 6px;
    background-color: #ffffff;
    /* box-shadow: 0px 3px 16px rgb(0 0 0 / 6%); */
    box-shadow: none;
    margin-bottom: 0px;
    border-bottom: 1px solid #f7f7f7;
}

.hcx-list-title {
    font-weight: 500;
    font-size: 13px;
    padding-bottom: 6px;
    color: var(--color-title);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hcx-list-subtitle {
    color: var(--color-text);
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: lowercase;
}

.hcx-searchbar {
    background-color: #f5f6fa;
    padding: 15px 8px;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 12px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 16px;
    width: 94%;
    border: none;
    color: #32353E;
}

.hcx-searchbar1 {
    margin-bottom: 16px;
    border-radius: 12px;
    color: #32353E;
    background-color: #f5f6fa;
} 







.hcx-searchbar-inverse {
    border: 1px solid rgb(255 255 255 / 38%);
    margin-bottom: 0px;
    margin-top: 16px;
    border-radius: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 46px;
    background-color: #ffffff24;
    color: #ffffff;
}

.hcx-searchbar-inverse .searchbar-search-icon {
    color: #ffffff !important;
}


.hcx-list-empty {
    text-align: center;
    padding-top: 15%;
}

.hcx-list-empty-icon {
    font-size: 30px;
    color: #bfbfbf;
    border-radius: 100%;
    padding: 14px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.hcx-list-empty-title {
    font-size: 20px;
    color: #9e9e9e;
    margin-bottom: 8px;
    font-weight: 300;
}

.hcx-list-empty-subtitle {
    font-size: 14px;
    color: #9e9e9e;
    margin-bottom: 8px;
    font-weight: 400;
}



.hcx-vas-list-container {
    padding: 20px 8px;
}

.hcx-vas-list-item {
    background: #ffffff;
    border-radius: 12px;
    margin-bottom: 12px;
    padding: 12px;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 0 0 4px 0px #33282810;
}

.hcx-vas-list-item-image {
    margin-bottom: 12px;
}

.hcx-vas-list-item-image img {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background: #f7f7f7;
}

.hcx-vas-list-item-title {
    margin-bottom: 12px;
    color: #222222;
    font-weight: 500;
}

.hcx-vas-list-item-title-reward {
    font-size: 11px;
    font-weight: 500;
    color: #B11A83;
}

.hcx-vas-list-item-title-reward img {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    margin-top: -2px;
}

.hcx-vas-list-item-title-reward span {}


.hcx-tab {
    text-align: center;
    background-color: #ffffff;
    border-radius: 12px;
    margin-bottom: 16px;
    padding: 8px;
}

.hcx-tab-item {
    border-radius: 12px;
    padding: 11px 8px;
    font-weight: 400;
}

.hcx-tab-item-active {
    border-radius: 12px;
    padding: 11px 8px;
    background: #f3dcec80;
    color: #b11a83;
    font-weight: 500;
}

.hcx-tab-image {
    margin-bottom: 4px;
}

.hcx-tab-image img {
    width: 28px;
}

.hcx-tab-title {
    font-size: 12px;
}


.hcx-vas-rp-item {
    display: inline-block;
    width: 100%;
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #E7E9F0;
}

.hcx-vas-rp-item-first {
    display: inline-block;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    border: none;
}

.hcx-vas-rp-header {
    display: inline-block;
    width: 100%;
    padding-bottom: 12px;
}

.hcx-vas-rp-header .item-image {
    width: 38px;
    height: 38px;
    float: left;
    margin-right: 12px;
    border: 1px solid #33282810;
    border-radius: 12px;
}

.hcx-vas-rp-header .item-repeat {
    float: right;
    color: #b11a83;
    font-weight: 500;
    font-size: 12px;
}

.hcx-vas-rp-header .item-number {
    font-size: 14px;
    color: #222222;
    margin-bottom: 4px;
}

.hcx-vas-rp-header .item-provider {
    color: var(--color-subtitle);
    font-size: 12px;

}

.hcx-vas-rp-content {
    color: var(--color-subtitle);
    font-size: 12px;
}

.hcx-vas-rp-content .item-amount {

    color: var(--color-title);
    font-weight: 500;
    margin-right: 8px;

}

.hcx-vas-rp-content .item-time {
    color: var(--color-title);
    font-weight: 500;
    margin-left: 2px;

}

.hcx-vas-pkg-list-container {}

.hcx-vas-pkg-list-item {
    margin-bottom: 14px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 6px 0px #33282810;
}

.hcx-vas-pkg-list-title {
    color: var(--color-subtitle);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 500;
}

.hcx-vas-pkg-list-details {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    width: 100%;
    display: inline-block;
}

.hcx-vas-pkg-list-price {
    float: left;
    font-size: 18px;
    font-weight: 500;
    margin-right: 16px;
    border-right: 1px solid var(--color-light);
    padding-top: 8px;
    min-width: 22%;
}

.hcx-vas-pkg-list-price .currency {
    font-size: 12px;
}


.hcx-vas-pkg-list-validity {
    float: left;
}

.hcx-vas-pkg-list-validity .title {
    color: var(--color-subtitle);
    font-weight: 500;
    font-size: 12px;
}

.hcx-vas-pkg-list-validity .value {
    color: var(--color-title);
    font-size: 14px;
}

.hcx-vas-pkg-list-rewards {
    background-color: #FFE0F5;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 11px;
    color: #B11A80;
}


.form-group {
    margin-bottom: 24px;
}

.form-group .label {
    font-size: 13px !important;
    color: #7987A1;
    margin-bottom: 8px;
}

.form-group .input {
    background-color: var(--color-white);
    border-radius: var(--hcx-border-radius);
    padding: 16px 14px !important;
    font-size: 14px;
    box-shadow: none;
    border: 1px solid #C0CCDA;
    color: #32353E;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 6px;
}

.form-group .input:focus,
.form-group .input:active,
.form-group .input:focus-visible {
    border: 1px solid rgb(177 26 131 / 50%) !important;
    box-shadow: none !important;
    outline: none;
}



.hcx-stores-list {
    padding: 0px 16px 20px 8px;
    padding-top: 0px;
}

.hcx-stores-list-item {
    width: 100%;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 12px;
    margin-bottom: 12px;
    padding: 12px;
    background: #ffffff;
}

.hcx-stores-list-cashback {
    color: #3d7240;
    font-size: 9px;
    background: #d1e7d7;
    margin-top: -12px;
    padding: 4px 6px;
    font-weight: 500;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    margin-right: -3px;
}

.hcx-stores-list-img {
    border-radius: 6px;
    margin-right: 16px;
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
    border: 1px solid #C6C8CD;
}

.hcx-stores-list-title {
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 4px;
    color: #32353E;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hcx-stores-list-rating {
    color: #FEC003;
    font-size: 11px;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hcx-stores-list-rating i {

    padding-right: 2px;

}

.hcx-stores-list-distance {
    color: #7987A1;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hcx-stores-list-locations {
    color: #222222;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hcx-btn-primary {
    padding: 12px 16px;
    font-size: 12px;
    background-color: #B11A83;
    border-radius: 6px;
    color: #FFFFFF;
    font-weight: 500;
}

.hcx-btn-md {
    padding: 14px 16px;
    font-size: 13px;
}

.hcx-btn-light {
    padding: 12px 16px;
    font-size: 12px;
    background-color: #f5f5f5;
    border-radius: 6px;
    color: rgb(50 53 62 / 70%);
    font-weight: 500;
}


.hcx-home-acc-container {}

.hcx-home-acc-container-img {
    border: 2px solid #b01a8357;
    border-radius: 12px;
    background: #ffffff;
    width: 48px;
    height: 48px;
    margin-top: 8px;
}

.hcx-home-acc-container-title {
    color: #32353E;
    font-weight: 600;
    font-size: 14px;
}

.hcx-home-acc-balance {
    padding-top: 4px;
    font-weight: 600;
    font-size: 20px;
}

.hcx-home-acc-balance-title {
    font-size: 12px;
    color: #7987A1 !important;
}

.hcx-home-referral-container {
    background-color: #ffffff;
    padding-top: 8px;
    padding-bottom: 16px;
    background-image: url(../../../assets/images/ref.png);
    background-size: 260px;
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 8px;
    min-height: 200px;
}

.hcx-promoslider-container {
    height: 160px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.6s;
    border-radius: 12px;
}

.hcx-promoslider-icon {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    margin-right: 12px;
    margin-top: 12px;
}

.hcx-promoslider-icon img {
    border-radius: 12px;
}

.hcx-promoslider-title {
    position: absolute;
    bottom: 0;
    background-color: rgb(0 0 0 / 63%);
    border-radius: 12px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    padding: 12px;
    text-align: left;
}


.hcx-bnpl-promo-header {
    text-align: center;
}

.hcx-bnpl-promo-header .img {}

.hcx-bnpl-promo-header .img img {
    width: 90px;
}

.hcx-bnpl-promo-header .title {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 8px;
}

.hcx-bnpl-promo-header .subtitle {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 16px;
}

.hcx-bnpl-promo-body {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 28px;
}

.hcx-bnpl-promo-body-item {

    display: inline-block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}


.hcx-bnpl-promo-body-image {
    float: left;
}

.hcx-bnpl-promo-body-image img {
    width: 40px;
    margin-right: 16px
}


.hcx-bnpl-promo-body-title {
    padding-top: 6px;
    font-size: 15px;

}

.hcx-bnpl-promo-body-border {
    height: 40px;
    border-left: 1px solid #ccc;
    margin-left: 20px;
    border-color: #B11A8340;
}

.hcx-bnpl-promo-explore {
    background-color: #B11A8319;
    color: #B11A83;
    border-radius: 12px;
    font-weight: 500;
    padding: 14px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #B11A83;
}

.hcx-bnpl-promo-crcheck {
    background-color: #B11A83;
    color: #FFFFFF;
    border-radius: 12px;
    font-size: 14px;
    padding: 14px;
    font-weight: 500;
    width: 100%;

}


.hcx-bnpl-card-container {
    background: transparent linear-gradient(251deg, #2E92E2 0%, #2454BA 100%) 0% 0% no-repeat padding-box;
    border-radius: 12px;
    height: 150px;
    margin-bottom: 20px;
}

.hcx-bnpl-card {
    position: relative;
    height: 150px;
    background-image: url(../../assets/images/Square.png), url(../../assets/images/Square1.png);
    background-size: 80px, 70px;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, top left;
    padding: 8px 20px;
    color: #ffffff
}

.hcx-bnpl-card-title {
    margin-top: 16px;
    font-weight: 500;
    padding-bottom: 4px;
}

.hcx-bnpl-card-amount {
    font-size: 24px;
    font-weight: 500;
}

.hcx-bnpl-card-amount .currency {
    font-size: 12px;
}

.hcx-bnpl-card-approvedcredit {
    position: absolute;
    bottom: 0;
    padding-bottom: 16px;
}

.hcx-bnpl-card-lock {
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 8px;
}

.hcx-bnpl-card-lock {
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 8px;
}

.hcx-bnpl-card-lock-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
}

.hcx-bnpl-card-lock-subtitle {
    font-size: 13px;
}


.tuc-footer {
    background-color: #ffffff;
    /* border-top: 1px solid #f7f7f7; */
    padding: 16px;
    padding-top: 8px;
    z-index: 1;
}

.tuc-footer .cancel {
    padding: 16px 16px;
    width: 49%;
    font-size: 14px;
    background-color: #86888f;
    border-radius: 8px;
    margin-right: 2%;
    color: #ffffff;
}

.tuc-footer .next {
    float: right;
    background-color: #B11A83;
    border: 1px solid #b11a83;
    color: #ffffff;
    font-weight: 500;
    padding: 16px 16px;
    border-radius: 8px;
    margin-right: 16px;
}

.tuc-footer .content .title {
    font-weight: 500;
    color: #5d5d5d;
    padding-bottom: 6px;
    padding-top: 4px;
}

.tuc-footer .content .subtitle {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.hcx-listactivecheckbox {

    float: right;
    background: green;
    padding: 4px;
    border-radius: 100%;
    color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 20px;
}
/* water lineawsome logo css */
.la-water{
    color:#86888f;
    font-size: 28px;

}
.teraw{
color:#b11a83 ;
}