.input-container
{
    width: 100%;
    margin-bottom: 16px;
    background-color: #f8f8f8;
    padding: 8px 16px;
    border-radius: 16px;
    color: #000;
}
.input-container span
{
    font-size: 24px;
    position: absolute;
}

.input-container span i
{
    font-size: 24px;
    color: #af7c9f;
}
/* 
.input-container input , ion-datetime
{
    width: calc(100% - 40px);
    padding: 8px;
    background-color: #f8f8f8;
    font-size: 14px;
    margin-left: 40px;
    border: none;
} */
*:focus {
    outline: none;
}
textarea:focus, input:focus{
    outline: none;
}

.gender
{
    color: #000000;
    padding: 16px 28px;
    border-radius: 8px;
    margin-right: 8px;
    text-align: center;
    border: 1px solid #E7E9EF;
}
.gender-active
{
    padding: 16px 28px;
    border-radius: 8px;
                margin-right: 8px;
                text-align: center;
    color: #B11A8380 ;
    font-weight: 500;
    border: 1px solid #B11A8380;
}

.container
{
    font-size: 13px;
    border-radius: 0px;
    padding-bottom: 80px;
    box-shadow: 0px -10px 16px 4px rgb(0 0 0 / 16%);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #ffffff;
    padding-top: 8px;
    position: absolute;
    width: 100%;
    margin-top: -12px;
}

.bg-active 
{
    background-color: green !important;
    color: #ffffff !important;
    font-weight: 900 !important;
}

.agm-map-container-inner
{
  border-radius: 10px;
}

.ionic-selectable-cover{height: 40px !important;  position: absolute !important;  left: auto !important;  top: auto !important;}

.item-inner
{
    border: none !important;
}

ion-item
{
    --background: #fff  !important;
}

input-wrapper{
    display: block;
}
.fd-container
{
    text-align: left;
    border-radius: 8px;
    min-height: 120px;    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.1);
    background-size: cover;   
  margin: 16px;
  margin-right: 0px;
    width: 100%;
}
.fd-image
{
    border-radius: 6px;
    min-height: 120px;
    background-size: cover;     border-radius: 6px;    border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px; 
}

.fd-image-shadow
{
    min-height: 120px;
                    position: relative;
                    padding: 16px;
                    border-radius: 6px;    border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}

.fd-merchant-logo
{

    width: 44px !important;
    height: 44px  !important;
    float: left;
    border-radius: 6px;
    border: 1px solid #fff;
    background-color: rgb(255 255 255 / 60%);
    padding: 2px;
}
.fd-endsin
{
    color: #ffffff;
    font-weight: 500;
}

.df-timer
{

background-color: rgb(0 ,0 ,0 ,0.6);
color: #ffffff;
padding: 4px 6px;
border-radius: 6px;
margin-left: 4px;
font-weight: 500;
font-size: 11px;
}

.fd-view
{

    background-color: rgb(0 ,0 ,0 ,0.6);
    color: #ffffff;
    padding: 4px 6px;
    border-radius: 4px;
    margin-right: 8px;
    font-weight: 500;font-size: 12px;
    font-size: 12px;
}

.fd-purchase
{

    background-color: rgb(0 ,0 ,0 ,0.6);
    color: #ffffff;
    padding: 4px 6px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
}

.fd-title
{
    font-weight: 500; 
    padding-bottom: 8px; 
    color: #32353E;
            font-size: 14px;
            padding: 12px 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: w;
            line-clamp: w;
            -webkit-box-orient: vertical;   

            display: -webkit-box !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2 !important
}

.fd-price
{
    font-size: 16px; color: #000; padding-bottom: 8px; padding-left: 8px; padding-right: 8px; font-weight: 500; border-bottom: 1px solid #E7E9F0;
}

.df-priceactual
{
    text-decoration: line-through;
    color: #7987A1;
    font-size: 12px;
    font-weight: 500;
}

.ribbon {
    position: absolute;
    right: -1px; top: 0px;
    z-index: 1;
    overflow: hidden;
    width: 80px; height: 80px;
    text-align: right;
  }
  .ribbon span {
    font-size: 9px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 105px;
    display: block;
    background: #F79E05;
    background: linear-gradient(#E6E612 0%, #F79E05 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
  }
  .ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #F79E05;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #F79E05;
  }
  .ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #F79E05;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #F79E05;
  }

  .sc-ion-card-md-s img {
    display: block;
    width: 80%;
    margin: 50px auto;
}