<ion-content class="launch">
    <div class="page-header" style="    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;">
        <div>
            <img src="../../../assets/icon/tucinverse.png" style="width: 130px;
            margin-top: 32px;
            margin-bottom: 32px;">
        </div>
        <div class="c-white " style=" font-size: 22px;
    line-height: 32px;
    font-weight: 200;">Kindly verify your </div>
        <div class="c-white   " style="    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
    font-weight: 300;">phone number</div>
    </div>
    <div style=" margin-left: 32px;
        margin-right: 32px;
        margin-top: 32px;">
        <div>
            <div>
                <ion-label class="input-label">
                    <span>Please enter verification code you will receive on
                        {{VMobileNumber ||''}} to confirm
                        your phone number</span>
                </ion-label>
            </div>
            <div>
                <ion-input class=" input" placeholder="0000" type="tel" max-length="4" [(ngModel)]="AuthMobileNumber">
                </ion-input>
            </div>
        </div>

    </div>
    <div style="    text-align: center;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: -1;
        margin-bottom: 16px;">
        <div text-center style="font-size: 13px; font-weight: 900;margin-bottom: 8px; color: #a9a9a9;">
            from
        </div>
        <div text-center>
            <img src="../../../assets/icon/conicon.png" style="width: 60px;">
        </div>
    </div>
</ion-content>