<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border>
    <ion-toolbar class="tucapp-titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="page-tuc-titlebar-button"> </ion-back-button>
        </ion-buttons>
        <div class="tucapp-titlebar-content">
            Pay first part {{ (_Loan.MonthlyAmount ) | number: "1.2-2"}}
        </div>
    </ion-toolbar>
</ion-header>
<ion-content class="tucapp " forceOverscroll="false">

    <div class="tucapp-body" style="background-color: #ffffff;">
        <div class="tucapp-body-top" style="
           border-top-left-radius: 10px;     text-align: center;
    border-top-right-radius: 10px;margin-bottom: 20px;
    border-bottom: 1px solid #E7E9EF;
    padding-bottom: 16px;">
            <div style="    margin-top: 38px;">
                <img class="box-container-img-left" src="{{ActiveStore.IconUrl}}" style="width: 60px;
                height: 60px;">
                <div style="    font-weight: 500;
                font-size: 15px;
                margin-bottom: 4px;">
                    {{ActiveStore.DisplayName}}
                </div>
                <div style="font-size: 12px;
                color: #7987A1;">
                    {{ActiveStore.Locations}} locations
                </div>
            </div>
        </div>

        <div class="bg-white" style="    padding: 16px; 
        margin-bottom: 8px;">
            <div style="font-size: 20px;  color: #222222; text-align: center; padding-bottom: 4px; font-weight: 500;">
                <span class="list-amount-currency"><span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span> {{_Loan.Amount | number:
                "1.2-2"}}
            </div>
            <div style="color: #7987A1; font-size: 12px; text-align: center;    margin-bottom: 20px;">Loan Amount</div>
            <!-- <div class="tuc-card-i-header" style="margin-bottom: 12px; text-align: center;">Pay first part {{
                (_Loan.MonthlyAmount ) | number: "1.2-2"}}</div> -->
            <ion-row>
                <ion-col>
                    <div style="font-size: 14px; color: #222222; padding-bottom: 2px;"> {{_Loan.Plan.Name}} </div>
                    <div style="font-size: 12px; color: #7987A1; font-weight: 500;">Plan</div>
                </ion-col>
                <ion-col>
                    <div style="font-size: 14px; color: #222222; padding-bottom: 2px;">
                        {{_Loan.Plan.CustomerInterestRate}}% </div>
                    <div style="font-size: 12px; color: #7987A1; font-weight: 500;">Interest</div>
                </ion-col>
                <ion-col>
                    <div style="font-size: 14px; color: #222222; padding-bottom: 2px;"> <span
                            class="list-amount-currency"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                        {{_Loan.MonthlyLaterAmount | number:
                        "1.2-2"}}
                    </div>
                    <div style="font-size: 12px; color: #7987A1; font-weight: 500;">Installment</div>
                </ion-col>
            </ion-row>
        </div>
    </div>

</ion-content>
<div style="
background-color: #ffffff;    border-top: 1px solid #ccc;
padding: 16px;">
    <div class="tuc-card-body">
        <div>
            <div>
                <button style="    float: right;
                background-color: #a32f80;
                color: #ffffff;
                font-weight: 500;
                padding: 16px 16px;
                border-radius: 8px;
                margin-right: 16px;" (click)="InitializePayment()">
                    Make payment
                </button>
                <div style="padding-bottom: 8px;">
                    <span style="    font-weight: 500;
                    color: #5d5d5d;">Paying </span>
                    <span style="    font-weight: 500;
                    padding-left: 3px;
                    font-size: 16px;">
                        <span class="list-amount-currency"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{
                        (_Loan.MonthlyAmount ) | number: "1.2-2"}}
                    </span>
                </div>
                <div>
                    <span style="    color: #616161;"> with plan </span> <span style="font-size: 12px;
                    text-transform: uppercase;
                    font-weight: 500;">{{_Loan.Plan.Name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display: none;">
    <ion-button id="paymentbuttonModal" angular4-paystack [key]="_HelperService.AppConfig.PayStackKey"
        [email]="_HelperService.AccountInfo.User.EmailAddress" [amount]="_Loan.MonthlyAmount * 100"
        [ref]="_Loan.PaymentReference" (onClose)="ProcessOnline_Cancel()" (callback)="ProcessOnline_Confirm($event)">
    </ion-button>
</div>