<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text=""> </ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="LoadData()" class="hcx-page-titlebar-btn">
                <ion-icon name="refresh"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header">
        <div class="hcx-page-header-title">
            {{ActiveFaq.Name}}
        </div>
        <div class="hcx-page-header-body">
            {{ActiveFaq.Description}}
        </div>
        <ion-searchbar class="hcx-searchbar-inverse" [(ngModel)]="FaqCat_Data.SearchContent"
            (ionChange)="FaqCat_DoSearch()">
        </ion-searchbar>
    </div>
    <div class="hcx-page-body bg-white">
        <div class="hcx-page-body-container ">
            <div *ngIf="FaqCat_Data.TotalRecords > 0">
                <div class="hcx-list" (click)="NavDealerProducts(Item)"
                    *ngFor="let Item of FaqCat_Data.Data; let index=index; let odd=odd; let even=even;">
                    <div>
                        <div class="hcx-list-title">
                            {{Item.Name}}
                        </div>
                        <div class="hcx-list-subtitle">
                            {{Item.Description}}
                        </div>
                    </div>
                </div>
                <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="FaqCat_NextLoad($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Please wait...">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </div>
            <div *ngIf="FaqCat_Data.TotalRecords == -1" class="hcx-list-empty">
                <div class="hcx-list-empty-icon">
                    <ion-spinner color="primary" name="dots"></ion-spinner>
                </div>
                <div class="hcx-list-empty-subtitle">
                    Loading faq
                </div>
            </div>
            <div *ngIf="FaqCat_Data.TotalRecords == 0" class="hcx-list-empty">
                <div class="hcx-list-empty-icon">
                    <ion-icon ios="md-list" md="md-list">
                    </ion-icon>
                </div>
                <div class="hcx-list-empty-title">
                    Its Empty Here
                </div>
                <div class="hcx-list-empty-subtitle">
                    Faqs not available
                </div>
            </div>
        </div>
    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>

    </div>
</ion-content>

<!-- <ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" page-tuc-titlebar-gradient">
    <ion-toolbar class="page-tuc-titlebar-gradient">
        <ion-buttons slot="start">
            <ion-back-button text="" class="page-tuc-titlebar-button"> </ion-back-button>
        </ion-buttons>
        Faq - {{ActiveFaq.Name}}
        <ion-buttons slot="end">
            <ion-button class="page-tuc-titlebar-button" (click)="LoadData()">
                <i class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-header no-border class="page-tuc-titlebar-white">
    <ion-toolbar class="page-tuc-titlebar-white" style="padding-left: 20px ; padding-right: 20px;">
        <ion-searchbar class="searchbar" [(ngModel)]="FaqCat_Data.SearchContent" (ionChange)="FaqCat_DoSearch()">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content class="page-tuc-light" forceOverscroll="false">
    <div class="page-tuc-body">

        <div *ngIf="FaqCat_Data.TotalRecords > 0">
            <div class="item-list" (click)="NavDealerProducts(Item)"
                *ngFor="let Item of FaqCat_Data.Data; let index=index; let odd=odd; let even=even;">
                <div>
                    <div class="item-list-title">
                        {{Item.Name}}
                    </div>
                    <div class="item-list-subtitle">
                        {{Item.Description}}
                    </div>
                </div>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="FaqCat_NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Please wait...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
        <div *ngIf="FaqCat_Data.TotalRecords == -1" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-spinner color="primary" name="dots"></ion-spinner>
            </div>
            <div class="nolist-subtitle">
                Loading faq
            </div>
        </div>
        <div *ngIf="FaqCat_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                Faqs not available
            </div>
        </div>

    </div>
</ion-content> -->