<!-- <ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-title class="statusbar-title">
            <span class="statusbar-title">
                <span class="statusbar-title-count">
                    Select Your Location
                </span>
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ModalDismiss('noaction')">
                <i slot="end" class=" las la-times-circle " style="font-size: 36px;"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->
<!-- <div class="titlebar">
    Select Your Location
</div> -->

<div class="page-header " style=" background-color: #ffffff; padding:0px !important ; height: 200px !important; background-image: url('../../../assets/images/bggrad.png');    background-size: contain;
    background-repeat: repeat-x;min-height: 200px !important;   padding-top: 8px !important;  " text-center>
    <div>
        <h1 class="page-header-title-lg-b" style="    font-size: 28px;
            font-weight: 700;
            margin-bottom: 8px;
            text-align: center;
            margin-top: 60px;
            color: #ffffff;
            margin-right: 18%;
            margin-left: 18%;">
            Set Referral Code
        </h1>

    </div>
</div>

<div margin padding style="margin-top: 30px;font-weight:700;">
    <div margin>
        <div padding margin-top>
            <div margin-bottom>
                <ion-label class="input-label">Referral Code</ion-label>
                <ion-input type="text" maxlength="128" [(ngModel)]="tItem" class="input"></ion-input>
            </div>
        </div>
    </div>
    <div padding-top padding-bottom>
        <ion-row>
            <ion-col size="6">
                <ion-button expand="full" color="danger" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                    (click)="Cancel()">
                    Cancel
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                    (click)="Confirm()">
                    Update
                </ion-button>
            </ion-col>
        </ion-row>
    </div>
</div>