<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text=""> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header">
        <div class="hcx-page-header-title">
            Manage Transaction Pin
        </div>
        <div class="hcx-page-header-body">
            Manage your account transaction pin
        </div>
    </div>
    <div class="hcx-page-body">
        <div class="hcx-page-item hcx-page-item-top">
            <div class="hcx-page-item-title">
                Update your existing transaction pin
            </div>
            <div class="hcx-page-item-body">
                <div class="form-group">
                    <div class="label">Enter old pin
                    </div>
                    <ng-otp-input (onInputChange)="onOldOtpChange($event)" [config]="_HelperService.otpConfig">
                    </ng-otp-input>
                </div>
                <div class="form-group">
                    <div class="label">Enter new pin
                    </div>
                    <ng-otp-input (onInputChange)="onNewOtpChange($event)" [config]="_HelperService.otpConfig">
                    </ng-otp-input>
                </div>
                <button type="button" (click)="UpdateProfile()" class="hcx-btn-primary "
                    *ngIf="!_HelperService.IsFormProcessing"> Update Pin</button>
                <button type="button" class="hcx-btn-light " *ngIf="_HelperService.IsFormProcessing">
                    Please wait </button>
            </div>
        </div>
        <div class="hcx-page-item ">
            <div class="hcx-page-item-title">
                Reset transaction pin
            </div>
            <div class="hcx-page-item-body">
                <div class="m-b">
                    This option will reset your transaction pin. You will receive a new transaction pin on your
                    registered mobile number.
                </div>
                <div>
                    <button type="button" (click)="ResetPin()" class="hcx-btn-primary "
                        *ngIf="!_HelperService.IsFormProcessing"> Reset Pin</button>
                    <button type="button" class="hcx-btn-light " *ngIf="_HelperService.IsFormProcessing">
                        Please wait </button>
                </div>
            </div>

        </div>

    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>

    </div>
</ion-content>
<!-- <div class="tuc-footer">
    <button type="button" (click)="UpdateProfile()" class="approve full-width" *ngIf="!_HelperService.IsFormProcessing">
        Update
        Pin</button>

    <button type="button" (click)="UpdateProfile()" class="approve full-width" *ngIf="_HelperService.IsFormProcessing">
        Please wait </button>
</div> -->