<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" page-white-titlebar">
    <ion-toolbar class="page-white-titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="page-white-titlebar-button"> </ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button class="page-white-titlebar-button" (click)="LoadData()">
                <i class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="page-white" forceOverscroll="false">
    <div class="page-white-header">
        <div class="page-white-header-content">
            <i class="las la-credit-card  page-white-header-icon "></i>
            <div class="page-white-header-title">Saved Cards</div>
            <div class="page-white-header-subtitle">Manage your saved accounts</div>
        </div>
    </div>
    <div class="page-white-body">

        <div *ngIf="TranList_Data.TotalRecords > 0">
            <div class="item-list" (click)="Delete(Item)"
                *ngFor="let Item of TranList_Data.Data; let index=index; let odd=odd; let even=even;">
                <div>
                    <div class="item-list-title">
                        xxxx&nbsp;xxxx&nbsp;xxxx&nbsp;{{Item.CardEnd || "--"}}
                    </div>
                    <div class="item-list-subtitle">
                        {{Item.CardType || "--"}}
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="TranList_Data.TotalRecords == -1" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-spinner color="primary" name="dots"></ion-spinner>
            </div>
            <div class="nolist-subtitle">
                Loading cards
            </div>
        </div>
        <div *ngIf="TranList_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                Cards not available
            </div>
        </div>

    </div>
</ion-content>