<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class="appdb-titlebar">
    <ion-toolbar class="appdb-titlebar appdb-titlebar-container">
        <span class="btn" (click)="NavOpenQR()">
            <i class=" las la-qrcode"></i>
        </span>
        <span class="btn" (click)="_HelperService.NavNotification()">
            <i class=" las la-bell"></i>
        </span>
        <img [src]="_HelperService.AccountInfo.UserAccount.IconUrl" (click)="NavProfile()" class="profileimg">
        <div class="loctitle" (click)="_HelperService.NavLocationManager()">
            Your Location
        </div>
        <div class="loc" (click)="_HelperService.NavLocationManager()">
            <span>{{ UserCustomAddress.CityName || "Set Address" }}</span>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-body ">
        <div class="hcx-page-item  hcx-page-item-top">
            <div class="hcx-page-item-body">
                <div>
                    <input class="hcx-searchbar" [(ngModel)]="NearByStores_Data.SearchContent"
                        placeholder="Search stores" (keyup)="NearByStores_DoSearch()">
                </div>
                <div class="dealcat-slider m-0">
                    <div class="dealcat-slider-item">
                        <div class="dealcat-slider-item-image" (click)="CategoryClickAll()">
                            <img src="../../../assets/icon/tucicon.png" style="    border-radius: 100%;">
                        </div>
                        <div class="title">
                            All
                        </div>
                    </div>
                    <div class="dealcat-slider-item" *ngFor="let TItem of TUCCategories ; let i = index">
                        <div class="dealcat-slider-item-image" (click)="CategoryClick(TItem)">
                            <img [src]="TItem.IconUrl">
                        </div>
                        <div class="title">
                            {{TItem.Name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="NearByStores_Data.TotalRecords > 0">
            <div class="hcx-stores-list">
                <ion-row>
                    <ion-col size="6" *ngFor="let Item of NearByStores_Data.Data">
                        <div class="hcx-stores-list-item" (click)="NavStore(Item)">
                            <span class="hcx-stores-list-cashback">
                                {{Item.RewardPercentage}}% cashback</span>
                            <img class="hcx-stores-list-img" [src]="Item.MerchantIconUrl">
                            <div>
                                <div class="hcx-stores-list-title">
                                    {{Item.MerchantName}}
                                </div>
                                <div class="hcx-stores-list-rating">
                                    <span *ngIf="Item.AverageRating == undefined">
                                        0 <i class="lni lni-star"></i><i class="lni lni-star"></i><i
                                            class="lni lni-star"></i><i class="lni lni-star"></i><i
                                            class="lni lni-star"></i>
                                    </span>
                                    <span *ngIf="Item.AverageRating != undefined && Item.AverageRating > 0">
                                        <span *ngIf="Item.AverageRating == 0">
                                            0 <i class="lni lni-star"></i><i class="lni lni-star"></i><i
                                                class="lni lni-star"></i><i class="lni lni-star"></i><i
                                                class="lni lni-star"></i>
                                        </span>
                                        <span *ngIf="Item.AverageRating == 1">
                                            1 <i class="lni lni-star-filled"></i><i class="las la-star"></i><i
                                                class="las la-star"></i><i class="las la-star"></i><i
                                                class="las la-star"></i>
                                        </span>
                                        <span *ngIf="Item.AverageRating == 2">
                                            2 <i class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><i
                                                class="las la-star"></i><i class="las la-star"></i><i
                                                class="las la-star"></i>
                                        </span>
                                        <span *ngIf="Item.AverageRating == 3">
                                            3 <i class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><i
                                                class="las la-star-filled"></i><i class="las la-star"></i><i
                                                class="las la-star"></i>
                                        </span>
                                        <span *ngIf="Item.AverageRating == 3">
                                            4 <i class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><i
                                                class="las la-star-filled"></i><i class="las la-star-filled"></i><i
                                                class="las la-star"></i>
                                        </span>
                                        <span *ngIf="Item.AverageRating == 3">
                                            5 <i class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><i
                                                class="las la-star-filled"></i><i class="las la-star-filled"></i><i
                                                class="las la-star-filled"></i>
                                        </span>
                                    </span>
                                </div>
                                <div class="hcx-stores-list-distance" style="margin-bottom: 0px;">
                                    <i class=" las la-walking"></i> {{Item.Distance}} km away
                                </div>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="NearByStores_NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Please wait...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
        <div *ngIf="NearByStores_Data.TotalRecords == -1" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-spinner color="primary" name="dots"></ion-spinner>
            </div>
            <div class="nolist-subtitle">
                Loading nearby stores
            </div>
            <div class="nolist-content">
                Stores around you will appear here
            </div>
        </div>
        <div *ngIf="NearByStores_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                No nearby stores for purchase
            </div>
            <div class="nolist-content">
                Stores around you will appear here
            </div>
        </div>

    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>

    </div>
</ion-content>



<!-- <ion-content class="bg-app">
    <div class="page-header ">
        <div class="scrolling-wrapper">
            <div class="scrolling-item" style="border-right: 1px solid #f7f7f7;">
                <div class="item-box item-shadow" text-center (click)="CategoryClickAll()" style="    padding: 8px 8px;
                        width: 80px;
                        color: #a93b87;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;">
                    <div>
                        <div>
                            <img src="../../../assets/icon/tucicon.png" style="    width: 28px;height: 28px;">
                        </div>
                        <div style="    font-weight: 500;
                        font-size: 10px;">All</div>
                    </div>
                </div>
            </div>
            <div class="scrolling-item" style="border-right: 1px solid #f7f7f7;"
                *ngFor="let LItem of TUCCategories; let index=index; let odd=odd; let even=even;">
                <div class="item-box item-shadow" text-center (click)="CategoryClick(LItem)" style="    padding: 8px 8px;
            width: 80px;
            color: #a93b87;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;">
                    <div>
                        <div>
                            <img src="{{LItem.IconUrl}}" style="    width: 28px;
                                                height: 28px;">
                        </div>
                        <div style="    font-weight: 500;
            font-size: 10px;">{{LItem.Name}}</div>
                    </div>
                </div>
            </div>
        </div>
        <input class="search-box" (keyup)="doSearch($event.target.value)" placeholder="search stores" style="     margin: 0px;
    padding: 12px 12px; 
    width: 100%;">
    </div>
    <div class="container" padding>
        <div *ngIf="TUCNearByMerchants.length == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <i class=" las la-shopping-bag"></i>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                No stores around you
            </div>
        </div>
        <div>
            <div (click)="NavStore(TItem)" *ngFor="let TItem of TUCNearByMerchants" class="list-item">
                <div>
                    <img [src]="TItem.IconUrl" class="list-item-image">
                </div>
                <div>
                    <div class="list-item-title">
                        {{TItem.DisplayName}}
                        <span class="list-item-rating">
                            <i class=" las la-star"></i> 0.0
                        </span>
                    </div>
                    <div class="list-item-content">
                        {{TItem.Address}}
                    </div>
                    <div class="list-item-content">
                        <i class=" las la-walking"></i> {{TItem.Distance}} km away

                        <span class="float-right" style="color: #74ca78">earn upto {{TItem.RewardPercentage}}%</span>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</ion-content> -->
<div class="footer-container">
    <div class="footer-item" (click)="_HelperService.NavDashboard()">
        <div class="footer-item-icon">
            <i class="lni lni-home"></i>
        </div>
        <div class="footer-item-text">Home</div>
    </div>
    <div class="footer-item text-primary" (click)="_HelperService.NavDashboardStores()">
        <div class="footer-item-icon">
            <i class="lni lni-cart"></i>
        </div>
        <div class="footer-item-text">Stores</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavDashboardTucPay()">
        <div class="footer-item-icon">
            <div class="footer-scanner">
                <i class=" las la-qrcode"></i>
            </div>
        </div>
        <div class="footer-item-text">Scan To Pay</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavDashboardDeals()">
        <div class="footer-item-icon">
            <i class="lni lni-shopping-basket"></i>
        </div>
        <div class="footer-item-text">Deals</div>
    </div>
    <div class="footer-item" (click)="_HelperService.NavDashboardMore()">
        <div class="footer-item-icon">
            <i class="las la-user-circle"></i>
        </div>
        <div class="footer-item-text">Account</div>
    </div>
</div>