<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text=""> </ion-back-button>
        </ion-buttons>
        <!-- About App -->
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header">
        <div class="hcx-page-header-title">
            About App
        </div>
        <div class="hcx-page-header-body">
            About the thankucash application for the app.
        </div>
    </div>
    <div class="hcx-page-body">
        <div class="hcx-page-item hcx-page-item-top">
            <iframe width="100%" height="100%" [src]="helpUrl" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>

    </div>
</ion-content>
<!-- <ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" page-tuc-titlebar">
    <ion-toolbar class="page-tuc-titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="page-tuc-titlebar-button"> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="page-tuc" forceOverscroll="false">
    <div class="page-tuc-header">
        <div class="page-tuc-header-content">
            <i class="las la-info-circle page-tuc-header-icon "></i>
            <div class="page-tuc-header-title">About App</div>
            <div class="page-tuc-header-subtitle">Version
                 </div>
        </div>
    </div>
    <div class="page-tuc-body">
        <div class="tuccard bg-white text-justify">
            <div class="tuccard-header">
                <div class="text-center">
                    <img src="../../../assets/icon/tucinverse.png" style="    width: 180px;
                    margin-bottom: 16px;
                    margin-top: 16px;">
                </div>
            </div>
            <div class="tuccard-body">
                <div class="p-b">
                    ThankUCash for Merchants is a product of Connected Analytics Inc, and we have launched this mobile
                    app
                    to help
                    businesses and merchants like you, embrace the full value of the ThankUCash platform. You will be
                    able
                    to tell your
                    customers, sales and even your best performing attendant/cashier. We want to make it very easy for
                    you
                    as a merchant to
                    embrace the ease of technology and allow it to help you grow your business.
                </div>
                <div class="p-b">
                    Our target is to help you retain your existing customers, maintain a theft free business, acquire
                    new
                    customers and
                    ultimately grow your company.
                </div>
                <div class="p-b">
                    Let us help you do the heavy lifting, and together grow your business.
                </div>
                <div class="p-b">
                    Our business is your business growth.
                </div>

            </div>
        </div>
        <div class="tuccard bg-white">
            <div class="tuccard-header">
                Contact Us
            </div>
            <div class="tuccard-body">
                <div class="tuccard-item">
                    <span class="tuccard-item-label">
                        <i class="las la-phone-volume"></i> Call us on
                    </span>
                    <span class="tuccard-item-value" (click)="CallNumber()">
                        0700 0433433
                    </span>
                </div>
                <div class="box-body-item">
                    <span class="tuccard-item-label">
                        <i class="las la-envelope"></i> Email us on
                    </span>
                    <span class="tuccard-item-value" (click)="mailto('hello@thankucash.com')">
                        hello@thankucash.com
                    </span>
                </div>
            </div>
        </div>
    </div>


</ion-content> -->