<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-title class="statusbar-title">
            <!-- <span class="statusbar-title">Payment
            </span> -->
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-app">
    <div class="page-header " style="text-align: center;">
        <div>
            <img src=".../../../assets/icon/tucwhite.png" style="    width: 160px;
            margin-top: 0px;">
            <div class="page-header-title" style="font-size: 14px;
            line-height: inherit;
            font-weight: 500; text-align: center;
            padding-top: 3px;">Checkout</div>
        </div>
    </div>
    <div class="container p-t-0" style="min-height: 87%;">
        <div *ngIf="!IsBalanceLoaded" style="text-align: center;
        margin-top: 14%;">
            <img src="../../../../assets/images/gift_200.gif" width="100">
            <div style="    margin-top: 22px;
            font-size: 14px;
            margin-bottom: 4px;
            font-weight: 500;">
                Loading your
            </div>
            <div style="    
            margin-bottom: 4px;
              font-size: 22px;
            font-weight: 500;">
                ThankUCash
            </div>
            <div style="    
            margin-bottom: 8px;
              font-size: 14px;
            font-weight: 500;">
                wallet balance
            </div>
        </div>
        <div *ngIf="IsBalanceLoaded">
            <div margin *ngIf="Stage == 0">
                <div style="text-align: center;
                font-weight: 700;
                font-size: 32px;
                margin-top: 24px;
                padding-bottom: 4px;"> <span class="list-amount-currency"><span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{PaymentDetails.PaymentAmount
                    | number: "1.2-2"}}
                </div>
                <div style="      text-align: center;
                font-weight: 500;
                color: #4a4a4a;
                padding-bottom: 20px;">Payment Amount</div>
                <div style="      text-align: center;
font-weight: 500;
color: #676767;
padding-bottom: 16px;">
                    <div>
                        Use one of the payment method below for making payment
                    </div>
                </div>
                <div>
                    <div *ngIf="PaymentDetails.WalletBalance > 0 && _HelperService.AccountInfo.UserAccount.AccountId > 0"
                        (click)="UseTucWalletClick()" class="line-height" style="line-height: 36px;
                    margin-bottom: 16px;
                    padding: 8px;
                    border: 1px solid #efefef;
                    border-radius: 8px;
                    background-color: #fbfafa;">

                        <input type="checkbox" [(ngModel)]="IsWalletBalanceUse" id="wallet" value="wallet" style="    float: left;
                        margin-top: 11px;
                        margin-right: 8px;
                        margin-left: 8px;">
                        <i class="las la-wallet" style="     font-size: 24px;
                        float: left;
                        padding-top: 4px;"></i>
                        <span style="color: #5f5d5d;
                        font-size: 13px;
                        padding-left: 8px;
                        font-weight: 500;">Use your TUC Wallet balance </span>
                        <span>
                            ( <span class="list-amount-currency"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{PaymentDetails.WalletBalance
                            | number:
                            "1.2-2"}})
                        </span>
                    </div>
                    <div *ngIf="_HelperService._ActiveFeatures.payments_ussd" (click)="PaymentModeSelected('ussd')"
                        class="line-height" style="line-height: 36px;margin-bottom: 16px;padding: 8px; border: 1px solid #efefef;border-radius: 8px;">

                        <input type="radio" [(ngModel)]="PaymentMode" id="ussd" name="paymenttype" value="ussd" style="    float: left;margin-top: 11px;margin-right: 8px;margin-left: 8px;">
                        <i class="las la-mobile" style="     font-size: 24px;
                        float: left;
                        padding-top: 4px;"></i><span style="color: #5f5d5d;font-size: 13px;padding-left: 8px;font-weight: 500;"> USSD </span>
                    </div>
                    <div *ngIf="_HelperService._ActiveFeatures.payments_paystack"
                        (click)="PaymentModeSelected('card')" class="line-height" style="line-height: 36px;
                        padding: 8px;
                        border: 1px solid #efefef;
                        margin-bottom: 16px;
                        border-radius: 8px;">

                        <input type="radio" [(ngModel)]="PaymentMode" id="card" name="paymenttype" value="card" style="    float: left;
                        margin-top: 11px;
                        margin-right: 8px;
                        margin-left: 8px;">
                        <i class="las la-credit-card" style="     font-size: 24px;
                        float: left;
                        padding-top: 4px;"></i><span style="color: #5f5d5d;font-size: 13px;padding-left: 8px;font-weight: 500;"> Card / Bank </span>
                    </div>
                    <ion-select interface="action-sheet" *ngIf="PaymentMode != 'ussd'" placeholder="Select Payment Mode"
                        (ionChange)="Change_payment_mode($event.target.value)" class="input" cancel-text="Cancel">
                        <ion-select-option *ngFor="let item of paymentModes" [value]="item">
                            {{item?.mode}}
                        </ion-select-option>
                    </ion-select>

                </div>

                <div (click)="CancelPayment()" style="  text-align: center;
                padding: 12px 16px;
                border: 1px solid #efefef;
                border-radius: 3px;
                margin-top: 16px;
                margin-bottom: 32px;">
                    Cancel
                </div>
            </div>
            <div margin *ngIf="Stage == 1">
                <div *ngIf="DialCodeDetails.IsSelected" style="    padding: 16px;
            margin: 16px;">
                    <div style=" text-align: center;
                font-size: 14px;
                font-weight: 500;
                color: #4a4a4a;
                padding-bottom: 8px;
                padding-left: 8px;
                padding-right: 8px;
                line-height: 24px;"> Dial the code below to complete this transaction with
                        {{DialCodeDetails.Name}}</div>
                    <div (click)="CallNumber()" style="text-align: center;
                font-weight: 700;
                font-size: 28px;
                padding-top: 16px;
                padding-bottom: 8px;">
                        {{DialCodeDetails.DialCode}}
                    </div>
                    <div style="    text-align: center;
                color: #7b7979;
                font-size: 11px;">
                        Tab (or Long Press) to call
                    </div>

                    <div (click)="ProcessUssd_Confirm()" style="    text-align: center;
                padding: 16px 16px;
                border: 1px solid #efefef;
                border-radius: 3px;
                margin-top: 16px;
                margin-bottom: 32px;">
                        I've completed the payment
                    </div>

                    <div style="    text-align: center;
                color: #464646;
                margin-bottom: 16px;">
                        <span (click)="ProcessOnline_Cancel()">
                            Cancel
                        </span>
                    </div>

                </div>
                <div class="line-height" style="line-height: 36px;
            margin-bottom: 16px;
            padding: 8px;
            border: 1px solid #efefef;
            border-radius: 8px;" (click)="BankItemClick(LItem)"
                    *ngFor="let LItem of PaymentConfiguration.Banks; let index=index; let odd=odd; let even=even;">
                    <img [src]="LItem.IconUrl" style="    width: 36px;
                float: left;
                border: 1px solid #efefef;
                border-radius: 4px;
                background-color: #efefef;">
                    <span style="color: #5f5d5d; font-size: 12px;    font-size: 12px;
                padding-left: 16px;">
                        {{LItem.Name}}
                    </span>
                    <span style="float: right;
                font-size: 11px;
                background-color: #efefef;
                padding: 4px;
                line-height: normal;
                border-radius: 8px;
                font-weight: 500;
                margin-top: 8px;">
                        {{LItem.BankCode}}
                    </span>
                </div>
                <div *ngIf="!DialCodeDetails.IsSelected" style="    text-align: center;
            color: #464646;
            margin-bottom: 16px;">
                    <span (click)="ProcessOnline_Cancel()">
                        Cancel
                    </span>
                </div>
            </div>

            <div margin *ngIf="Stage == 2">
                <div style=" text-align: center;
                    font-size: 14px;
                    font-weight: 500;
                    color: #4a4a4a;
                    padding-bottom: 8px;
                    padding-left: 8px;
                    padding-right: 8px;
                    line-height: 24px;"> You can use stored cards below or try new card</div>
                <div class="line-height" style="line-height: 36px;
                margin-bottom: 16px;
                padding: 8px;
                border: 1px solid #efefef;
                border-radius: 8px;" (click)="BuyPointCharge(LItem)"
                    *ngFor="let LItem of PaymentConfiguration.UserCards; let index=index; let odd=odd; let even=even;">
                    <span style="color: #5f5d5d; font-size: 12px;    font-size: 12px;
                    padding-left: 16px;">
                        {{LItem.CardBrand}}
                    </span>
                    <span style="float: right;
                    font-size: 11px;
                    background-color: #efefef;
                    padding: 4px;
                    line-height: normal;
                    border-radius: 8px;
                    font-weight: 500;
                    margin-top: 8px;">
                        {{LItem.CardBin}} xxxx {{LItem.CardLast4}}
                    </span>
                </div>


                <div (click)="OpenPayStack()" style="    text-align: center;
                padding: 16px 16px;
                border: 1px solid #efefef;
                border-radius: 3px;
                margin-top: 16px;
                margin-bottom: 32px;">
                    Try other card / bank
                </div>

                <div style="    text-align: center;
                color: #464646;
                margin-bottom: 16px;">
                    <span (click)="ProcessOnline_Cancel()">
                        Cancel
                    </span>
                </div>

            </div>
            <!-- payment successful modal with buttons -->
            <!-- <div *ngIf="Stage == 3">
    <div >
       
            <div>
                <img src="../../../../assets/images/success_img.png" alt="successimg" style="display: block;
                margin-left: auto;
                margin-right: auto; height:132.13px; width:132.13px">
            </div>
            <div style="text-align: center;
            font-weight: 700;
            font-size: 20px;
            margin-top: 20px;">
                Payment Succesful!
            </div>
            <p style=" text-align: center;font-size: 10px;margin-bottom: 20px;">
                Details about your order have been sent to your mail. 
            </p>
            <div style=" display: block;text-align: center;">
                <button style=" text-align: center;
                background-color: #a32f80;
                    color: #ffffff;
                    font-weight: 500;
                    border-radius: 8px;
                    margin-right: 16px;
                    margin-left: 16px;
                    margin-top: 50px;
                    height: 49px;
                    width: 330px;" (click)="PaymentSuccesful()"> Order Details </button>
            </div>
            <div style=" text-align: center;
                    padding: 12px 16px;
                    margin-top: 16px;
                    margin-bottom: 32px;"> 
                    Continue shopping 
            </div> 
    </div>
</div> -->

        </div>
    </div>
    <div style="display: none;">
        <ion-button id="paymentbuttonModal" angular4-paystack [paystackOptions]="_PaystackOptions"
            (onClose)="ProcessOnline_Cancel()" (callback)="ProcessOnline_Confirm($event)">
        </ion-button>
    </div>
</ion-content>
<div *ngIf="IsBalanceLoaded && Stage == 0" style="
background-color: #ffffff;    border-top: 1px solid #ccc;
padding: 16px;">
    <div class="tuc-card-body">
        <div>
            <div>
                <button style="    float: right;
                background-color: #a32f80;
                color: #ffffff;
                font-weight: 500;
                padding: 16px 16px;
                border-radius: 8px;
                margin-right: 16px;" class="buttonDisabled" (click)="ProcessPayment();">
                    Make payment
                </button>
                <div style="padding-bottom: 4px;" *ngIf="PaymentConfiguration.Amount > 0">
                    <span style="    font-weight: 500;
                    color: #5d5d5d;">Paying </span>

                    <span style="    font-weight: 500;
                    padding-left: 3px;
                    font-size: 16px;">
                        <span class="list-amount-currency"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{PaymentConfiguration.Amount
                        | number:
                        "1.2-2"}}
                    </span>
                </div>
                <div style="padding-bottom: 4px;" *ngIf="PaymentConfiguration.Amount <= 0">
                    <span style="    font-weight: 500;
                    color: #5d5d5d;">Paying </span>

                    <span style="    font-weight: 500;
                    padding-left: 3px;
                    font-size: 16px;">
                        <span class="list-amount-currency"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{PaymentDetails.PaymentAmount
                        | number:
                        "1.2-2"}}
                    </span>
                </div>
                <div>
                    <span style="    color: #616161;"> with </span> <span style="font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 500;">{{PaymentMode}} <span *ngIf="PaymentMode =='card'">/{{selectedPaymentMode}}</span> </span>
                </div>
            </div>
        </div>
    </div>
</div>