<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay" side="end" menuId="mainmenu" swipe-gesture="false">
      <ion-header no-border class=" page-tuc-titlebar">
        <ion-toolbar class="page-tuc-titlebar">
          <div *ngIf="_HelperService.AccountInfo != undefined" style="    padding-left: 16px;
          padding-top: 8px;
          padding-bottom: 8px;">
            <div class="menu-header-title">
              {{_HelperService.AccountInfo.UserAccount.DisplayName}}
            </div>
            <div class="menu-header-subtitle">
              {{_HelperService.AccountInfo.User.MobileNumber}}
            </div>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div *ngIf="_HelperService.AccountInfo != undefined" class=" menu-header" style="    background-image: url(../images/tucpatern.png);
        background-repeat: repeat;
        background-size: inherit;
        margin-bottom: 0px;
        padding-top: 12px;
    padding-bottom: 16px;
        ">
          <div class="menu-header-subtitle">
            {{_HelperService.AccountInfo.User.EmailAddress}}
          </div>
        </div>
        <ion-list class="bg-white" style="    padding-top: 0px;">
          <ion-menu-toggle auto-hide="false">
            <ion-item style="padding-top: 20px;" lines="none" [routerDirection]="'root'" class="bg-white menu-item"
              (click)="BuyPoints()">
              <i slot="start" class="las la-coins menu-icon"></i>
              <ion-label class="menu-text">
                Credit Wallet
              </ion-label>
            </ion-item>
            <ion-item lines="none" [routerDirection]="'root'" class="bg-white menu-item" (click)="NavReferralEarning()">
              <i slot="start" class="las la-bolt menu-icon"></i>
              <ion-label class="menu-text">
                Scratch and Earn
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item lines="none" class="bg-white menu-item"
            (click)="isRemainder === 1 ? isRemainder = 0 : isRemainder = 1">
            <i slot="start" class="las la-exchange-alt  menu-icon"></i>
            <ion-label class="menu-text">
              Transactions & Purchase
            </ion-label>
            <ion-icon slot="end" [name]="isRemainder? 'arrow-dropdown' : 'arrow-dropright'" style="color: #9FA5AE;">
            </ion-icon>
          </ion-item>

          <ion-menu-toggle auto-hide="false">
            <ion-list lines="none" style="padding: 0px !important;margin-bottom: 0px;">
              <ion-item lines="none" [hidden]="!isRemainder" [routerDirection]="'root'" class="bg-white menu-item"
                (click)="NavDealPurchase()" style="    padding: 0px !important;">
                <ion-label class="menu-text" style="font-size: 13px !important;
                margin-left: 50px;">
                  Deals History
                </ion-label>
              </ion-item>
              <ion-item lines="none" [hidden]="!isRemainder" [routerDirection]="'root'" class="bg-white menu-item"
                (click)="NavProductPurchase()" style="    padding: 0px !important;">
                <ion-label class="menu-text" style="font-size: 13px !important;
              margin-left: 50px;">
                  Product Purchase History
                </ion-label>
              </ion-item>
              <ion-item lines="none" [hidden]="!isRemainder" [routerDirection]="'root'" class="bg-white menu-item"
                (click)="NavBillPaymentsHistory()" style="    padding: 0px !important;">
                <ion-label class="menu-text" style="font-size: 13px !important;
                margin-left: 50px;">
                  Bill Payments History
                </ion-label>
              </ion-item>
              <ion-item lines="none" [hidden]="!isRemainder" [routerDirection]="'root'" class="bg-white menu-item"
                (click)="NavWalletTopupHistory()" style="    padding: 0px !important;">
                <ion-label class="menu-text" style="font-size: 13px !important;
                margin-left: 50px;">
                  Wallet Topup History
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" [routerDirection]="'root'" class="bg-white menu-item" (click)="NavBuyNowPayLater()">
              <i slot="start" class="las la-money-bill-wave  menu-icon"></i>
              <ion-label class="menu-text">
                Buy Now, Pay later
              </ion-label>
            </ion-item>
            <ion-item lines="none" [routerDirection]="'root'" class="bg-white menu-item" (click)="NavProfile()">
              <i slot="start" class="las la-address-card  menu-icon"></i>
              <ion-label class="menu-text">
                Profile
              </ion-label>
            </ion-item>
            <ion-item lines="none" [routerDirection]="'root'" class="bg-white menu-item" (click)="NavBankAccount()">
              <i slot="start" class="las la-university  menu-icon"></i>
              <ion-label class="menu-text">
                Manage Bank Accounts
              </ion-label>
            </ion-item>
            <ion-item lines="none" [routerDirection]="'root'" class="bg-white menu-item" (click)="NavCardsManager()">
              <i slot="start" class="las la-credit-card   menu-icon"></i>

              <ion-label class="menu-text">
                Manage Stored Cards
              </ion-label>
            </ion-item>
            <ion-item lines="none" [routerDirection]="'root'" class="bg-white menu-item" (click)="NavChangePin()">
              <i slot="start" class="las la-key  menu-icon"></i>
              <ion-label class="menu-text">
                Reset Pin
              </ion-label>
            </ion-item>
            <ion-item lines="none" [routerDirection]="'root'" class="bg-white  menu-item" (click)="NavFaq()">
              <i slot="start" class="las  la-question-circle  menu-icon"></i>
              <ion-label class="menu-text">
                Faq
              </ion-label>
            </ion-item>
            <ion-item lines="none" [routerDirection]="'root'" class="bg-white  menu-item" (click)="NavSupport()">
              <i slot="start" class="las  la-comments  menu-icon"></i>
              <ion-label class="menu-text">
                Support
              </ion-label>
            </ion-item>
            <ion-item lines="none" [routerDirection]="'root'" class="bg-white  menu-item" (click)="NavAbout()">
              <i slot="start" class="las  la-info-circle  menu-icon"></i>
              <ion-label class="menu-text">
                About
              </ion-label>
            </ion-item>
            <ion-item lines="none" [routerDirection]="'root'" class="bg-white  menu-item" (click)="Logout()">
              <i slot="start" class="las la-sign-out-alt  menu-icon"
                style="color: #DC3545; background-color: #FFE5E7; "></i>
              <ion-label class="menu-text" style="color: #DC3545 !important;">
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
  <div class="modal-con" *ngIf="_HelperService._Modal.Show">
    <div class="modal-content-con">
      <div>
        <img src="../assets/images/titem.png" style="    margin-top: 20px;">
      </div>
      <div class="modal-content-con-title">
        {{_HelperService._Modal.Title}}
      </div>
      <div class="modal-content-con-subtitle">
        {{_HelperService._Modal.SubTitle}}
      </div>
      <div>
        <button type="button" (click)="_HelperService.CloseModalSuccess()" style="background: #ffffff;
        padding: 8px 16px;
        border: 1px solid #cdd1d8;
        color: #8e8e8e;
        border-radius: 4px;
        font-size: 12px;
        margin-bottom: 12px;">Close</button>
      </div>
    </div>
  </div>
</ion-app>