<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border>
    <ion-toolbar class="tucapp-titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="page-tuc-titlebar-button"> </ion-back-button>
        </ion-buttons>
        <div class="tucapp-titlebar-content">
            Buy Now Pay Later
        </div>
    </ion-toolbar>
</ion-header>
<ion-content class="tucapp " forceOverscroll="false">

    <div class="tucapp-body-white">
        <div class="tucapp-body-top" style="    padding: 16px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-bottom: 1px;">
            <div class="tuc-card-i-header" style="margin-bottom: 4px;">Please fill details</div>
            <div style="    margin-bottom: 12px;
            color: #7987A1;
            font-weight: normal;
            font-size: 13px;">Please enter valid details, which are same as on your Bank details or ID proof
            </div>
        </div>
        <div class="subheader" padding-bottom>
            <ion-row text-center>
                <ion-col col-12>
                    <div *ngIf="_Profile.IconUrl != undefined" (click)="ChangePhoto()" class="item-shadow" style="  width: 74px;
                    height: 74px;
                    background-color: rgb(255, 255, 255);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border: 1px solid #7b879f47;
                    border-radius: 100%;
                    margin-left: auto;
                    margin-right: auto;" [ngStyle]="{'background-image': 'url(' + _Profile.IconUrl + ')'}">
                        <i class="las la-camera-retro" style="     background-color: #7B879F;
                        position: absolute;
                        bottom: 0;
                        color: #fff;
                        font-size: 16px;
                        padding: 4px;
                        border-radius: 100%;    margin-left: 12px;"></i>
                    </div>
                    <div *ngIf="_Profile.IconUrl == undefined" (click)="ChangePhoto()" class="item-shadow" style=" width: 74px;
                    height: 74px;
                    background-color: rgb(255, 255, 255);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border: 1px solid #7b879f47;
                    border-radius: 100%;
                    margin-left: auto;
                    margin-right: auto;
background-image: url('../../../assets/content/background.jpg');
">
                        <i class="las la-camera-retro" style="      background-color: #7B879F;
                        position: absolute;
                        bottom: 0;
                        color: #fff;
                        font-size: 16px;
                        padding: 4px;
                        border-radius: 100%;     margin-left: 12px;"></i>
                    </div>
                </ion-col>
            </ion-row>
        </div>
        <div padding>
            <ion-row>
                <ion-col>
                    <div>
                        <ion-label class="input-label">First Name
                        </ion-label>
                        <ion-input class=" input" maxlength="128" type="text" [(ngModel)]="_Profile.FirstName">
                        </ion-input>
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        <ion-label class="input-label">Last Name
                        </ion-label>
                        <ion-input class=" input" maxlength="128" type="text" [(ngModel)]="_Profile.LastName">
                        </ion-input>
                    </div>

                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <div>
                        <ion-label class="input-label">Personal Email Address
                        </ion-label>
                        <ion-input class=" input" maxlength="256" type="email" [(ngModel)]="_Profile.EmailAddress">
                        </ion-input>
                    </div>

                    <div>
                        <ion-label class="input-label">Work Email Address
                        </ion-label>
                        <ion-input class=" input" maxlength="256" type="email" [(ngModel)]="_Profile.WorkEmailAddress">
                        </ion-input>
                    </div>


                    <div>
                        <ion-label class="input-label">Date of Birth
                        </ion-label>
                        <ion-datetime displayFormat="DD-MM-YYYY" class="input-ion-datetime"
                            placeholder="Your date of birth" [(ngModel)]="_Profile.DateOfBirth">
                        </ion-datetime>
                    </div>
                    <div style="margin-bottom: 32px;">
                        <span class="gender"
                            [ngClass]="{'gender gender-active'  : _Profile.GenderCode == 'gender.male','gender'  : _Profile.GenderCode != 'gender.male'}"
                            (click)="ToggleGender('gender.male')">
                            Male
                        </span>
                        <span class="gender"
                            [ngClass]="{'gender gender-active'  : _Profile.GenderCode == 'gender.female','gender'  : _Profile.GenderCode != 'gender.female'}"
                            (click)="ToggleGender('gender.female')">
                            Female
                        </span>
                    </div>

                    <div>
                        <ion-label class="input-label">BVN
                        </ion-label>
                        <ion-input class=" input" maxlength="256" type="text" [(ngModel)]="_Profile.BvnNumber">
                        </ion-input>
                    </div>
                    <div>
                        <ion-label class="input-label">Salary
                        </ion-label>
                        <ion-input class=" input" maxlength="256" type="tel" [(ngModel)]="_Profile.Salary">
                        </ion-input>
                    </div>
                    <div>
                        <ion-label class="input-label">Salary Day
                        </ion-label>
                        <ion-input class=" input" maxlength="256" type="tel" [(ngModel)]="_Profile.SalaryDay">
                        </ion-input>
                    </div>
                    <div>
                        <ion-label class="input-label">Address
                        </ion-label>
                        <ion-input class=" input" maxlength="256" type="text" [(ngModel)]="_Profile.Address">
                        </ion-input>
                    </div>
                    <div>
                        <ion-label class="input-label">State/ Region
                        </ion-label>
                        <ion-input class=" input" maxlength="256" type="text" [(ngModel)]="_Profile.StateName">
                        </ion-input>
                    </div>
                    <div>
                        <ion-label class="input-label">Lga (Local goverment)
                        </ion-label>
                        <ion-input class=" input" maxlength="256" type="text" [(ngModel)]="_Profile.LgaName">
                        </ion-input>
                    </div>
                </ion-col>
            </ion-row>

        </div>
        <!-- <ion-label class="input-label">First name
        </ion-label>
        <ion-input class=" input" maxlength="128" type="text" [(ngModel)]="VerificationDetails.FirstName">
        </ion-input> -->



        <!-- <div>
            <ion-label class="input-label"> Type your address
            </ion-label>
            <input type="text" class="input" name="GAddress" maxlength="256" style="    width: 100%;
                padding: 16px 8px !important;" placeholder="Type your address here" ngx-google-places-autocomplete
                #places="ngx-places" (onAddressChange)="Form_UpdateUser_AddressChange($event)">
        </div>
        <div class="m-b">
            <agm-map style="height: 140px;
            width: 100%;" [zoom]="17" [latitude]="UserCustomAddress.Latitude"
                [longitude]="UserCustomAddress.Longitude" [streetViewControl]="false"
                (mapClick)="placeMarker($event)">
                <agm-marker [latitude]="UserCustomAddress.Latitude" [longitude]="UserCustomAddress.Longitude">
                </agm-marker>
            </agm-map>
        </div>
        <div>
            <ion-label class="input-label"> Address
            </ion-label>
            <ion-input class=" input" type="email" maxlength="128" [(ngModel)]="UserCustomAddress.AddressLine1">
            </ion-input>
        </div> -->

    </div>
</ion-content>
<div class="tuc-footer">
    <button type="button" (click)="UpdateProfile()" *ngIf="!_HelperService.IsFormProcessing" class="approve full-width">
        Activate </button>

    <button type="button" disabled readonly *ngIf="_HelperService.IsFormProcessing" class="approve full-width">Please
        wait
        ...</button>
</div>