<ion-header no-border>
    <ion-toolbar class="page-modal-header">
        <div class="page-modal-header-container">
            <div class="title">
                {{_Data.Title}}
            </div>
            <div class="subtitle">
                {{_Data.SubTitle}}
            </div>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content class="page-modal" forceOverscroll="false">
    <div class="page-modal-container">
        <div>
            <ion-searchbar [(ngModel)]="_Data.SearchContent" class="input" (ionChange)="SearchItem()">
            </ion-searchbar>
        </div>
        <div class="item-list-mini" (click)="ItemSelected(LItem)"
            *ngFor="let LItem of _Data.Sorted; let index=index; let odd=odd; let even=even;">
            <span class="item-list-mini-title">
                {{LItem.Name}}
            </span>
        </div>
    </div>
</ion-content>
<div class="page-modal-footer">
    <ion-row>
        <ion-col>
            <button class="btn-cancel full-width" (click)="_HelperService.ModalDismiss('')">
                Cancel
            </button>
        </ion-col>
    </ion-row>
</div>