<ion-header no-border class=" page-white-titlebar">
    <ion-toolbar class="page-white-titlebar">
        <ion-buttons slot="start">
            <ion-button (click)="_HelperService.ModalDismiss('noaction')" class="page-white-titlebar-button">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>

        </ion-buttons>
        <span class="page-white-header-status" [ngClass]="{ 
                    'text-success': _TransactionDetails.StatusCode == 'paymentstatus.success',
                    'text-danger': _TransactionDetails.StatusCode != 'paymentstatus.success' }">
            {{_TransactionDetails.StatusName || "--"}}
        </span>
    </ion-toolbar>
</ion-header>
<ion-content class="page-white" forceOverscroll="false">
    <div class="page-white-header">
        <div class="page-white-header-content">
            <div class="page-white-header-title-modal">
                <span class="page-white-header-title-modal-currency"><span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                {{_TransactionDetails.Amount | number: "1.2-2"}}
            </div>
            <div class="page-white-header-subtitle-modal">
                Amount
            </div>
        </div>

    </div>
    <div class="page-white-body">
        <div class="inv">
            <div class="inv-header">
                Payment Details
            </div>
            <div class="inv-body">

                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Amount
                    </span>
                    <span class="inv-body-item-right">
                        <span class="currency"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{_TransactionDetails.Amount
                        | number: "1.2-2"}}
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Processing Charges
                    </span>
                    <span class="inv-body-item-right">
                        <span class="currency"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{_TransactionDetails.Charge
                        | number: "1.2-2"}}
                    </span>
                </div>
                <div class="inv-body-item-prime">
                    <span class="inv-body-item-left">
                        Total Amount
                    </span>
                    <span class="inv-body-item-right">
                        <span class="currency"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{_TransactionDetails.TotalAmount
                        | number: "1.2-2"}}
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Rewards Earned
                    </span>
                    <span class="inv-body-item-right">
                        <span class="currency"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                        {{_TransactionDetails.UserRewardAmount | number: "1.2-2"}}
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Account
                    </span>
                    <span class="inv-body-item-right">
                        {{_TransactionDetails.AccountNumber || "--"}}
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Service
                    </span>
                    <span class="inv-body-item-right">
                        {{_TransactionDetails.ProductCategoryName || "--"}}
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Provider
                    </span>
                    <span class="inv-body-item-right">
                        {{_TransactionDetails.ProductItemName || "--"}}
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Package
                    </span>
                    <span class="inv-body-item-right">
                        {{_TransactionDetails.ProductName || "--"}}
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Date
                    </span>
                    <span class="inv-body-item-right">
                        {{_TransactionDetails.StartDate || "--"}}
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Status
                    </span>
                    <span class="inv-body-item-right">

                        <span [ngClass]="{ 
                                'text-success': _TransactionDetails.StatusCode == 'paymentstatus.success',
                                'text-danger': _TransactionDetails.StatusCode != 'paymentstatus.success' }">
                            {{_TransactionDetails.StatusName || "--"}}
                        </span>
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Reference
                    </span>
                    <span class="inv-body-item-right">
                        {{_TransactionDetails.PaymentReference || "--"}}
                    </span>
                </div>
                <div class="inv-body-item"
                    *ngIf="_TransactionDetails.Value != undefined || _TransactionDetails.Value != null">
                    <span class="inv-body-item-left">
                        Token
                    </span>
                    <span class="inv-body-item-right">
                        {{_TransactionDetails.Value || "--"}}
                    </span>
                </div>
            </div>
        </div>



    </div>
</ion-content>
<div class="tuc-footer">
    <button class="cancel full-width" (click)="_HelperService.ModalDismiss('noaction')">
        Close
    </button>
</div>
<!-- <ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-title class="statusbar-title">
            <span class="statusbar-title">
                <span class="statusbar-title-count">
                    Payment Invoice : #{{_TransactionDetails.ReferenceId  || "--"}}
                </span>
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ModalDismiss('noaction')">
                <i slot="end" class=" las la-times-circle " style="font-size: 36px;"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="page-header "
        style="min-height: 150px !important;    padding-top: 12px !important;    background: none !important;"
        text-center>
        <div>
            <span style="     font-size: 14px;
    text-transform: lowercase;
    margin-bottom: 8px;">
                <i slot="start" class=" las la-check-circle "
                    *ngIf="_TransactionDetails.StatusCode == 'paymentstatus.success'"></i>
                <i slot="start" class=" las la-times-circle "
                    *ngIf="_TransactionDetails.StatusCode != 'paymentstatus.success'"></i>
                {{_TransactionDetails.StatusName  || "--"}}</span>
            <h1 class="page-header-title-lg-b"
                style="font-size: 34px;font-weight:400;margin-bottom: 8px;text-align: center;">
                <span class="list-amount-currency" style="    font-size: 20px;"><span  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                {{_TransactionDetails.Amount | number: "1.2-2"}}
            </h1>
            <h1 class="page-header-title-lg" style="    font-size: 13px;
    margin-top: 0px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 12px;
    text-transform: uppercase;">
                Payment Amount
            </h1>
            
        </div>
    </div>
    <div class="container " style="overflow: auto;padding-bottom:30px;">
        <div margin>
            <div style="    padding: 16px; margin-bottom: 16px;border-radius: 8px;;
        background-color: #F4F4F4;">
                <div class="tuc-card-i-header" style="font-size: 12px !important; color: #9D9D9D;">Payment Details</div>
                <div style="    font-weight: 500;">
                    <div class="line-height" style="line-height: 34px;">
                        <span style="color: #C5C8CE; font-size: 12px;">
                            Account Number
                        </span>
                        <span style="float: right;">
                            {{_TransactionDetails.AccountNumber   || "--"}}
                        </span>
                    </div>
                    <div class="line-height" style="line-height: 34px;">
                        <span style="color: #C5C8CE; font-size: 12px;">
                            Payment Type
                        </span>
                        <span style="float: right;">
                            {{_TransactionDetails.ProductCategoryName   || "--"}}
                        </span>
                    </div>
                    <div class="line-height" style="line-height: 34px;">
                        <span style="color: #C5C8CE; font-size: 12px;">
                            Provider
                        </span>
                        <span style="float: right;">
                            {{_TransactionDetails.ProductName   || "--"}}
                        </span>
                    </div>
                    <div class="line-height" style="line-height: 34px;">
                        <span style="color: #C5C8CE; font-size: 12px;">
                            Package
                        </span>
                        <span style="float: right;">
                            {{_TransactionDetails.ProductItemName   || "--"}}
                        </span>
                    </div>
                    <div class="line-height" style="line-height: 34px;">
                        <span style="color: #C5C8CE; font-size: 12px;">
                            Amount
                        </span>
                        <span style="float: right;">
                            <span
                                class="list-amount-currency"><span  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{_TransactionDetails.Amount  | number: "1.2-2"}}
                        </span>
                    </div>

                    <div class="line-height" style="line-height: 34px;"
                        *ngIf="_TransactionDetails.Value  != undefined && _TransactionDetails.Value  != null">
                        <span style="color: #C5C8CE; font-size: 12px;">
                            Token
                        </span>
                        <span style="float: right;">
                            <span
                                class="list-amount-currency"><span  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{_TransactionDetails.Value  | number: "1.2-2"}}
                        </span>
                    </div>


                    <div class="line-height" style="line-height: 34px;">
                        <span style="color: #C5C8CE; font-size: 12px;">
                            Ref
                        </span>
                        <span style="float: right;">
                            #{{_TransactionDetails.ReferenceId  || "--"}}
                        </span>
                    </div>
                    <div class="line-height" style="line-height: 34px;">
                        <span style="color: #C5C8CE; font-size: 12px;">
                            Payment Ref
                        </span>
                        <span style="float: right;">
                            {{_TransactionDetails.PaymentReference  || "--"}}
                        </span>
                    </div>
                    <div class="line-height" style="line-height: 34px;">
                        <span style="color: #C5C8CE; font-size: 12px;">
                            Payment Date
                        </span>
                        <span style="float: right;">
                            {{_TransactionDetails.StartDate  || "--"}}
                        </span>
                    </div>

                    <div class="line-height" style="line-height: 34px;">
                        <span style="color: #C5C8CE; font-size: 12px;">
                            Status
                        </span>
                        <span style="float: right;">
                            <span style="     float: right;
                            font-size: 10px;
                            text-transform: uppercase;
                            margin-bottom: 8px;
                            background-color: black;
                            color: #ffffff;
                            font-weight: 700;line-height: normal;
                            padding: 4px 8px;
                            border-radius: 8px;" [ngClass]="{ 
                                'bg-success': _TransactionDetails.StatusCode == 'paymentstatus.success',
                                'bg-danger': _TransactionDetails.StatusCode != 'paymentstatus.success' }">
                                {{_TransactionDetails.StatusName  || "--"}}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>


<div class="tuc-card" style="box-shadow: none;
background-color: #ffffff;
margin: 0px;
padding: 0px;
padding-left: 16px;
padding-bottom: 0px;
padding-right: 16px;">
    <div class="tuc-card-body">
        <div>
            <div padding-top padding-bottom>
                <ion-button expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                    (click)="ModalDismiss('noaction')">
                    Close
                </ion-button>
            </div>
        </div>
    </div>
</div> -->