<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" page-white-titlebar">
    <ion-toolbar class="page-white-titlebar">
        <img src="../../../assets/icon/tucwhite.png" class="page-white-header-logo">
    </ion-toolbar>
</ion-header>
<ion-content class="page-white" forceOverscroll="false" style="    --background: transparent;background: none transparent !important;
--background-color: transparent !important;
background-color: transparent !important;">
    <div class="page-white-header" style="background-color: #f8f8f8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;height: 140px;">
        <div class="page-white-header-content">
            <i class="las la-qrcode page-white-header-icon "></i>
            <div class="page-white-header-title">TUC Pay</div>
            <div class="page-white-header-subtitle">Pay your merchant bill </div>
        </div>
    </div>
    <div class="page-white-body" style="background-color: transparent !important;">
        <div style="border: 8px solid rgb(255 , 255 ,  255 , 0.55);
        width: 256px;
        height: 256px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
        border-radius: 4px;">

        </div>
    </div>
</ion-content>
<div class="tuc-footer">
    <button class="cancel full-width " (click)="Redeem_Initialize_Cancel()">
        Cancel
    </button>
</div>