<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>

<ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Select Biller
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ngOnInit()">
                <i slot="start" class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-app">
    <div class="page-header ">
        <div>
            <div class="page-header-title">Operator</div>
            <div class="page-header-subtitle">Select your operator</div>
        </div>
    </div>
    <div class="container" padding style="padding-top: 16px;">
        <div *ngIf="TranList_Data.Data == undefined ||  TranList_Data.Data.length == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                No billers available
            </div>
            <div class="nolist-content">
                Billers list will appear here
            </div>
        </div>
        <div *ngIf="TranList_Data.Data != undefined && TranList_Data.Data.length > 0">
            <div (click)="OpenAddModal(TItem)" *ngFor="let TItem of TranList_Data.Data" class="list-item">
                <!-- <div>
                    <img src="{{TItem.ParentIconUrl}}" class="list-item-image">
                </div> -->
                <div>
                    <div class="list-item-title">
                        {{TItem.name}}

                        <span style="float: right;
    color: #B11A83;">
                            earn {{TItem.rewardPercentage}}% cashback
                        </span>

                    </div>
                    <!-- <div class="list-amount">
                        <span class=" text-success" *ngIf="TItem.StatusName == 'Success'">
                            <span class="list-amount-currency"><span  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{TItem.InvoiceAmount | number: "1.2-2"}}
                        </span>
                        <span class="text-danger" *ngIf="TItem.StatusName != 'Success'">
                            <span class="list-amount-currency"><span  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{TItem.InvoiceAmount | number: "1.2-2"}}
                        </span>
                        <span class="float-right" *ngIf="TItem.CardBrandName != undefined">
                            <img class="list-item-cardicon" *ngIf="TItem.CardBrandName == 'mastercard'"
                                src="../../../../assets/images/cards/mmastercard.png">
                            <img class="list-item-cardicon" *ngIf="TItem.CardBrandName.toLowerCase() == 'visa'"
                                src="../../../../assets/images/cards/mvisa.png">
                            <img class="list-item-cardicon" *ngIf="TItem.CardBrandName.toLowerCase() == 'verve'"
                                src="../../../../assets/images/cards/verve.png">
                        </span>
                        <span class="float-right"
                            *ngIf="TItem.CardBrandName == undefined && TItem.TypeName.toLowerCase().trim() =='cash'">
                            <img class="list-item-cardicon" src="../../../../assets/images/cards/mcash.png">
                        </span>
                    </div>
                    <div class="list-item-content">
                        <i class=" las la-clock"></i> {{TItem.TransactionDate}}

                        <span class="float-right text-success" *ngIf="TItem.StatusName == 'Success'">
                            <i class=" las la-check-circle"></i> {{TItem.StatusName.toLowerCase()}}
                        </span>
                        <span class="float-right text-danger" *ngIf="TItem.StatusName != 'Success'">
                            <i class=" las  la-warning"></i> {{TItem.StatusName.toLowerCase()}}
                        </span>
                    </div> -->
                </div>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
</ion-content>