<ion-content class="tucapp " forceOverscroll="false">
  <ion-buttons slot="end">
    <ion-button (click)="ModalDismiss()" class="page-tuc-titlebar-button">
        <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
</ion-buttons>
    <div class="tucapp-body bg-white">
        <div class="tucapp-body-top bg-white" style="padding: 16px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-bottom: 1px;text-align: center;">
            <img src="../../../../../assets/images/nyra logo.png">
            <p class="c-grey">We are verifying your bank details and evaluating</p>
            <p style="font-size:18px; font-weight:600;">Credit Limit for you</p>

            <div style="display: flex;">
              <img src="../../../../../assets/icon/info-grey.png" style="height: 40%; margin: 12px 0 0 15px;">
              <p class="c-grey" style="padding-left: 10px;"> 
                It will take time to verify your account, we will notify you in 10-15 mins</p>
            </div>

            <div style="text-align: center; font-size: 15px; margin-bottom: 25px; font-weight: 600;">
              <a style="color: #a32f80;" (click)="backToHome()"> < Back to Home</a>
            </div>
        </div>
    </div>
</ion-content>