<ion-content>
    <div style="background-color: #fcf113;">
        <ion-slides pager="true">
            <ion-slide>
                <img src="../../../assets/contents/banners/sl1.jpg">
            </ion-slide>
            <ion-slide>
                <img src="../../../assets/contents/banners/sl2.jpg">
            </ion-slide>
            <ion-slide>
                <img src="../../../assets/contents/banners/sl3.jpg">
            </ion-slide>
        </ion-slides>
    </div>
    <div style="    border-top: 6px solid #fff30a;">
        <div text-center>
            <img src="../../../assets/icon/enyologo.png" style="    width: 130px;
    margin-top: -50px;
    z-index: 99999999999;
    position: relative;
    background-color: #fff;
    border-top-left-radius: 100%;
    border-top: 6px solid #fff30a;
    padding: 10px;
    border-top-right-radius: 100%;">
        </div>
        <div style="padding-left: 16px; padding-right :16px;">
            <div text-center>
                <h4 class="text-lg">Enter 4 digit pin</h4>
                <div style="margin-bottom:20px;">Enter pin received on mobile number</div>
            </div>
            <div class="input-xl-container" lines="none">
                <button clear readonly transparent class="input-xl-content-icon">enyo-</button>
                <ion-input #authmobilenumber type="tel" placeholder="" maxlength="4" [(ngModel)]="Pin"
                    class="input-xl-content-input"></ion-input>
            </div>
            <button type="button" (click)="VerifyPin()" class="btn-primary-lg">Verify Pin</button>
            <!-- <ion-button no-shadow expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                (click)="VerifyPin()">
                Verify Pin </ion-button> -->
            <div text-center margin-top>
                <button type="button" (click)="ChangeNumber()" style="    padding: 10px;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 3px;
    background-color: #fcf113;
    font-weight: 500;">Change number</button>
                <!-- <ion-button color="warning" no-shadow margin-top shape="round" size="small" class="r-2x f-s-n no-shadow"
                    (click)="ChangeNumber()">Change
                    number
                </ion-button> -->
            </div>
        </div>
    </div>




</ion-content>