<!-- <ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-title class="statusbar-title">
            <span class="statusbar-title">
                <span class="statusbar-title-count">
                    Deal Details : #{{_TransactionDetails.ReferenceId  || "--"}}
                </span>
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ModalDismiss('noaction')">
                <i slot="end" class=" las la-times-circle " style="font-size: 36px;"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->
<ion-content style="--background: transparent;background: transparent;    background: rgb(0 ,0 ,0 , 0.7);">

    <img *ngIf="ShowImage" src="../../../../assets/images/stickers.gif" style="position: fixed;z-index:999999;">
    <div style="padding: 26px;
    padding-bottom: 0px;
    font-size: 26px;
    color: #ffffff;
    font-weight: 600;" (click)="ModalDismiss('noaction')"><i class="las la-times"></i></div>

    <div class="container "
        style="overflow: auto;padding-bottom:30px;   box-shadow: none;--background: transparent;background: transparent;">
        <div style="text-align: center;" style="margin-bottom: 22px;">
            <div class="sc__wrapper" style="margin-top:46%">
                <div id="js--sc--container"></div>
            </div>
        </div>

        <div style="    color: #ffffff;
        text-align: center;
        font-size: 18px;
        font-weight: 500;">
            Scratch this card <br> to earn upto <span style="font-size: 16px;"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span> 1000
        </div>
        <!-- <div style="    padding-left: 16px;
        padding-right: 16px;">
            <div style="    margin-bottom: 4px;
        font-size: 18px;
        font-weight: 500;    text-align: center;">
                Scan my QR code to pay
            </div>
        </div> -->
    </div>
</ion-content>
<!-- <div class="tuc-card" style="box-shadow: none;
background-color: #ffffff;
margin: 0px;
padding: 0px;
padding-left: 16px;
padding-bottom: 0px;
padding-right: 16px;">
    <div class="tuc-card-body">
        <div>
            <div padding-top padding-bottom>
                <ion-button expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                    (click)="ModalDismiss('noaction')">
                    Close
                </ion-button>
            </div>
        </div>
    </div>
</div> -->