<ion-content class="launch">
    <div class="page-header" style=" border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 230px !important;">
        <div>
            <img src="../../../assets/icon/tucwhite.png" style="width: 130px;
    margin-top: 32px;
    margin-bottom: 32px;">
        </div>
        <div class="c-white " style=" font-size: 22px;
    line-height: 32px;
    font-weight: 200;">Hi, what's your </div>
        <div class="c-white   " style="    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
    font-weight: 300;">phone number?</div>
    </div>
    <div class="container" style="    box-shadow: none;
    padding: 22px;
    background-color: #ffffff;
    padding-top: 40px;
    height: calc(100% - 230px);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: -12px;">
        <div>
            <div style="margin-bottom: 32px;
            font-size: 14px">
                <span (click)="CountryChangeClick()" style="padding: 10px 8px;
                border-radius: 6px;
                background: #E7E9F0;"
                    *ngIf="_AppConfig.SelectedCountry != undefined  && _AppConfig.SelectedCountry != null">
                    <img [src]="_AppConfig.SelectedCountry.IconUrl" style="    width: 22px;
                    height: 15px;
                    border-radius: 2px;
                    position: absolute;
                    margin-top: 1px; ">
                    <span style="padding-left: 28px;">
                        {{_AppConfig.SelectedCountry.Name}}
                    </span>
                    <span style="    font-size: 11px;
                    font-weight: 500;">
                        (+{{_AppConfig.SelectedCountry.Isd}})
                    </span>
                </span>
            </div>
            <div>
                <ion-label class="input-label">
                    <span>Enter your mobile number</span>
                </ion-label>
            </div>
            <div>
                <ion-input class=" input" type="tel" max-length="11" autofocus trim [(ngModel)]="AuthMobileNumber"
                    style="font-size: 24px;">
                </ion-input>
            </div>
        </div>
    </div>
    <!-- <div style="    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    margin-bottom: 16px;">
        <div text-center style="font-size: 13px;
                            font-weight: 900;margin-bottom: 8px;
                            color: #a9a9a9;">
            from 
        </div>
        <div text-center>
            <img src="../../../assets/icon/conicon.png" style="width: 60px;">
        </div>
    </div> -->
</ion-content>
<div class="tuc-footer">
    <button type="button" (click)="SetNumber()" *ngIf="!_HelperService.IsFormProcessing"
        class="approve full-width">Verify your
        number</button>

    <button type="button" disabled readonly *ngIf="_HelperService.IsFormProcessing" class="approve full-width">Please
        wait
        ...</button>
</div>