<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" page-white-titlebar">
    <ion-toolbar class="page-white-titlebar">
        <img src="../../../assets/icon/tucwhite.png" class="page-white-header-logo">
    </ion-toolbar>
</ion-header>
<ion-content class="page-white" forceOverscroll="false">
    <div class="page-white-header">
        <div class="page-white-header-content">
            <i class="las la-coins page-white-header-icon "></i>
            <div class="page-white-header-title">Purchase Receipt</div>
            <div class="page-white-header-subtitle">Reference # {{PaymentConfiguration.ReferenceId}} </div>
        </div>
    </div>
    <div class="page-white-body">

        <div class="inv">
            <div class="inv-header">
                Payment Details
            </div>
            <div class="inv-body">
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Amount
                    </span>
                    <span class="inv-body-item-right">
                        <span class="currency"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{PaymentConfiguration.Amount
                        | number: "1.2-2"}}
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Processing Charges
                    </span>
                    <span class="inv-body-item-right">
                        <span class="currency"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{PaymentConfiguration.Charge
                        | number: "1.2-2"}}
                    </span>
                </div>
                <div class="inv-body-item-prime">
                    <span class="inv-body-item-left">
                        Total Amount
                    </span>
                    <span class="inv-body-item-right">
                        <span class="currency"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{PaymentConfiguration.TotalAmount
                        | number: "1.2-2"}}
                    </span>
                </div>

                <div class="inv-body-item" *ngIf="PaymentConfiguration.Balance != undefined">
                    <span class="inv-body-item-left">
                        Updated Balance
                    </span>
                    <span class="inv-body-item-right">
                        <span class="currency"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{(PaymentConfiguration.Balance.Balance/100)
                        | number:
                        "1.2-2"}}
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Date
                    </span>
                    <span class="inv-body-item-right">
                        {{PaymentConfiguration.TransactionDate || "--"}}
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Status
                    </span>
                    <span class="inv-body-item-right">

                        <span [ngClass]="{ 
                                'text-success': PaymentConfiguration.StatusCode == 'transaction.success',
                                'text-danger': PaymentConfiguration.StatusCode != 'transaction.success' }">
                            {{PaymentConfiguration.StatusName || "--"}}
                        </span>
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Reference
                    </span>
                    <span class="inv-body-item-right">
                        {{PaymentConfiguration.PaymentReference || "--"}}
                    </span>
                </div>
            </div>
        </div>

        <div *ngIf="PaymentConfiguration.StatusCode == 'transaction.initialized' " (click)="ProcessUssd_Confirm()"
            class="btn-light">
            Verify Payment
        </div>
    </div>
</ion-content>

<div class="tuc-footer">
    <button class="cancel full-width" (click)="_HelperService.NavDashboard()">
        Close
    </button>
</div>