<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" page-white-titlebar">
    <ion-toolbar class="page-white-titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="page-white-titlebar-button"> </ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button class="page-white-titlebar-button" (click)="LoadData()">
                <i class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="page-white" forceOverscroll="false">
    <div class="page-white-header">
        <div class="page-white-header-content">
            <i class="las la-receipt page-white-header-icon "></i>
            <div class="page-white-header-title">Bill Payments</div>
            <div class="page-white-header-subtitle">Your bill payment history </div>
        </div>
    </div>
    <div class="page-white-body">
        <div *ngIf="TranList_Data.TotalRecords == -1" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-spinner color="primary" name="dots"></ion-spinner>
            </div>
            <div class="nolist-subtitle">
                Loading History
            </div>
        </div>
        <div *ngIf="TranList_Data.TotalRecords > 0">
            <div (click)="TranList_DetailsModal(TItem)" *ngFor="let TItem of TranList_Data.Data" class="item-list">
                <div>
                    <div class="item-list-title">
                        {{TItem.AccountNumber || "--"}}
                        <span class="float-right item-list-substatus"> {{TItem.ProductCategoryName || "--"}}</span>
                    </div>
                    <div class="item-list-amount">
                        <span
                            [ngClass]="{ 
                            'text-success': TItem.StatusCode == 'paymentstatus.success', 
                            'text-warning': TItem.StatusCode == 'paymentstatus.initialized', 
                            'text-danger': TItem.StatusCode != 'paymentstatus.success' &&  TItem.StatusCode != 'paymentstatus.initialized'}">
                            <span><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{TItem.Amount |
                            number: "1.2-2"}}
                        </span>
                    </div>

                    <div class="item-list-subtitle">
                        {{TItem.ProductName || "--"}} - {{TItem.ProductItemName || "--"}}
                    </div>
                    <div class="item-list-subtitle p-0">
                        <i class=" las la-clock"></i> {{TItem.StartDate}}

                        <span class="float-right item-list-status"
                            [ngClass]="{ 
                            'text-success': TItem.StatusCode == 'paymentstatus.success', 
                            'text-warning': TItem.StatusCode == 'paymentstatus.initialized', 
                            'text-danger': TItem.StatusCode != 'paymentstatus.success' &&  TItem.StatusCode != 'paymentstatus.initialized'}">
                            {{TItem.StatusName}}
                        </span>
                    </div>
                </div>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="TranList_NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Please wait...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>

        <div *ngIf="TranList_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                No purchase yet
            </div>
            <div class="nolist-content">
                Your transaction history will appear here
            </div>
        </div>
    </div>
</ion-content>