<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text="" (click)="navigateback()"> </ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="SaveAddress()" fill="clear">
                <ion-icon slot="icon-only" name="plus"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header">
        <div class="hcx-page-header-title">
            Add new address
        </div>
    </div>
    <div class="hcx-page-body  bg-white hcx-page-body-padding">
        <div>
            <ion-label class="input-label"> Name
            </ion-label>
            <ion-input class=" input" type="email" maxlength="128" [(ngModel)]="_ActiveAddress.Name">
            </ion-input>
        </div>
        <div>
            <ion-label class="input-label">Mobile Number
            </ion-label>
            <ion-input class=" input" type="tel" maxlength="16" [(ngModel)]="_ActiveAddress.ContactNumber">
            </ion-input>
        </div>
        <div>
            <ion-label class="input-label">Email Address (optional)
            </ion-label>
            <ion-input class=" input" type="email" maxlength="128" [(ngModel)]="_ActiveAddress.EmailAddress">
            </ion-input>
        </div>
        <div>
            <ion-label class="input-label">Address Line 1 <span class="text-danger">*</span>
            </ion-label>
            <ion-input class=" input" type="text" maxlength="128" [(ngModel)]="_ActiveAddress.AddressLine1">
            </ion-input>
        </div>
        <div>
            <ion-label class="input-label">Address Line 2
            </ion-label>
            <ion-input class=" input" type="text" maxlength="128" [(ngModel)]="_ActiveAddress.AddressLine2">
            </ion-input>
        </div>
        <ion-row>
            <ion-col>
                <ion-label class="input-label"> State <span class="text-danger">*</span>
                </ion-label>
                <ion-input class=" input" maxlength="128" type="text" readonly [(ngModel)]="_ActiveAddress.StateName"
                    (click)="GetStates()">
                </ion-input>
            </ion-col>
            <ion-col>
                <ion-label class="input-label"> City <span class="text-danger">*</span>
                </ion-label>
                <ion-input class=" input" maxlength="128" type="text" readonly [(ngModel)]="_ActiveAddress.CityName"
                    (click)="GetCities()">
                </ion-input>
            </ion-col>
        </ion-row>
        <div style="display: none;">
            <ion-label class="input-label"> Type your address
            </ion-label>
            <input type="text" class="input" name="GAddress" maxlength="256" style="    width: 100%;
                padding: 16px 8px !important;" placeholder="Type your address here" ngx-google-places-autocomplete
                #places="ngx-places" (onAddressChange)="Form_UpdateUser_AddressChange($event)">
        </div>
        <div class="m-b" style="display: none;">
            <agm-map style="height: 140px;
            width: 100%;" [zoom]="17" [latitude]="_ActiveAddress.Latitude" [longitude]="_ActiveAddress.Longitude"
                [streetViewControl]="false" (mapClick)="placeMarker($event)">
                <agm-marker [latitude]="_ActiveAddress.Latitude" [longitude]="_ActiveAddress.Longitude">
                </agm-marker>
            </agm-map>
        </div>
        <button class="hcx-btn-primary hcx-btn-md full-width" (click)="SaveAddress()">
            Save Address
        </button>
    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>

    </div>
</ion-content>