<ion-content class="launch">
    <div class="page-header" style=" border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 230px !important;">
        <div>
            <img src="../../../assets/icon/tucwhite.png" style="width: 130px;
            margin-top: 32px;
            margin-bottom: 32px;">
        </div>
        <div class="c-white " style=" font-size: 22px;
    line-height: 32px;
    font-weight: 200;">Kindly verify your </div>
        <div class="c-white   " style="    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
    font-weight: 300;">phone number</div>
    </div>
    <div class="container" style="    box-shadow: none;
    padding: 22px;
    background-color: #ffffff;
    padding-top: 40px;
    height: calc(100% - 230px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -12px;">
        <div>
            <div class="input-label text-center ">
                Please enter verification code you will receive on
                <b>{{VMobileNumber ||''}}</b> to confirm
                your phone number
            </div>
            <div class="text-center" style="margin-top:20px; margin-bottom:30px;">
                <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="otpConfig"></ng-otp-input>
            </div>
            <div style="text-align: center;">
                <div style="margin-bottom: 30px;">
                    <button class="approve" (click)="VerifyCode()" *ngIf="!_HelperService.IsFormProcessing" style="padding: 16px 16px;
                font-weight: 500;
                font-size: 14px; width: 100%;
                color: #ffffff;
                background-color: #B11A83;
                border-radius: 8px;">
                        Verify number
                    </button>
                    <button class="approve" *ngIf="_HelperService.IsFormProcessing" style="padding: 16px 16px;   
                    font-weight: 500;
                    font-size: 14px; width: 100%;
                    color: #ffffff;
                    background-color: #B11A83;
                    border-radius: 8px;">
                        Please wait ...
                    </button>
                </div>

                <div>
                    <div *ngIf="_HelperService._ActiveFeatures.ussdverification">
                        <div style="    color: #7987A1;
                    margin-bottom: 30px;
                    font-weight: 600;
                    font-size: 13px;">
                            or
                        </div>
                        <div>
                            <div>
                                <button class="approve" type="button" (click)="RequestUssdOtp()" style="    padding: 12px 24px;
                        font-weight: 500;
                        font-size: 14px;
                        color: #B11A83;
                        background-color: #ffffff;
                        border-radius: 8px;
                        margin-bottom: 12px;
                        border: 1px solid #B11A83;">
                                    Tap to Verify using USSD
                                </button>
                            </div>
                            <div style=" color: #7987A1;
                    margin-bottom: 30px;
                    font-weight: 600;
                    font-size: 12px;">
                                This is free and will verify instantly
                            </div>
                        </div>
                    </div>
                    <div>
                        <button (click)="ChangeNumber()" type="button" style="padding: 12px 24px;
                    font-weight: 500;
                    font-size: 12px;
                    color: #B11A83;
                    background-color: #f7f7f7;
                    border-radius: 8px;
                    margin-top: 16px;">Change number</button>
                    </div>
                </div>

            </div>

        </div>
        <!-- <div text-center>
            <button type="button" margin-top margin-bottom (click)="ChangeNumber()" class="btn-primary-lg" style="     padding: 10px 14px;
            font-size: 12px;
            text-align: center;
            width: auto;
            background-color: #ffffff;
            color: #ad1a82;
            font-weight: 500;
            border-radius: 6px;
            border: 1px solid #ad1a82;">Change
                number</button>
        </div> -->
    </div>



</ion-content>

<!-- 
<div class="tuc-footer" *ngIf="!_HelperService.IsFormProcessing">
    <button class="cancel " (click)="ChangeNumber()">
        Change number
    </button>
    <button class="approve" (click)="SetNumber()">
        Verify number
    </button>
</div>
<div class="tuc-footer" *ngIf="_HelperService.IsFormProcessing">
    <button class="cancel ">
        Please wait...
    </button>
    <button class="approve">
        Please wait...
    </button>
</div> -->