<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class="appdb-titlebar">
    <ion-toolbar class="appdb-titlebar appdb-titlebar-container">
        <span class="btn" (click)="NavOpenQR()">
            <i class=" las la-qrcode"></i>
        </span>
        <span class="btn" (click)="_HelperService.NavNotification()">
            <i class=" las la-bell"></i>
        </span>
        <img [src]="_HelperService.AccountInfo.UserAccount.IconUrl" (click)="NavProfile()" class="profileimg">
        <div class="loctitle" (click)="_HelperService.NavLocationManager()">
            Your Location
        </div>
        <div class="loc" (click)="_HelperService.NavLocationManager()">
            <span>{{ UserCustomAddress.CityName || "Set Address" }}</span>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content class="appdb" forceOverscroll="false">
    <div class="appdb-body">
        <div class="appdb-item appdb-item-first" style="margin-bottom: 0px;    padding-top: 16px;">
            <div (click)="DealSearch()" class="divsearch" style="background-color: #f5f6fa;
            padding: 15px 8px;
            margin-left: 16px;
            margin-right: 16px;
            border-radius: 12px;    color: #6a6a6a;
            text-align: center;
            font-size: 14px; 
            margin-bottom: 16px;">
                <i class="lni lni-search-alt"></i>
                <span> Search deals</span>
            </div>
            <div class="appdb-item-body" style="padding-bottom: 0px;">
                <div style="margin-bottom: 16px;" *ngIf="_HomeSl1.length > 0">
                    <ion-slides class="animated fadeIn " autoplay="5000" loop="true" speed="500" pager
                        [options]="_HelperService.TopSlideOptions"
                        *ngIf="_HomeSl1 != undefined && _HomeSl1 != null && _HomeSl1.length > 0">
                        <ion-slide *ngFor="let TItem of _HomeSl1; let index=index; let odd=odd; let even=even;">
                            <div class="slidercontainer" (click)="SliderClick(TItem)"
                                [style.background-image]="'url('+TItem.ImageUrl+')'">
                                <div *ngIf="TItem.Title != undefined && TItem.Title != null && TItem.Title != ''" style="    height: 160px;
                                width: 100%;
                                transition-duration: 0.6s;
                                border-radius: 12px;
                                background: linear-gradient( 
                            180deg, rgb(255 255 255 / 0%) 0%, rgb(0 0 0 / 25%) 64%, rgb(0 0 0 / 86%) 100%);
                                padding: 8px;font-weight: 500;">
                                    <div style="    color: #ffffff;
                                position: absolute;
                                bottom: 0;
                                padding-bottom: 12px;
                                text-align: left;
                                width: 90%;
                                font-size: 13px;">
                                        {{TItem.Title }}
                                    </div>
                                </div>
                            </div>
                        </ion-slide>
                    </ion-slides>
                </div>
                <div class="dealcat-slider">
                    <div class="dealcat-slider-item" *ngFor="let TItem of _Categories ; let i = index">
                        <div class="dealcat-slider-item-image" (click)="CategorySelected(TItem)">
                            <img [src]="TItem.IconUrl" *ngIf="TItem.IconUrl != null">
                        </div>
                        <div class="title">
                            {{TItem.Name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="appdb-item-title"
                *ngIf="_DealsPromotionNew != undefined && _DealsPromotionNew != null && _DealsPromotionNew.length > 0">
                Flash Deals
                <span style="float: right;font-size: 12px;" (click)="_HelperService.NavFlashDeals()">
                    View All
                </span>
            </div>
            <div class="appdb-item-body" style="    padding-bottom: 30px;"
                *ngIf="_DealsPromotionNew != undefined && _DealsPromotionNew != null && _DealsPromotionNew.length > 0">
                <ion-slides class="animated fadeIn " autoplay="5000" loop="true" speed="500"
                    [options]="_HelperService.TopSlideOptions"
                    *ngIf="_DealsPromotionNew != undefined && _DealsPromotionNew != null && _DealsPromotionNew.length > 0">
                    <ion-slide *ngFor="let TItem of _DealsPromotionNew; let index=index; let odd=odd; let even=even;">
                        <div class="deal-slider" (click)="DealClick(TItem)"
                            [style.background-image]="'url('+TItem.ImageUrl+')'">
                            <div class="deal-slider-item">
                                <img [src]="TItem.MerchantIconUrl" *ngIf="TItem.MerchantIconUrl != null"
                                    class="merchanticon">
                                <span class="pricing">
                                    <span class="sellingprice">
                                        <span class="currency"
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.SellingPrice
                                        | number: "1.0-1" || "--"}}
                                    </span>
                                    <span class="actualprice">
                                        <span class="currency"
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.ActualPrice
                                        | number: "1.0-1" || "--"}}
                                    </span>
                                </span>

                                <div class="footer">
                                    <div class="title" [innerHtml]="TItem.Title">
                                    </div>
                                    <div>
                                        at <span class="merchant" [innerHtml]="TItem.MerchantName">
                                        </span>
                                        <!-- <div class="percentage">
                                            {{TItem.DiscountPercentage || "0"}}% off
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slides>
            </div>
        </div>
        <div class="app-tabmenu" style="margin-bottom: 16px;">
            <div class="app-tabmenu-item" [ngClass]="PageType === 3 ? 'app-tabmenu-item-active' : 'app-tabmenu-item'"
                (click)="PageTypeChange(3)">
                Fresh Deals
            </div>
            <div class="app-tabmenu-item" [ngClass]="PageType === 1 ? 'app-tabmenu-item-active' : 'app-tabmenu-item'"
                (click)="PageTypeChange(1)">
                Top Deals
            </div>
            <div class="app-tabmenu-item" [ngClass]="PageType === 2 ? 'app-tabmenu-item-active' : 'app-tabmenu-item'"
                (click)="PageTypeChange(2)">
                Trending Now
            </div>
            <div class="app-tabmenu-item" [ngClass]="PageType === 4 ? 'app-tabmenu-item-active' : 'app-tabmenu-item'"
                (click)="PageTypeChange(4)">
                Top Savings
            </div>
        </div>
        <div *ngIf="Deals_Data.TotalRecords > 0">
            <div class="deals-list">
                <div class="deal-item" *ngFor="let TItem of _Deals; let index=index; let odd=odd; let even=even;"
                    (click)="DealClick(TItem)">
                    <div class="header" [style.background-image]="'url('+TItem.ImageUrl+')'">
                        <div class="container">
                            <span class="timer"
                                *ngIf=" TItem.CountdownConfig.leftTime  > 0 && TItem.CountdownConfig.leftTime < 86401">
                                <span class="counter">
                                    <i class="lni lni-timer"></i>
                                    <countdown [config]="TItem.CountdownConfig"></countdown>
                                </span>
                            </span>
                            <div class="category">
                                <span>
                                    {{TItem.CategoryName}}
                                </span>
                            </div>
                            <div class="merchant">
                                <img [src]="TItem.MerchantIconUrl" *ngIf="TItem.MerchantIconUrl != null">
                                <!-- <span class="merchantname">
                                {{TItem.MerchantName}}
                            </span> -->
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="title" [innerHtml]="TItem.Title">
                        </div>
                        <div class="pricing">
                            <span class="sellingprice">
                                <span class="currency"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.SellingPrice |
                                number: "1.0-1" || "--"}}
                            </span>
                            <span class="actualprice">
                                <span class="currency"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.ActualPrice
                                | number: "1.0-1" || "--"}}
                            </span>
                            <!-- <span class="discount"
                            *ngIf="TItem.DiscountPercentage  != undefined  && TItem.DiscountPercentage  > 0">
                            {{TItem.DiscountPercentage || "0"}}% off
                        </span> -->
                        </div>
                        <div class="merchant">
                            <span class="merchantname">
                                at
                                {{TItem.MerchantName}}
                            </span>
                            <span class="distance" *ngIf="TItem.Distance != undefined && TItem.Distance != null">
                                <i class=" las la-walking"></i> {{TItem.Distance}} km away
                            </span>
                            <span class="dealtype">
                                <span *ngIf="TItem.DealTypeCode == _HelperService.AppConfig.DealTypeCode.ServiceDeal">
                                    <i class="las la-store-alt"></i>
                                </span>
                                <span *ngIf="TItem.DealTypeCode == _HelperService.AppConfig.DealTypeCode.ProductDeal">
                                    <span
                                        *ngIf="TItem.DeliveryTypeCode == _HelperService.AppConfig.DeliveryTypeCode.InStorePickUp || TItem.DeliveryTypeCode == _HelperService.AppConfig.DeliveryTypeCode.InStoreAndDelivery">
                                        <i class="las la-store-alt"></i>
                                    </span>
                                    <span
                                        *ngIf="TItem.DeliveryTypeCode == _HelperService.AppConfig.DeliveryTypeCode.InStorePickUp || TItem.DeliveryTypeCode == _HelperService.AppConfig.DeliveryTypeCode.InStoreAndDelivery">
                                        <i class="las la-shipping-fast"></i>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="GetDeals_NextLoad($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more deals ...">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </div>
        </div>
        <div *ngIf="Deals_Data.TotalRecords == -1" class="hcx-list-empty">
            <div class="hcx-list-empty-icon">
                <ion-spinner color="primary" name="dots"></ion-spinner>
            </div>
        </div>
        <div *ngIf="Deals_Data.TotalRecords == 0" class="hcx-list-empty">
            <div class="hcx-list-empty-icon">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="hcx-list-empty-title">
                Its Empty Here
            </div>
        </div>
    </div>
</ion-content>
<div class="footer-container">
    <div class="footer-item" (click)="_HelperService.NavDashboard()">
        <div class="footer-item-icon">
            <i class="lni lni-home"></i>
        </div>
        <div class="footer-item-text">Home</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavDashboardStores()">
        <div class="footer-item-icon">
            <i class="lni lni-cart"></i>
        </div>
        <div class="footer-item-text">Stores</div>
    </div>
    <div class="footer-item  " (click)="_HelperService.NavDashboardTucPay()">
        <div class="footer-item-icon">
            <div class="footer-scanner">
                <i class=" las la-qrcode"></i>
            </div>
        </div>
        <div class="footer-item-text">Scan To Pay</div>
    </div>
    <div class="footer-item text-primary" (click)="_HelperService.NavDashboardDeals()">
        <div class="footer-item-icon">
            <i class="lni lni-shopping-basket"></i>
        </div>
        <div class="footer-item-text">Deals</div>
    </div>
    <div class="footer-item" (click)="_HelperService.NavDashboardMore()">
        <div class="footer-item-icon">
            <i class="las la-user-circle"></i>
        </div>
        <div class="footer-item-text">Account</div>
    </div>
</div>