<ion-header no-border class=" page-tuc-titlebar">
    <!-- <ion-toolbar class="page-tuc-titlebar">
        <ion-buttons slot="start">
            <ion-button (click)="ModalDismiss()" class="page-tuc-titlebar-button">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        App Update Available
    </ion-toolbar> -->
</ion-header>
<ion-content class="page-tuc" forceOverscroll="false">
    <div class="page-tuc-header" style="height: 200px;
    text-align: center;">
        <div class="page-tuc-header-content text-center">
            <!-- <i class="las la-cogs page-tuc-header-icon "></i> -->
            <div class="page-tuc-header-title  text-center">App Update Available</div>
            <div class="page-tuc-header-subtitle  text-center">Update your app to latest version</div>
            <div class="page-tuc-header-subtitle  text-center">{{FeaturesContent.Version}}</div>
        </div>
    </div>

    <div class="page-tuc-body">
        <div [innerHtml]="FeaturesContent.Content">
        </div>
    </div>

</ion-content>
<div class="tuc-footer">
    <button type="button" (click)="OpenStore()" class="approve full-width">
        Update App
    </button>


</div>