<ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-title class="statusbar-title">
            <span class="statusbar-title">
                <span class="statusbar-title-count">
                    Sales Invoice : #{{_TransactionDetails.ReferenceId || "--"}}
                </span>
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ModalDismiss('noaction')">
                <i slot="end" class=" las la-times-circle " style="font-size: 36px;"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="page-header " style="min-height: 150px !important;    padding-top: 12px !important;    " text-center>
        <!-- <div class="page-header-lg-img" style="margin-right: 0px;">
        <i slot="start" class=" las la-check-circle page-header-lg-icon" style="background-color: #442563;
    font-size: 37px; 
    color: #fff;
    border-radius: 100%;
    padding: 6px;
    border: 3px solid #fff;
    margin-top: 10px;"></i> success
    </div> -->
        <div>
            <span style="     font-size: 14px;
    text-transform: lowercase;
    margin-bottom: 8px;">
                <i slot="start" class=" las la-check-circle "
                    *ngIf="_TransactionDetails.StatusCode == 'transaction.success'"></i>
                <i slot="start" class=" las la-times-circle "
                    *ngIf="_TransactionDetails.StatusCode != 'transaction.success'"></i>
                {{_TransactionDetails.StatusName || "--"}}</span>
            <h1 class="page-header-title-lg-b"
                style="font-size: 34px;font-weight:400;margin-bottom: 8px;text-align: center;">
                <span class="list-amount-currency" style="    font-size: 20px;"><span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                {{_TransactionDetails.PurchaseAmount | number: "1.2-2"}}
            </h1>
            <h1 class="page-header-title-lg" style="    font-size: 13px;
    margin-top: 0px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 12px;
    text-transform: uppercase; ">
                Sale Amount
            </h1>
            <h1 class="page-header-title-lg" style="    font-size: 13px;
    margin-top: 8px;
    margin-top: 16px;
    font-weight: normal;
    text-align: center;">
                {{_TransactionDetails.CreateDate || "--"}}
            </h1>
            <!-- <h1 class="page-header-title-lg" style="    font-size: 13px;
    margin-top: 8px;
    font-weight: normal;
    text-align: center;">
            {{_TransactionDetails.TypeName || "--"}} payment
        </h1> -->

            <!-- <span style="font-size: 12px;
            padding-left: 8px;">
                        {{_TransactionDetails.TypeName || "--"}} payment
                    </span> -->
            <!-- <h1 class="page-header-title-lg" style="    font-size: 16px;
            font-weight: normal;">
            {{_TransactionDetails.UserAccountMobileNumber  || "--"}}
        </h1> -->
        </div>
    </div>
    <div class="container " style="overflow: auto;padding-bottom:30px;">
        <div class="tuc-card">
            <div class="tuc-card-header text-primary">
                <i class="las la-map-marker tuc-card-header-icon"></i> Purchase Location
            </div>
            <div class="tuc-card-body">
                <div>
                    <div class="line-height">
                        {{_TransactionDetails.ParentDisplayName || "--"}}
                    </div>
                    <div class="line-height">
                        {{_TransactionDetails.SubParentDisplayName || "--"}}
                    </div>

                    <div class="line-height">
                        {{_TransactionDetails.SubParentAddress || "--"}}
                    </div>
                </div>
            </div>
        </div>
        <div class="tuc-card">
            <div class="tuc-card-header text-primary">
                <i class="las la-info-circle tuc-card-header-icon"></i> Reference
            </div>
            <div class="tuc-card-body">
                <div>
                    <div class="line-height">
                        <div class="card-item-left">
                            Ref Id
                            <div class="card-item-right">
                                {{_TransactionDetails.ReferenceId || "--"}}
                            </div>
                        </div>
                    </div>
                    <div class="line-height">
                        <div class="card-item-left">
                            <div>Reference Number</div>
                            <div class="card-item-right" style="float: none;">
                                <div>{{_TransactionDetails.ReferenceNumber || "--"}}</div>
                            </div>
                        </div>
                    </div>
                    <div padding-top padding-bottom>
                        <ion-button expand="full" color="primary" shape="round" size="medium"
                            class="r-2x f-s-n no-shadow" (click)="ModalDismiss('noaction')">
                            Close
                        </ion-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>