<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border>
    <ion-toolbar class="tucapp-titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="page-tuc-titlebar-button"> </ion-back-button>
        </ion-buttons>
        <div class="tucapp-titlebar-content text-center">
            Loan Id : {{_Details.ReferenceId }}
        </div>
    </ion-toolbar>
</ion-header>
<ion-content class="tucapp " forceOverscroll="false">
    <div class="tucapp-body " *ngIf="_Details.ReferenceId > 0">
        <div style="    padding: 16px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-bottom: 1px;">
            <div class="item-list" style="    border: 1px solid #E7E9EF;
background-color: #ffffff;
border-radius: 10px;">
                <div>
                    <div style="    width: 100%;
     height: 56px;">
                        <img [src]="_Details.MerchantIconUrl" style="    width: 38px;
     height: 38px;
     border-radius: 10px;
     background-color: #ffffff;
     border: 1px solid #E7E9EF;float : left;margin-right: 16px;
     padding: 4px;">
                        <div>
                            <div style="color: #222222; font-weight: 500;    padding-bottom: 4px;">
                                {{_Details.MerchantDisplayName }}</div>
                            <div style="color: #7987A1; font-size: 12px;">Loan Id : {{_Details.ReferenceId }}</div>
                        </div>
                    </div>
                    <ion-row>
                        <ion-col>
                            <div style="    font-size: 13px;
             font-weight: 500;
             color: #222222;
             padding-bottom: 2px;">
                                <span><span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                                {{_Details.LoanAmount | number: "1.2-2"}}
                            </div>
                            <div style="font-size: 12px;  color: #7987A1;">
                                Amount
                            </div>
                        </ion-col>
                        <ion-col style="padding-left: 45px;">
                            <div style="  font-size: 13px;
                        font-weight: 500;
                        color: #222222;
                        padding-bottom: 2px;">
                                {{_Details.InterestRate}} %
                            </div>
                            <div style="font-size: 12px; color: #7987A1;">
                                Interest
                            </div>
                        </ion-col>
                        <ion-col style="text-align: right;">
                            <div style="  font-size: 13px;
                                            font-weight: 500;
                                            color: #222222;
                                            padding-bottom: 2px;">
                                <span><span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                                {{_Details.InstallmentAmount | number: "1.2-2"}}
                            </div>
                            <div style="font-size: 12px; color: #7987A1;">
                                Installment
                            </div>
                        </ion-col>
                        <!-- <ion-col >
                            <div style="   font-size: 14px;
             color: #7987A1;
             padding-bottom: 2px;"><span style="color: #10B759;">{{_Details.PaidInstallment
                                    }}</span>/{{_Details.TotalInstallment }} paid</div>
                            <div style="font-size: 12px;  color: #7987A1;"> {{_Details.StatusName }}
                            </div>
                        </ion-col> -->
                    </ion-row>
                </div>


                <div>
                    <div style="    text-align: center;
                    background-color: #10B7591A;
                    padding: 20px 16px;
                    margin-top: 20px;    border-radius: 6px;
                    margin-bottom: 20px;    border: 1px dotted #10B759;">
                        <div style="color: #10B759A5; font-size: 12px;padding-bottom: 8px;">
                            Use this Redeem Code at merchant
                        </div>
                        <div style="color: #10B759; font-weight: 500; font-size: 18px;">
                            {{_Details.LoanCode}}
                        </div>
                    </div>
                </div>
                <!-- <ion-tabs>
                    <ion-tab-bar slot="top">
                        <ion-label style="color: #B11A83; font-weight: 500; font-size: 13px; margin-bottom: 16px;">
                            Repayments
                        </ion-label>
                    </ion-tab-bar>
                </ion-tabs> -->

                <div style="color: #B11A83; font-weight: 500; font-size: 13px; margin-bottom: 16px;">
                    Repayments
                </div>
                <div style="border: 1px solid #E7E9EF;
                border-radius: 8px;
                padding: 8px;">
                    <ion-row style="    border-bottom: 1px solid #E7E9EF;
                    margin-bottom: 12px;
                    padding-bottom: 4px;
                    padding-top: 4px;">
                        <ion-col style="color: #32353E;">Due Date</ion-col>
                        <ion-col style="color: #32353E;text-align: right;">Total amount</ion-col>
                    </ion-row>
                    <ion-row *ngFor="let TItem of _Details.Payments">
                        <ion-col style="color: #7987A1;">{{_HelperService.GetDateS(TItem.DueDate)}}</ion-col>
                        <ion-col style="color: #7987A1;text-align: right;"> <span class="list-amount-currency"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                            {{TItem.Amount | number: "1.2-2"}}</ion-col>
                    </ion-row>
                </div>
            </div>
        </div>
    </div>

</ion-content>
<div class="tuc-footer">
    <button type="button" (click)="Close()" class="cancel full-width">Close</button>
</div>