<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" page-white-titlebar">
    <ion-toolbar class="page-white-titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="page-white-titlebar-button"> </ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="LoadData()" class="hcx-page-titlebar-btn">
                <ion-icon name="refresh"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="page-white" forceOverscroll="false">
    <div class="page-white-header">
        <div class="page-white-header-content">
            <i class="las la-university page-white-header-icon "></i>
            <div class="page-white-header-title">Bank Accounts</div>
            <div class="page-white-header-subtitle">Manage your bank accounts</div>
        </div>
    </div>
    <div class="page-white-body">

        <div *ngIf="TranList_Data.TotalRecords > 0">
            <div class="item-list" (click)="TranList_DetailsModal(Item)"
                *ngFor="let Item of TranList_Data.Data; let index=index; let odd=odd; let even=even;">
                <div>
                    <div class="item-list-title">
                        {{Item.Name || "--"}}
                    </div>
                    <div class="item-list-subtitle">
                        {{Item.AccountNumber || "--"}}
                    </div>
                    <div class="item-list-subtitle">
                        {{Item.BankName || "--"}}
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="TranList_Data.TotalRecords == -1" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-spinner color="primary" name="dots"></ion-spinner>
            </div>
            <div class="nolist-subtitle">
                Loading Banks
            </div>
        </div>
        <div *ngIf="TranList_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                Banks not available
            </div>
        </div>

    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="OpenModalAddBank()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>