<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text=""> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header">
        <div class="hcx-page-header-title">
            Update your profile
        </div>
        <div class="hcx-page-header-body">
            Update your profile to sign into your account
        </div>
    </div>
    <div class="hcx-page-body hcx-page-body-white hcx-page-body-padding">
        <div *ngIf="modalScuccess">
            <div class="form-group">
                <div class="label1">
                    Name
                </div>
                <input class=" input" maxlength="128" [(ngModel)]="_ProfileDetails.Name" type="text" >
            </div>
            <div class="form-group">
                <div class="label1">
                    Email Address<span class="text-danger">*</span>
                </div>
                <input class=" input" maxlength="256"  required [(ngModel)]="_ProfileDetails.EmailAddress" type="email" >
                <div *ngIf="!validateEmail">Enter an email address</div>
            </div>
            <div class="form-group">
                <div class="label1">
                    Phone Number<span class="text-danger">*</span>
                </div>
                <input class=" input" maxlength="11" disabled readonly [(ngModel)]="_ProfileDetails.MobileNumber" type="tel" >
            </div>
            <div class="form-group">
                <div class="label1">
                    Create PIN
                </div>
                <input class=" input" maxlength="4"  placeholder="Create a 4 digit PIN"  [(ngModel)]="CreatePin" (keyup)="pinMatch($event)" type="tel" >
            </div>
            <div class="form-group">
                <div class="label1">
                    Confirm PIN
                </div>
                <input class=" input" maxlength="4" [(ngModel)]="ConfirmPin" (keyup)="pinMatch($event)" type="tel" >
            </div>
            <div *ngIf="Missmatch" style="color:red ;">pin Mismatch</div>
            <div *ngIf="correctMatch" style="color: green;">Correct match </div>
        </div>
        <div style="padding: 20px;" *ngIf="!modalScuccess">
            <div>
                <img src="../../../assets/images/success.png" alt="success image"/>
            </div>

            <div style="font-size:16px;
            text-align: center;
            padding: 20px 0px;
            margin-bottom: 16px;
            font-weight: 500;">
              Profile Updated Succesfully!
            </div>
            <div style="margin-left: auto; margin-right:auto;">
                  You have successfully updated your profile
            </div>
            
        </div>
        <div class="tuc-footer" style="margin-top:60px !important; padding-left: 0px;padding-right: 0px;" *ngIf="modalScuccess">
            <button type="button" [disabled]="!correctMatch" (click)="UpdateProfile()" class="approve full-width updateProfile">
                Update profile</button>
        </div>
    </div>
   
    
</ion-content>