<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-content class="tucapp " forceOverscroll="false" style="height: 85%;">
  <div *ngIf="IsAccountLoaded">
    <div class="tucapp-body-white" style="padding: 20px ;">
      <div style="text-align: center;">
        <div class="tucapp-icon m-b"><img src="../../../../../assets/images/confirm.png" alt=""></div>
        <b style=" font-size:20px">Confirm your bank information</b>
        <p c-grey style="text-align:left;margin-left: 15px; margin-top: 40px;">Bank account details</p>
      </div>
      <ion-grid style="background:#B11A8319 0% 0% no-repeat padding-box; margin: 0 10px; border-radius: 10px;">
        <ion-row style="padding-bottom:15px; padding-top: 15px;">
          <ion-col>
            Name :
          </ion-col>
          <ion-col style="font-weight: bold;">
            {{userDetails.Name}}
          </ion-col>
        </ion-row>

        <ion-row style="padding-bottom:15px">
          <ion-col>
            Account Number :
          </ion-col>
          <ion-col style="font-weight: bold;">
            {{userDetails.AccountNumber}}
          </ion-col>
        </ion-row>
        <ion-row style="padding-bottom:15px">
          <ion-col>
            Bank name :
          </ion-col>
          <ion-col style="font-weight: bold;">
            {{userDetails.Institution.Name}}
          </ion-col>
        </ion-row>
        <ion-row style="padding-bottom:15px">
          <ion-col>
            Mobile Number :
          </ion-col>
          <ion-col style="font-weight: bold;">
            {{userDetails.MobileNumber}}
          </ion-col>
        </ion-row>
        <ion-row style="padding-bottom:15px">
          <ion-col>
            BVN :
          </ion-col>
          <ion-col style="font-weight: bold;" *ngIf="userDetails.BVN != undefined ">
            {{userDetails.BVN}}
          </ion-col>
        </ion-row>
      </ion-grid>
      <div style="padding:20px">
        <div style="display: flex;">
          <img src="../../../../../assets/icon/info-grey.png" style="height: 40%; margin: 12px 0 0 0px;">
          <p style="padding-left: 10px; color: #7987A1;">
            Your profile name will get updated as per above Name registered with bank account</p>
        </div>
        <div style="display: flex;">
          <img src="../../../../../assets/icon/info-grey.png" style="height: 40%;margin: 12px 0 0 0px;">
          <p style="padding-left: 10px;  color: #7987A1;">
            We will send all confirmation OTPs on your mobile number registered with bank account</p>
        </div>
        <div class="bvnNotFound">
          <div>
            <p style="padding-left: 10px;  color: #7987A1;">BVN Number
              <span style="float: right;">
                Dial <span class="c-purple">*565*0#</span> to get BVN
              </span>
            </p>
          </div>
          <div>
            <input class="input" name="bvn" maxlength="11" minlength="11" [(ngModel)]="userDetails.BVN"
              placeholder="Enter your bvn number" style="width: 100%; 
            padding: 16px 8px !important;">
          </div>
        </div>
        <div class="m-b m-t text-center">
          <a style="color: #a32f80;" (click)="NavMono()"> Try with another Bank account ></a>
        </div>
      </div>
    </div>
  </div>

</ion-content>
<div class="tuc-footer">
  <button type="button" (click)="Next()" *ngIf="!_HelperService.IsFormProcessing" class="approve full-width"> Next
    ></button>

  <button type="button" disabled readonly *ngIf="_HelperService.IsFormProcessing" class="approve full-width">Please
    wait
    ...</button>
</div>