<ion-header no-border class=" page-white-titlebar">
    <ion-toolbar class="page-white-titlebar">
        <ion-buttons slot="start">
            <ion-button (click)="_HelperService.ModalDismiss('noaction')" class="page-white-titlebar-button">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <span class="page-white-header-status" [ngClass]="{ 
                    'text-success': _TransactionDetails.StatusCode == 'paymentstatus.success',
                    'text-danger': _TransactionDetails.StatusCode != 'paymentstatus.success' }">
            {{_TransactionDetails.StatusName || "--"}}
        </span>
    </ion-toolbar>
</ion-header>
<ion-content class="page-white" forceOverscroll="false">
    <div class="page-white-header">
        <div class="page-white-header-content">
            <div class="page-white-header-title-modal">
                <span class="page-white-header-title-modal-currency"><span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>
                {{_TransactionDetails.Amount | number: "1.2-2"}}
            </div>
            <div class="page-white-header-subtitle-modal">
                Cashout Amount
            </div>
        </div>

    </div>
    <div class="page-white-body">
        <div class="inv">
            <div class="inv-header">
                Payment Details
            </div>
            <div class="inv-body">

                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Amount
                    </span>
                    <span class="inv-body-item-right">
                        <span class="currency"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{_TransactionDetails.Amount
                        | number: "1.2-2"}}
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Processing Charges
                    </span>
                    <span class="inv-body-item-right">
                        <span class="currency"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{_TransactionDetails.Charge
                        | number: "1.2-2"}}
                    </span>
                </div>
                <div class="inv-body-item-prime">
                    <span class="inv-body-item-left">
                        Total Amount
                    </span>
                    <span class="inv-body-item-right">
                        <span class="currency"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{_TransactionDetails.TotalAmount
                        | number: "1.2-2"}}
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Date
                    </span>
                    <span class="inv-body-item-right">
                        {{_TransactionDetails.StartDate || "--"}}
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Status
                    </span>
                    <span class="inv-body-item-right">

                        <span [ngClass]="{ 
                                'text-success': _TransactionDetails.StatusCode == 'paymentstatus.success',
                                'text-danger': _TransactionDetails.StatusCode != 'paymentstatus.success' }">
                            {{_TransactionDetails.StatusName || "--"}}
                        </span>
                    </span>
                </div>
                <div class="inv-body-item p-0">
                    <span class="inv-body-item-left">
                        Reference
                    </span>
                    <span class="inv-body-item-right">
                        {{_TransactionDetails.ReferenceNumber || "--"}}
                    </span>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="box-header">
                Bank Account Details
            </div>
            <div class="box-body">
                <div class="box-body-item">
                    <span class="box-body-item-left">
                        Name
                    </span>
                    <span class="box-body-item-right">
                        {{_TransactionDetails.BankAccountName || "--"}}
                    </span>
                </div>
                <div class="box-body-item">
                    <span class="box-body-item-left">
                        Account Number
                    </span>
                    <span class="box-body-item-right">
                        {{_TransactionDetails.BankAccountNumber || "--"}}
                    </span>
                </div>
                <div class="box-body-item">
                    <span class="box-body-item-left">
                        Bank
                    </span>
                    <span class="box-body-item-right p-0">
                        {{_TransactionDetails.BankName || "--"}}
                    </span>
                </div>

            </div>
        </div>

    </div>
</ion-content>
<div class="tuc-footer">
    <button class="cancel full-width" (click)="_HelperService.ModalDismiss('noaction')">
        Close
    </button>
</div>


<!-- <ion-header no-border class="titlebar">
    <ion-toolbar class="titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="text-primary"></ion-back-button>
        </ion-buttons>
         
        <ion-buttons slot="start">
            <ion-button class="c-white" (click)="ModalDismiss('noaction')">
                <i slot="end" class=" las la-times " style="font-size: 36px;"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="page-header ">
        <div>
            <div class="page-header-title">TUC Cashout Details</div>
            <div class="page-header-subtitle">#{{_BankDetails.ReferenceId}}</div>
        </div>
    </div>
    <div class="container " padding style="padding-top: 16px;">
        <div style="    padding: 16px;
        background-color: #f7f7f7;
        margin-bottom: 16px;
        border-radius: 8px;">
            <div style="padding-bottom: 16px;"><span style="color: #777777; font-size: 12px;">
                    Amount </span><span style="float: right; font-weight: 500;"> {{_BankDetails.Amount || "--"}}
                </span></div>

            <div style=" padding-bottom: 16px;
        border-bottom: 1px dotted #ccc;
        margin-bottom: 16px;"><span style="color: #777777; font-size: 12px;">
                    Charges </span><span style="float: right;font-weight: 500;"> {{_BankDetails.Charge || "--"}}
                </span></div>

            <div style="      font-weight: 500; "><span style="color: #777777; font-size: 12px;">
                    Total Amount </span><span style="float: right;font-weight: 500;">
                    {{_BankDetails.TotalAmount || "--"}} </span>
            </div>
        </div>
        <div style="    padding: 16px; margin-bottom: 16px;">
            <div>
                <div style="padding-bottom: 16px;"><span style="color: #777777; font-size: 12px;">
                        Account </span><span style="float: right;font-weight: 500;">
                        {{_BankDetails.BankAccountName || "--"}} </span>
                </div>

                <div style="padding-bottom: 16px;"><span style="color: #777777; font-size: 12px;">
                        Account Number </span><span style="float: right;font-weight: 500;">
                        {{_BankDetails.BankAccountNumber || "--"}}
                    </span></div>

                <div style="padding-bottom: 16px;"><span style="color: #777777; font-size: 12px;">
                        Bank </span><span style="float: right;font-weight: 500;"> {{_BankDetails.BankName || "--"}}
                    </span></div>
                <div style="padding-bottom: 16px;"><span style="color: #777777; font-size: 12px;">
                        Initialized On </span><span style="float: right;font-weight: 500;">
                        {{_BankDetails.StartDate || "--"}}
                    </span></div>
                <div style="padding-bottom: 16px;"><span style="color: #777777; font-size: 12px;">
                        Completed On </span><span style="float: right;font-weight: 500;">
                        {{_BankDetails.EndDate || "--"}}
                    </span></div>
                <div style="padding-bottom: 16px;"><span style="color: #777777; font-size: 12px;">
                        Reference </span><span style="float: right;font-weight: 500;">
                        {{_BankDetails.ReferenceNumber || "--"}}
                    </span></div>

                <div style="padding-bottom: 16px;"><span style="color: #777777; font-size: 12px;">
                        Status </span>

                    <span class=" text-success float-right" style="font-weight: 500;"
                        *ngIf="_BankDetails.StatusCode == 'paymentstatus.success'">
                        {{_BankDetails.StatusName}}
                    </span>
                    <span class="text-danger float-right" style="font-weight: 500;"
                        *ngIf="_BankDetails.StatusCode != 'paymentstatus.success'">
                        {{_BankDetails.StatusName }}
                    </span>

                </div>
                <div style="padding-bottom: 16px;" *ngIf="_BankDetails.SystemComment != undefined">
                    <div style="color: #777777; font-size: 12px;">
                        Comment
                    </div>
                    <div>
                        {{_BankDetails.SystemComment || "--"}}
                    </div>
                </div>

            </div>
        </div>
    </div>
</ion-content>
<div class="tuc-footer">
    <button class="cancel full-width" (click)="_HelperService.ModalDismiss('noaction')">
        Close
    </button>
</div> -->