<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page" style="    --ion-background-color: #fff;">
    <div class="hcx-page-body bg-white" style="box-shadow: none;">
        <div style="padding: 20px;">
            <div style="    font-size: 24px;
            padding: 20px 0px;
            margin-bottom: 16px;
            font-weight: 500;
            padding-bottom: 12px;">
                Welcome!
            </div>
            <div style="margin-bottom: 20px;">
                Congratulations on joining the ThankUCash Community! Get up to 90% discount on deals, get cashback on bill payments, get loyalty points at your favourite stores and much more
            </div>
            <div style="text-align: center; font-weight :500 ;margin-bottom: 20px;">
                Select your country to get started:
            </div>
            <div style="    margin-bottom: 30px;
            display: flex;
            margin-top: 30px;">
                <div *ngFor="let TItem of _AppConfig.Countries ; let i = index" style="float: left;
                display: inline-block; text-align: center;
                width: 33.33%;" (click)="CountrySelected(TItem)">
                   <div>
                    <img [src]="TItem.IconUrl" style="width: 40px;
                    height: 30px;
                    border-radius: 2px;
                    margin-bottom: 4px; ">
                   </div>
                    <div >
                        {{TItem.Name}}
                    </div>
                </div>
            </div>
            <!-- <button style="width: 100%;
            background: #b11a83;
            color: #fff;
            font-weight: 500;
            font-size: 14px;
            padding: 14px 10px;
            border-radius: 5px;" (click)="SetNumber()" *ngIf="!_HelperService.IsFormProcessing">
               Get Started
            </button> -->
        </div>
    </div>
</ion-content> 