<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>

<ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Purchase History
                <span class="statusbar-title-count">
                    {{TranList_Data.Offset}} /
                    {{TranList_Data.TotalRecords}}
                </span>
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="LoadData()">
                <i slot="start" class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-app">
    <div class="page-header " text-center>
        <i class="las la-exchange-alt page-header-icon"></i>
        <div>
            <div class="page-header-title">Payments</div>
            <div class="page-header-subtitle">Your Sales & Payments History </div>
        </div>
    </div>
    <div class="container" style="    padding-top: 0px;">
        <div class="scrolling-wrapper" style=" box-shadow:0px 0px 20px rgba(0, 0, 0, 0.08);
        margin: 16px;
        border-radius: 8px;">
            <!-- <div class="scrolling-item" text-center style="width: 25%;" >
            <div class="item-payments item-shadow item-cat" text-center style="width: 100%;background-color: #ffffff;"
                (click)="SourceChange('loyalty')">
                <div>
                    <div style="font-size: 28px;color: #B11A83;;">
                        <i class="las la-wallet"></i>
                    </div>
                    <div style="font-weight: 500;font-size:11px;">Purchase</div>
                </div>
            </div>
        </div> -->
            <div class="scrolling-item" text-center style="width: 25%;">
                <div class="item-payments item-shadow item-cat" text-center
                    style="width: 100%;background-color: #ffffff;" (click)="SourceChange('payments')">
                    <div>
                        <div style="font-size: 28px;color: #B11A83;;">
                            <i class="las la-satellite-dish"></i>
                        </div>
                        <div style="font-weight: 500;font-size:11px;">Payments</div>
                    </div>
                </div>
            </div>
            <div class="scrolling-item" text-center style="width: 25%;">
                <div class="item-payments item-shadow item-cat" text-center
                    style="width: 100%;background-color: #ffffff;" (click)="SourceChange('to')">
                    <div>
                        <div style="font-size: 28px;color: #B11A83;;">
                            <i class="las la-car-alt"></i>
                        </div>
                        <div style="font-weight: 500;font-size:11px;">Toll Gate</div>
                    </div>
                </div>
            </div>
            <div class="scrolling-item" text-center style="width: 25%;">
                <div class="item-payments item-shadow item-cat" text-center
                    style="width: 100%;background-color: #ffffff;" (click)="SourceChange('productpurchase')">
                    <div>
                        <div style="font-size: 28px;color: #B11A83;;">
                            <i class="las la-cart-plus"></i>
                        </div>
                        <div style="font-weight: 500;font-size:11px;">Product Purchase</div>
                    </div>
                </div>
            </div>
            <div class="scrolling-item" text-center style="width: 25%;">
                <div class="item-payments item-shadow item-cat " text-center
                    style="width: 100%;background-color: #ffffff;" (click)="SourceChange('donations')">
                    <div>
                        <div style="font-size: 28px;color: #B11A83;;">
                            <i class="las la-hand-holding-heart"></i>
                        </div>
                        <div style="font-weight: 500;font-size:11px;"> Donations</div>
                    </div>
                </div>
            </div>
        </div>

        <div padding>
            <div (click)="TranList_DetailsModal(TItem)" *ngFor="let TItem of TranList_Data.Data" class="list-item">
                <div
                    *ngIf="TItem.MerchantIconUrl == undefined || TItem.MerchantIconUrl == null || TItem.MerchantIconUrl == ''">
                    <img src="../../../assets/images/upurple.png" class="list-item-image">
                </div>
                <div
                    *ngIf="TItem.MerchantIconUrl != undefined && TItem.MerchantIconUrl != null &&  TItem.MerchantIconUrl != ''">
                    <img src="{{TItem.MerchantIconUrl}}" class="list-item-image">
                </div>
                <div>
                    <div class="list-item-title">
                        {{TItem.AccountNumber}}
                    </div>
                    <div class="list-amount">
                        <span class=" text-success" *ngIf="TItem.ModeCode == 'transaction.mode.credit'">
                            <span class="list-amount-currency"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{TItem.InvoiceAmount
                            | number: "1.2-2"}}
                        </span>
                        <span class="text-danger" *ngIf="TItem.ModeCode == 'transaction.mode.debit'">
                            <span class="list-amount-currency"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{TItem.InvoiceAmount
                            | number: "1.2-2"}}
                        </span>
                    </div>
                    <div class="list-item-content">
                        <i class=" las la-clock"></i> {{TItem.TransactionDate}}

                    </div>
                </div>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="TranList_NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Please wait...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
        <div *ngIf="TranList_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                No purchase yet
            </div>
            <div class="nolist-content">
                Your transaction history will appear here
            </div>
        </div>
    </div>
</ion-content>
<div class="footer-container">
    <div class="footer-item " (click)="NavDashboard()">
        <div class="footer-item-icon">
            <i class="las la-home"></i>
        </div>
        <div class="footer-item-text">Home</div>
    </div>
    <div class="footer-item " (click)="NavStores()">
        <div class="footer-item-icon">
            <i class="las la-shopping-bag"></i>
        </div>
        <div class="footer-item-text">Stores</div>
    </div>
    <div class="footer-item " (click)="NavPoints()">
        <div class="footer-item-icon">
            <i class="las la-gift"></i>
        </div>
        <div class="footer-item-text">Rewards</div>
    </div>
    <div class="footer-item text-primary" (click)="NavSaleHistory()">
        <div class="footer-item-icon">
            <i class="las la-exchange-alt"></i>
        </div>
        <div class="footer-item-text">History</div>
    </div>
    <div class="footer-item" (click)="NavMore()">
        <div class="footer-item-icon">
            <i class="las la-ellipsis-v"></i>
        </div>
        <div class="footer-item-text">Account</div>
    </div>
</div>