<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text=""> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header">
        <div class="hcx-page-header-title">
            {{_Profile.DisplayName}}
        </div>
        <div class="hcx-page-header-body">
            Manage your profile
        </div>
    </div>
    <div class="hcx-page-body hcx-page-body-white hcx-page-body-padding">
        <div>
            <div class="subheader" padding-bottom>
                <ion-row text-center>
                    <ion-col col-12>
                        <div *ngIf="_Profile.IconUrl != undefined" (click)="ChangePhoto()" class="item-shadow" style="width: 90px;
                        height: 90px;
                        background-color: rgb(255, 255, 255);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border: 3px solid rgb(248, 248, 248);
                        border-radius: 100%;
                        margin-left: auto;
                        margin-right: auto;" [ngStyle]="{'background-image': 'url(' + _Profile.IconUrl  + ')'}">
                            <i class="las la-camera-retro" style="    background-color: #a32f7f;
                            position: absolute;
                            bottom: 0;
                            color: #fff;
                            font-size: 18px;
                            padding: 4px;
                            border-radius: 100%;"></i>
                        </div>
                        <div *ngIf="_Profile.IconUrl == undefined" (click)="ChangePhoto()" class="item-shadow" style=" 
                        width: 90px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid rgb(248, 248, 248);
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../../../assets/content/background.jpg');
">
                            <i class="las la-camera-retro" style="    background-color: #a32f7f;
                            position: absolute;
                            bottom: 0;
                            color: #fff;
                            font-size: 18px;
                            padding: 4px;
                            border-radius: 100%;"></i>
                        </div>
                    </ion-col>
                </ion-row>
            </div>

            <div class="form-group">
                <div class="label">
                    Display Name
                </div>
                <input class=" input" maxlength="30" type="text" [(ngModel)]="_Profile.DisplayName">
            </div>
            <div class="form-group">
                <div class="label">
                    First Name
                </div>
                <input class=" input" maxlength="128" type="text" [(ngModel)]="_Profile.FirstName" onkeypress="return /[a-z]/i.test(event.key)">
            </div>
            <div class="form-group">
                <div class="label">
                    Last Name
                </div>
                <input class=" input" maxlength="128" type="text" [(ngModel)]="_Profile.LastName" onkeypress="return /[a-z]/i.test(event.key)">
            </div>
            <div class="form-group">
                <div class="label">
                    Email Address
                </div>
                <input class=" input" maxlength="256" type="email" [(ngModel)]="_Profile.EmailAddress">
            </div>

            <!-- <div class="form-group">
                <div class="label">
                    Date of Birth
                </div>
                <ion-datetime displayFormat="DD-MM-YYYY" class="input-ion-datetime" placeholder="Your date of birth"
                    [(ngModel)]="_Profile.DateOfBirth">
                </ion-datetime>
            </div> -->
            <div style="    margin-bottom: 32px;
            margin-top: 16px;
            display: inline-block;">
                <span class="gender"
                    [ngClass]="{'gender gender-active'  : _Profile.GenderCode == 'gender.male','gender'  : _Profile.GenderCode != 'gender.male'}"
                    (click)="ToggleGender('gender.male')">
                    Male
                </span>
                <span class="gender"
                    [ngClass]="{'gender gender-active'  : _Profile.GenderCode == 'gender.female','gender'  : _Profile.GenderCode != 'gender.female'}"
                    (click)="ToggleGender('gender.female')">
                    Female
                </span>
            </div>
        </div>
    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>

    </div>
</ion-content>
<div class="tuc-footer">
    <button type="button" (click)="UpdateProfile()" *ngIf="!_HelperService.IsFormProcessing" class="approve full-width">
        Update profile</button>

    <button type="button" disabled readonly *ngIf="_HelperService.IsFormProcessing" class="approve full-width">Please
        wait
        ...</button>
</div>