<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text=""> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header">
        <div class="hcx-page-header-title">
            Notifications
        </div>
    </div>
    <div class="hcx-page-body  bg-white">
        <div class="hcx-page-body-container ">
            <div *ngIf="Notitifcations.length > 0">
                <div class="hcx-list" (click)="NavigatePush(Item)"
                    *ngFor="let Item of Notitifcations; let index=index; let odd=odd; let even=even;">
                    <div>
                        <div class="hcx-list-title" [innerHtml]="Item.Subject">
                        </div>
                        <div class="hcx-list-subtitle" [innerHtml]="Item.Message">
                        </div>
                    </div>
                </div>

            </div>
            <div *ngIf="Notitifcations.length == 0" text-center class="nolist-item">
                <div class="nolist-icon-item">
                    <ion-icon ios="md-list" md="md-list">
                    </ion-icon>
                </div>
                <div class="nolist-title">
                    Its Empty Here
                </div>
                <div class="nolist-subtitle">
                    Received Notifications will be available here
                </div>
            </div>
        </div>
    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>

    </div>
</ion-content>