<!-- <ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-title class="statusbar-title">
            <span class="statusbar-title">
                <span class="statusbar-title-count">
                    Select Your Location
                </span>
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ModalDismiss('noaction')">
                <i slot="end" class=" las la-times-circle " style="font-size: 36px;"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->
<!-- <div class="titlebar">
    Select Your Location
</div> -->
<div style="    padding-top: 50px;
background-color: #e0e0e9;
width: 100%;">
    <input type="text" name="GAddress" maxlength="256" class="form-control" placeholder="Type here to locate address"
        ngx-google-places-autocomplete #places="ngx-places" style="width: 100%;
        padding: 10px;
        border: 0px;
        background-color: #e0e0e9;
        position: absolute;
        height: 50px;
        font-size: 14px;" (onAddressChange)="Form_UpdateUser_AddressChange($event)">
</div>
<agm-map style="height: 300px;
position: absolute;
width: 100%;
margin-top: 100px;" [zoom]="14" [latitude]="UserCustomAddress.Latitude" [longitude]="UserCustomAddress.Longitude">
    <agm-marker [latitude]="UserCustomAddress.Latitude" [longitude]="UserCustomAddress.Longitude"> </agm-marker>
</agm-map>

<div margin padding style="margin-top: 30px;font-weight:700;">
    <div>
        {{UserCustomAddress.AddressLine1}}
    </div>
    <div margin>
        <div padding margin-top>
            <div margin-bottom>
                <ion-label class="input-label">Contact Name</ion-label>
                <ion-input type="text" maxlength="128" [(ngModel)]="UserCustomAddress.Name" class="input"></ion-input>
            </div>
            <div margin-bottom>
                <ion-label class="input-label">Mobile Number</ion-label>
                <ion-input type="tel" maxlength="13" [(ngModel)]="UserCustomAddress.MobileNumber" class="input">
                </ion-input>
            </div>
            <!-- <div margin-bottom>
                <ion-label class="input-label">Mobile Number</ion-label>
                <ion-input type="tel" maxlength="13" [(ngModel)]="UserCustomAddress.MobileNumber" class="input">
                </ion-input>
            </div> -->
            <div margin-bottom>
                <ion-label class="input-label">Address</ion-label>
                <ion-input type="text" maxlength="128" [(ngModel)]="UserCustomAddress.AddressLine1" class="input">
                </ion-input>
            </div>
            <div margin-bottom>
                <ion-label class="input-label">Landmark</ion-label>
                <ion-input type="text" maxlength="256" [(ngModel)]="UserCustomAddress.Landmark" class="input">
                </ion-input>
            </div>
            <div margin-bottom>
                <ion-label class="input-label">Zip Code</ion-label>
                <ion-input type="text" maxlength="256" [(ngModel)]="UserCustomAddress.ZipCode" class="input">
                </ion-input>
            </div>
            <div margin-bottom>
                <ion-label class="input-label">Details ( Delivery Instructions)</ion-label>
                <ion-input type="text" maxlength="128" [(ngModel)]="UserCustomAddress.Instructions" class="input">
                </ion-input>
            </div>
            <div margin-bottom>
                <ion-label class="input-label">City</ion-label>
                <ion-input type="text" maxlength="256" [(ngModel)]="UserCustomAddress.CityName" class="input">
                </ion-input>
            </div>
            <div margin-bottom>
                <ion-label class="input-label">State</ion-label>
                <ion-input type="text" maxlength="256" [(ngModel)]="UserCustomAddress.StateName" class="input">
                </ion-input>
            </div>
            <div margin-bottom>
                <ion-label class="input-label">Country</ion-label>
                <ion-input type="text" maxlength="256" [(ngModel)]="UserCustomAddress.CountryName" class="input">
                </ion-input>
            </div>
        </div>

    </div>
    <!-- <div>
        {{UserCustomAddress.CityName}}
    </div>
    <div>
        {{UserCustomAddress.StateName}}
    </div>
    <div>
        {{UserCustomAddress.CountryName}}
    </div> -->
</div>


<div padding-top padding-bottom>
    <ion-button expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
        (click)="ModalDismiss('noaction')">
        Confirm
    </ion-button>
</div>