/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '~ngx-bar-rating/themes/br-default-theme';

#js--sc--container {
    max-width: 300px;
    // width:100%;
    // height: 300px;
    width: 256px;
    height: 256px;
    margin: auto;
    position: relative;
    text-align: center;

    canvas {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 99;
        border-radius: 5px;
    }

    .cardamountcss {
        z-index: 9;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        text-align: center;

        .won-amnt {
            font-size: 4em;
            color: #424242;
            font-weight: 500;
            padding-top: 100px;
        }

        .won-text {
            font-size: 18px;
            color: #86888f;
        }
    }

    .sc__inner {
        background-color: #f7f7f7;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        // border: 1px solid #a32f7e;
    }
}