<!-- <ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-title class="statusbar-title">
            <span class="statusbar-title">
                <span class="statusbar-title-count">
                    Deal Details : #{{_TransactionDetails.ReferenceId  || "--"}}
                </span>
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ModalDismiss('noaction')">
                <i slot="end" class=" las la-times-circle " style="font-size: 36px;"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->
<ion-content>
    <div class="page-header " style=" background-color: #ffffff; padding:0px !important ; height: 200px !important; background-image: url('../../../assets/images/bggrad.png');    background-size: contain;
    background-repeat: repeat-x;min-height: 200px !important;   padding-top: 8px !important;  " text-center>
        <div>
            <h1 class="page-header-title-lg-b" style="     font-size: 28px;
            font-weight: 700;
            margin-bottom: 8px;
            text-align: center;
            color: #ffffff;
            margin-top: 50px;
            letter-spacing: 6px;">
                Payment Details
            </h1>
            <div style="    margin: 16px;
                margin-bottom: 20px;
                text-align: center;">
                <span style=" 
    padding: 4px 6px;
    border-radius: 6px;
    margin-left: 4px;
    font-weight: 600;
    font-size: 13px;">
                    <span style="  
                    font-size: 11px;
                    text-transform: uppercase;
                    margin-bottom: 8px;
                    background-color: black;
                    color: #ffffff;
                    font-weight: 700;
                    padding: 4px 8px;
                    border-radius: 8px;" [ngClass]="{ 
                        'bg-success': _TransactionDetails.Status == 'Success', 
                        'bg-danger': _TransactionDetails.Status == 'Error'}">
                        {{_TransactionDetails.Status  || "--"}}
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="container " style="overflow: auto;padding-bottom:30px; margin-top: -28px;">
        <div style="    padding-left: 16px;
        padding-right: 16px;">
            <div style="    margin-bottom: 16px;
            margin-top: 4px;
            font-size: 14px;
            text-align: center;
            font-weight: 500;
            padding-top: 16px;">
                {{_TransactionDetails.Message}}
            </div>
        </div>
        <div class="tuc-card" style="border-radius: 8px;box-shadow: none;    background-color: #f7f7f7;"
            *ngIf="_TransactionDetails.Result != undefined && _TransactionDetails.Result != null && _TransactionDetails.Result != undefined && _TransactionDetails.Result != null && _TransactionDetails.Result.length > 0">
            <div class="tuc-card-header ">
                Purchase Information
            </div>
            <div class="tuc-card-body">
                <div style="    font-weight: 500;">
                    <div class="line-height" style="line-height: 36px;"
                        *ngFor="let LItem of _TransactionDetails.Result; let index=index; let odd=odd; let even=even;">
                        <span style="color: #5f5d5d; font-size: 12px;">
                            {{LItem.Name}}
                        </span>
                        <span style="float:right;">
                            {{LItem.Value}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<div class="tuc-card" style="box-shadow: none;
background-color: #ffffff;
margin: 0px;
padding: 0px;
padding-left: 16px;
padding-bottom: 0px;
padding-right: 16px;">
    <div class="tuc-card-body">
        <div>
            <div padding-top padding-bottom>
                <ion-button expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                    (click)="ModalDismiss('noaction')">
                    Close
                </ion-button>
            </div>
        </div>
    </div>
</div>