<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text=""> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header">
        <div class="hcx-page-header-title text-center">
            <img src="../../../assets/icon/tucwhite.png" style="    width: 170px;
            margin-top: 20px;
            margin-bottom: 20px;">
        </div>
    </div>
    <div class="hcx-page-body bg-white text-center">
        <div style="padding: 20px;">
            <div style="    font-size: 24px;
            padding: 20px 0px; text-align: left;
            margin-bottom: 16px;
            font-weight: 500;
            padding-bottom: 12px;">
                Verify your phone number
            </div>
            <div>
                Please enter the verification code sent to +{{_HelperService.AccountInfo.User.MobileNumber}} to verify
                your phone number.
            </div>
            <div class="text-center" style="margin-top:20px; margin-bottom:30px;">
                <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="otpConfig"></ng-otp-input>
            </div>
            <div class="text-center" style="margin-bottom: 40px;">
                Didn’t receive code? <span class="text-primary" *ngIf="timeLeft ==0" (click)="RequestOtp()">Click Here
                </span>
                <span class="text-primary" *ngIf="timeLeft  >  0">Resend in {{timeLeft}} sec</span>

            </div>

            <button (click)="VerifyCode()" style="width: 100%;
            background: #b11a83;
            color: #fff;
            font-weight: 500;
            font-size: 14px;
            padding: 14px 10px;
            border-radius: 5px;" *ngIf="!_HelperService.IsFormProcessing" (click)="VerifyCode()">
                Verify number
            </button>
            <button style="width: 100%;
            background: #b11a83;
            color: #fff;
            font-weight: 500;
            font-size: 14px;
            padding: 14px 10px;
            border-radius: 5px;" disabled readonly *ngIf="_HelperService.IsFormProcessing">
                Please wait ...
            </button>


            <div *ngIf="_HelperService._ActiveFeatures.ussdverification" style="margin-top: 20px;">
                <div style="    color: #7987A1;
            margin-bottom: 30px;
            font-weight: 600;
            font-size: 13px;">
                    or
                </div>
                <div>
                    <div>
                        <button class="approve" type="button" (click)="RequestUssdOtp()" style="    padding: 10px 22px;
                        font-weight: 500;
                        font-size: 13px;
                        color: #B11A83;
                        background-color: #ffffff;
                        border-radius: 8px;
                        margin-bottom: 12px;
                        border: 1px solid #B11A83;">
                            Tap to Verify using USSD
                        </button>
                    </div>
                    <div style=" color: #7987A1;
            margin-bottom: 30px;
            font-weight: 600;
            font-size: 12px;">
                        This is free and will verify instantly
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>
    </div>
</ion-content>