<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class="appdb-titlebar">
    <ion-toolbar class="appdb-titlebar appdb-titlebar-container">
        <span class="btn" (click)="NavOpenQR()">
            <i class=" las la-qrcode"></i>
        </span>
        <span class="btn" (click)="_HelperService.NavNotification()">
            <i class=" las la-bell"></i>
        </span>
        <img [src]="_HelperService.AccountInfo.UserAccount.IconUrl" (click)="NavProfile()" class="profileimg">
        <div class="loctitle" (click)="_HelperService.NavLocationManager()">
            Your Location
        </div>
        <div class="loc" (click)="_HelperService.NavLocationManager()">
            <span>{{ UserCustomAddress.CityName || "Set Address" }}</span>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-body">
        <div class="hcx-page-item hcx-page-item-top">
            <div class="hcx-page-item-body">

                <div class="hcx-bnpl-card-container"
                    *ngIf="BnplConfiguration.IsConfigLoaded == true && BnplConfiguration.IsBnplEnable == true">
                    <div class="hcx-bnpl-card">
                        <div class="hcx-bnpl-card-title"> Available Credit
                        </div>
                        <div class="hcx-bnpl-card-amount">
                            <span class="currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{BnplConfiguration.AvailableCredit | number: "1.2-2"}}
                        </div>
                        <div class="hcx-bnpl-card-approvedcredit">
                            Your total
                            approved credit is <span class="currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{BnplConfiguration.CreditLimit | number: "1.2-2"}}
                        </div>
                    </div>
                </div>
                <div class="hcx-bnpl-card-container"
                    *ngIf="BnplConfiguration.IsConfigLoaded == true && BnplConfiguration.IsBnplEnable == false"
                    (click)="NavCreditCheck()">
                    <div class="hcx-bnpl-card text-center">
                        <div class="hcx-bnpl-card-lock">
                            <i class="lni lni-lock-alt"></i>
                        </div>
                        <div class="hcx-bnpl-card-lock-title">
                            Activate buy now, pay later
                        </div>
                        <div class="hcx-bnpl-card-lock-subtitle">
                            Check your credit limit
                        </div>
                        <!-- <div class="hcx-bnpl-card-title"> Available Credit
                        </div>
                        <div class="hcx-bnpl-card-amount">
                            <span class="currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{BnplConfiguration.AvailableCredit | number: "1.2-2"}}
                        </div>
                        <div class="hcx-bnpl-card-approvedcredit">
                            Your total
                            approved credit is <span class="currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{BnplConfiguration.CreditLimit | number: "1.2-2"}}
                        </div> -->
                    </div>
                </div>
                <div>
                    <ion-searchbar class="hcx-searchbar1" placeholder="Search Merchants" [(ngModel)]="NearByStores_Data.SearchContent" (ionChange)="NearByStores_DoSearch()"></ion-searchbar>
                    <!-- <input class="hcx-searchbar fas fa-search" [(ngModel)]="NearByStores_Data.SearchContent"
                        placeholder="Search Merchants" (keyup)="NearByStores_DoSearch()" > -->
                </div>
                <div class="dealcat-slider m-0">
                    <div class="dealcat-slider-item">
                        <div class="dealcat-slider-item-image" (click)="CategoryClickAll()">
                            <img src="../../../assets/icon/tucicon.png" style="    border-radius: 100%;">
                        </div>
                        <div class="title">
                            All
                        </div>
                    </div>
                    <div class="dealcat-slider-item" *ngFor="let TItem of TUCCategories ; let i = index">
                        <div class="dealcat-slider-item-image" (click)="CategoryClick(TItem)">
                            <img [src]="TItem.IconUrl">
                        </div>
                        <div class="title">
                            {{TItem.Name}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="hcx-page-item-title">
                App information
            </div>
            <div class="hcx-page-item-body">
            </div> -->
        </div>
        <div *ngIf="NearByStores_Data.TotalRecords > 0">
            <div class="hcx-stores-list">
                <ion-row>
                    <ion-col size="6" *ngFor="let Item of NearByStores_Data.Data">
                        <div class="hcx-stores-list-item" (click)="NavStore(Item)">
                            <span class="hcx-stores-list-cashback">
                                {{Item.RewardPercentage}}% cashback</span>
                            <img class="hcx-stores-list-img" [src]="Item.IconUrl">
                            <div>
                                <div class="hcx-stores-list-title">
                                    {{Item.DisplayName}}
                                </div>
                                <div class="hcx-stores-list-locations">
                                    {{Item.Locations}} Locations
                                    <span class="hcx-stores-list-distance"
                                        *ngIf="Item.Distance != undefined && Item.Distance != null ">
                                        | <i class=" las la-walking"></i> {{Item.Distance}} km away
                                    </span>
                                </div>

                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="NearByStores_NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Please wait...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
        <div *ngIf="NearByStores_Data.TotalRecords == -1" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-spinner color="primary" name="dots"></ion-spinner>
            </div>
            <div class="nolist-subtitle">
                Loading nearby stores
            </div>
            <div class="nolist-content">
                Stores around you will appear here
            </div>
        </div>
        <div *ngIf="NearByStores_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                No nearby stores for purchase
            </div>
            <div class="nolist-content">
                Stores around you will appear here
            </div>
        </div>
    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>

    </div>
</ion-content>
<!-- <div class="tuc-footer" *ngIf="BnplConfiguration.IsConfigLoaded == true && BnplConfiguration.IsBnplEnable == false">
    <button type="button" (click)="NavCreditCheck()" *ngIf="!_HelperService.IsFormProcessing"
        class="approve full-width">Check your credit limit</button>
</div> -->

<!-- <ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border>
    <ion-toolbar class="tucapp-titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="page-tuc-titlebar-button"> </ion-back-button>
        </ion-buttons>
        <div class="tucapp-titlebar-content text-center">
            Buy Now Pay Later
        </div>
    </ion-toolbar>
</ion-header> 
<ion-content class="tucapp " forceOverscroll="false">
    <div class="tucapp-body-white">
        <div style="background-color: #ffffff;  padding-top: 8px;margin-bottom: 8px;padding-bottom: 16px;">
            <div style="margin-left: 16px; margin-right: 16px;">
                <div style="display: inline-block; width: 100%;">
                    <div>
                        <div>
                            <div class="service-bnpl">
                                <div class="bnpl-bg">
                                
                                <div class="service-content-bnpl">
                                    <div class="service-title-bnpl " style="color: #ffffff;"> Available Credit
                                    </div>
                                    <div *ngIf = "!checkUserExists" class="service-subtitle-bnpl" style="color: #ffffff;"> ₦ <span style="font-size:20px;font-weight: 500;">00.00</span>
                                    </div>
                                    <div *ngIf = "checkUserExists" class="service-subtitle-bnpl" style="color: #ffffff;"> ₦ <span style="font-size:20px;font-weight: 500;">
                                        {{bankDetails.Pre_Qualified_Amount}}
                                    </span>
                                    </div>
                                    <div *ngIf = "!checkUserExists" (click)="monoInstance.open()" class="service-title2-bnpl" style="cursor: pointer;">Check your credit limit</div>
                                    <div *ngIf = "checkUserExists" class="service-title2-bnpl" style="cursor: pointer;">Your total approved credit is ₦ <span style="font-weight: 500;">{{bankDetails.Pre_Qualified_Amount}}</span></div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div margin>
            <div class="scrolling-wrapper">
                <div class="scrolling-item" style="border-right: 1px solid #f7f7f7;">
                    <div class="item-box item-shadow" text-center (click)="CategoryClickAll()" style=" padding: 8px 8px;
                            width: 80px;
                            color: #32353E;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;">
                        <div>
                            <div>
                                <img src="../../../assets/icon/tucicon.png" style="    width: 28px;height: 28px;">
                            </div>
                            <div style="    font-weight: 500;
                            font-size: 10px;">All</div>
                        </div>
                    </div>
                </div>
                <div class="scrolling-item" style="border-right: 1px solid #f7f7f7;"
                    *ngFor="let LItem of TUCCategories; let index=index; let odd=odd; let even=even;">
                    <div class="item-box item-shadow" text-center (click)="CategoryClick(LItem)" style="    padding: 8px 8px;
                width: 80px;
                color: #32353E;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;">
                        <div>
                            <div>
                                <img src="{{LItem.IconUrl}}" style="    width: 28px;
                                                    height: 28px;">
                            </div>
                            <div style="    font-weight: 500;
                font-size: 10px;">{{LItem.Name}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <ion-searchbar [(ngModel)]="NearByStores_Data.SearchContent" class="input"
                (ionChange)="NearByStores_DoSearch()">
            </ion-searchbar>
        </div>
        <div *ngIf="NearByStores_Data.TotalRecords > 0" style="    margin-left: 16px; ">
            <div class="box-container" (click)="NavStore(Item)"
                *ngFor="let Item of NearByStores_Data.Data; let index=index; let odd=odd; let even=even;">
                <span class="float-right" style="      color: #3d7240;
                font-size: 9px;
                margin-right: -12px;
                background: #d1e7d7;
                margin-top: -12px;
                padding: 4px 6px;
                font-weight: 500;
                border-top-right-radius: 8px;
                text-transform: uppercase;"> upto
                    {{Item.RewardPercentage}}%</span>
                <img class="box-container-img-left" [src]="Item.IconUrl">
                <div>
                    <div class="box-container-title">
                        {{Item.DisplayName}}
                    </div>
                    <div *ngIf="Item.Locations != undefined && Item.Locations == 1" class="box-container-subtitle  "
                        style="margin-bottom: 0px;">
                        {{Item.Locations}} location
                    </div>
                    <div *ngIf="Item.Locations != undefined && Item.Locations > 1" class="box-container-subtitle  "
                        style="margin-bottom: 0px;">
                        {{Item.Locations}} locations
                    </div>
                </div>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="NearByStores_NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Please wait...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
        <div *ngIf="NearByStores_Data.TotalRecords == -1" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-spinner color="primary" name="dots"></ion-spinner>
            </div>
            <div class="nolist-subtitle">
                Loading nearby stores
            </div>
            <div class="nolist-content">
                Stores around you will appear here
            </div>
        </div>
        <div *ngIf="NearByStores_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                No nearby stores for purchase
            </div>
            <div class="nolist-content">
                Stores around you will appear here
            </div>
        </div>
    </div>
</ion-content>
<ion-list *ngIf = "!checkUserExists" style="margin-bottom:90px; ">
    <ion-item-divider class="text-center" style="margin-top: 10px;margin-left: 120px;">
        To shop at here please
    </ion-item-divider>
    <ion-button expand="block" (click)="monoInstance.open()" style="max-width:100%;margin: 10px">Check your credit limit</ion-button>
</ion-list> 
<ion-footer>
    <div class="footer-container">
        <div class="footer-item " (click)="NavDashboard()">
            <div class="footer-item-icon">
                <i class="lni lni-home"></i>
            </div>
            <div class="footer-item-text">Home</div>
        </div>
        <div class="footer-item " (click)="NavStores()">
            <div class="footer-item-icon">
                <i class="lni lni-cart"></i>
            </div>
            <div class="footer-item-text">Stores</div>
        </div>
        <div class="footer-item " (click)="NavTucPay()">
            <div class="footer-item-icon">
                <div class="footer-scanner">
                    <i class=" las la-qrcode"></i>
                </div>
            </div>
            <div class="footer-item-text">Scan To Pay</div>
        </div>
        <div class="footer-item " (click)="NavDeals()">
            <div class="footer-item-icon">
                <i class="lni lni-shopping-basket"></i>
            </div>
            <div class="footer-item-text">Deals</div>
        </div>
        <div class="footer-item" (click)="NavMore()">
            <div class="footer-item-icon">
                <i class="las la-user-circle"></i>
            </div>
            <div class="footer-item-text">Account</div>
        </div>
    </div>
</ion-footer> -->


<div class="footer-container">
    <div class="footer-item text-primary" (click)="_HelperService.NavDashboard()">
        <div class="footer-item-icon">
            <i class="lni lni-home"></i>
        </div>
        <div class="footer-item-text">Home</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavDashboardStores()">
        <div class="footer-item-icon">
            <i class="lni lni-cart"></i>
        </div>
        <div class="footer-item-text">Stores</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavDashboardTucPay()">
        <div class="footer-item-icon">
            <div class="footer-scanner">
                <i class=" las la-qrcode"></i>
            </div>
        </div>
        <div class="footer-item-text">Scan To Pay</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavDashboardDeals()">
        <div class="footer-item-icon">
            <i class="lni lni-shopping-basket"></i>
        </div>
        <div class="footer-item-text">Deals</div>
    </div>
    <div class="footer-item" (click)="_HelperService.NavDashboardMore()">
        <div class="footer-item-icon">
            <i class="las la-user-circle"></i>
        </div>
        <div class="footer-item-text">Account</div>
    </div>
</div>