<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text=""> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header">
        <div class="hcx-page-header-title">
            About App
        </div>
        <div class="hcx-page-header-body">
            About the thankucash application for the app.
        </div>
    </div>
    <div class="hcx-page-body">
        <div class="hcx-page-item hcx-page-item-top">
            <div class="hcx-page-item-title">
                App information
            </div>
            <div class="hcx-page-item-body" [innerHtml]="_HelperService._AppConfigurations.AboutApp">
            </div>
        </div>
        <div class="hcx-page-item" *ngIf="_HelperService._AppConfigurations.Contacts != undefined ">
            <div class="hcx-page-item-title">
                Contact Us
            </div>
            <div class="hcx-page-item-body">
                <div class="hcx-split-item"
                    *ngFor="let TItem of _HelperService._AppConfigurations.Contacts; let index=index; let odd=odd; let even=even;">
                    <span class="left">
                        <i class="{{TItem.icon}} icon"></i> <span class="name">{{TItem.title}}</span>
                    </span>
                    <span class="right value" (click)="ContactClick(TItem)">
                        {{TItem.value}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>

    </div>
</ion-content>