<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text="" (click)="back()"> </ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button class="hcx-page-titlebar-btn">
                <ion-icon name="plus"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="NavigateAddAddress()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <div class="hcx-page-header">
        <div class="hcx-page-header-title">
            Address Manager
        </div>
        <div class="hcx-page-header-body">
            Manage your delivery address
        </div>
    </div>
    <div class="hcx-page-body  bg-white ">
        <div class="hcx-page-body-container ">

            <div *ngIf="AddressM_Data.TotalRecords > 0">
                <div class="hcx-list" (click)="AddressM_Selected(Item)"
                    *ngFor="let Item of AddressM_Data.Data; let index=index; let odd=odd; let even=even;">
                    <div>
                        <div class="hcx-list-title">
                            {{Item.Name}}
                        </div>
                        <span class="hcx-listactivecheckbox" *ngIf="Item.ReferenceKey == _ActiveAddress.ReferenceKey">
                            <i class="lni lni-checkmark-circle"></i>
                        </span>
                        <div class="hcx-list-subtitle">
                            {{Item.ContactNumber}}
                        </div>
                        <div class="hcx-list-subtitle">
                            {{Item.AddressLine1}}, {{Item.CityName}}
                        </div>
                    </div>
                </div>
                <!-- <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="AddressM_NextLoad($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Please wait...">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll> -->
            </div>
            <div *ngIf="AddressM_Data.TotalRecords == -1" class="hcx-list-empty">
                <div class="hcx-list-empty-icon">
                    <!-- <ion-spinner color="primary" name="dots"></ion-spinner> -->
                    <div class="   skeleton     skeleton-circle-multi-line   " style=" --c-w: 100%;
                        --f-l-h: 8px;
                        --c-s: 36px;
                        --c-pos: top;
                        --l-h: 6px;
                        --lines: 3;    ">
                    </div>

                    <div class="   skeleton     skeleton-circle-multi-line   " style=" --c-w: 100%;
                        --f-l-h: 8px;
                        --c-s: 36px;
                        --c-pos: top;
                        --l-h: 6px;
                        --lines: 3;  "></div>

                </div>
            </div>
            <div *ngIf="AddressM_Data.TotalRecords == 0" class="hcx-list-empty">
                <div class="hcx-list-empty-icon">
                    <ion-icon ios="md-list" md="md-list">
                    </ion-icon>
                </div>
                <div class="hcx-list-empty-title">
                    Its Empty Here
                </div>
                <div class="hcx-list-empty-subtitle" (click)="NavigateAddAddress()">
                    Create new address
                </div>
            </div>
        </div>
    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>

    </div>
</ion-content>