<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text=""> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header">
        <div class="hcx-page-header-title text-center">
            <img src="../../../assets/icon/tucwhite.png" style="    width: 170px;
            margin-top: 20px;
            margin-bottom: 20px;">
        </div>
    </div>
    <div class="hcx-page-body bg-white">
        <div style="padding: 20px;">
            <div style="    font-size: 24px;
            padding: 20px 0px;
            margin-bottom: 16px;
            font-weight: 500;
            padding-bottom: 12px;">
                Signup
            </div>
            <div style="margin-bottom: 34px;
            font-size: 14px">
                <span (click)="CountryChangeClick()" style="padding: 10px 8px;
                border-radius: 6px;
                background: #E7E9F0;"
                    *ngIf="_AppConfig.SelectedCountry != undefined  && _AppConfig.SelectedCountry != null">
                    <img [src]="_AppConfig.SelectedCountry.IconUrl" style="    width: 22px;
                    height: 15px;
                    border-radius: 2px;
                    position: absolute;
                    margin-top: 1px; ">
                    <span style="padding-left: 28px;">
                        {{_AppConfig.SelectedCountry.Name}}
                    </span>
                    <span style="    font-size: 11px;
                    font-weight: 500;">
                        (+{{_AppConfig.SelectedCountry.Isd}})
                    </span>
                </span>
            </div>
            <div>
                <ion-label class="input-label">
                    <span>Name</span>
                </ion-label>
            </div>
            <div style="margin-bottom: 20px;">
                <ion-input class=" input" type="text" maxlength="128" autofocus trim [(ngModel)]="_Profile.Name" style="    font-size: 14px;
                    padding: 6px 12px !important;">
                </ion-input>
            </div>
            <div>
                <ion-label class="input-label">
                    <span>Email Address</span>
                </ion-label>
            </div>
            <div style="margin-bottom: 20px;">
                <ion-input class=" input" type="email" max-length="128" trim [(ngModel)]="_Profile.EmailAddress" style="    font-size: 14px;
                    padding: 6px 12px !important;">
                </ion-input>
            </div>
            <div>
                <ion-label class="input-label">
                    <span>Phone Number</span>
                </ion-label>
            </div>
            <div style="margin-bottom: 20px;">
                <ion-input class=" input" type="tel" maxlength="11" trim [(ngModel)]="_Profile.MobileNumber" style="    font-size: 14px;
                    padding: 6px 12px !important;">
                </ion-input>
            </div>
            <div>
                <ion-label class="input-label">
                    <span>PIN</span>
                </ion-label>
            </div>
            <div style="margin-bottom: 28px;">
                <ion-input class=" input" type="tel" max-length="4" autofocus trim [(ngModel)]="_Profile.Pin"
                    maxlength="4" placeholder="Enter  4 digit PIN" style="    font-size: 14px;
                    padding: 6px 12px !important;">
                </ion-input>
            </div>
            <div class="text-center" style="margin-bottom: 40px;">
                Already have an account? <span class="text-primary" (click)="NavRegister()">Log In</span>
            </div>

            <button style="width: 100%;
            background: #b11a83;
            color: #fff;
            font-weight: 500;
            font-size: 14px;
            padding: 14px 10px;
            border-radius: 5px;" (click)="SetNumber()" *ngIf="!_HelperService.IsFormProcessing">
                Sign Up
            </button>
            <button style="width: 100%;
            background: #b11a83;
            color: #fff;
            font-weight: 500;
            font-size: 14px;
            padding: 14px 10px;
            border-radius: 5px;" disabled readonly *ngIf="_HelperService.IsFormProcessing">
                Please wait ...
            </button>
        </div>
    </div>
    <div class="hcx-page-footer">
        Made with love
        <i class="lni lni-heart-filled hcx-page-footer-i"></i>
    </div>
</ion-content>
<!-- <ion-content class="launch">
    <div class="page-header" style=" border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 230px !important;">
        <div>
            <img src="../../../assets/icon/tucwhite.png" style="width: 130px;
    margin-top: 32px;
    margin-bottom: 32px;">
        </div>
        <div class="c-white " style=" font-size: 22px;
    line-height: 32px;
    font-weight: 200;">Hi, what's your </div>
        <div class="c-white   " style="    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
    font-weight: 300;">phone number?</div>
    </div>
    <div class="container" style="    box-shadow: none;
    padding: 22px;
    background-color: #ffffff;
    padding-top: 40px;
    height: calc(100% - 230px);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: -12px;">
        <div>
            <div style="margin-bottom: 32px;
            font-size: 14px">
                <span (click)="CountryChangeClick()" style="padding: 10px 8px;
                border-radius: 6px;
                background: #E7E9F0;"
                    *ngIf="_AppConfig.SelectedCountry != undefined  && _AppConfig.SelectedCountry != null">
                    <img [src]="_AppConfig.SelectedCountry.IconUrl" style="    width: 22px;
                    height: 15px;
                    border-radius: 2px;
                    position: absolute;
                    margin-top: 1px; ">
                    <span style="padding-left: 28px;">
                        {{_AppConfig.SelectedCountry.Name}}
                    </span>
                    <span style="    font-size: 11px;
                    font-weight: 500;">
                        (+{{_AppConfig.SelectedCountry.Isd}})
                    </span>
                </span>
            </div>
            <div>
                <ion-label class="input-label">
                    <span>Enter your mobile number</span>
                </ion-label>
            </div>
            <div>
                <ion-input class=" input" type="tel" max-length="11" autofocus trim [(ngModel)]="AuthMobileNumber"
                    style="font-size: 24px;">
                </ion-input>
            </div>
        </div>

    </div>
  
</ion-content>
<div class="tuc-footer">
    <button type="button" (click)="SetNumber()" *ngIf="!_HelperService.IsFormProcessing"
        class="approve full-width">Verify your
        number</button>

    <button type="button" disabled readonly *ngIf="_HelperService.IsFormProcessing" class="approve full-width">Please
        wait
        ...</button>
</div> -->