<ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-title class="statusbar-title">
            <span class="statusbar-title">
                <span class="statusbar-title-count">
                    {{ItemDetails.Name  || "--"}}
                </span>
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ModalDismiss('noaction')">
                <i slot="end" class=" las la-times-circle " style="font-size: 36px;"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div [innerHtml]="ItemDetails.Description" padding>
    </div>
</ion-content>