<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" page-tuc-titlebar">
    <ion-toolbar class="page-tuc-titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="page-tuc-titlebar-button"> </ion-back-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="LoadData()">
                <i slot="start" class=" las la-sync f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-app">
    <div class="page-header " text-center>
        <i class="las la-tags page-header-icon"></i>
        <div>
            <div class="page-header-title">Your Deals</div>
            <div class="page-header-subtitle">Your deal purchase history </div>
            <!-- {{TranList_Data.Offset}} /  {{TranList_Data.TotalRecords}} -->
        </div>
    </div>
    <div class="container" style="    padding-top: 0px;">
        <div class="scrolling-wrapper" style=" box-shadow:0px 0px 20px rgba(0, 0, 0, 0.08);
        margin: 16px;
        border-radius: 8px;">
            <div class="scrolling-item" text-center style="width: 25%;">
                <div class="item-payments item-shadow item-cat" text-center
                    style="width: 100%;background-color: #ffffff;" (click)="SourceChange('dealcode.unused')">
                    <div>
                        <div style="font-size: 28px;color:green">
                            <i class="las la-gifts"></i>
                        </div>
                        <div style="font-weight: 500;font-size:11px;">New</div>
                    </div>
                </div>
            </div>
            <div class="scrolling-item" text-center style="width: 25%;">
                <div class="item-payments item-shadow item-cat" text-center
                    style="width: 100%;background-color: #ffffff;" (click)="SourceChange('dealcode.used')">
                    <div>
                        <div style="font-size: 28px;color: orange;">
                            <i class="las la-check-circle"></i>
                        </div>
                        <div style="font-weight: 500;font-size:11px;">Used</div>
                    </div>
                </div>
            </div>
            <div class="scrolling-item" text-center style="width: 25%;">
                <div class="item-payments item-shadow item-cat" text-center
                    style="width: 100%;background-color: #ffffff;" (click)="SourceChange('dealcode.expired')">
                    <div>
                        <div style="font-size: 28px;color  :  red ;">
                            <i class="las la-exclamation-circle"></i>
                        </div>
                        <div style="font-weight: 500;font-size:11px;">Expired</div>
                    </div>
                </div>
            </div>
            <div class="scrolling-item" text-center style="width: 25%;">
                <div class="item-payments item-shadow item-cat" text-center
                    style="width: 100%;background-color: #ffffff;" (click)="SourceChange('dealcode.blocked')">
                    <div>
                        <div style="font-size: 28px;color  :  black ;">
                            <i class="las la-ban"></i>
                        </div>
                        <div style="font-weight: 500;font-size:11px;">Blocked</div>
                    </div>
                </div>
            </div>
        </div>

        <div padding>
            <div (click)="TranList_DetailsModal(TItem)" *ngFor="let TItem of TranList_Data.Data" class="list-item">
                <div
                    *ngIf="TItem.MerchantIconUrl == undefined || TItem.MerchantIconUrl == null || TItem.MerchantIconUrl == ''">
                    <img src="../../../assets/images/upurple.png" class="list-item-image">
                </div>
                <div
                    *ngIf="TItem.MerchantIconUrl != undefined && TItem.MerchantIconUrl != null &&  TItem.MerchantIconUrl != ''">
                    <img src="{{TItem.MerchantIconUrl}}" class="list-item-image">
                </div>
                <div>
                    <div class="list-item-title" style="font-size: 14px;">
                        {{TItem.Title}}
                    </div>
                    <div class="list-item-title" style="    font-size: 11px;
                    color: #B11A83;">
                        {{TItem.MerchantDisplayName}}
                    </div>
                    <div class="list-amount">
                        <span class=" text-success">
                            <span class="list-amount-currency"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{TItem.Amount |
                            number: "1.2-2"}}
                        </span>
                    </div>
                    <div class="list-item-content" style="    color: inherit;"
                        *ngIf="TItem.StatusCode == 'dealcode.unused'">
                        <i class=" las la-clock"></i> expiring on {{TItem.EndDateT}}
                    </div>
                    <div class="list-item-content" style="    color: inherit;"
                        *ngIf="TItem.StatusCode == 'dealcode.used'">
                        <i class=" las la-clock"></i> used on {{TItem.UseDateT}}
                    </div>
                </div>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="TranList_NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Please wait...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
        <div *ngIf="TranList_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                No purchase yet
            </div>
            <div class="nolist-content">
                Your deals history will appear here
            </div>
        </div>
    </div>
</ion-content>