<ion-content class="launch">
    <div class="page-header" style=" border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 230px !important;">
        <div>
            <img src="../../../assets/icon/tucwhite.png" style="width: 130px;
    margin-top: 32px;
    margin-bottom: 32px;">
        </div>
        <div class="c-white " style=" font-size: 22px;
    line-height: 32px;
    font-weight: 200;">Let's setup your </div>
        <div class="c-white   " style="    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
    font-weight: 300;">Transaction Pin</div>
    </div>
    <div class="container" style="    box-shadow: none;
    padding: 22px;
    background-color: #ffffff;
    padding-top: 40px;
    height: calc(100% - 230px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -12px;">
        <div class="input-label" style="margin-top:20px; padding-bottom: 8px;">
            Enter Transaction PIN
        </div>
        <div style=" margin-bottom:30px;">
            <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="otpConfig"></ng-otp-input>
        </div>
        <div class="input-label" style="margin-top:20px; padding-bottom: 8px;">
            Reenter Transaction PIN
        </div>
        <div style=" margin-bottom:30px;">
            <ng-otp-input (onInputChange)="onOtpChangeConfirm($event)" [config]="otpConfig"></ng-otp-input>
        </div>
    </div>
</ion-content>
<div class="tuc-footer">
    <button class="cancel " (click)="SkipClick()">
        Skip
    </button>
    <button type="button" (click)="ValidateAccountDetails()" *ngIf="!_HelperService.IsFormProcessing" class="approve ">
        Set pin</button>

    <button type="button" disabled readonly *ngIf="_HelperService.IsFormProcessing" class="approve ">Please
        wait
        ...</button>
</div>