<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-content >
    <ion-header no-border>
        <ion-toolbar class="tucapp-titlebar">
            <ion-buttons slot="start">
                <ion-button (click)="ModalDismiss()" class="page-tuc-titlebar-button">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
            </ion-buttons>
            <div class="tucapp-titlebar-content">
                Plans
            </div>
        </ion-toolbar>
    </ion-header>
    <ion-content class="tucapp " forceOverscroll="false">
        <div class="tucapp-body bg-white">
            <div class="tucapp-body-top bg-white" style="padding: 16px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            margin-bottom: 1px;">
                <div>
                    <div>
                        <div class="scrolling-wrapper" style="margin-bottom: 16px;">
                            <div class="scrolling-item"
                            style="border-bottom: 1px solid #E6E9F1;   color: #32353E;     width: calc(100% /2);"
                            (click)="TabChange('by4')" [ngClass]="{ 'tab-active': acttab == 'by4' }">
                                <div class="item-box item-shadow" text-center style="    padding: 12px 6px;
                                        
                                        white-space: nowrap;
                                        overflow: hidden;  font-size: 13px;
                                        text-overflow: ellipsis;">
                                    <div>
                                        <div>Pay by 4</div>
                                    </div>
                                </div>
                            </div>
                            <div class="scrolling-item"
                            style="border-bottom: 1px solid #E6E9F1;   color: #32353E;     width: calc(100% /2);"
                            (click)="TabChange('by7')" [ngClass]="{ 'tab-active': acttab == 'by7' }">
                                <div class="item-box item-shadow" text-center style="    padding: 12px 6px;
                                        
                                        white-space: nowrap;
                                        overflow: hidden;  font-size: 13px;
                                        text-overflow: ellipsis;">
                                    <div>
                                        <div>Pay by 7</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="acttab == 'by4'">
                            <b style="text-align: center;">Pay by 4</b>
                            <div *ngFor="let LItem of AccountConfig.Plans;let index=index; let odd=odd; let even=even;">
                                
                                <div *ngIf="LItem.ReferenceKey === 'tucbnpl'">
                                            <ion-grid>
                                                <ion-row nowrap class="headers" style="color: #454f63;margin-top: 10px;word-wrap: break-word;">
                                                    <ion-col size="4" class="single-border" style="border-bottom: 2px solid #989898;border-top: 2px solid #989898;">
                                                      Due Date
                                                    </ion-col>
                                                    <ion-col size="4" class="single-border" style="border-bottom: 2px solid #989898;border-top: 2px solid #989898;">
                                                      Interest
                                                    </ion-col>
                                                    <ion-col size="4" class="single-border" style="border-bottom: 2px solid #989898;border-top: 2px solid #989898;">
                                                      Total amount
                                                    </ion-col>
                                                  </ion-row>
                                                  <ion-row nowrap class="content" *ngFor="let Iitem of LItem.Shedule">
                                                    <ion-col size="4"> {{Iitem.Title}} </ion-col>
                                                    <ion-col size="4"> {{Iitem.InterestRate}} </ion-col>
                                                    <ion-col size="4"> {{Iitem.TotalAmount}} </ion-col>
                                                  </ion-row>
                                            </ion-grid>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="acttab == 'by7'">
                            <b style="text-align: center;">Pay by 7</b>
                            <div *ngFor="let LItem of AccountConfig.Plans;let index=index; let odd=odd; let even=even;">
                                
                                <div *ngIf="LItem.ReferenceKey === 'tucbnplpayby7'">
                                            <ion-grid>
                                                <ion-row nowrap class="headers" style="color: #454f63;margin-top: 10px;word-wrap: break-word;">
                                                    <ion-col size="4" class="single-border" style="border-bottom: 2px solid #989898;border-top: 2px solid #989898;">
                                                      Due Date
                                                    </ion-col>
                                                    <ion-col size="4" class="single-border" style="border-bottom: 2px solid #989898;border-top: 2px solid #989898;">
                                                      Interest
                                                    </ion-col>
                                                    <ion-col size="4" class="single-border" style="border-bottom: 2px solid #989898;border-top: 2px solid #989898;">
                                                      Total amount
                                                    </ion-col>
                                                  </ion-row>
                                                  <ion-row nowrap class="content" *ngFor="let Iitem of LItem.Shedule">
                                                    <ion-col size="4"> {{Iitem.Title}} </ion-col>
                                                    <ion-col size="4"> {{Iitem.InterestRate}} </ion-col>
                                                    <ion-col size="4"> {{Iitem.TotalAmount}} </ion-col>
                                                  </ion-row>
                                            </ion-grid>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-content>