<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-content *ngIf="_PurchaseDetails.DealTypeCode != _HelperService.AppConfig.DealTypeCode.ProductDeal">
    <div class="page-header " style=" background-color: #ffffff; padding:0px !important ; height: 200px !important; background-image: url('../../../assets/images/bggrad.png');    background-size: contain;
    background-repeat: repeat-x;min-height: 200px !important;   padding-top: 8px !important;  " text-center>
        <div>
            <h1 class="page-header-title-lg" style="    font-size: 13px;
            text-align: center;
            font-weight: 600;
            margin-bottom: 0px;
            text-transform: uppercase;
            color: rgb(255 ,255 ,255 , 0.80);
            margin-top: 40px;">
                DEAL CODE
            </h1>
            <h1 class="page-header-title-lg-b" style="     font-size: 28px;
            font-weight: 700;
            margin-bottom: 8px;
            text-align: center;
            color: #ffffff;
            margin-top: 16px;
            letter-spacing: 6px;">
                {{_PurchaseDetails.ItemCode}}
            </h1>

            <div *ngIf="_PurchaseDetails.StatusCode == 'dealcode.unused'">

                <div *ngIf="TimerConfig.leftTime  > 0" style="    margin: 16px;
                margin-bottom: 20px;
                text-align: center;">
                    <span style="    color: #ffffff;
                font-weight: 500;">Expires in</span> <span style="background-color: rgb(0 ,0 ,0 ,0.6);
    color: #ffffff;
    padding: 4px 6px;
    border-radius: 6px;
    margin-left: 4px;
    font-weight: 600;
    font-size: 13px;">
                        <countdown #cd [config]="TimerConfig"></countdown>
                    </span>
                </div>
                <div *ngIf="TimerConfig.leftTime   < 1" style="    margin: 16px;
            margin-bottom: 20px;
            text-align: center;">
                    <span style="    color: #ffffff;
                font-weight: 500;">Expires in</span> <span style="background-color: rgb(0 ,0 ,0 ,0.3);
    color: #ffffff;
    padding: 4px 6px;
    border-radius: 6px;
    margin-left: 4px;
    font-weight: 600;
    font-size: 13px;">
                        --:--:--
                    </span>
                </div>
            </div>

        </div>
    </div>
    <div class="container " style="overflow: auto;padding-bottom:30px; margin-top: -28px;    background: #F2F3F4;">
        <div style="background-color:#ffffff;">
            <div *ngIf="_PurchaseDetails.StatusCode == 'dealcode.unused'">
                <div style="text-align: center;"
                    *ngIf="_PurchaseDetails.ItemCode != undefined && _PurchaseDetails.ItemCode != null  && _PurchaseDetails.ItemCode != ''">
                    <qrcode [qrdata]="_PurchaseDetails.ItemCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                </div>
            </div>
            <div style="    padding-left: 16px;
        padding-right: 16px;">
                <div style="    margin-bottom: 4px;
        font-size: 18px;
        font-weight: 500;">
                    {{_PurchaseDetails.Title}}
                </div>
                <div style="margin-bottom: 8px;
        font-size: 13px;
        font-weight: 500;">
                    @ {{_PurchaseDetails.MerchantDisplayName}}
                    <span style="     float: right;
                font-size: 11px;
                text-transform: uppercase;
                margin-bottom: 8px;
                background-color: black;
                color: #ffffff;
                font-weight: 700;
                padding: 4px 8px;
                border-radius: 8px;" [ngClass]="{ 
                    'bg-success': _PurchaseDetails.StatusCode == 'dealcode.unused', 
                    'bg-danger': _PurchaseDetails.StatusCode == 'dealcode.used', 
                    'bg-danger2': _PurchaseDetails.StatusCode == 'dealcode.expired', 
                    'bg-danger3': _PurchaseDetails.StatusCode == 'dealcode.blocked' }">
                        {{_PurchaseDetails.StatusName || "--"}}
                    </span>
                </div>
                <div style="margin-bottom: 16px;color: #9D9D9D;" [innerHtml]="_PurchaseDetails.Description">
                </div>
            </div>
            <div class="tuc-card"
                *ngIf="_PurchaseDetails.SecondaryCode != undefined && _PurchaseDetails.SecondaryCode != null && _PurchaseDetails.SecondaryCode != ''"
                style="border-radius: 8px;box-shadow: none;    background-color: #f7f7f7;">
                <div class="tuc-card-header text-center">
                    Merchant Redeem Code Details
                </div>
                <div class="tuc-card-body text-center">
                    <div>
                        <div class="line-height" style="    padding-top: 0px;
                padding-bottom: 8px;">
                            <span style="      font-weight: 500;
                    font-size: 20px;">
                                {{_PurchaseDetails.SecondaryCode || "--"}}
                            </span>
                        </div>
                        <div class="line-height">
                            {{_PurchaseDetails.SecondaryCodeMessage || "--"}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="scrolling-wrapper" style="margin-bottom: 16px;">
                <div class="scrolling-item"
                    style="border-bottom: 1px solid #E6E9F1;   color: #32353E;  min-width: 80px;    width: auto;"
                    (click)="TabChange('validity')" [ngClass]="{ 'tab-active': acttab == 'validity' }">
                    <div class="item-box item-shadow" text-center style="    padding: 12px 16px;
                        white-space: nowrap;
                        overflow: hidden;  font-size: 13px;
                        text-overflow: ellipsis;">
                        <div>
                            <div>Details</div>
                        </div>
                    </div>
                </div>
                <div class="scrolling-item"
                    style="border-bottom: 1px solid #E6E9F1;   color: #32353E;  min-width: 80px;      width: auto;"
                    (click)="TabChange('loc')" [ngClass]="{ 'tab-active': acttab == 'loc' }">
                    <div class="item-box item-shadow" text-center style="    padding: 12px 16px;
                    white-space: nowrap;
                    overflow: hidden;  font-size: 13px;
                    text-overflow: ellipsis;">
                        <div>
                            <div>Redeem Locations</div>
                        </div>
                    </div>
                </div>

                <div class="scrolling-item"
                    style="border-bottom: 1px solid #E6E9F1;   color: #32353E;  min-width: 80px;      width: auto;"
                    (click)="TabChange('terms')" [ngClass]="{ 'tab-active': acttab == 'terms' }">
                    <div class="item-box item-shadow" text-center style="    padding: 12px 16px;
                        
                        white-space: nowrap;
                        overflow: hidden;    font-size: 13px;
                        text-overflow: ellipsis;">
                        <div>
                            <div>Terms & Conditions</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="tuc-card" style="border-radius: 8px;box-shadow: none;    background-color: #ffffff;"
            *ngIf="   acttab == 'validity'">
            <div class="tuc-card-header ">
                Purchase & Validity Details
            </div>
            <div class="tuc-card-body">
                <div style="    font-weight: 500;">
                    <div class="line-height">
                        <span style="color: #C5C8CE; font-size: 12px;">
                            <i class="las la-wallet" style="font-size:16px"></i> Deal Purchase Amount
                        </span>
                        <span>
                            <span style="font-size: 12px;"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_PurchaseDetails.Amount}}
                        </span>
                    </div>
                    <div class="line-height">
                        <span style="color: #C5C8CE; font-size: 12px;">
                            <i class="las la-calendar-check" style="font-size:16px"></i> Valid From
                        </span>
                        <span>
                            {{_PurchaseDetails.StartDateT || "--"}}
                        </span>
                    </div>
                    <div class="line-height">
                        <span style="color: #C5C8CE; font-size: 12px;">
                            <i class="las la-calendar-times" style="font-size:16px"></i> Expires
                        </span>
                        <span>
                            {{_PurchaseDetails.EndDateT || "--"}}
                        </span>
                    </div>
                    <div class="line-height">
                        <span style="color: #C5C8CE; font-size: 12px;">
                            <i class="las la-comment" style="font-size:16px"></i> Comment
                        </span>
                        <span>
                            {{_PurchaseDetails.Comment || "--"}}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div
            *ngIf="_PurchaseDetails.SharedCustomerId != undefined && _PurchaseDetails.SharedCustomerId != null && _PurchaseDetails.SharedCustomerId > 0  &&  acttab == 'validity'">
            <div class="tuc-card" style="border-radius: 8px;box-shadow: none;    background-color: #ffffff;"
                *ngIf="_PurchaseDetails.SharedCustomerId != _HelperService.AccountInfo.UserAccount.AccountId ">
                <div class="tuc-card-header ">
                    Deal Shared With
                </div>
                <div class="tuc-card-body">
                    <div>
                        <img [src]="_PurchaseDetails.SharedCustomerIconUrl" style="float: left;
            width: 40px;
            height: 40px;
            border-radius: 4px;
            margin-right: 12px;">
                        <div style="
                margin-bottom: 4px;
            font-weight: 500;
            font-size: 13px;">
                            <span>
                                {{_PurchaseDetails.SharedCustomerDisplayName || "Deal Not Shared yet"}}
                            </span>
                        </div>
                        <div style="font-size:12px">
                            <span>
                                {{_PurchaseDetails.SharedCustomerMobileNumber || "2340000000000"}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tuc-card" style="border-radius: 8px;box-shadow: none;    background-color: #ffffff;"
                *ngIf="_PurchaseDetails.SharedCustomerId == _HelperService.AccountInfo.UserAccount.AccountId ">
                <div class="tuc-card-header ">
                    Deal Shared to you By
                </div>
                <div class="tuc-card-body">
                    <div>
                        <img [src]="_PurchaseDetails.AccountIconUrl" style="float: left;
            width: 40px;
            height: 40px;
            border-radius: 4px;
            margin-right: 12px;">
                        <div style="
                margin-bottom: 4px;
            font-weight: 500;
            font-size: 13px;">
                            <span>
                                {{_PurchaseDetails.AccountDisplayName || "User"}}
                            </span>
                        </div>
                        <div style="font-size:12px">
                            <span>
                                {{_PurchaseDetails.AccountMobileNumber || "--"}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="tuc-card"
            *ngIf="_PurchaseDetails.UseLocationDisplayName != undefined && _PurchaseDetails.UseLocationDisplayName != null && _PurchaseDetails.UseLocationDisplayName != '' &&  acttab == 'validity'"
            style="border-radius: 8px;box-shadow: none;    background-color: #ffffff;">
            <div class="tuc-card-header ">
                Code redeemed at
            </div>
            <div class="tuc-card-body">
                <div>
                    <div class="line-height">
                        <span style="    font-weight: 500;
                    font-size: 16px;">
                            {{_PurchaseDetails.UseLocationDisplayName || "--"}}
                        </span>
                    </div>
                    <div class="line-height">
                        {{_PurchaseDetails.UseLocationAddress || "--"}}
                    </div>
                </div>
            </div>
        </div>




        <div class="tuc-card"
            *ngIf="(_PurchaseDetails.SharedCustomerId == undefined || _PurchaseDetails.SharedCustomerId == null || _PurchaseDetails.SharedCustomerId == 0) && _PurchaseDetails.StatusCode == 'dealcode.unused' && acttab == 'validity' "
            style="border-radius: 8px;box-shadow: none;    background-color: #ffffff;">
            <div class="tuc-card-header ">
                Gift this deal to a friend
            </div>
            <div class="tuc-card-body">
                <div class="form-group">
                    <div class="label">
                        Enter your friend's mobile number
                    </div>
                    <input class=" input" maxlength="13" type="tel" [(ngModel)]="SharedMobileNumber">
                </div>
                <div>
                    <button type="button" style="    background-color: #B11A80;
                color: #ffffff;
                padding: 8px 12px;
                border-radius: 8px;" *ngIf="!_HelperService.IsFormProcessing" (click)="ShareDeal()">Send Deal</button>
                    <button type="button" style="    background-color: #B11A80;
                   color: #ffffff;
                   padding: 8px 12px;
                   border-radius: 8px;" *ngIf="_HelperService.IsFormProcessing" disabled readonly>Please wait</button>
                </div>
            </div>
        </div>


        <div *ngIf="_PurchaseDetails.RedeemInstruction != undefined  && _PurchaseDetails.RedeemInstruction != null && _PurchaseDetails.RedeemInstruction != ''   && acttab == 'validity'"
            class="tuc-card" style="border-radius: 8px;box-shadow: none;    background-color: #ffffff;">
            <div class="tuc-card-header" style="color: #9D9D9D;">
                Redeem Instructions
            </div>
            <div class="tuc-card-body" style="color: #9D9D9D;">
                <div [innerHtml]="_PurchaseDetails.RedeemInstruction">
                </div>
            </div>
        </div>



        <div class="tuc-card" style="border-radius: 8px;box-shadow: none;    background-color: #ffffff;"
            *ngIf="_PurchaseDetails.StatusCode == 'dealcode.unused' && acttab == 'validity'">
            <div class="tuc-card-header ">
                Comment
            </div>
            <div class="tuc-card-body">
                <textarea rows="4" class="input" maxlength="128" placeholder="Comment" style="width: 100%;"
                    [(ngModel)]="_PurchaseDetails.Comment">
                </textarea>
                <button type="button" style="     background-color: #B11A80;
                color: #ffffff;
                padding: 8px 12px;
                border-radius: 4px;
                font-size: 12px;" (click)="UpdateComment()">Update Comment</button>
            </div>
        </div>


        <div class="tuc-card"
            *ngIf="_PurchaseDetails.Locations != undefined && _PurchaseDetails.Locations != null && _PurchaseDetails.Locations.length > 0 && acttab == 'loc'"
            style="border-radius: 8px;box-shadow: none;    background-color: #ffffff;">
            <div class="tuc-card-header ">
                Redeem Locations
            </div>
            <div class="tuc-card-body">
                <div *ngFor="let LItem of _PurchaseDetails.Locations; let index=index; let odd=odd; let even=even;"
                    (click)="LocateStore(LItem)">
                    <div style="    font-weight: 500;
                    padding-bottom: 6px;">
                        <i class="las la-directions" style="    font-size: 18px;
                        color: #a83b87;
                        padding-top: 0px;
                        float: right;"></i> {{LItem.DisplayName}}


                    </div>
                    <div style="    padding-bottom: 16px;">
                        {{LItem.Address}}
                    </div>
                </div>
            </div>
        </div>
        <div class="tuc-card"
            *ngIf="_PurchaseDetails.Terms != undefined && _PurchaseDetails.Terms != null && _PurchaseDetails.Terms !='' && acttab == 'terms'"
            style="border-radius: 8px;box-shadow: none;    background-color: #ffffff;">
            <div class="tuc-card-header ">
                Terms & Conditions
            </div>
            <div class="tuc-card-body">
                <div style="color: #C5C8CE;" [innerHtml]="_PurchaseDetails.Terms">
                </div>
            </div>
        </div>
        <!-- <div class="tuc-card">
        <div class="tuc-card-header text-primary">
            <i class="las la-map-marker tuc-card-header-icon"></i> Use Location
        </div>
        <div class="tuc-card-body">
            <div>
                <div class="line-height">
                    {{_PurchaseDetails.ParentDisplayName  || "--"}}
                </div>
                <div class="line-height">
                    {{_PurchaseDetails.SubParentDisplayName  || "--"}}
                </div>

                <div class="line-height">
                    {{_PurchaseDetails.SubParentAddress  || "--"}}
                </div>
            </div>
        </div>
    </div> -->

    </div>
</ion-content>
<div *ngIf="_PurchaseDetails.DealTypeCode != _HelperService.AppConfig.DealTypeCode.ProductDeal" class="tuc-card" style="box-shadow: none;
background-color: #ffffff;
margin: 0px;
padding: 0px;
padding-left: 16px;
padding-bottom: 0px;
padding-right: 16px;">
    <div class="tuc-card-body">
        <div>
            <div padding-top padding-bottom>
                <ion-button expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                    (click)="ModalDismiss('noaction')">
                    Close
                </ion-button>
            </div>
        </div>
    </div>
</div>