<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header class="hcx-page-titlebar">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="hcx-page-titlebar-btn" icon="arrow-round-back" text=""> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [forceOverscroll]="false" class="hcx-page">
    <div class="hcx-page-header">
        <div class="hcx-page-header-title text-center">
            <img src="../../../assets/icon/tucwhite.png" style="    width: 170px;
            margin-top: 20px;
            margin-bottom: 20px;">
        </div>
    </div>

    <div class="hcx-page-body bg-white">
        <div style="padding: 20px;" *ngIf="modalImage">
            <div style="    font-size: 16px;
            padding: 20px 0px;
            margin-bottom: 16px;
            font-weight: 500;
            padding-bottom: 12px;">
                Forgot your PIN?
            </div>
            <div style="text-align: center;width: 100%;margin-bottom: 34px;">
                Enter your registered phone number to get<span style="display: block;text-align: center;"> a temporary login PIN</span>
            </div>
            <div>
                <ion-label class="input-label">
                    <span>Enter Phone Number</span>
                </ion-label>
            </div>
            <div style="margin-bottom: 20px;">
                <ion-input class=" input" type="tel" name="phone" maxlength="11" autofocus trim [(ngModel)]="PhoneNumber"
                    style="    font-size: 14px;
                    padding: 6px 12px !important;">
                </ion-input>
            </div>
            <button style="width: 100%;
            background: #b11a83;
            color: #fff;
            font-weight: 500;
            font-size: 14px;margin-top:150px;
            padding: 14px 10px;
            border-radius: 5px;" (click)="MobileVerify()" *ngIf="!_HelperService.IsFormProcessing">
               Send
            </button>
            <button style="width: 100%;
            background: #b11a83;
            color: #fff;
            font-weight: 500;
            font-size: 14px;margin-top:150px;
            padding: 14px 10px;
            border-radius: 5px;" disabled readonly *ngIf="_HelperService.IsFormProcessing">
                Please wait ...
            </button>
        </div>
        <div style="padding: 20px;" *ngIf="!modalImage">
            <div style="font-size:16px;
            text-align: center;
            padding: 20px 0px;
            margin-bottom: 16px;
            font-weight: 500;
            padding-bottom: 12px;">
               PIN Generated
            </div>
            <div style="margin-left: auto; margin-right:auto;width: 272px;margin-bottom: 34px;">
                We will call {{PhoneNumber}} to give you a  <span style="display:block;text-align: center;"> temporal login PIN </span>
            </div>
            <div>
                <img src="../../../assets/images/mobile.png" alt="mobile image"/>
            </div>
        </div>

    </div>
</ion-content>    
