<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" page-white-titlebar">
    <ion-toolbar class="page-white-titlebar">
        <img src="../../../assets/icon/tucwhite.png" class="page-white-header-logo">
    </ion-toolbar>
</ion-header>

<ion-content class="page-white" forceOverscroll="false">
    <div class="page-white-header">
        <div class="page-white-header-content">
            <i class="las la-qrcode page-white-header-icon "></i>
            <div class="page-white-header-title">TUC Pay</div>
            <div class="page-white-header-subtitle">Your payment receipt </div>
        </div>
    </div>
    <div class="page-white-body">
        <div text-center>
            <img src="{{_MerchantDetails.IconUrl}}" style="    background-color: #f6f6f6;
            border-radius: 100%;
            border: 2px solid rgba(164, 47, 128, 0.5);
            width: 90px;
            height: 90px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 16px;
            margin-bottom: 16px;">
        </div>
        <div style="    text-align: center;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 24px;">
            {{_MerchantDetails.DisplayName}}
        </div>

        <h1 style="    font-size: 48px;
        text-align: center;
        color: green;
        margin-top: 28px;
        margin-bottom: 28px;
        font-weight: 400;">
            <span class="list-amount-currency" style="font-size:28px"><span
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span></span>{{_MerchantDetails.RedeemAmount
            |
            number: "1.2-2"}}
        </h1>

        <div class="box">
            <div class="box-header">
                Transfer Details
            </div>
            <div class="box-body">
                <div class="box-body-item">
                    <span class="box-body-item-left">
                        Reference
                    </span>
                    <span class="box-body-item-right">
                        {{_MerchantDetails.TransactionReferenceId || "--"}}
                    </span>
                </div>

                <div class="box-body-item">
                    <span class="box-body-item-left">
                        Payment Date
                    </span>
                    <span class="box-body-item-right">
                        {{_MerchantDetails.TransactionDate || "--"}}
                    </span>
                </div>
                <div class="box-body-item">
                    <span class="box-body-item-left">
                        Status
                    </span>
                    <span class="box-body-item-right" style="color: green; font-weight: 500;">
                        {{_MerchantDetails.StatusName || "--"}}
                    </span>
                </div>

            </div>
        </div>
        <!-- <div class="pyro">
            <div class="before"></div>
            <div class="after"></div>
        </div> -->
    </div>
</ion-content>
<div class="tuc-footer">
    <button class="cancel full-width " (click)="ProcessOnline_Cancel()">
        Close
    </button>
</div>
<!-- 
<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="hcx-progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Redeem Details
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ngOnInit()">
                <i slot="start" class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-app">
    <div class="page-header " text-center>
        <img src="{{_MerchantDetails.IconUrl}}" class="page-header-img">
        <div>
            <div class="page-header-subtitle">Payment details</div>
            <div class="page-header-title">{{_MerchantDetails.DisplayName}}</div>
        </div>
    </div>
    <div class="container p-t-0">
        <div margin>
           

            <div class="tuc-card" style="border-radius: 8px;box-shadow: none;    background-color: #f7f7f7;">
                <div class="tuc-card-header ">
                    Redeem Details
                </div>
                <div class="tuc-card-body">
                    <div style="    font-weight: 500;">
                        <div class="line-height">
                            <span style="color: #C5C8CE; font-size: 12px;">
                                Reference Number
                            </span>
                            <span style="float:right;">
                                {{_MerchantDetails.TransactionReferenceId  || "--"}}
                            </span>
                        </div>
                        <div class="line-height">
                            <span style="color: #C5C8CE; font-size: 12px;">
                                Payment Date
                            </span>
                            <span style="float:right;">
                                {{_MerchantDetails.TransactionDate  || "--"}}
                            </span>
                        </div>
                        <div class="line-height">
                            <span style="color: #C5C8CE; font-size: 12px;">
                                Status
                            </span>
                            <span style="color: green;float:right;">
                                {{_MerchantDetails.StatusName  || "--"}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ion-content>
<div style=" 
background-color: #f7f7f7;
padding-left: 0px;
padding-right: 0px;
padding-bottom: 0px;">
    <div (click)="ProcessOnline_Cancel()" style="padding: 16px 16px;
    background-color: #a42e80;
    text-align: center;
    margin-top: 0px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    float: left;
    border-radius: 0px;">
        Close
    </div>
</div> -->