<ion-header no-border>
    <ion-toolbar class="page-modal-header">
        <div class="page-modal-header-container">
            <div class="title">
                Select Country
            </div>
            <div class="subtitle">
                Enter your country for mobile verification
            </div>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content class="page-modal" forceOverscroll="false">
    <div class="page-modal-container">
        <div>
            <ion-searchbar [(ngModel)]="_Countries.SearchContent" class="input" (ionChange)="SearchCountry()">
            </ion-searchbar>
        </div>
        <div class="item-list-mini" (click)="CountrySelected(LItem)"
            *ngFor="let LItem of _Countries.Sorted; let index=index; let odd=odd; let even=even;">
            <div class="item-list-mini-title">
                <img [src]="LItem.IconUrl" style="    height: 20px; width: 30px;
                float: left;
                margin-right: 14px;
                border-radius: 3px;">
                <div style="padding-top: 4px">
                    {{LItem.Name}}
                    <span style="float:right;font-weight: 500;font-size: 11px;">
                        +{{LItem.Isd}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<div class="page-modal-footer">
    <ion-row>
        <ion-col>
            <button class="btn-cancel full-width" (click)="_HelperService.ModalDismiss('')">
                Cancel
            </button>
        </ion-col>
    </ion-row>
</div>